﻿.filterItem{
    font-size:0;
    margin-bottom:6px;
}
.filterItem input, .filterItem select{
    font-size:13px !important;
    width:285px;
    height:24px;
    border:none;
}
.filterItem button{
    font-size:11px !important;
    margin-bottom:5px;
}
ul.notis li{
    list-style:none;
}
.container{
    width:70%;
    margin:0 auto;
}
.container g{
    margin-bottom=26px;
}
div.ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.row {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3px;
}
.row .col{
    float:left;
    box-sizing:border-box;
    padding:0 0.75rem;
    min-height:1px;
}
.row .col.s6{
    width:50%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s4{
    width:33.3333333333%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s1{
    width:8.3333333333%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s3{
    width:25%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s2{
    width:16.6666666667%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s10{
    width:83.3333333333%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col.s12{
    width:100%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
.cell {
    display: table-cell;
    padding: 0 3px;
    vertical-align: top;
}
.textright {
    text-align: right;
}
.textcenter{
    text-align:center;
}
.textleft {
    text-align: left;
}

.valing-t {
    vertical-align: top;
}

.valing-m {
    vertical-align: middle;
}

.valing-b {
    vertical-align: bottom;
}
html, body
{
	font-size:.88em;
    height:100%;
    overflow:hidden;
}
.searchCont {
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    border: 1px solid #096a9f;
    border-radius: 5px;
}
.searchtoleft {
    float:left;
    width:88%;
}
.searchtoright{
    width:12%;
    display:inline-block;
    height:44px;
}
.searchBar_input {    
    height:44px;
}
.searchB{    
    display:inline;
}
.searchBar {
    position: relative;
    z-index: 1;
    width: 300px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 44px;    
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 20px;
    margin-bottom:20px;
}
.sblarger {
    width:500px;
}
.searchBar_input input {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        color: rgb(0,0,0);
        font-family: Arial,sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 100%;
        left: 15px;
        line-height: 40px;
        overflow: hidden;
        padding: 0;
        position: relative;
        top: 0;        
        z-index: 2;
        vertical-align: middle;
        margin-right: 10px;
        width:90%;
    }
.sbinplarger{
    width:80%;
}
.searchButton:hover {
    background-position: 0 -40px;
}
.defaultText {
    width: 300px;
}

.defaultTextActive {
    color: #a1a1a1;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
}
.underline {
    text-decoration: underline;
}
.sinCal .ui-datepicker-calendar {
    display: none;
    }​
div.resoluciones{
    max-height:400px !important;
}
.plabl {
    width: 210px;
    float: left;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    padding-right: 5px;
    clear:both;
}
p.incContent{
    margin-top:5px;
    margin-bottom:5px;
}
p.plabel {
    font-weight: bold;
    font-style: italic;
    padding-right: 5px;
}
.resultsPane{
    max-height:500px;
    overflow:auto;
}
.f13{
    font-size:1.3em !important;
}
.pRight12{
    padding-right:12px;
}
#pEstadistica{
    bottom:0;
}
.ui-button
{
	font-size: 0.8em !important;
}
.spaceLeft
{
	margin: 0 0 0 40px;
}

.ui-widget select, .ui-widget input
{	
	margin:5px;
}
.verInfoDisabled
{
	color:#bbb !important;
	cursor:text;
	font-style:italic;
	
}
.ui-tabs-nav
{
	font-size:.85em;
}
.bgtransparent
{
    opacity:0.6;
    filter:alpha(opacity=60);
    background: #000 url('/Content/img/ajax-loader.gif') 50% 50% no-repeat;        
}
.aclaracion
{
	font-family:Verdana, Lucida Sans, Arial, Sans-Serif;
	font-style:italic;
	font-size:.8em;
	color:Maroon;
}

.bgmodal{
        position:fixed; 
        font-family:arial;
        font-size:1em;
        border:0.05em solid black;
        overflow:auto;
        background-color:#fff;
}
.buttonVer{    
    background-image:url(img/button_ver.gif);
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
}
.buttonNa{    
    background-image:url(img/NA.gif);
    background-position:center center;
    background-repeat:no-repeat;
    cursor:default;
    
}
table.repMensual
{
    width:100%;
}
table.repMensual th
{
    font-size:12px;
    font-weight:bold;
    text-align:center;
}
    table.repMensual tbody td.spaned {
        background-color: #444;
        color: #444;
        
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(189,189,189)), color-stop(0.7, rgb(224,224,224)) );
        background: -moz-linear-gradient( center bottom, rgb(189,189,189) 39%, rgb(224,224,224) 70% );
        text-shadow: 1px 1px 1px #fff;
    }
    table.repMensual tbody td div {
        background-color: #444;
        color: #444;        
        background: -webkit-gradient( linear, left bottom, left top, color-stop(0.39, rgb(189,189,189)), color-stop(0.7, rgb(224,224,224)) );
        background: -moz-linear-gradient( center bottom, rgb(189,189,189) 39%, rgb(224,224,224) 70% );
        text-shadow: 1px 1px 1px #fff;
        width:100%;
        height:20px;
    }
    table.repMensual td {
        text-align: center;
        border-right: 1px solid #444;
    }
table.repMensual td.alignLeft
{
    text-align:left;
}
table.info
{
	border-collapse:separate;
	border:solid 1px #deedf7;
	width:100%;	
}
table.info td,th
{
    border:dotted 1px gray;
    border-collapse:collapse;
    font-size:.75em;
    padding:5px;
}
table.info th
{
	-webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align:center;
}
table.info td , label
{
	white-space:pre-wrap;
}
div.ui-dialog div.ui-dialog-content{
    white-space:pre-wrap;
}
#resultsPane
{
	height:400px;
	overflow:auto;
}
#tabset > ul
{
	list-style-type:none;
	font-size:0.8em;
	font-weight:bold;
}
#clientesContent ul, #incidenteContent ul,#pHistEquipo ul
{
    list-style-type:none;
    /*font-weight:bold;*/
}
h2
{
	border-bottom:solid 2px #096A9F;
	font-size:1.2em;
}


/* Table 2 Style */
table.table2{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
}
.table2 thead th, .table2 tfoot td{
    padding:20px 10px 40px 10px;
    color:#fff;
    font-size: 26px;
    background-color:#222;
    font-weight:normal;
    border-right:1px dotted #666;
    border-top:3px solid #666;
    -moz-box-shadow:0px -1px 4px #000;
    -webkit-box-shadow:0px -1px 4px #000;
    box-shadow:0px -1px 4px #000;
    text-shadow:1px 1px 1px #000;
}
.table2 tfoot th{
    padding:10px;
    font-size:18px;
    text-transform:uppercase;
    color:#888;
}
.table2 tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}
.table2 thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.table2 thead :nth-last-child(1){
    border-right:none;
}
.table2 thead :first-child,
.table2 tbody :nth-last-child(1){
    border:none;
}
.table2 tbody th{
    text-align:right;
    padding:10px;
    color:#333;
    text-shadow:1px 1px 1px #ccc;
    background-color:#f9f9f9;
}
.table2 tbody td{
    padding:10px;
    background-color:#f0f0f0;
    border-right:1px dotted #999;
    text-shadow:-1px 1px 1px #fff;
    text-transform:uppercase;
    color:#333;
}
.table2 tbody span.check::before{
    content : url(/Content/img/check1.png)
}

/*.table3 tbody tr:nth-child(4) td{
    font-size:26px;
    font-weight:bold;
}*/
table.info tbody tr:nth-child(even){
    background-color:#444;
    color:#444;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
}
.error
{
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    margin: 0 0 5px;
    padding: 10px;
}
.hide
{
	display:none;
}
/*#equipoContent a:link              { color:red; text-decoration:underline; }
#equipoContent a:visited           { color:red; text-decoration:underline; }
#equipoContent a:hover             { color:green; text-decoration:underline; }
#equipoContent a:active            { color:red; text-decoration:underline; }
#equipoContent ul>li
{
	font-weight:bold;
}
#equipoContent ul li ul li
{
	font-size:.9em;
}*/
/**
#clientesContent a:link              { color:red; text-decoration:underline; }
#clientesContent a:visited           { color:red; text-decoration:underline; }
#clientesContent a:hover             { color:green; text-decoration:underline; }
#clientesContent a:active            { color:red; text-decoration:underline; }
*/
div.cld{
    margin-left:30px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius:5px;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.verIncidente{
    text-decoration:underline;
    cursor:pointer;
    font-weight:bold;
}
#clientesContent ul>li
{
	font-weight:bold;
}
#clientesContent ul li ul li
{
	font-size:.9em;
}
#clientesContet{
    max-height:450px;
    overflow:auto;
    display:block;
}
#incidenteContent a{
    color:red;
}
