﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    @Styles.Render("~/Css/base")
    @Styles.Render("~/Css/themes/1")
    @Scripts.Render("~/bundles/base")
    <link rel="Stylesheet" href="/Content/Print/print.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Print/printer.css" type="text/css" media="print" />
    <script src="/Scripts/Print/print.js" type="text/javascript"></script>
</head>
<body>
    <div class="info">
        <p style="width:300px; margin:0 auto; display:block;">Diseñado para imprimir en tamaño sticker 100mm x 35mm, márgenes en 0</p>
    </div>
    <div id="stickerContainer">
        <div id="sticker" class="sticker">
            <div class="divClose">
                <button class="button-close ui-icon ui-icon-closethick"></button>
            </div>
            <div class="valor">
                <ul>
                    <li>
                        <img src="/Content/Print/img/escudo.PNG" style="width: 35px; height:35px" alt="Gobierno de Córdoba" />
                        <p><em>SSIT - <i class="direccion">@ViewBag.Direccion</i></em><br />Prohibido remover este sticker según res.003/99 de la SSIT</p>
                    </li>
                    <li>
                        <span class="texto"></span>
                    </li>
                    <li>
                        <span class="code"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="buttonContainer">
        <div>
            <button id="nvaOblea" class="button">Agregar otra Oblea</button>
            <button id="rangoO" class="button">Rango</button>
        </div>
    </div>
    <div id="divNvaOblea">
        <input type="text" id="nroOblea" />
        <div class="error">
            <div class="message"></div>
        </div>
    </div>
    <div id="divRango">
        <ul>
            <li>
                <label class="label">Desde:</label>
                <input type="text" id="nroDesde" class="inprango" />
            </li>
            <li>
                <label class="label">Hasta</label>
                <input type="text" id="nroHasta" class="inprango"/>
            </li>
            <div class="error">
                <div class="message"></div>
            </div>
        </ul>
    </div>
</body>
</html>
