﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@section heads{
    @Styles.Render("~/Css/Config")
    @Scripts.Render("~/bundles/opeConfig")
    @Scripts.Render("~/bundles/usuarios")
@Styles.Render("~/Css/fa")
}
@if (ViewBag.Access == "denied")
{
    @:<h2>Su perfil no permite el uso de esta característica</h2>
    }
else
{
    <div id="tabset" class="content2">
        <ul>
            <li><a href="/Config/DatosPersonales">Mis Datos</a></li>
            <li><a href="#removeEquipo">Eliminar Elem.Conf.</a></li>
            <li><a href="Config/Tiempos">Establecer Tiempos</a></li>
            <li><a href="Config/Usuarios">Usuarios</a></li>
            <li><a href="Config/Tipificaciones">Tipificaciones</a></li>
        </ul>
        <div id="removeEquipo">
            <fieldset class="ui-widget-content">
                <legend>Eliminar un Elemento de Configuración</legend>
                <p class="ui-state-active noborde">
                    Se provee este método para eliminar un elemento de configuración que recién haya sido ingresado. Una vez que el equipo haya participado en alguna reparación
                    u otra intervención, el equipo no podrá ser eliminado por este método
                </p>
                <ul>
                    <li>
                        <label id="Label17" title="Nro Oblea" class="label"></label>
                        <input type="text" id="tOblea" class="input">
                        <button id="bDelEquipo">Aceptar</button>
                    </li>
                    <li class="hide">
                        <label id="Label17" title="Nro Oblea" class="label"></label>
                        <input id="datos12" type="text" class="input">
                        <button id="bSendData">Enviar Datos</button>
                    </li>
                </ul>
            </fieldset>
            <div class="divError hidden">
                <div class="message"></div>
            </div>
        </div>
        
    </div><!--div id=tabset-->

}

