﻿<fieldset class="ui-widget-content">
    @model soporte.Areas.Operaciones.Models.TiemposOperaciones
    <legend>Tiempos Críticos</legend>
    <ul>        
        <li>
            <label id="Label1" class="label"><em class="ui-state-highlight">Reclamos Adm Aviso</em></label>
            <input type="text" id="tAvisoAdm" name="tAvisoAdm" class="input dias" value="@Model.tAAdm" />
            <label id="Label9" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label2" class="label"><em class="ui-state-error">Reclamos Adm Emergencia</em></label>
            <input type="text" id="tEmergAdm" name="tEmergAdm" class="input dias" value="@Model.tEAdm" />
            <label id="Label10" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Reclamos Claro Aviso</em></label>
            <input type="text" id="tAvisoClaro" name="tAvisoClaro" class="input dias" value="@Model.tAClaro" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-error">Reclamos Claro Emergencia</em></label>
            <input type="text" id="tEmergClaro" name="tEmergClaro" class="input dias" value=@Model.tEClaro>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Reclamos Epec Aviso</em></label>
            <input type="text" id="tAvisoEpec" name="tAvisoEpec" class="input dias" value="@Model.tAEpec" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-error">Reclamos Epec Emergencia</em></label>
            <input type="text" id="tEmergEpec" name="tEmergEpec" class="input dias" value=@Model.tEEpec>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Reclamos Telecom Aviso</em></label>
            <input type="text" id="tAvisoTelecom" name="tAvisoTelecom" class="input dias" value="@Model.tATelecom" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-error">Reclamos Telecom Emergencia</em></label>
            <input type="text" id="tEmergTelecom" name="tEmergTelecom" class="input dias" value=@Model.tETelecom>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Reclamos Ses Aviso</em></label>
            <input type="text" id="tAvisoSes" name="tAvisoSes" class="input dias" value="@Model.tASes" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-error">Reclamos Ses Emergencia</em></label>
            <input type="text" id="tEmergSes" name="tEmergSes" class="input dias" value=@Model.tESes>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
    </ul>
    <button id="bSetTimes">Aceptar</button>
</fieldset>