﻿<!DOCTYPE html>
<html>
<head>
    <title>Pedido de Reglas</title>
    @Styles.Render("~/Css/materialize")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/reglas")
    <link rel="icon" href="~/favicon.png" />
    <style>
    </style>
</head>
<body>
    <nav class="blue" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Sofit</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/Reglas">Reglas</a>
                </li>
                <li>
                    <a href="/Acceso">Acceso</a>
                </li>
                <li class="active">
                    <a href="/Pedidos">Mis pedidos</a>
                </li>
                @model soporte.Models.usuarioBean
                <li style="font-size:small; font-style:italic;">
                    <span>@Html.Raw("Conectado como: " + @Model.NombreCompleto)</span>
                </li>
                <li>
                    <a href="/Logout"><i class="material-icons">exit_to_app</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            
        </div>
    </div>
</body>
