﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@model List<soporte.Models.ClasesVistas.RubrosVisualizer>

@section heads{
    @Styles.Render("~/Css/teleDeposito")
    @Scripts.Render("~/bundles/teleDeposito")
}
@if (ViewBag.Access == "denied")
{
    @:<h2>Su perfil no permite el uso de esta característica</h2>
    }
else
{
    <div id="panel">
        <label id="messError" class="error hide"></label>
        <div id="h3">
            <h3>Listado Stock</h3>
        </div>
        <div id="pArticulos" class="section group">
            @*<div id="filterPane">
                    <div>
                        <button class="filterRemover">X</button>
                        <select id="sFiltro" class="select">
                            <option value="0">--Seleccione un filtro--</option>
                            <option value="1">Por Armario</option>
                            <option value="2">Por Rubro</option>
                        </select>
                    </div>
                </div>*@
            <div id="grillaArticulos" class="col span_1">
                <table class="">
                    <thead>
                        <tr>
                            <th class="hide">id</th>
                            <th>Código</th>
                            <th>Rubro</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Stock</th>
                            <th>Ubicacion</th>
                            <th>Acciones</th>
                            <th>Rubro</th>
                            <th>Rubro</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <img id="artDisplay" class="col span_2" src="/Content/img/Art/imageHere.jpg" />
            <div class="botonera">
                <button id="bNvoArticulo">Nuevo Artículo</button>
                <button id="bArmarios">Armarios</button>
                <button id="bRubros">Rubros</button>
                <button id="bExcel" onclick="window.location='/Excel/getFile'">A Excel</button>
            </div>
            <div id="artNvo" class="section group hide">
                <div class="col span_1">
                    <ul>
                        <li class="last nuevo">
                            <label for="dRubro" class="label">Rubro:</label>
                            <select id="dRubro" name="dRubro" class="select">
                                @foreach (var name in ViewBag.RubrosPadre)
                                {
                                    <option value=@name.id_rubro>
                                        @name.nombre
                                    </option>
                                }
                            </select>
                            <label>Subrubro? </label>
                            <input type="checkbox" id="verSubrubro" class="cSubrubro padre" />
                            <button id="nvoRubro" style="font-size:.75em">Nuevo</button>
                            <span class="mje"></span>
                        </li>
                        <li class="nuevo restar sumar ajustar">
                            <label for="tNomArticulo" class="label">Nombre</label>
                            <input type="text" id="tNombreArticulo" name="tNombreArticulo" class="input inputCStatus stringToCheck" />
                        </li>
                        <li class="nuevo restar sumar ajustar">
                            <label for="tDetArticulo" class="label">Descripción</label>
                            <input type="text" id="tDescArticulo" name="tDescArticulo" class="input inputCStatus stringToCheck" />
                        </li>
                        <li class="nuevo">
                            <label for="dJurisdiccion" class="label">Pertenece a:</label>
                            <select id="dJurisdiccion" name="dJurisdiccion" class="select">
                                @foreach (var j in ViewBag.Jurisdicciones)
                                {
                                    <option value=@j.idJurisdiccion>
                                        @j.descripcion
                                    </option>
                                }
                            </select>
                            <select id="dDependencia" name="dDependencia" class="select"></select>
                        </li>

                        <li class="nuevo restar sumar ajustar">
                            <label class="label" for="dArmario">Se Guarda en: </label>
                            <span id="dArmarioContent">
                                <select id="dArmario" name="dArmario" class="select">
                                    @foreach (var name in ViewBag.Armarios)
                                    {
                                        <option value=@name.id_ubicacion>
                                            @name.nombre
                                        </option>
                                    }
                                </select>
                            </span>
                            <button id="nvoArmario" style="font-size:.75em">Nuevo</button>
                        </li>
                        <li class="nuevo restar sumar ajustar">
                            <label for="tCantidad" class="label">Cantidad</label>
                            <input type="text" id="tCantidad" name="tCantidad" class="input inputCStatus intToCheck" />
                        </li>
                        <li class="nuevo restar sumar ajustar">
                            <label for="tIdArticulo" class="label">Id Artículo</label>
                            <input type="text" id="tIdArticulo" name="tIdArticulo" class="input disabled" disabled="disabled" value="Autogenerado" />
                        </li>
                        <li class="restar">
                            <label for="cantEntrega" class="label">Cant.Retiro</label>
                            <input type="text" id="cRetiro" name="cRetiro" class="input" value="" />
                        </li>
                        <li class="sumar">
                            <label for="cantEntrega" class="label">Cant.Agregar</label>
                            <input type="text" id="cAgregar" name="cAgregar" class="input" value="" />
                        </li>
                        <li class="restar">
                            <label for="lEntrega" class="label">Es para un equipo?:</label>
                            <input type="checkbox" id="cEquipo" name="cEquipo" class="" value="" />
                        </li>
                        <li class="restar">
                            <label for="lNroOblea" class="label">Nro.Oblea</label>
                            <input type="text" id="tNroOblea" name="tNroOblea" class="input disabled" disabled="disabled" value="" />
                        </li>
                        <li class="restar">
                            <label for="cTecnico" class="label">Es para un técnico?:</label>
                            <input type="checkbox" id="cTecnico" name="cTecnico" class="" value="" />
                        </li>
                        <li class="restar">
                            <label for="tTecnico" class="label">Técnico:</label>
                            <select id="dTecnicos" name="dTecnicos" class="select" disabled="disabled">
                                @foreach (var name in ViewBag.Tecnicos)
                                {
                                    <option value=@name.Value>
                                        @name.Key
                                    </option>
                                }
                            </select>

                        </li>
                        <li class="nuevo restar sumar ajustar">
                            <label class="label" for="tObservaciones">Observaciones:</label>
                            <textarea id="tObservaciones" cols="30"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="col span_2">
                    <div>
                        <span id="spanPhoto"></span>
                    </div>
                    <input type="file" id="uploadPhoto" />

                </div>

                <div class="mje error hide clearBoth"></div>
                <div class="mje info hide clearBoth"></div>

                <div class="clearBoth">
                    <button id="bAceptarNvoArt">Aceptar</button>
                    <button id="bCancelarNvoArt">Cancelar</button>
                </div>
                <div class="template hide">
                    <label class="label">Subrubro: </label>
                    <select class="select"></select>
                    <label>¿Subrubro? </label>
                    <input type="checkbox" class="cSubrubro" />
                </div>
            </div>

        </div>

        <div id="Armarios" class="popup section">
            <fieldset id="rubrosExistente">
                <legend>Armarios existentes</legend>
                <div id="armarioContent">
                    <table>
                        <thead>
                            <tr>
                                <th class="hide">id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        @foreach (var name in ViewBag.Armarios)
                        {
                            <tr>
                                <td class="hide id">@name.id_ubicacion</td>
                                <td>@name.nombre</td>
                                <td>@name.descripcion</td>
                                <td><div class="icon drop cursor"></div></td>
                            </tr>
                        }

                    </table>
                </div>
            </fieldset>
            <fieldset id="rubrosExistente">
                <legend>Nuevo Armario</legend>
                <div>
                    <ul>
                        <li>
                            <label class="label">Nombre: </label>
                            <input type="text" id="tNombreArmario" name="tNombreArticulo" class="input" />
                        </li>
                        <li>
                            <label class="label">Descripcion: </label>
                            <input type="text" id="tDescArmario" name="tDescArticulo" class="input" />
                        </li>
                        <li>
                            <button id="bNvoArmario" style="font-size:.75em">Agregar</button>
                        </li>
                    </ul>

                </div>
            </fieldset>
            <div class="mje error hide"></div>
            <div class="mje info hide"></div>
        </div>

        <div id="Rubros" class="popup section">
            <fieldset id="rubrosExistente">
                <legend>Rubros existentes</legend>
                <div>
                    <div class="breadcrumb">
                        <table>
                            <thead>
                                <tr>
                                    <th class="hide"></th>
                                    <th>Nombre</th>
                                    <th>Rubro Padre</th>
                                    <th>Borrar?</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var rubro in Model)
                                {
                                    <tr>
                                        <td class="hide">
                                            <span class="id hide">@rubro.idRubro</span>
                                        </td>
                                        <td>
                                            <span>@rubro.nombre</span>
                                        </td>
                                        <td>
                                            <span>@rubro.nombrePadre</span>
                                        </td>
                                        <td class="center">
                                            <div class="icon drop cursor"></div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>Nuevo Rubro</legend>
                <div>
                    <ul class="nuevosRubros">
                        <li>
                            <label class="label">Nombre: </label>
                            <input type="text" id="tNombreNvoRubro" name="tNombreNvoRubro" class="input" />
                        </li>
                        <li>
                            <label class="label">Descripcion: </label>
                            <input type="text" id="tDescNvoRubro" name="tDescNvoRubro" class="input" />
                        </li>
                        <li>
                            <label class="label">¿Subrubro? </label>
                            <input type="checkbox" id="verRubrosP" name="cSubrubro" />
                        </li>
                        <li class="button">
                            <button id="bNvoRubro" style="font-size:.75em">Nuevo</button>
                        </li>
                    </ul>

                </div>

            </fieldset>
            <div class="mje error hide"></div>
            <div class="mje info hide"></div>
            <div class="template1 hide">
                <label class="label">Rubro Padre: </label>
                <select id="dRubrosPadre">
                    @foreach (var name in ViewBag.RubrosPadre)
                    {
                        <option value=@name.id_rubro>
                            @name.nombre
                        </option>
                    }
                </select>
                <label>¿Subrubro? </label>
                <input type="checkbox" name="cSubrubro" class="cSubrubro" />
            </div>
            <div class="template hide">
                <label class="label">Rubro Padre: </label>
                <select></select>
                <label>¿Subrubro? </label>
                <input type="checkbox" name="cSubrubro" class="cSubrubro" />
            </div>

        </div>
        <div class="template armarioChooser hide">
            <button type="button" class="filterRemover" title="Remove this filter">X</button>
            <select name="filter" class="filterChooser select" title="Seleccione un valor">
                <option value="0" data-filter-type="" selected="selected">-- Seleccione un filtro --</option>
                @foreach (var name in ViewBag.Armarios)
                {
                    <option value=@name.id_ubicacion>
                        @name.nombre
                    </option>
                }
            </select>
        </div>
        <div class="template rubroChooser hide">
            <button type="button" class="filterRemover" title="Remove this filter">X</button>
            <select name="filter" class="filterChooser select" title="Seleccione un valor">
                <option value="0" data-filter-type="" selected="selected">-- Seleccione un filtro --</option>
                @foreach (var name in @Model)
                {
                    <option value=@name.idRubro>
                        @name.nombre
                    </option>
                }
            </select>
        </div>
    </div>
}