﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@Styles.Render("~/Css/materialize")
@Styles.Render("~/Css/cambios")
<link rel="stylesheet" href="~/Content/fCallendar/fullcalendar.css" />
@Scripts.Render("~/bundles/validate")
@Scripts.Render("~/bundles/materialize")
@Scripts.Render("~/bundles/Cambios")
<script src="~/Scripts/fCallendar/moment.min.js"></script>
<script src="~/Scripts/fCallendar/fullcalendar.js"></script>
<script src="~/Scripts/fCallendar/locale-all.js"></script>
@model Sofit.Models.Cambios.CambiosModel
@{
    var message = TempData["message"] as string;   
    HttpRequestBase req = Context.Request;
    string path = req.FilePath;
    string[] areas = path.Split('/');
    string area = areas[1];    
}
@Html.Hidden("errorMessage", TempData["message"])



<div class="section no-pad-top no-pad-bot main content3 grey lighten-5" id="index-banner">

    <div class="col s12">
        <ul class="tabs z-depth-1" id="tab">
            <li class="tab col s3"><a class="grey-text text-darken-4" href="#schedule">Gestiones Planificadas</a></li>
            <li class="tab col s3"><a class="active grey-text text-darken-4" href="#GCambios">Gestiones de Cambio</a></li>
            <li class="tab col s3"><a class="grey-text text-darken-4" href="#NCambio">Nueva Gestión de Cambios</a></li>

        </ul>
    </div>
    <div class="container " style="overflow: auto; height: calc(100% - 50px);">
        <div class="pre-loader-gc grey lighten-5">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="hide center-align" id="LogError">
            <div class="valign-wrapper container">
                <i class="material-icons red-text">error</i>
                <span class="red-text"></span>
            </div>
        </div>
        <div id="schedule">

        </div>
        <div id="GCambios">
            <div class="row">
                <form id="filtros" action="" method="get">
                    <div class="row">
                        <div class="col s6">
                            <h6 class="filtroEstado">Filtrar por Estado<span></span></h6>
                        </div>
                        <div class="col s6">
                            <h6 class="filtroMisG">Filtrar mis gestiones<span></span></h6>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <select name="estado" id="es" class="selectFiltro">
                            <option value="0" disabled selected>Seleccione</option>
                            @{
                                foreach (var a in Model.Estados)
                                {
                                    <option value="@a.Id">@a.Nombre</option>;
                                }
                            }
                        </select>
                        <label>Estado del pedido</label>
                        <script>
                            $(function () {
                                // Conserva el filtro ESTADO seleccionado
                                var result = null,
                                    tmp = [];
                                location.search
                                    .substr(1)
                                    .split("&")
                                    .forEach(function (item) {
                                        tmp = item.split("=");
                                        if (tmp[0] === 'estado') result = decodeURIComponent(tmp[1]);
                                    });

                                if (result != null) {
                                    $('option:disabled', '#es').attr('selected', false);
                                    $('option[value="' + result + '"]', '#es').attr('selected', true);
                                    console.log(result);

                                    // Actualiza materialize
                                    $('#es').on('change', function () {
                                        //re-initialize component
                                        $(this).material_select();
                                    });
                                }
                            })
                        </script>
                        <!-- <button class="btn-floating waves-effect green darken-2" type="submit"><i class="material-icons">search</i></button> -->
                    </div>
                    <div class="input-field col s6">
                        <select name="misGestiones" id="mis" class="selectFiltro">
                            <option value="" disabled selected>Seleccione</option>
                            <option value="mia">Mis Gestiones</option>
                            <option value="todas">Ver Todas</option>
                        </select>
                        <label>Mis Gestiones</label>
                        <script>
                            $(function () {
                                // Conserva el filtro PROPIEDAD seleccionado
                                var result = null,
                                    tmp = [];
                                location.search
                                    .substr(1)
                                    .split("&")
                                    .forEach(function (item) {
                                        console.log(item);
                                        tmp = item.split("=");
                                        if (tmp[0] === 'misGestiones') result = decodeURIComponent(tmp[1]);
                                    });

                                if (result != null) {
                                    $('option:disabled', '#es').attr('selected', false);
                                    $('option[value="' + result + '"]', '#mis').attr('selected', true);
                                    console.log(result);

                                    // Actualiza materialize
                                    $('#mis').on('change', function () {
                                        //re-initialize component
                                        $(this).material_select();
                                    });
                                }
                            })
                        </script>
                    </div>
                    <!-- <button class="btn-floating waves-effect green darken-2" type="submit"><i class="material-icons">search</i></button> -->
                </form>
            </div>
            <ul id="ulMisCambios" class="collapsible">
                @{
                    if (Model.MisCambios != null && Model.MisCambios.Count > 0)
                    {
                        foreach (var v in Model.MisCambios)
                        {
                            <li data-id="@v.idCambio" data-nro="">
                                <div class="collapsible-header greens darken-3">
                                    <i class="material-icons">
                                        @{
                                            switch (v.EstadoActual.Nombre)
                                            {
                                                case "Abierto":@Html.Raw("access_alarm");
                                                break;
                                            case "Cerrado":@Html.Raw("done");
                                            break;
                                        default:@Html.Raw("schedule");
                                        break;
                                }
                                        }
                                    </i>
                                    <span>Número: <em class="grey-text text-darken-2">@v.idCambio</em></span>
                                    <i class="material-icons bread">chevron_right</i>
                                    <span>Estado: <em class="grey-text text-darken-2">@v.EstadoActual.Nombre</em></span>
                                    <i class="material-icons bread">chevron_right</i>
                                    <span>Creado el: <em class="grey-text text-darken-2">@v.FCreacion</em></span>
                                    <i class="material-icons bread">chevron_right</i>
                                    <div class="truncate fix-empuje" title="">
                                        @v.Asunto
                                        <div class="white z-depth-1 titulo-completo">@v.Asunto</div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s2">
                                            <p class="grey-text text-darken-4">Tipo<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Tipo.Nombre</span></p>
                                        </div>
                                        <div class="col s2">
                                            <p class="grey-text text-darken-4">Prioridad<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Prioridad.Nombre</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Solicitante<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Solicitante.displayName</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Autorizante<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Autorizante.displayName</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Fecha Inicio Prevista<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.FInicioEstimada</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Hora Inicio Prevista<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.HoraInicioEstimada</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Duración (Horas)<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.duracionEstimada</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12 red lighten-4">
                                                <p>DESCRIPCIÓN</p>
                                            </div>
                                            <blockquote class="blue lighten-4">
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                                <p class="grey-text text-darken-2 pre-text">@v.Descripcion</p>
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    @{
                                        if (v.Archivos.Count() > 0)
                                        {
                                            <div class="row">
                                                @{
                                                    foreach (var w in v.Archivos)
                                                    {
                                                        <div class="col s6">
                                                            @Html.Raw("<a class='truncate' href='/Content/Files/Cambios/" + w + "' target='_blank'><i class='material-icons left'>attach_file</i> " + w + "</a>")
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12 red lighten-4">
                                                <p>ELEMENTOS DE CONFIGURACIÓN</p>
                                            </div>
                                            <blockquote class="blue lighten-4">
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                                <p class="grey-text text-darken-2">
                                                    @{ foreach (var w in v.ElemConf)
                                                        {

                                                            <div class="btn green darken-3 z-depth-0 elementoC ECfix">
                                                                @w.Nombre
                                                                <div class="relacionesEC left-align grey lighten-4 z-depth-1">
                                                                    <h6 class="grey-text text-darken-3">elementos relacionados</h6>
                                                                    @foreach (var y in w.ElemsRelacionados)
                                                                    {
                                                                        <a class="waves-effect waves-light btn-small green darken-3 z-depth-0">@y.Oblea</a>
                                                                    }
                                                                </div>
                                                            </div>

                                                        }
                                                    }
                                                </p>
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Razón del Cambio<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.Razon</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Resultados Esperados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.Resultados</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Riesgos<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.Riesgos</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Servicios afectados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.ServiciosAfectados</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Rollback<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.VueltaAtras</span></p>
                                        </div>
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">Recursos<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2 pre-text">@v.Recursos</span></p>
                                        </div>
                                    </div>
                                    @{
                                        int i = 0;
                                        foreach (var x in v.Logs)
                                        {
                                            i++;
                                            <div class="row">
                                                <div class="divider"></div>
                                            </div>
                                            <div class="row">
                                                <div>
                                                    <h6 class="grey-text text-darken-4">@x.Usuario <i class="material-icons bread">chevron_right</i> @x.Fecha <span class="blue-text text-lighten-1 right">Modificación #@i</span></h6>
                                                    @{
                                                        foreach (var w in x.Modificacion)
                                                        {
                                                            <p class="pre-text grey-text text-darken-2">@w</p>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        }
                                    }
                                    @{
                                        if (@v.Conclusion != null)
                                        {
                                            <div class="row">
                                                <div class="divider"></div>
                                            </div>
                                            <h6 class="grey-text text-darken-4">CONCLUSION</h6>

                                            <p class="pre-text grey-text text-darken-2">@v.Conclusion</p>
                                        }
                                    }
                                    @{
                                        if (v.Acciones != null)
                                        {
                                            string botoncolor = "";
                                            <div class="row">
                                                <div class="divider"></div>
                                            </div>
                                            <div class="AccionesArea">
                                                @{
                                                    foreach (var w in v.Acciones)
                                                    {
                                                        string wID = w.Replace(" ", "-");
                                                        string bttnAccion = "";

                                                        if (wID == "Aprobación-comité")
                                                        {
                                                            bttnAccion = "Comite";
                                                        }
                                                        else
                                                        {
                                                            bttnAccion = wID;
                                                        }

                                                        if (w == "Cancelar" || w == "Rechazar")
                                                        {
                                                            botoncolor = "red";
                                                        }
                                                        else if (w == "Modificar")
                                                        {
                                                            botoncolor = "green";
                                                        }
                                                        else
                                                        {
                                                            botoncolor = "blue";
                                                        }

                                                        <a class="btn @botoncolor darken-2 btnAction" href='#!' data-url="@bttnAccion" data-idPedido="@v.idCambio">@w</a>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <div class="collapsible-header"><i class="material-icons">block</i><span>Sin resultados</span></div>
                        </li>
                    }
                }
            </ul>
            <ul class="pagination">
                @{
                    string thisPage = Request.Url.ToString().Split('/').Last();
                    int intThisPage = 0;
                    Int32.TryParse(thisPage, out intThisPage);
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    for (int i = 1; i < Model.CantidadPaginasCambios + 1; i++)
                    {
                        if ((intThisPage == 0 & i == 1) | intThisPage == i)
                        {
                            <li class="waves-effect active"><a href="/@(area)/Cambios/@i">@i</a></li>
                        }
                        else
                        {
                            <li class="waves-effect"><a href="/@(area)/Cambios/@i">@i</a></li>
                        }
                    }
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                }
            </ul>

            <!-- Modal Structure -->
            <div id="modalConfirm" class="modal" data-confirm="false">
                <div class="modal-content">
                    <!-- <h4>Modal Header</h4> -->
                    <h5>Confirme que desea <span id="modalAccionVar"></span> esta solicitud de cambio.</h5>
                </div>
                <div class="modal-footer">
                    <a id="AccUserConfirm" href="#!" class="modal-close waves-effect waves-green btn-flat">CONFIRMAR</a>
                    <a id="AccUserCancel" href="#!" class="modal-close waves-effect waves-red btn-flat">CANCELAR</a>
                </div>
            </div>
        </div>
        <div id="NCambio">
            <form id="fNGCambios" class="section no-pad-bot" action="/Cambios" method="post" enctype="multipart/form-data">

                <input type="hidden" id="idCambio" name="idCambio">
                <input type="hidden" id="Modo" name="modo">

                <div class="row">
                    <div class="input-field col s3 tooltipped" data-position="right" data-tooltip="Tipo de cambio">
                        <select id="tipocambio" name="idTipo">
                            <option value="0" disabled selected>Tipo</option>
                            @{
                                foreach (var a in Model.Tipo)
                                {
                                    <option value="@a.Id">@a.Nombre</option>
                                }
                            }
                        </select>
                        <label for="tipocambio">Tipo <i class="red-text">*</i></label>
                    </div>
                    <div class="input-field col s9 tooltipped" data-position="top" data-tooltip="El título de esta gestión de cambios">
                        <input id="asunto" class="contador" name="asunto" type="text" data-error=".errorTxt1" data-length="150" />
                        <label for="asunto">Asunto <i class="red-text">*</i></label>
                        <div class="errorTxt1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 teal lighten-5 z-depth-1">
                        <div id="EditDesc">
                            <a id="btnEditDesc" class="btn-flat waves-effect grey-text text-darken-3">Descripción <i class="tiny material-icons red-text text-darken-3 right">create</i></a>
                        </div>
                        <div id="DivDesc">
                            <h5 class="grey-text text-darken-4">Descripcion</h5>
                            <div class="input-field tooltipped" data-position="top" data-tooltip="Describir la situación que requiere esta gestión de cambios">
                                <textarea id="descripcion" name="descripcion" class="materialize-textarea contador" data-error=".errorTxt2" data-length="1000"></textarea>
                                <label for="descripcion">Descripción <i class="red-text">*</i></label>
                                <div class="errorTxt2"></div>
                            </div>
                        </div>
                        <div id="DivNotas">
                            <h5 class="grey-text text-darken-4">Notas</h5>
                            <div class="input-field tooltipped" data-position="top" data-tooltip="Describir la situación que requiere esta gestión de cambios">
                                <textarea id="notas" name="notas" class="materialize-textarea contador" data-error=".errorTxt2" data-length="1000"></textarea>
                                <label for="notas">Notas <i class="red-text">*</i></label>
                                <div class="errorTxt2"></div>
                            </div>
                        </div>
                        <div class="file-field input-field tooltipped" data-position="top" data-tooltip="Puede adjuntar un archivo si es nacesario">
                            <div class="btn green darken-3">
                                <span>Archivo <i class="material-icons right">file_upload</i></span>
                                <input type="file" name="fileA">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row valign-wrapper teal lighten-5 z-depth-1">
                    <div class="input-field col s3" data-position="right" data-tooltip="Escriba el nombre del equipo. Si no lo encuentra, <br/> llame a Mesa de Ayuda">
                        <input id="idEc" name="idEc" type="text" data-error=".errorTxt3" autocomplete="off" />
                        <label for="idEc">Elemento de configuración afectado</label>
                        <div class="errorTxt3"></div>
                    </div>
                    <div class="input-field col s2 tooltipped" data-position="top" data-tooltip="Marcando esta opción buscará en el nombre común del servidor">
                        <p>
                            <label>
                                <input id="nombreComun" type="checkbox" />
                                <span for="nombreComun">Nombre Común de Server</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s7 tooltipped" data-position="top" data-tooltip="Se muestran los elementos de configuración agregados. Para quitarlos hacer doble click">
                        <div class="card teal lighten-4 z-depth-0">
                            <div class="card-content">
                                <h6 class="grey-text text-darken-4"><b>Elementos de Configuración</b></h6>
                                <div class="col s11 Elementos-Config-List ECfix">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select id="autorizante" name="autorizante" data-error=".errorTxt4">
                            <option value="0" disabled selected>Seleccione</option>
                            @{
                                foreach (var i in Model.Autorizantes)
                                {
                                    <option value="@i.id">@i.displayName</option>
                                }
                            }
                        </select>
                        <label>Responsable autorizante <i class="red-text">*</i></label>
                        <div class="errorTxt4"></div>
                    </div>
                    <div class="input-field col s6">
                        <select id="prioridad" name="prioridad" data-error=".errorTxt5" autocomplete="off" class="prioridad">
                            <option value="0" selected="selected" disabled>Seleccione</option>
                            @{
                                foreach (var i in Model.Prioridad)
                                {
                                    <option value="@i.Id">@i.Nombre</option>
                                }
                            }
                        </select>
                        <label>Prioridad <i class="red-text">*</i></label>
                        <div class="errorTxt5"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3">
                        <input id="finicio" name="fechaInicioEstimada" data-error=".errorTxt6" type="text" class="datepicker">
                        <label for="finicio">Fecha de inicio <i class="red-text">*</i></label>
                        <div class="errorTxt6"></div>
                    </div>
                    <div class="input-field col s3">
                        <input id="horaInicio" name="horaInicioEstimada" data-error=".errorTxt7" type="text" class="timepicker">
                        <label for="horaInicio">Hora de inicio <i class="red-text">*</i></label>
                        <div class="errorTxt7"></div>
                    </div>
                    <div class="input-field col s3 tooltipped" data-position="top" data-tooltip="Ingrese la cantidad estimada de horas requeridas">
                        <input id="duracionestimada" name="duracionestimada" data-error=".errorTxt8" type="text" pattern="[0-9]" />
                        <label for="duracionestimada">Duracion Estimada (en horas) <i class="red-text">*</i></label>
                        <div class="errorTxt8"></div>
                    </div>
                    <div class="col s3 input-field">
                        <input id="fechafin" name="fechaFinEstimada" data-error=".errorTxt9" type="text" class="datepicker" disabled>
                        <label for="fechafin">Fin estimado</label>
                        <div class="errorTxt9"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <div class="card teal lighten-5">
                            <div class="card-content">
                                <div class="input-field">
                                    <textarea id="razon" name="razon" class="materialize-textarea contador" data-error=".errorTxt10" data-length="500"></textarea>
                                    <label for="razon">Razon <i class="red-text">*</i></label>
                                    <div class="errorTxt10"></div>
                                </div>
                                <div class="input-field">
                                    <textarea id="resultados" name="resultados" class="materialize-textarea contador" data-error=".errorTxt11" data-length="500"></textarea>
                                    <label for="resultados">Resultados <i class="red-text">*</i></label>
                                    <div class="errorTxt11"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card teal lighten-5">
                            <div class="card-content">
                                <div class="input-field">
                                    <textarea id="riesgos" name="riesgos" class="materialize-textarea contador" data-error=".errorTxt12" data-length="500"></textarea>
                                    <label for="riesgos">Riesgos <i class="red-text">*</i></label>
                                    <div class="errorTxt12"></div>
                                </div>
                                <div class="input-field">
                                    <textarea id="rollback" name="rollback" class="materialize-textarea contador" data-error=".errorTxt13" data-length="500"></textarea>
                                    <label for="rollback">Rollback <i class="red-text">*</i></label>
                                    <div class="errorTxt13"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 input-field">
                        <textarea id="recursos" name="recursos" class="materialize-textarea contador" data-error=".errorTxt14" data-length="500"></textarea>
                        <label for="recursos">Recursos <i class="red-text">*</i></label>
                        <div class="errorTxt14"></div>
                    </div>
                    <div class="col s6 input-field">
                        <textarea id="serviciosafectados" name="serviciosAfectados" class="materialize-textarea contador" data-error=".errorTxt15" data-length="500"></textarea>
                        <label for="serviciosafectados">Servicios Afectados <i class="red-text">*</i></label>
                        <div class="errorTxt15"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="conclusion" name="conclusion" class="materialize-textarea contador" data-error=".errorTxt16" data-length="500"></textarea>
                        <label for="conclusion">Conclusion</label>
                        <div class="errorTxt16"></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s2 offset-s8">
                        <button class="right btn waves-effect waves-light green darken-3" type="submit" name="action">
                            Guardar
                            <i class="material-icons right">check_box</i>
                        </button>
                    </div>
                    <div class="col s2">
                        <button id="CancelarForm" class="right waves-effect waves-light btn red darken-3" type="reset" value="Reset">
                            Cancelar
                            <i class="material-icons right">cancel</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

