﻿html, body {
            margin: 0;
            padding: 0;
            /*background: #DDD;*/
            font-family: "Trebuchet MS","Verdana","Helvetica","Arial",sans-serif;
            font-size: 13px !important;
            height:100%;
}
.error2{
    background:none repeat scroll 0 0 #ffdfdf;
    border:1px solid #ffcfcf;
    color:#885e5e;
    margin:0;
    padding:0;
}
.hidden{
    display:none !important;
}
.overlay{
    background: #999999 url("/Content/img/ajax-loader.gif") no-repeat 50% 50%;
    opacity:1;
    position:absolute !important;
}
.inlineblock{
    display:inline-block !important;
}
.body{
    border: medium none;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 105px;
    
}
.ui-dialog .ui-dialog-titlebar span.ui-button-icon-primary
{
    margin-left:-8px;
    margin-top:-8px;
}
.fSearch
{
    height:40px;
    width:40%;
    display:inline-block;
}
.item{
    width:150px;
    display:inline-block;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}
.selected{
    border-bottom:3px solid #4285f4;
    color:#4285f4;
    font-weight:bold;
}
.incidentesContent{
    /*width:96%;
    display:inline-block;
    
    height:100%;
    float:left;*/
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:35px;
    overflow:auto;
    transition:all .65s ease 0s;
}
.sBar{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    float: none;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    width: 300px;
    z-index: 1;
}
.sBarInput{
    border: 1px solid #096a9f;
    border-radius: 5px;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
}
.sBarInput input{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #999999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 80%;
    left: 15px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 240px;
    z-index: 2;
}
.searchButton {
    background: transparent url("/Content/img/search_button.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    right: 8px;
    top: 0;
    vertical-align: middle;
    width: 38px;
    z-index: 10;
}
.defaultTextActive {
    color: #a1a1a1;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.incActivos{
    /*width:calc(4% - 1px);
    display:inline-block;
    overflow:auto;*/
    height:100%;
    position:absolute;
    top:0;
    right:0;
    width:35px;
    transition:all .65s ease 0s;       
}
p.rotated{
    /* writing-mode:tb-rl;
    transform:rotate(250deg); */
    height:100%;
    text-align:center;
    font-size: 22px;
    margin: 0;
    padding: 4px 0;
}
p.normal{
    /* writing-mode:lr-tb;
    transform:rotate(0deg); */
    width:100%;
    text-align:center;
    font-size: 22px;
    margin: 0;
    padding: 4px 0;
}
.buttonVer {
    background-image: url("img/button_ver.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.buttonNa {
    background-image: url("img/NA.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: default;
}
.iconContainer{
    height:20px;
    cursor:pointer; 
}
.content-box
{
    height:calc(100% - 50px);
    margin-top:10px;
    position:relative;
}
.mandatory{
    color:red;
    font-size:1.5em;
    padding:3px;
}
.texto
{
	display:inline-block;
	font-size:.8em;
	font-style:italic;	
	line-height:inherit;
	padding-left:5px;
}
div.ui-dialog{
    z-index:101;
}
.jQueryBtn
{
	font-size:0.8em !important;
}
.btnRight{
    margin-top:10px;
    margin-right:40px;
}
#searchBar {
    position: relative;
    z-index: 1;
    width:300px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 100%;
    float:left;
}
#searchBar_input {
    position:relative;
    right:0;
    height:100%;
    top:0;
}
#searchBar .searchBar_left {
    background: url("img/search_cap.png") no-repeat scroll -18px -23px transparent;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

#searchBar .searchBar_inner {
    background: url('img/search_inner.png') repeat-x scroll -18px -23px transparent;
    height: 100%;
    left: 50px;
    position: absolute;
    right: 50px;
    top:0px;
}

#searchBar .searchBar_right {
    background: url('img/search_cap.png') no-repeat scroll -80px -23px transparent;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
#searchButton {
    background: url("img/search_button.png") no-repeat 0 0 transparent;
    border:medium none;
    margin:0;
    padding:0;
    overflow:hidden;
    height: 38px;
    right: 8px;
    top: 0;
    width: 38px;
    position:relative;
    z-index:10;
    cursor:pointer;
    vertical-align:middle;
}
#searchButton:hover
{
	background-position:0 -40px;
}
#searchBar_input input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #999999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 80%;
    left: 15px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 5px;
    width: 240px;
    z-index: 2;
    vertical-align:middle;
    margin-right:10px;
}
input.thinking {
    background-position: 202px -19px !important;
}
.fixedMenu{
    position:fixed;
    right:0px;
    left:0px;
    top:0px;
    z-index:100;
    background-color:white;
}
.padding0{
    padding:0 !important;
}
.content{
    overflow:hidden; 
    /*margin-top:159px;*/  
    padding-bottom:100px;  
}
.ulForm{
    padding:0;
}
.ulForm li{
    list-style:outside none none;
    margin:5px 0;
}
.content2{
    overflow:auto; 
    margin-top:105px;
    min-height:500px;    
    height:calc(100% - 105px);
}
input.approved {
    background-position: 202px -35px !important;
}

input.denied {
    background-color: #FF8282 !important;
    background-position: 202px -52px !important;
}

input.alerta {
    background-color: #FF8282 !important;
    background-position: 202px -68px !important;
}
.inline{
    display:inline;
}
.trash
{
	background: url('img/icons_ns10.png') no-repeat transparent -20px -100px;
}
.inline-block{
    display:inline-block;
}
.label {
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;
    width: 100px;
}
.labelSlim{
     float: left;
    margin: 4px 6px 0 0;
    text-align: right;
    width: 65px;
}
.nvaDep {
    height: 25px;
    cursor: pointer;
}

.contenido {
    min-width: 900px;
    overflow: hidden;
}
th, td {
    font-size: 90%;
    font-family: 'openSans',Verdana, Helvetica, Trebuchet MS, Arial, Sans-Serif;
}

.right {
    float: right !important;
}

.allContent {
    background: url("img/bgGradient.png");
    border: solid 2px gray;
    width: 902px;
    /*padding: 5px;*/
    margin-left: auto;
    margin-right: auto;
    color: White;
    overflow: hidden;
}
.itemContainer{
    display:inline-block;
}
.leftPanel {
    /*border: 2px solid gray;*/    
    /*background-color: #F2f2f4;*/
    width: 30%;
    float: left;
    padding: 0 0;
}
.leftInventario{
    width:25%;
    float:left;
    padding:0 0;
    height:calc(100% - 5px);
}
.restInventario{
    width:calc(75% - 2px);
    padding:0 0;
    height:calc(100% - 5px);
    margin-left:25%;
}
.mainPanel {
    width: 70%;
    border-left: 2px solid gray;
    margin-left: 30%;
    background-color: #F2f2f4;
}

.h2inAcc {
    background-color: #5078B3;
    font-size: 1.4em;
    color: White;
}

h1 {
    font-size: 1.7em;
}

h4 {
    height: 23px;
    background: url(img/bg-menu-main.png) repeat-x #a1c772;
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0;
    padding: 7px 0 0 8px;
}

th {
    text-align: right;
}
#pNvoInc .incObserv{
    width:290px;
    border:1px solid gray;
    height:inherit;
}
.input {
    border: 2px solid #1E3755;
    padding: 0 2px;
    width: 216px;
    height: 17px;
    color: Black;
}
.inputSinBorde{
    padding: 0 2px;
    width: 216px;
    height: 17px;
    color: Black;
}
.select {
    border: 2px solid #1E3755;
    width: 224px;
}

.select2 {
    border: 2px solid #1E3755;
    width: 184px;
}

.input2 {
    border: 2px solid #1E3755;
    padding: 0 2px;
    width: 316px;
    text-align: left;
}

.help {
    color: Red;
    text-align: left;
    background-color: #FFCCCC;
}

.blocked {
    background-color: #eee;
}

.hide {
    display: none;
}

.ocultar {
    display: none;
}

.modalBackground {
    background-color: #F2f2f4;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background: url("img/bgBody.png");
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 400px;
    color: White;
}

.modalPopup2 {
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 400px;
}

.bgtransparent {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.bgmodal {
    position: fixed;
    font-family: arial;
    font-size: 1em;
    border: 0.05em solid black;
    overflow: auto;
    background-color: #fff;
}


.watermarked {
    padding: 0 2px;
    width: 216px;
    height: 17px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #eee;
    color: gray;
}

.disabled {
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    color: Black;
    background-color: white;
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}
.error
{
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    margin: 0 0 5px;
    padding: 10px;
}
.errorInline{
    background: none repeat scroll 0 0 #ffdfdf;
    border:1px solid #ffcfcf;
    color:#885e5e;
    margin: 0 0 5px;
    padding: 2px;
    font-size:8px;
}
.info
{
    /*background: none repeat scroll 0 0 #ffe45c;*/
    border: 1px solid #fed22f;
    /*color: #363636;*/
    margin: 0 0 5px;
    padding: 10px;
}

/* Table 3 Style */
table.table3{
    /*font-family:Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;*/
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table3 thead th{
    padding:6px 10px;
    text-transform:uppercase;
    color:white;
    font-weight:bold;
    text-shadow:1px 1px 1px #111;
    border-bottom:5px solid #444;
}
.table3 thead th:empty{
    background:transparent;
    border:none;
}

.table3 thead :nth-child(2){    
    background-color: #45A8DF;
}
.table3 thead :nth-child(1){
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
     background-color: #7FD2FF;
}
.table3 thead :nth-child(3),
.table3 tfoot :nth-child(3){
    background-color: #2388BF;
}
.table3 thead :nth-child(4),
.table3 tfoot :nth-child(4){
    background-color: #096A9F;
}
.table3 thead :nth-child(5),
.table3 tfoot :nth-child(5){
    background-color: #096A9F;
}
.table3 thead :nth-child(6){
    -moz-border-radius:0px 5px 0px 0px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
    background-color: #095A9F;
}
.table3 tfoot :nth-child(5){
    -moz-border-radius:0px 0px 5px 0px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.table3 tfoot td{
    font-size:38px;
    font-weight:bold;
    padding:15px 0px;
    text-shadow:1px 1px 1px #fff;
}
.table3 tbody td{
    padding:10px;
}
.table3 tbody td:nth-child(odd){
    background-color:#555;
    color:#f0f0f0;
    border-bottom:1px solid #444;
   /* background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(85,85,85)),
        color-stop(0.7, rgb(105,105,105))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );*/
    text-shadow:1px 1px 1px #000;
}
.table3 tbody td:nth-last-child(1){
    border-right:1px solid #222;    
    background-color:#555;
}
.table3 tbody th{
    color:#696969;
    text-align:right;
    padding:0px 10px;
    border-right:1px solid #aaa;
}
.table3 tbody span.check::before{
    content : url(img/check2.png)
}
/* Table 1 Style */
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.table1 tbody span.check::before{
    content : url(img/check0.png)
}
.inputCStatus{
    background:#fff url("img/status.gif") no-repeat scroll 202px 0
}

/* CHAT */
#Chat-Lista{
    width: 100%;
    max-height: calc(100% - 55px);
    margin: 0;
    padding: 0;
    background: transparent;
    overflow-y: auto;
    list-style: none;
}
#Chat-Lista .acordeonChat{
    cursor: pointer;
}
#Chat-Lista div.ui-widget-header{
    padding: 2px 5px;
}
#Chat-Lista li{
    min-height: 30px;
    margin: 0 0 0px;
    padding: 3px 5px;
    cursor: pointer;
}
#Chat-Lista li div{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#Chat-Lista li:hover{
    background: #006600;
    color: white;
    border-color: #006600;
}
#Chat-Lista li.offline{
    opacity: 0.4;
}
#Chat-Lista li .avatar{
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-image: url('/Content/img/buddy.png');
    background-position: 50%;
    border-radius: 50%;
    background-size: cover;
    display: block;
    float: left;
}
.chat-badge{
    color: white;
    text-align: center;
}
.badge-numbers{
    background: red;
    padding: 2px 6px;
    margin: 5px;
    border-radius: 3px;
}
#Chat-Lista .badge-contact{
    position: absolute;
    height: 12px;
    width: 12px;
    background: red;
    border-radius: 100%;
    z-index: 3;
}
#Chat-Lista .badge-contact{
    position: absolute;
    height: 12px;
    width: 12px;
    background: red;
    border-radius: 100%;
    z-index: 3;
}
#Chat-Lista .acordeonChat .badge-contact{
    right: 25px;
    background: red;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 10px;
    width: 5px;
}

.chat-box {
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  bottom: 7px;
  right: 55px;
  margin: 0 0 -0.5rem 0;
  width: 330px;
  background-color: white;
  transition: all .65s ease 0s;
}
.chat-box .chat-back{
    display: none;
}
.chat-box .chat-front{
    display: block;
}
.chat-box .CloseWindow{
    position: absolute;
    right: 5px;
    cursor: pointer;
}
.chat-body ul {
	padding: 1rem;
	margin: 0;
	height: 16rem;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.chat-body ul > li {
	list-style-type: none;
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
}
.chat-body ul > li.placeholder {
	flex: 2;
	height: 0;
	padding: 0;
	margin: 0;
}
.chat-body ul > li .avatar {
	/* font-size: 1.62em; */
	width: 30px;
	height: 30px;
	/* min-width: 30px; */
	/* text-align: center;
	line-height: 30px; */
	color: white;
    margin-right: 1rem;
    
    background-image: url('/Content/img/buddy.png');
    background-position: 50%;
    border-radius: 50%;
    background-size: cover;
    display: block;
}
    .chat-body ul > li .message {
        position: relative;
        padding: 0.5rem 1rem 1.3rem;
        min-width: 90px;
        max-width: 205px;
        margin-right: 1rem;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.35);
        word-wrap: break-word;
    }
.chat-body ul > li:not(.alert) .message:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top: 0;
}
.chat-body ul > li .message > .time {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 11px;
	/* background: rgba(76, 175, 80, 0.4); */
	padding: 0px 8px 1px;
}
.chat-body ul > li.out .message:before {
	right: -9px;
	border-width: 10px 10px 0 0;
	border-color: #4CAF50 transparent transparent transparent;
}
.chat-body ul > li.out .message {
	background-color: #4CAF50;
	color: black;
}
.chat-body ul > li.in .message {
	color: black;
	/* border-radius: 2px; */
}
.chat-body ul > li.out {
	align-self: flex-end;
	/* margin-left: 54px; */
}
.chat-body ul > li.in {
	align-self: flex-start;
}
.chat-body ul > li.in + .in .avatar {
	visibility: hidden;
}
.chat-body ul > .in .avatar, .chat-body ul > .in .message {
	/* background-color: #4CAF50; */
	background-color: #FFF;
	color: black;
}
.chat-body ul > li.in .message:before {
	border-color: transparent #FFF transparent transparent;
	left: -9px;
	border-width: 0 10px 10px 0;
}
.chat-body ul > li.alert {
    align-self: center;
}
.chat-body ul > li.alert .message{
    margin-right: 0;
    padding: 0.5rem 1rem;
    background: rgba(245, 200, 0, .5);
    font-size: 11px;
}
.chat-box .enter-message {
    padding: 0 1rem;
	display: flex;
	flex-direction: row;
	background-color: rgba(200,200,200,0.25);
}
.chat-box .enter-message .textfield {
    flex: 2;
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 10px 0;
}
.chat-box .enter-message .textfield input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: #666;
    transition: border-color .5s ease 0s;
}
.chat-box .enter-message .textfield input:focus {
    border-bottom: 1px solid rgba(0, 90, 255, 0.85);
}
.chat-box .enter-message .button{
    margin: 5px 0 0px 1rem;
    color: #4CAF50;
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0;
    background: transparent;
    transition: color .25s ease 0;
}
.chat-box .enter-message .button:hover{
    background: #CCC;
}

.chat-box .enter-message .button:hover::after {
  width: 100%;
}

/* Filtros para Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .chat-body ul > li {
        display: -webkit-box;
    }
    #Chat-Lista div.ui-widget-header{
        padding: 3px 5px;
    }
}
