﻿/**para seguridad**/
.row{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}
div.ra span{
    border:none;
}
.inline-block{
    display:inline-block;
}
.italized{
    font-style:italic;
    font-size:.85em;
    border:none !important;
    display:inline-block;
}
.row .col.s4{
    width:33%;
    margin-left:auto;
    left:auto;
    right:auto;
}
.row .col{
    float:left;
    box-sizing:border-box;
    padding:0 0.75rem;
    min-height:1px;
}
/**/
html, body
{
	font-size:.88em;
    height:100%;
    overflow:hidden;
}
.labelUpload {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 16px !important;
    display: inline;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.labelUpload i {
    padding-right: 5px;
}
.artDisplay{
    max-width:100px;
    max-height:100px;
    image-orientation:from-image;
}
.boxLabel{
    display:inline-block;
}
.avatarCont{
    
}
#Tipificaciones{
    height:100%;
}
.spanCellShort{
    display:inline-block;
}
.sNom{
    width:80px;
    display:inline-block;
}
.sTie{
    width:80px;
    display:inline-block;
}
.sVig{
    width:80px;
    display:inline-block;
}
.sTmargen{
    width:80px;
    display:inline-block;
}

.enabled{
    background:url('/Content/img/icons_ns10.png') no-repeat transparent -80px -80px;
}
.disabledS{
    background:url('/Content/img/icons_ns10.png') no-repeat transparent -20px -80px;
}
.maxAlto60{
    max-height:60%;
    min-height:50%;
    overflow:auto;
}
.alto100{
    height:100%;
}
.container{
    display:flex;
    overflow:hidden;
}
.fieldsetContainerLeft {
    width:60%;
    /*height:100%;*/
}
.fieldsetContainerRight{
    width:35%;
}
.inputS2{
    width:50px;
}
.inputS{
    width:150px;
    box-sizing:border-box;
}
.labelS{
    width:110px;
    float:left;
    text-align:right;
}
.selS{
    width:234px;
    box-sizing:border-box;
}
.inpS{
    width:234px;
    box-sizing:border-box;
}
fieldset{
    margin:5px;
}
.fieldsetContainer > fieldset{
    min-height:calc(100% - 10px);
    box-sizing:border-box;
    
}
.width60{
    width:60%;    
}
.width40{
    width:35%;    
}
#tabset
{
	font-size: 100%;
	font-family:Trebuchet MS, Verdana, Helvetica, Arial, Sans-Serif;
	min-width:900px;
	padding:0;
    height:calc(100% - 106px);
}
.alto70{
    height:70%;
    box-sizing:border-box;
}
.alto60{
    height:60%;
    box-sizing:border-box;
}
.alto40{
    height:40%;
    box-sizing:border-box;
}
.alto30{
    height:29%;
    box-sizing:border-box;
}
.autooverflow{
    overflow:auto;
}
#tabset div.ui-tabs-panel{
    height:calc(100% - 63px);
    overflow:auto;    
}
#usuariosDiv{
    height:100%;
}
{
    height:69%;
    overflow:auto;
    box-sizing:border-box;
} 
.textarea{
    border:2px solid maroon;
    color:black;
    width:360px;
    height:100px;
}
.infoContainer{
    width:64%;
    height:400px;
    border:1px solid #ccc;
    vertical-align:top;
}
.infoContainer >div{
    display:inline-block;
    height:100%;
    width:49%;
    border-right:1px solid #ccc;
    vertical-align:top;
}
.spanPhoto{
    display:block;
    height:150px;
    width:150px;
    margin:30px auto;
}
#wrapperJurisdicciones
{
	width:800px;
	margin:0 auto;
}
.leftContainer
{
	width:330px;
	display:inline-block;
	height:500px;	
}
.tableContainer >ul{
    margin-top:0;
}
.refContainer
{
    width:33%;
    display:inline-block;
    height:450px;
    border:1px solid #ccc;    
}
.refContainer:before,.refContainer:after{
    content:"";
    display:table;
}
.refContainer:after{
    clear:both;
}
.rightContainer
{	
	float:right;
	height:400px;
	width:330px;
}
.listadoContainer
{    
    
    overflow:auto;
}
#userPane table{
    width:100%;
}
.listadoContainer p
{
   word-wrap:break-word;
   
}
.verInventario{
    cursor:pointer;
    text-decoration:underline;
    padding:0 5px;
}
.verInventario::after{
    content:" - ";
}
.botonera
{
	height:50px;
	padding:10px;
}
.tableContainer tr
{
	border-bottom:dotted 1px gray;
	font-family: 'openSans',Arial,Helvetica,sans-serif !important;
	color:Gray;
	cursor:pointer;
}
.jurisdicciones th, .dependencias th
{
	font-size:12px;
	text-align:center;
}
.jurisdicciones,.dependencias
{
	width:100%;
}
.tableContainer
{	
	overflow:auto;
    height:450px;
}
.tableContainer1 {
    overflow: auto;
    height: 400px;
}
.tableResult{
    overflow:hidden;
    height:200px;
}
.scrollContent{
    display:block;
    overflow:auto;
    height:400px;
}
.scrollContent td + td{
    width:330px;
}
table.fixedHeader tr{
    display:block;
}
fieldset {
    font-family: sans-serif;
    border: 3px solid #1F497D;    
    border-radius: 5px;
    padding: 5px;
    margin:5px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
table 
{	
	border-collapse: collapse;
	border-spacing: 0;
}
.label
{
	width:290px;	
}
.labelCorto{
    width:100px;
}
.selectChico{
    width:150px;
    font-size:.85em !important;
}
.labelDrop 
{
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;
    width: 165px;
    font-size:.8em;
    font-weight:bold;
    color:#666;
}
#nvoUsuarioDialog input
{
	font-size:small;
	width:184px;
    box-sizing:border-box;
}
#nvoUsuarioDialog select
{
	font-size:small;
    box-sizing:border-box;
}
#nvoUsuario
{
	margin-bottom:20px;
}
.dias
{
	width:50px;
}
td, th
{
	padding:5px;
	border:dotted 1px gray;
}
td{
    font-family:Calibri,Arial,sans-serif;

}
th
{
	text-align:left;
}
legend
{
    color:maroon;
    font-family:Sans-Serif;
    font-size:1.3em;
    font-weight:bolder;
}
.input
{
	border: 2px solid maroon;
    color: Black;
    height: 17px;
    padding: 0 2px;   
    width:360px;
}
.inputText{
    border:2px solid #1F497D;
    height:17px;
    padding:0 2px;
    width:214px;
}
.labelText{
    float:left;
    margin:4px 6px 0 0;
    text-align:right;
    width:55px;
    font-family:'Trebuchet MS';
    font-size:.9em;
}
.tablaJurisd{
    height:160px;
    overflow:auto;
}
.row span{
    border:1px solid #ccc;
    border-collapse:collapse;       
}
.spanCell{
    width:200px;
    display:inline-block;
}
.tableCenter{
    max-width:600px;
    margin:0 auto;
    min-height:250px;
    overflow:auto;
}
.liSpace{
    margin:10px 0;
}
.nomJur{
    width:80%;
    display:inline-block;
    padding:0 0 0 8px;
}
.select{
    font-size:.8em !important;
}

.topSpace{
    margin:30px 0 10px 0;
}
.noborde
{
    border: none !important;
}
ul
{
	padding:0;	
}
li
{
	list-style: none outside none;
	margin:3px;
}
.aclaracion
{
	font-size:0.8em;	
	font-style:italic;	
}
.ui-button
{
	font-size:0.75em !important;
}
#tipificacionContainer
{
	position:relative;
}
#tipificacionContainer > div
{
	border:solid 1px gray;
	padding:5px;
	vertical-align:top;
	width:30%;
}
#tipificacion ul li
{
	border-bottom:solid 1px gray;
	text-align:center;
}
.error
{
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    display:inline-block;
    font-size:9px;
    font-style:italic;
    vertical-align:middle;
    padding:2px;
}
.info3333
{
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    display:inline-block;
    font-size:9px;
    font-style:italic;
    vertical-align:middle;
}
.divError
{
	background:none repeat scroll 0 0 #ffdfdf;
	border:1px solid #ffcfcf;
	color:#885e5e;
	display:inline-block;
	padding:5px;
	margin: 0 0 5px;
}

.hidden
{
	display:none;
}
li em
{
	color:#0078AE;
}
.icon
{
	width:20px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
    cursor:pointer;	
}
.inlineblock
{
	display:inline-block;	
}

#botonera
{
	padding:5px;
}
.ok{
    background: url('/Content/img/icons_ns10.png') no-repeat transparent -80px -80px;
}
.block{
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align:middle;
}

.aviso
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -100px -80px;
}
.emer
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -20px -80px;
}
.userOk
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -80px -140px;
	
}
.nvoMje
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -20px -140px;
	
}

.trashJur
{
    background: url('/Content/img/icons_ns10.png') no-repeat transparent -20px -100px;
}
.renameJur
{
    background: url('/Content/img/icons_ns10.png') no-repeat transparent -40px 0px;
}
.renameDep
{
    background: url('/Content/img/icons_ns10.png') no-repeat transparent -40px 0px;
}
.trashDep
{
    background: url('/Content/img/icons_ns10.png') no-repeat transparent -20px -100px;
}
.noMje
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -40px -140px;
	
}
.userNok
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -100px -140px;
	
}
.password
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent -40px 0px;
	cursor:pointer;
}
.perfil
{
	background: url('/Content/img/icons_ns10.png') no-repeat transparent 0px -60px;
	cursor:pointer;
}
.login
{
	background:url('/Content/img/icons_ns10.png') no-repeat transparent -20px -20px;
	cursor:pointer;
}
.mje
{
	cursor:pointer;
}
.user
{
	cursor:pointer;
}

#userPane{
    width:650px;    
    overflow:auto;
    margin:0 auto;
    max-height:90%;
    min-height:40%;        
}
#tipiExistente{
    max-height:290px;
    overflow:auto;
}
fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
#themeFrame{
    height:80px;
    width:90px;
}
#themeFrame._1{
    background: url('/Content/img/theme_90_blitzer.png') no-repeat transparent;
}
#themeFrame._2{
    background: url('/Content/img/theme_90_cupertino.png') no-repeat transparent;
}
#themeFrame._3{
    background: url('/Content/img/theme_90_dark_hive.png') no-repeat transparent;
}
#themeFrame._4{
    background: url('/Content/img/theme_90_eggplant.png') no-repeat transparent;
}
#themeFrame._5{
    background: url('/Content/img/theme_90_excite_bike.png') no-repeat transparent;
}
#themeFrame._6{
    background: url('/Content/img/theme_90_flick.png') no-repeat transparent;
}
#themeFrame._7{
    background: url('/Content/img/theme_90_hot_sneaks.png') no-repeat transparent;
}
#themeFrame._8{
    background: url('/Content/img/theme_90_humanity.png') no-repeat transparent;
}
#themeFrame._9{
    background: url('/Content/img/theme_90_le_frog.png') no-repeat transparent;
}
#themeFrame._10{
    background: url('/Content/img/theme_90_overcast.png') no-repeat transparent;
}
#themeFrame._11{
    background: url('/Content/img/theme_90_pepper_grinder.png') no-repeat transparent;
}
#themeFrame._12{
    background: url('/Content/img/theme_90_redmond.png') no-repeat transparent;
}
#themeFrame._13{
    background: url('/Content/img/theme_90_smoothness.png') no-repeat transparent;
}
#themeFrame._14{
    background: url('/Content/img/theme_90_south_street.png') no-repeat transparent;
}
#themeFrame._15{
    background: url('/Content/img/theme_90_start_menu.png') no-repeat transparent;
}
#themeFrame._16{
    background: url('/Content/img/theme_90_sunny.png') no-repeat transparent;
}
#themeFrame._17{
    background: url('/Content/img/theme_90_ui_dark.png') no-repeat transparent;
}
#themeFrame._18{
    background: url('/Content/img/theme_90_ui_light.png') no-repeat transparent;
}
#themeFrame._19{
    background: url('/Content/img/theme_90_vader.png') no-repeat transparent;
}
    #themeFrame._20 {
        background: url('/Content/img/theme_90_black_tie.png') no-repeat transparent;
    }
    #themeFrame._21 {
        background: url('/Content/img/theme_90_dot_luv.png') no-repeat transparent;
    }
    #themeFrame._22 {
        background: url('/Content/img/theme_90_mint_choco.png') no-repeat transparent;
    }
    #themeFrame._23 {
        background: url('/Content/img/theme_90_swanky_purse.png') no-repeat transparent;
    }
    #themeFrame._24 {
        background: url('/Content/img/theme_90_trontastic.png') no-repeat transparent;
    }
