﻿@{
    Layout = null;
}
@model soporte.Models.ClasesVistas.IncidenteImpresion
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link rel="stylesheet" href="/Content/Impresion/Impresion.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Impresion/print.css" type="text/css" media="print" />
    @Scripts.Render("~/bundles/base")
    @Styles.Render("~/Css/themes/1")
    <script src="/Scripts/Impresion.js" type="text/javascript"></script>
    <title>Impresión</title>
</head>
<body>
    <div>
        <h2><img src="/Content/Print/img/escudo.png" style="width:35px;height:35px;" alt="Gobierno de Córdoba" />Gobierno de Córdoba</h2>
        <h2>Ticket Nro:@Model.Numero</h2>
        <ul>            
            <li><label class="label">Generado por:</label><label> @Model.Generador</label></li>
            <li><label class="label">Fecha de Inicio:</label><label> @Model.FechaStr </label></li>
            <li><label class="label">Cliente:</label><label>@Model.Cliente</label></li>
            <li><label class="label">Tipo de Ticket:</label><label>@Model.TipoTicket</label></li>
            <li><label class="label">Prioridad:</label><label>@Model.PrioridadTicket</label></li>
            <li><label class="label">Servicio:</label><label>@Model.Servicio</label></li>
            <li><label class="label">Fecha Tope:</label><label>@Model.FechaStrPrevista</label></li>
            <li><label class="label">Jurisdicción:</label><label>@Model.Jurisdiccion</label></li>
            <li><label class="label">Dependencia:</label><label>@Model.Dependencia</label></li>
            <li><label class="label">Tipificación:</label><label>@Model.Tipificacion</label></li>
            <li><label class="label">Descripción:</label><label>@Model.Descripcion</label></li>
            <li>
                <label class="label">Notificaciones:</label>
                @{foreach (var r in Model.Notificados)
                {
                    <span>@r.email</span>
                }}
            </li>
        </ul>
        
    @if (@Model.imgPath != "" | @Model.filePath != "")
    {

        <fieldset>
            <legend>Adjuntos</legend>
            @if (@Model.imgPath != "")
            {
                <div class="divimg">
                    <div class="frame">
                        <button class="quitRes ui-icon ui-icon-closethick"></button>
                        <img src="@Model.imgPath" alt="Imágen de Incidencia" />
                    </div>
                </div>
            }
            @if (@Model.filePath != "")
            {                
                <div class="divFile">
                    <div class="frame">
                        <button class="quitRes ui-icon ui-icon-closethick"></button>
                        <div class="ui-icon ui-icon-document right"></div>
                        <span class="right">Archivo</span>
                    </div>
                </div>                
            }
        </fieldset>
    }
    <fieldset id="resoluciones">
        <legend>Trabajos Realizados</legend>
           
        @{if (@Model.resoluciones.Count > 0)
        {
         <ul>           
             @foreach(var m in @Model.resoluciones)
             {<li class="liresolucion">
                <button class="quitRes ui-icon ui-icon-closethick"></button>
                <ul>
                     <li>
                         <label class="lblTrabajos">Fecha:</label><label>@m.FechaString</label>&nbsp&nbsp
                         <label class="lblTrabajos">Tipo de Resolucion:</label><label>@m.TipoRes</label>&nbsp&nbsp
                         <label class="lblTrabajos">Equipo:</label><label>@m.Equipo</label>
                     </li>
                     <li><label class="lblTrabajos">Descripcion:</label><label>@m.Observ</label></li>
                     <li><label class="lblTrabajos">Técnico:</label><label>@m.Tecnico</label></li>                     
                 </ul>

                </li>
              }            
          </ul>
         }          
         else{
                <h4>Sin registros</h4>
         }
         }
            
            <ul>
                <li class="inbottom"><label class="firma">Firma Usuario: </label><label>.....................................</label></li>
            </ul>
        </fieldset>
        
    </div>
</body>
</html>
