﻿<!DOCTYPE html>
<html>
<head>
    <title>Pedido de Reglas</title>
    @Styles.Render("~/Css/materialize")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/reglas")
    <link rel="icon" href="~/favicon.png" />
    <style>
    </style>
</head>
<body>
    <nav class="blue" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="#" class="brand-logo">Sofit</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    
                        <a href="/Reglas">Reglas</a>
                    
                </li>
                
                <li class="active">
                    
                        <a href="/Acceso">Acceso</a>
                    
                </li>
                <li>
                    <a href="/Pedidos">Mis pedidos</a>
                </li>
                @model soporte.Models.usuarioBean
                <li style="font-size:small; font-style:italic;">
                   
                        <span>@Html.Raw("Conectado como: " + @Model.NombreCompleto)</span>
                    
                </li>
                <li>                    
                    <div class="col s1">
                        <a href="/Logout"><i class="material-icons">exit_to_app</i></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <form action="#">
                    <div class="input-field col m4">
                        <select>
                            <option value="" disabled selected>Seleccione</option>
                            <option value="1">Pedido Simple</option>
                        </select>
                        <label>Seleccione el tipo de pedido <i class="tiny material-icons red-text">star</i></label>
                    </div>
                    <div class="input-field col m8">
                        <input placeholder="Asunto" id="asunto" type="text" />
                        <label for="asunto">Asunto<i class="tiny material-icons red-text">star</i></label>
                    </div>
                    <div class="input-field col m12">
                        <textarea id="descripcion" class="materialize-textarea"></textarea>
                        <label for="descripcion">Descripción<i class="tiny material-icons red-text">star</i></label>
                    </div>
                    <div class="input-field col m4">
                        <select>
                            <option value="" disabled selected>Seleccione</option>
                        </select>
                        <label>Responsable autorizante<i class="tiny material-icons red-text">star</i></label>
                    </div>
                    <div class="input-field col m8">
                        <input id="usuario" type="text" value="" disabled="disabled" />
                        <label for="usuario">Usuario</label>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <div class="card blue lighten-5">
                                <div class="card-content">
                                    <span class="card-title black-text">Servicios conocidos</span>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">SSH-SFTP</span>

                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">HTTP(80)</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">HTTPS(443)</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">DB(1521)</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">DB(1526)</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">DB(1433)</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s4">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">DISCOS COMPART.(139-445)</span>
                                                </label>
                                            </div>
                                            <div class="col s4">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">FTPS(989-990)</span>
                                                </label>
                                            </div>
                                            <div class="col s4">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">REMOTE DESKTOP(3389)</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s6">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">Otros(Especificar)</span>
                                                </label>
                                                <div class="input-field inline">
                                                    <input id="xx" type="text" />
                                                    <label for="xx">Puerto</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card blue lighten-5">
                                <div class="card-content">
                                    <span class="card-title black-text">Protocolo</span>
                                    <div class="row ">
                                        <div class="col s12 valign-wrapper">
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">TCP</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">UDP</span>
                                                </label>
                                            </div>
                                            <div class="col s2">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">ICMP</span>
                                                </label>
                                            </div>
                                            <div class="col s6 center-align">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span class="black-text">Otro(Especificar)</span>
                                                </label>
                                                <div class="input-field inline">
                                                    <input id="xx" type="text" />
                                                    <label for="xx">Protocolo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">

            </div>
            <div class="section">
                <button class="btn blue waves-light" type="submit" name="action">
                    Crear
                    <i class="material-icons right">send</i>
                </button>
                <!--   Icon Section   -->
                @*<div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                                <h5 class="center">Speeds up development</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                                <h5 class="center">User Experience Focused</h5>
                                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                                <h5 class="center">Easy to work with</h5>
                                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>


    <footer class="page-footer blue">
        <div class="footer-copyright">
            <div class="container center-align">
                &copy; SOFIT &#124; Direccion General de Coordinación IT
            </div>
        </div>
    </footer>
</body>
</html>

