﻿div#form input,div#form select, div#form select option{
    font-size:12px !important;
    line-height:12px !important;
}
#empty-message{
display: none;
}
#NuevoCliente .ui-button-text{
    font-size:.8em;
}
.tipific fieldset{
    border:none;
}
.tipific{
    box-sizing:border-box;
    margin:5px;
}
#fichacliente {
    position: fixed;
    /*top: 115px;
    left: calc(45% + 250px);
    bottom: 115px;*/
    width: 400px;
    display: none;
    background: rgba(235,235,235,0.7);
    border: 1px #666 solid;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.boxLabel{    
    overflow:auto;
}
input[type=file]{
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}
.labelUpload{
    cursor:pointer;
    padding:3px 0 3px 150px;
    font-size:14px;
    display:block;
}
.labelUpload i{
    padding-right:5px;
}
.boxButton{
    padding-left:150px;
    font-size:10px;
}
li.base{
    text-decoration:underline;
    font-style:italic;
    font-size:.9em;
    list-style:decimal !important;
}
#fichacliente .top{
height: 82%;
padding: 5px 0;
}
#fichacliente .bottom{
height: 15%;
padding: 5px 3px;
border-top: 1px #666 solid;
}
#fichacliente input, #fichacliente select, #fichacliente textarea {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#fichacliente .datosCl {
        width: 295px !important;
        background: transparent !important;
        border: 0 !important;
        padding: 3px 5px 3px 95px !important;
        margin: 3px 0 !important;
        color: #000 !important;
}

#fichacliente input:read-only, #fichacliente input[readonly], #fichacliente select:disabled{
color: #000;
}
#fichacliente select.datosCl{
width: 305px!important;
padding: 3px 0 3px 90px!important;
}
#fichacliente .onEdit{
color: rgba(0,95,155,1)!important;
border-color: rgba(0,95,155,1)!important;
border-bottom-style: inset;
border-right: 3px solid !important;
}
#fichacliente #idCl{
display: none;
}
#fichacliente label {
    position: absolute;
    padding: 1px 5px !important;
    text-align: right;
    width: 85px;
}
#fichacliente label:after {
        display: block;
        padding: 5px 7px !important;
        background-color: rgba(50, 50, 50, 0.85);
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.9);
}
#fichacliente #labelNombreCl:after{
content: "Nombre";
}
#fichacliente #labelDNICl:after{
content: "CUIL";
}
#fichacliente #labelemailCl:after{
content: "e-mail";
}
#fichacliente #labelJurisdiccionCl:after{
content: "Jurisdiccion";
}
#fichacliente #labelDependenciaCl:after{
content: "Dependencia";
}
#fichacliente #labelDireccionCl:after{
content: "Dir/Piso/Of";
}
#fichacliente #labelTelefonoCl:after{
content: "Telefono";
}​​       
/******/
.body {
    box-sizing: content-box;
}
.center {
    width: 650px;
    margin: 0 auto;
}
.body{
    overflow:auto !important;
}
div.row{
    cursor:pointer;
}
.inpC{
    width:290px;
    box-sizing:border-box;
}
.selecC{
    width:290px;
    box-sizing:border-box;
}
.textAC{
    width:290px;
    box-sizing:border-box;
}
.divBlocks{
    border:2px solid #1E3755;
    display:inline-block;    
    width:330px;
    background-color:white;
    color:black;
    box-sizing:border-box;
    min-height:27px;
}
.icon{
    width:16px;
    height:16px;
    cursor:pointer;
    display:inline-block;
}
div.nombre{
    display:inline-block;
    padding-right:3px;
    padding-left:3px;
    vertical-align:top;
}
.mailAdd{
    
}
#inputDestinatarios, #inputClientes{
   border:none;
   width:273px;
}
h2 {
    text-align: center;
}
.label {
    width: 150px;
}
.input {
    width: 330px;
    box-sizing: border-box;
    height: 20px;
}

.select {
    width: 330px;
    box-sizing: border-box;
    height: 21px;
}
.incObserv {
    width: 500px;
    height: 155px;
    margin-left:66px;
    display:list-item;
}
.lbObs{
    padding-left:10%;
}
.incCliente{
    width:330px;
    height:60px;
}
.fifty {
    width: 50%;
}
.left {
    float: left;
}
.photo {
    width: 200px;
    height: 200px;
}
.botonaladerecha {
    text-align: right;
}
.removeImagen {
    cursor: pointer;
}
.nuevoNro {
    font-style: italic;
    color: gray;
}