﻿
<div class="table col-1" data-secciontipo="accion">
    <div class="row-table cellspacing">
        <div class="cell">
            <div class="table margin-b-5 bg-white">
                <div class="row-table">
                    <div class="cell ui-state-hover">
                        <div class="col-05 left">Acción:</div>
                        <div class="col-95 right">
                            <input type="text" class="no-border editable" placeholder="Titulo de la acción" />
                        </div>
                    </div>
                </div>
                <div class="row-table">
                    <div class="cell">
                        <div class="table">
                            <div class="row-table row-td">
                                <div class="cell th ui-widget-header" scope="col">Tipo</div>
                                <div class="cell">
                                    <input type="text" class="no-border editable" placeholder="Seleccione un tipo" />
                                </div>
                                <div class="cell th ui-widget-header" scope="col">Estado</div>
                                <div class="cell">
                                    <input type="text" class="no-border editable" placeholder="Estado" />
                                </div>
                                <div class="cell th ui-widget-header" scope="col">Responsable</div>
                                <div class="cell">
                                    <input type="text" class="no-border editable" placeholder="Seleccione un responsable" />
                                </div>
                            </div>
                        </div>
                        <div class="table">
                            <div class="row-table row-td">
                                <div class="cell th ui-widget-header" scope="col">Fecha estimada</div>
                                <div class="cell">
                                    <input type="date" class="no-border editable" />
                                </div>
                                <div class="cell th ui-widget-header" scope="col">Fecha implementada</div>
                                <div class="cell">
                                    <input type="date" class="no-border editable" readonly />
                                </div>
                                <div class="cell">
                                    <input type="text" class="no-border editable" placeholder="Plazo" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="table">
                            <div class="row-table row-td">
                                <div class="cell th ui-widget-header" scope="col">Descripción</div>
                            </div>
                            <div class="row-table row-td ui-widget-content" data-remove="">
                                <input type="hidden">
                                <div class="cell">
                                    <textarea class="no-border editable"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-table">
                    <div class="cell ui-state-hover">
                        <div>Analisis de eficacia</div>
                    </div>
                </div>
                <div class="row-table">
                    <div class="cell">
                        <div class="table">
                            <div class="row-table row-td">
                                <div class="cell col-4 th ui-widget-header" scope="col">Fecha de analisis</div>
                                <div class="cell">
                                    <input type="date" class="no-border editable" />
                                </div>
                                <div class="cell col-4 th ui-widget-header" scope="col">Resultado de analisis</div>
                                <div class="cell">
                                    <input type="text" class="no-border editable" placeholder="Eficacia" />
                                </div>
                            </div>
                        </div>
                        <div class="table">
                            <div class="row-table row-td">
                                <div class="cell col-4 th ui-widget-header" scope="col">Descripcción del analisis</div>
                            </div>
                            <div class="row-table row-td">
                                <div class="cell">
                                    <textarea class="no-border editable"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>