﻿@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/Config")
    @Scripts.Render("~/bundles/sopConfig")
    @Scripts.Render("~/bundles/usuarios")
    @Scripts.Render("~/bundles/jurisdicciones")
    @Styles.Render("~/Css/fa")
}
    @if(ViewBag.Access=="denied"){
        @:<h2>Su perfil no permite el uso de esta característica</h2>
    }
    else
    {
        //TABSET
        <div id="tabset" class="content2">
            <ul>
                <li><a href="/Config/DatosPersonales" id="datosPers">Mis Datos</a></li>
                <li><a href="#calendar">Mi Calendario</a></li>
                <li><a href="#removeEquipo">Eliminar Equipos</a></li>
                <li><a href="Config/Tiempos" id="tiempos">Establecer Tiempos</a></li>
                <li><a href="Config/Usuarios" id="usuarios">Usuarios</a></li>
                <li><a href="Config/Jurisdicciones" id="jurisdicciones">Jurisdicciones</a></li>
                <li><a href="Config/Tipificaciones" id="tipificaciones">Tipificaciones</a></li>
                <li><a href="Config/Clientes" id="tipificaciones">Clientes</a></li>
            </ul>
            <div id="calendar">
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/layout.css" />
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/Themes/calendar_g.css" />
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/Themes/calendar_green.css" />
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/Themes/calendar_traditional.css" />
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/Themes/calendar_transparent.css" />
                <link type="text/css" rel="stylesheet" href="~/Content/DayPilot/Themes/calendar_white.css" />
                <!-- helper libraries -->
                <!-- daypilot libraries -->
                <script src="~/Scripts/DayPilot/daypilot-all.min.js" type="text/javascript"></script>

                <div id="header">
                    <div class="bg-help">
                        <div class="inBox">
                            <h1 id="logo">Mis Eventos</h1>                            
                            <hr class="hidden" />
                        </div>
                    </div>
                </div>
                <div class="shadow"></div>
                <div class="hideSkipLink">
                </div>
                <div class="main">

                    <div style="float:left; width: 160px;">
                        <div id="nav"></div>
                    </div>
                    <div style="margin-left: 160px;">

                        <div class="space">
                            Tema: <select id="theme">
                                <option value="calendar_default">Default</option>
                                <option value="calendar_white">White</option>
                                <option value="calendar_g">Google-Like</option>
                                <option value="calendar_green">Green</option>
                                <option value="calendar_traditional">Traditional</option>
                                <option value="calendar_transparent">Transparent</option>
                            </select>
                        </div>

                        <div id="dp"></div>
                    </div>
                    <style>
                        #header .bg-help{
                            min-height:50px;
                        }
                    </style>
                    <script type="text/javascript">

                        var nav = new DayPilot.Navigator("nav");
                        nav.showMonths = 3;
                        nav.skipMonths = 3;
                        nav.selectMode = "week";
                        nav.onTimeRangeSelected = function (args) {
                            dp.startDate = args.day;
                            dp.update();
                            loadEvents();
                        };
                        nav.init();

                        var dp = new DayPilot.Calendar("dp");
                        dp.eventDeleteHandling = "Update";
                        dp.locale = "es-mx";
                        dp.viewType = "Week";
                        dp.onBeforeEventRender = function (args) {
                            if (args.data.tags && args.data.tags.type === "important") {
                                args.data.rightClickDisabled = true;
                                args.data.barColor = "red";
                            }
                        }
                        dp.onEventDelete = function (args) {
                            if (!confirm("Realmente quiere eliminar este Evento?") ){
                                args.preventDefault();
                            }
                        };
                        dp.onEventDeleted = function (args) {
                            $.post("/Service/DeleteEv",
                                {
                                    id: args.e.id()
                                },
                                function () {
                                    mostrarInfo("Evento Borrado")
                                });
                           
                        };                        
                        dp.onEventMoved = function (args) {
                            $.post("/Service/MoverEv",
                                {
                                    id: args.e.id(),
                                    newStart: args.newStart.toString(),
                                    newEnd: args.newEnd.toString()
                                },
                                function () {
                                    mostrarInfo("Evento movido")
                                });
                        };

                        dp.onEventResized = function (args) {
                            $.post("/Service/ResizeEv",
                                {
                                    id: args.e.id(),
                                    newStart: args.newStart.toString(),
                                    newEnd: args.newEnd.toString()
                                },
                                function () {
                                    mostrarInfo("Evento Ajustado")
                                });
                        };

                        // event creating
                        dp.onTimeRangeSelected = function (args) {
                            var name = prompt("Nombre del Evento:", "Evento");
                            var id = $('#idUser').val();
                            dp.clearSelection();
                            if (!name) return;

                            $.post("/Service/CrearEv",
                                {
                                    start: args.start.toString(),
                                    end: args.end.toString(),
                                    name: name,
                                    idUser:id
                                },
                                function (data) {
                                    var e = new DayPilot.Event({
                                        start: args.start,
                                        end: args.end,
                                        id: data.id,
                                        resource: args.resource,
                                        text: name
                                    });
                                    dp.events.add(e);

                                });

                        };

                        dp.onEventClick = function (args) {
                            alert("clicked: " + args.e.id());
                        };

                        dp.init();

                        loadEvents();

                        function loadEvents() {
                            var start = dp.visibleStart();
                            var end = dp.visibleEnd();
                            var id = $('#idUser').val();
                            $.post("/Service/Events",
                                {
                                    start: start.toString(),
                                    end: end.toString(),
                                    idUser:id
                                },
                                function (data) {
                                    //console.log(data);
                                    dp.events.list = data;
                                    dp.update();
                                });
                        }

                    </script>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#theme").change(function (e) {
                                dp.theme = this.value;
                                dp.update();
                            });
                        });
                    </script>

                </div>
                <div class="clear">
                </div>
            </div>
            <div id="removeEquipo">
                <fieldset>
                    <legend>Eliminar un equipo</legend>
                    <p class="ui-state-active noborde">
                        Se provee este método para eliminar un equipo que recién haya sido ingresado. 
                        Una vez que el equipo haya participado en alguna reparación
                        u otra intervención, el equipo no podrá ser eliminado por este método
                    </p>
                    <ul>
                        <li>
                            <label id="Label17" title="Nro Oblea" class="label"></label>
                            <input type="text" id="tOblea" class="input">
                            <button id="bDelEquipo">Aceptar</button>
                            @*<button id="bQuery">Aceptar</button>*@
                        </li>
                    </ul>
                </fieldset>
                <div class="divError hidden">
                    <div class="message"></div>
                </div>
            </div>               
        </div>
        <!--div id=tabset-->
       
    }
