﻿<div id="Referentes" class="hide">
    <div class="refContainer">
        <div class="tableContainer" id="">
            <ul>
                <li class="ui-state-default">Referentes</li>
            </ul>
        </div>
        <div class="botonera">
            <button id="agregarReferente">Agregar</button>
            <button id="modificarReferente">Modificar</button>
            <button id="switchV">Cancelar</button>
        </div>
    </div>
    <div class="infoContainer hide">
        <div class="datosRefContainer">
            <div class="tableContainer">
                <ul>
                    <li class="ui-state-default">Datos Referente</li>
                    <li class="topSpace">
                        <label for="tNombre" class="labelText">Nombre</label>
                        <input type="text" id="tNombre" class="inputText" />*
                    </li>                    
                    <li class="liSpace">
                        <label for="tEmail" class="labelText">E-mail</label>
                        <input type="text" id="tEmail" class="inputText" />*
                    </li>
                    <li class="liSpace">
                        <label for="tTe" class="labelText">TE</label>
                        <input type="text" id="tTe" class="inputText" />
                    </li>
                    <li>
                        <span class="spanPhoto" style="background-image:none;">
                            <img class="photo" src="/Content/img/user.png" />
                        </span>
                    </li>
                </ul>
            </div>
            <div class="botonera">
                <button id="aceptarReferente">Aceptar</button>
                <button id="updateReferente" class="hide">Aceptar</button>
            </div>
        </div>
        <div class="locRefContainer">
            <div class="tableContainer">
                <ul>
                    <li class="ui-state-default">Jurisdicciones que aplican</li>
                    <li>
                        <div class="tablaJurisd">
                            <div class="row">
                                <span class="nomJur">Nombre</span><span>Quitar</span>
                            </div>
                            
                        </div>
                    </li>
                    <li class="ui-state-default">Agregar</li>
                    <li>
                        <input type="radio" name="location" value="jurisdiccion"/>Jurisdicción<br/>
                        <input type="radio" name="location" value="dependencia"/>Dependencia
                    </li>
                    <li>
                       <label class="labelText">Jurisd.</label> 
                        <select class="select" id="sJurisd">
                            @model IEnumerable<soporte.Models.ClasesVistas.JurisdiccionVista>
                            @{foreach (var Model in ViewBag.Jurisdicciones)
                            {
                                <option value=@Model.idJurisdiccion>@Model.Nombre</option>
                            }
                            }
                        </select>
                    </li>
                    <li>
                        <label class="labelText">Depend.</label>
                        <select class="select" id="sDepend">
                            
                        </select>
                    </li>
                </ul>
                <div class="error message">Cuando se agrega una Jurisdicción no es necesario agregar las dependencias que dependen de ésta.</div>                
            </div>
            <div class="botonera">
                <button id="agregarJurisdiccion">Agregar</button>
                
            </div>
        </div>
    </div>
</div>
<div id="wrapperJurisdicciones" class="">
    <div class="leftContainer">
        <div class="tableContainer" id="jurisdicciones">
            <table class="jurisdicciones scrollTable">
                <thead class="fixedHeader">
                    <tr class='ui-state-default'><th style='display:none;'>id</th><th>Jurisdicciones</th></tr>
                </thead>
                <tbody class="scrollContent">
                    
                    @{foreach (var Model in ViewBag.Jurisdicciones)
                    {
                        <tr><td class="hide">@Model.idJurisdiccion</td><td>@Model.Nombre<div class="icon right"></div><div class="icon right"></div></td></tr>

                    }
                    }
                </tbody>
            </table>
        </div>
        <div class="botonera">
            <button id="nvaJurisd">Nva.Jurisdiccion</button>
            <button id="verReferentes">Referentes</button>
        </div>
    </div>
    <div class="rightContainer">
        <div class="tableContainer" id="dependencias">
            <table class="">
                
            </table>
        </div>
        <div class="botonera">
            <button id="nvaDependencia">Nva.Dependencia</button>
            <button id="verEquipoXDep">Listar Equipos</button>            
        </div>
    </div>
    <div class="listadoContainer hide">
        <fieldset>
            <legend>Equipos en la Dependencia</legend>
            <div class="equiposListado"></div>
        </fieldset>
        
    </div>    
    <div id="Jurisdicciones">
        <ul>
            <li>
                <label class="labelDrop" for="login_password">Nombre: </label>
                <input id="tNombreJurisdiccion" type="text" value="" name="" class="select" />
            </li>
            <li>
                <label class="labelDrop" for="login2_password">Repita el Nombre:</label>
                <input id="tNombreJurisdiccion2" type="text" value="" name="" class="select" />
            </li>

        </ul>
        <div class="error hidden">
            <div class="message">
            </div>
        </div>
    </div>
    <div id="rJurisdiccion">
        <ul>
            <li>
                <label class="labelDrop" for="login_password">Nombre: </label>
                <input id="rNombreJurisdiccion" type="text" value="" name="" class="select" />
            </li>
            <li>
                <label class="labelDrop" for="login2_password">Repita el Nombre:</label>
                <input id="rNombreJurisdiccion2" type="text" value="" name="" class="select" />
            </li>

        </ul>
        <div class="error hidden">
            <div class="message">
            </div>
        </div>
    </div>
    <div id="Dependencia">
        <ul>
            <li>
                <label class="labelDrop" for="login_password">Nombre Dependencia:</label>
                <input id="tNombreDependencia" type="text" value="" class="select" />
            </li>
            <li>
                <label class="labelDrop" for="login2_password">Repita el Nombre:</label>
                <input id="tNombreDependencia2" type="text" value="" class="select" />
            </li>
        </ul>
        <div class="error hidden">
            <div class="message">
            </div>
        </div>
    </div>
    <div id="rDependencia">
        <ul>
            <li>
                <label class="labelDrop" for="login_password">Nombre Dependencia:</label>
                <input id="rNombreDependencia" type="text" value="" class="select" />
            </li>
            <li>
                <label class="labelDrop" for="login2_password">Repita el Nombre:</label>
                <input id="rNombreDependencia2" type="text" value="" class="select" />
            </li>
        </ul>
        <div class="error hidden">
            <div class="message">
            </div>
        </div>
    </div>
</div>
