﻿<fieldset>
    @model soporte.Areas.Soporte.Models.Tiempos
    <legend>Tiempos Críticos</legend>
    <ul>
        <li>
            <label id="Label1" class="label"><em>Clonado</em> Aviso</label>
            <input type="text" id="tAvisoClon" name="tAvisoClon" class="input dias" value="@Model.tAClon" />
            <label id="Label9" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label2" class="label"><em>Clonado</em> Emergencia </label>
            <input type="text" id="tEmergClon" name="tEmergClon" class="input dias" value="@Model.tEClon"/>
            <label id="Label10" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em>Laboratorio</em> Aviso</label>
            <input type="text" id="tAvisoLab" name="tAvisoLab" class="input dias" value="@Model.tALab" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em>Laboratorio</em> Emergencia</label>
            <input type="text" id="tEmergLab" name="tEmergLab" class="input dias" value=@Model.tELab>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label5" title="" class="label"><em>Equipos para Entregar</em> Aviso</label>
            <input type="text" id="tAvisoDel" name="tAvisoDel" class="input dias" value="@Model.tADel"/>
            <label id="Label13" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label6" title="" class="label"><em>Equipos para Entregar</em> Emergencia</label>
            <input type="text" id="tEmergDel" name="tEmergDel" class="input dias" value="@Model.tEDel"/>
            <label id="Label14" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label7" title="" class="label"><em>Equipos Suspendidos</em> Aviso</label>
            <input type="text" id="tAvisoSus" name="tAvisoSus" class="input dias" value="@Model.tASus" />
            <label id="Label15" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label8" title="" class="label"><em>Equipos Suspendidos</em> Emergencia</label>
            <input type="text" id="tEmergSus" name="tEmergSus" class="input dias" value="@Model.tESus"/>
            <label id="Label16" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>        
        <li>
            <label id="Label33" title="" class="label"><em>Equipos Aviso Garantía</em> Aviso</label>
            <input type="text" id="tAvisoAvisoGar" name="tAvisoAvisoGar" class="input dias" value="@Model.tAAGar"/>
            <label id="Label34" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label35" title="" class="label"><em>Equipos Aviso Garantía</em> Emergencia</label>
            <input type="text" id="tEmergAvisoGar" name="tEmergAvisoGar" class="input dias" value="@Model.tEAGar"/>
            <label id="Label36" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label37" title="" class="label"><em>Equipos En Garantía</em> Aviso</label>
            <input type="text" id="tAvisoEnGar" name="tAvisoEnGar" class="input dias" value="@Model.tAEGar"/>
            <label id="Label38" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label39" title="" class="label"><em>Equipos En Garantía</em> Emergencia</label>
            <input type="text" id="tEmerEnGar" name="tEmerEnGar" class="input dias" value="@Model.tEEGar"/>
            <label id="Label40" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
    </ul>
    <button id="bSetTimes">Aceptar</button>
</fieldset>