﻿@font-face {
    font-family: '3 of 9 Barcode';
    src: url('/Content/Print/fonts/3OF9_NEW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body
{
	font-size: small;
	font-family:Verdana, Helvetica, Arial, Sans-Serif;
	margin:8px;	
}
.button{
    display:inline;
    margin:10px 0;
}
#stickerContainer
{
    width:100mm;
    overflow:auto; 
    float:left;   
}
#buttonContainer{
    width:400px;
    overflow:auto;
    height:130px;
}
#buttonContainer div{
    margin:42px 0 0 54px;
}
div.sticker
{
    width:100%;
    float:left;
    margin:0;
}
div.valor
{
	width:96%;
	height:30mm;
	border:solid 2px black;
	
	padding:0px 0px;
	position:relative;
	overflow:hidden;
	
}
.divClose
{
   width:96%;
   height:19px;
   position:relative;
   margin:0;  
}
h3
{
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}
p
{
	text-align:center;
	font-size:9px;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align:top;
	display:inline-block;
	width:305px;
}
ul
{
    padding:0;
    text-indent:0;
    margin:0;
}
ul li
{
    height:10mm;
    border-bottom:1px solid black;
    text-align:center;
    list-style: none;
}
.inprango
{
    width:145px;
}
.code
{
	font-size: 250%;
	font-family: "3 of 9 Barcode";
	line-height:30px;	
}
.texto
{
	font-size:2em;
	font-family: Trebuchet MS,Verdana,Arial,Sans-Serif;
	font-weight:bold;
	line-height:30px;
}

.divClose .button-close
{    
    height:19px;
    width:19px;
    float:right;
    cursor:pointer;
    background-color:transparent;
    border:none;
}
em
{
 font-weight:bold;
 font-size:1.4em;
}

.error
{
    color:Maroon;
    text-align:left;
    background-color:#FFCCCC; 
}
