﻿/*CSS*/
.button,.divClose, div.info
{
    display:none;
}
@page{
    size:101mm 35mm;
}
body{
    margin:0;
}
div.sticker
{    
    width:96%;
    display:block;
    page-break-after:auto;
    margin: 2mm 6mm;
}
div.valor {
    /*border: 0;*/
}