﻿@*model soporte.Models.ClasesVistas.ModelAutorizantes*@
<div id="Autorizantes" class="row">
    <div class="col s4">
        <div class="autContainer tableContainer1" id="">
            <ul>
                <li class="ui-state-default">Autorizantes</li>
            </ul>
        </div>
        <div class="botonera">
            @*<button id="agregarReferente">Agregar</button>*@            
        </div>
    </div>
    <div class="col s4">
        
            <div class="tableContainer1">
                <ul>
                    <li class="ui-state-default">Datos Autorizante</li>
                    <li class="topSpace">
                        
                        <label for="tNombre" class="labelText">Nombre</label>
                        <input type="text" id="tNombre" class="inputText" data-url="/Config/getAdNombres"/>
                        <div class="iconContainer inline-block ui-icon cursor">
                            <div class="ui-icon ui-icon-search" title="Buscar en Ad"></div>
                        </div>
                        <span class="italized">Búsqueda</span>
                    </li>
                    <li class="liSpace">
                        <label for="tEmail" class="labelText">E-mail</label>
                        <input type="email" id="tEmail" class="inputText" disabled="disabled"/>
                    </li>
                    <li class="liSpace">
                        <label for="tTe" class="labelText">TE</label>
                        <input type="text" id="tTe" class="inputText" disabled="disabled"/>
                    </li>
                    <li>
                        <span class="spanPhoto" style="background-image:none;">
                            <img class="photo" src="/Content/img/user.png" />
                        </span>
                    </li>
                </ul>
            </div>
            <div class="botonera">
                <button id="aceptarReferente" disabled="disabled">Agregar</button>                
            </div>
     </div>
     <div class="col s4">
            <div class="tableContainer1">
                <ul id="jurisdicciones">
                    <li class="ui-state-default">Jurisdicciones que aplican</li>
                    <li class="ui-state-active">                    
                       <span class="">Nombre</span>                  
                    </li>
                </ul>
            </div>
            <div class="botonera">
                
            </div>
    </div>    
</div>
