﻿@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/Config")
    @Scripts.Render("~/bundles/seguridadConfig")
    @Scripts.Render("~/bundles/usuarios")
    @Styles.Render("~/Css/fa")
}
@if (ViewBag.Access == "denied")
{
    @:<h2>Su perfil no permite el uso de esta característica</h2>
    }
else
{
    //TABSET
    <div id="tabset" class="content2">
        <ul>
            <li><a href="/Config/DatosPersonales" id="datosPers">Mis Datos</a></li>
            <li><a href="#removeEquipo">Eliminar Equipos</a></li>
            <li><a href="Config/Usuarios" id="usuarios">Usuarios</a></li>
            <li><a href="Config/Tipificaciones" id="tipificaciones">Tipificaciones</a></li>
            <li><a href="Config/Autorizantes" id="autorizantes">Autorizantes</a></li>
        </ul>        
        <div id="removeEquipo">
            <fieldset>
                <legend>Eliminar un equipo</legend>
                <p class="ui-state-active noborde">
                    Se provee este método para eliminar un equipo que recién haya sido ingresado. Una vez que el equipo haya participado en alguna reparación
                    u otra intervención, el equipo no podrá ser eliminado por este método
                </p>
                <ul>
                    <li>
                        <label id="Label17" title="Nro Oblea" class="label"></label>
                        <input type="text" id="tOblea" class="input">
                        <button id="bDelEquipo">Aceptar</button>
                        @*<button id="bQuery">Aceptar</button>*@
                    </li>
                </ul>
            </fieldset>
            <div class="divError hidden">
                <div class="message"></div>
            </div>
        </div>            
    </div>
        <!--div id=tabset-->

}
