﻿@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Scripts.Render("~/bundles/InventarioTele")
@Scripts.Render("~/bundles/Relaciones")
@Styles.Render("~/Css/InventarioSoporte")
@Styles.Render("~/Css/fa")
@{string accesoName = ViewBag.acceso;
bool acceso;
if (accesoName == "full")
{
    acceso = true;
}
else
{
    acceso = false;
}
}
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda por Oblea, Nombre Común<br> o Ip Address</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
@if (acceso)
                    {
        <div class="right">
            <nav>
                <a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a>
                <a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a>
                <a id="editData" class="botonActualizaciones hide">Editar</a>
                <a id="ImprOblea" class="botonActualizaciones hide">Imprimir oblea</a>
                <a id="LineaBase" class="botonActualizaciones hide">Línea Base</a>
                <a id="CancelarCambios" class="botonActualizaciones hide">Cancelar</a>
                <a id="" class="botonActualizaciones" href="https://10.90.1.201" target="_blank">DUDE</a>
                <a id="" class="botonActualizaciones" href="http://10.90.1.200/cacti" target="_blank">CACTI</a></nav>
                
        </div>
}
    </div>
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <h4 class="ui-widget-header">Datos del equipo</h4>
            <div class="detalle">
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend>Identficacion</legend>
                        <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="" readonly>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Oblea: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Oblea" name="Oblea" data-id="" value="SW12345" placeholder="Campo Obligatorio" readonly>
                                </div>
                                <span class="ui-icon ui-icon-lightbulb cursor getNumber" title="Obtener un número de Oblea"></span>                                
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Nro/Serie: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Tipo: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly class="tipoEc">
                                </div>                                
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Marca: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Modelo: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Modelo" name="Modelo" data-id="" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend>Ubicacion</legend>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Jurisdiccion: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Ubicacion: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>                           
                        </div>
                    </fieldset>
                    <fieldset class="ui-widget-content">
                        <legend>Nombre</legend>
                        <div class="table">
                            <div class="row">
                                <div class='cell textright col-4'>
                                    <span>Nombre: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="NComun" name="NComun" data-id="" placeholder="Nombre común" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                <div class="right col-2">
                    <fieldset class="ui-widget-content">
                        <legend>Observaciones</legend>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Estado: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Estado" name="Estado" data-id="" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Observaciones: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <textarea id="Observaciones" name="Observaciones" data-id="" readonly></textarea>
                                </div>
                            </div>
                            <div class="row" id="RelacionesRow">
                                <div id="RelacionesSwitcher" class="cell textright col-4">
                                    <span>Relaciones: </span>
                                </div>
                                <div id="RelacionesWraper" class="cell textleft col-2-75">
                                    <div id="NuevaRelForm" class="opacity0">
                                        <div class="table opacity0">
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el tipo de elemento de configuraci&oacute;n</p>
                                                    <input id="TipoElementoConf" type="text" placeholder="Tipo de elemento">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el elemento de configuraci&oacute;n a relacionar</p>
                                                    <input id="ElementoRelacion" type="text" placeholder="Elemento a relacionar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="tags">
                                        <li>
                                            <a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
                                        </li>
                                        <li>
                                            <a id="AgregarRelacion" href="#" class="tag taghover ui-widget-content">Agregar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
            </div>
           
            <h4 class="ui-widget-header">Detalles</h4>
            <div id="fullscreen" class="detalle ui-widget-content">
				<div class="overflow-auto">
					@if (acceso)
					{
                    <img id="fullscreenBtn" src="~/Areas/Soporte/Content/Inventario/images/fullscreen.png" height="15px" />
					<h4 class="classClaves sub-title">Claves</h4>                    
					<div class="table">
						<div class='row height-row'>
							<div class="classAcceso cell col-4 height-cell">
								<fieldset class="ui-widget-content height-fieldset">
									<legend>Usuario 1</legend>
									<div class="table">
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Usuario: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAcc1" name="UserAcc1" data-id="" readonly>
											</div>
										</div>
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Clave: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAccPass1" name="UserAccPass1" data-id="" readonly>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="classAcceso cell col-4 height-cell">
								<fieldset class="ui-widget-content height-fieldset">
									<legend>Usuario 2</legend>
									<div class="table">
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Usuario: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAcc2" name="UserAcc2" data-id="" readonly>
											</div>
										</div>
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Clave: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAccPass2" name="UserAccPass2" data-id="" readonly>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="classAcceso cell col-4 height-cell">
								<fieldset class="ui-widget-content height-fieldset">
									<legend>Usuario 3</legend>
									<div class="table">
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Usuario: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAcc3" name="UserAcc3" data-id="" readonly>
											</div>
										</div>
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Clave: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="UserAccPass3" name="UserAccPass3" data-id="" readonly>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="classAcceso cell col-4 height-cell">
								<fieldset class="ui-widget-content height-fieldset">
									<legend>Wi-Fi</legend>
									<div class="table">
										<div class='row'>
											<div class='cell textright col-4'>
												<span>SSID: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="SSID" name="SSID" data-id="" readonly>
											</div>
										</div>
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Clave: </span>
											</div>
											<div class='cell textleft col-2-75'>
												<input type="text" id="SSIDPass" name="SSIDPass" data-id="" readonly>
											</div>
										</div>
										<div class='row'>
											<div class='cell textright col-4'>
												<span>Encriptación: </span>
											</div>
											<div class='cell textleft col-2-75'>
                                                <input type="text" id="Encriptacion" name="Encriptacion" data-id="" readonly>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
					}
					<!-- Clear -->
					<div class="clear"></div>
					<!-- Clear -->

					<h4 class="sub-title">Datos</h4>
					<div class="col-1">
						<fieldset class="ui-widget-content">
							<legend>Configuración</legend>
							<div class="left col-2">
								<div class="table">
									<div class='row'>
										<div class='cell textright col-4'>
											<span>IPv4: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="IPv4" name="IPv4" data-id="" readonly>
										</div>
                                        <i class="fa fa-info cursor showingInfo"><span class="hide">Este campo es obligatorio para el caso 
                                            en que se quieran especificar otros valores IP</span></i>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>IPv6: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="IPv6" name="IPv6" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>MAC: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="MAC" name="MAC" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>Mascara De Sub Red: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="SubNet" name="SubNet" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>Gateway: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="GateWay" name="GateWay" data-id="" readonly>
										</div>
									</div>
								</div>
							</div>
							<div class="left col-2">
								<div class="table">
									<div class='row'>
										<div class='cell textright col-4'>
											<span>IP Loopback: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="IPLoop" name="IPLoop" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>IP WAN: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="IPWAN" name="IPWAN" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>IP Gestion: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="IPGestion" name="IPGestion" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>Cantidad de Bocas: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="Ports" name="Ports" data-id="" readonly>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-2 left">
						<fieldset class="ui-widget-content">
							<legend>Modulos SFP</legend>
							<div class="left col-1">
								<div class="table">
									<div class='row'>
										<div class='cell textright col-4'>
											<span>N/S: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="SfpSerie" name="SfpSerie" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>MAC: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="SfpMac" name="SfpMac" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>TIPO: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="SfpTipo" name="SfpTipo" data-id="" readonly>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-2 left">
						<fieldset class="ui-widget-content">
							<legend>Comunidad</legend>
							<div class="left col-1">
								<div class="table">
									<div class='row'>
										<div class='cell textright col-4'>
											<span>SNMP: </span>
										</div>
										<div class='cell textleft col-2-75'>
											<input type="text" id="Snmp" name="Snmp" data-id="" readonly>
										</div>
									</div>
									<div class='row'>
										<div class='cell textright col-4'>
											<span>Version: </span>
										</div>
										<div class='cell textleft col-2-75'>
                                            <input type="text" id="SnmpVer" name="SnmpVer" data-id="" readonly>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					<!-- Clear -->
					<div class="clear"></div>
					<!-- Clear -->
					<!-- Fin DETALLE -->
				</div>
			</div>
		</div>
    </div>
    </div>
</section>
<!-- Modal Trigger -->
<span id="works_btn" class="button hide"></span>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h3>Confirmar</h3>
        </div>
        <div class="modal-body ui-widget-content">
            <ul class="classMarca hide">
                <li class="">
                    <span class="">Marca</span>
                    <input type="text" id="AddMarca" class=" select">
                </li>
            </ul>
            <ul class="classEnviar hide">
                <li class="">
                    <span class="">Esta apunto de aceptar los cambios y actualizar los datos.</span>
                    <span class="">¿Desea continuar?</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="">
                <div class=" classEnviar hide">
                    <button type="button" id="SendForm" class="button">
                        <span class="">Aceptar</span>
                    </button>
                </div>
                <div class=" classMarca hide">
                    <button type="button" id="SendMarca" class="button">
                        <span class="">Agregar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
