﻿@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Scripts.Render("~/bundles/Notifications")
@Scripts.Render("~/bundles/InventarioTele")
@Styles.Render("~/Css/todoTele")
@{string accesoName = ViewBag.acceso;
bool acceso;
if (accesoName == "full")
{
    acceso = true;
}
else
{
    acceso = false;
}
}
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda por Nro. de Equipo<br>o Nro. de Serie</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
@if (acceso)
                    {
        <div class="right">
            <nav><a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a><a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a><a id="editData" class="botonActualizaciones hide">Editar</a><a id="ImprOblea" class="botonActualizaciones">Imprimir oblea</a></nav>
        </div>
}
    </div>
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <h4 class="ui-widget-header">Datos del equipo</h4>
            <div class="detalle">
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Identficacion</legend>
                        <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="" readonly>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Oblea: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Oblea" name="Oblea" data-id="" value="SW12345" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Nro/Serie: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Tipo: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Marca: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Modelo: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Modelo" name="Modelo" data-id="" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Ubicacion</legend>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Jurisdiccion: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Ubicacion: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
                <div class="right col-2">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Observaciones</legend>
                        <div class='table'>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Estado: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="Estado" name="Estado" data-id="" readonly>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='cell textright col-4'>
                                    <span>Observaciones: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <textarea id="Observaciones" name="Observaciones" data-id="" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>                
            </div>
           
            <h4 class="ui-widget-header">Detalles</h4>
            <div class="detalle">
                <div class="overflow-auto">
                    @if (acceso)
                    {
                    <h4 class="classClaves sub-title">Claves</h4>
                    <div class="classAcceso left col-2">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Acceso</legend>
                            <div class="table">
                                <div class='row'>
                                    <div class='cell textright col-4'>
                                        <span>Usuario de Acceso: </span>
                                    </div>
                                    <div class='cell textleft col-2-75'>
                                        <input type="text" id="UserAcc" name="UserAcc" data-id="" readonly>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='cell textright col-4'>
                                        <span>Clave de Acceso: </span>
                                    </div>
                                    <div class='cell textleft col-2-75'>
                                        <input type="text" id="UserAccPass" name="UserAccPass" data-id="" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="classWifi left col-2">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Wi-Fi</legend>
                            <div class="table">
                                <div class='row'>
                                    <div class='cell textright col-4'>
                                        <span>SSID: </span>
                                    </div>
                                    <div class='cell textleft col-2-75'>
                                        <input type="text" id="SSID" name="SSID" data-id="" readonly>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='cell textright col-4'>
                                        <span>Clave de Wi-Fi: </span>
                                    </div>
                                    <div class='cell textleft col-2-75'>
                                        <input type="text" id="SSIDPass" name="SSIDPass" data-id="" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    }
                    <!-- Clear -->
                    <div class="clear"></div>
                    <!-- Clear -->

                    <h4 class="sub-title">Datos</h4>
                    <div class="col-1">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Configuración</legend>
                            <div class="left col-2">
                                <div class="table">
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>IPv4: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="IPv4" name="IPv4" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>IPv6: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="IPv6" name="IPv6" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>Mascara De Sub Red: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="SubNet" name="SubNet" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>Gateway: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="GateWay" name="GateWay" data-id="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left col-2">
                                <div class="table">
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>MAC: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="MAC" name="MAC" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>DNS: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="DNS" name="DNS" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>WINS: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="WINS" name="WINS" data-id="" readonly>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='cell textright col-4'>
                                            <span>Cantidad de Bocas: </span>
                                        </div>
                                        <div class='cell textleft col-2-75'>
                                            <input type="text" id="Ports" name="Ports" data-id="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- Clear -->
                    <div class="clear"></div>
                    <!-- Clear -->
                    <!-- Fin DETALLE -->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Modal Trigger -->
<span id="works_btn" class="button hide"></span>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h3>Confirmar</h3>
        </div>
        <div class="modal-body">
            <ul class="classMarca hide">
                <li class="">
                    <span class="">Marca</span>
                    <input type="text" id="AddMarca" class=" select">
                </li>
            </ul>
            <ul class="classEnviar hide">
                <li class="">
                    <span class="">Esta apunto de aceptar los cambios y actualizar los datos.</span>
                    <span class="">¿Desea continuar?</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="">
                <div class=" classEnviar hide">
                    <button type="button" id="SendForm" class="button"><span class="">Aceptar</span></button>
                </div>
                <div class=" classMarca hide">
                    <button type="button" id="SendMarca" class="button"><span class="">Agregar</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->