﻿@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/InventarioSoporte")
    @Styles.Render("~/Css/fa")
    @Scripts.Render("~/bundles/InventarioSoporte")
    @Scripts.Render("~/bundles/Relaciones")    
}
@{string accesoName = ViewBag.acceso;
  bool acceso;
  if (accesoName == "full")
  {
      acceso = true;
  }
  else
  {
      acceso = false;
  }
}
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda por Nro. de Equipo<br>o Nro. de Serie</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off" data-oblea="">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
@if (acceso)
                    {
        <div class="right">
            <nav>
                <a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a>
                <a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a>
                <a id="editData" class="botonActualizaciones hide">Editar</a>
                <a id="ImprOblea" class="botonActualizaciones hide">Imprimir oblea</a>
                <a id="LineaBase" class="botonActualizaciones hide">Línea Base</a>
                <a id="CancelarCambios" class="botonActualizaciones hide">Cancelar</a>
            </nav>
        </div>
}
    </div>
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <h4 class="ui-widget-header">Datos del equipo</h4>
            <div class="detalle">
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Identficacion</legend>
                        <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="">
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Oblea: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio" readonly>
                                </div>
                                <span class="ui-icon ui-icon-lightbulb cursor getNumber" title="Obtener un número de Oblea"></span>                                
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Nro/Serie: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Tipo: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Marca: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Modelo: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Modelo" name="Modelo" data-id="" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Ubicacion</legend>
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Jurisdiccion: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Ubicacion: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="right col-2">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Observaciones</legend>
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Estado: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Estado" name="Estado" data-id="" placeholder="Campo Obligatorio" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Observaciones: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <textarea id="Observaciones" name="Observaciones" data-id="" readonly></textarea>
                                </div>
                            </div>
                            <div class="row" id="RelacionesRow">
                                <div id="RelacionesSwitcher" class="cell textright col-4">
                                    <span>Relaciones: </span>
                                </div>
                                <div id="RelacionesWraper" class="cell textleft col-2-75">
                                    <div id="NuevaRelForm" class="opacity0">
                                        <div class="table opacity0">
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el tipo de elemento de configuraci&oacute;n</p>
                                                    <input id="TipoElementoConf" type="text" placeholder="Tipo de elemento">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el elemento de configuraci&oacute;n a relacionar</p>
                                                    <input id="ElementoRelacion" type="text" placeholder="Elemento a relacionar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="tags">
                                        <li>
                                            <a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
                                        </li>
                                        <li>
                                            <a id="AgregarRelacion" href="#" class="tag taghover ui-widget-content">Agregar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <h4 class="ui-widget-header">Detalles</h4>
            <div id="fullscreen" class="detalle ui-widget-content">
                <div class="overflow-auto">
                    <img id="fullscreenBtn" src="~/Areas/Soporte/Content/Inventario/images/fullscreen.png" height="15px" />
                    <div id="PRselector">
                        <div class="trigger slideout-menu-toggle"> Herramientas <!--<img src="asd.jpg">--> </div> 
                        <div class="slideout-menu"> 
                        <h3>Herramientas<a rel="nofollow" rel="noreferrer" href="#" class="slideout-menu-toggle">×</a></h3> 
                        <ul> 
                            <li><a rel="nofollow" rel="noreferrer" href="#" id="AltaImpresoraBttn" class="">Nuevo modelo de impresora</a></li>
                            <li><a rel="nofollow" rel="noreferrer" href="#" id="ModImpresoraBttn" class="">Editar modelo de impresora</a></li> 
                            <li><input id="ModMArcaImpresora" name="ModMArcaImpresora" data-id="" type="text" placeholder="Marca" readonly><i class=""></i></li> 
                            <li><input id="ModModeloImpresora" name="ModModeloImpresora" type="text" placeholder="Modelo" readonly><i class=""></i></li> 
                            <li><a rel="nofollow" rel="noreferrer" href="#" id="AceptarModImpresora" class="hide">Aceptar</a></li>
                        </ul> 
                        </div> 
                        <h4 class="sub-title">Especificaciones</h4> 
                        <div class="col-1"> 
                        <fieldset> 
                            <legend>Info</legend> 
                            <div class="left col-2"> 
                            <div class="table"> 
                            <div class="row"> 
                            <div class="cell textright col-4"> <span>Tipo: </span> </div> 
                            <div class="cell textleft col-2-75"> 
                                <input type="text" id="PRTipo" name="PRTipo" data-id="" readonly> 
                            </div> 
                            </div> 
                            <div class="row"> <div class="cell textright col-4"> <span>Tecnologia: </span> 
                            </div> 
                            <div class="cell textleft col-2-75"> <input type="text" id="PRTecnologia" name="PRTecnologia" data-id="" readonly> </div> 
                            </div> <div class="row"> <div class="cell textright col-4"> <span>Rendimiento: </span> </div> 
                            <div class="cell textleft col-2-75"> <input type="text" id="PRRendimiento" name="PRRendimiento" data-id="" readonly> </div> 
                            </div> <div class="row"> <div class="cell textright col-4"> <span>Conectividad: </span> </div> 
                            <div class="cell textleft col-2-75"> <input type="text" id="PRConectividad" class="hide" name="PRConectividad" data-id="" placeholder="Seleccione" readonly> 
                            <div id="PRConectividades" name="" data-id="" readonly><ul class="tags"></ul></div> 
                            </div> 
                            </div> 
                            </div> 
                            </div> 
                            <div class="left col-2"> 
                            <div class="table"> 
                            <div class="row"> 
                            <div class="cell textright col-4"> <span>Insumos: </span> </div> 
                            <div class="cell textleft col-2-75"> <input type="text" id="PRInsumosTipo" class="hide" name="PRInsumosTipo" data-id="" placeholder="Tipo" readonly> <input type="text" id="PRInsumosCod" class="hide" name="PRInsumosCod" data-id="" placeholder="Codigo de insumo" readonly> 
                            <div id="PRInsumos" name="" data-id="" readonly><ul class="tags"></ul></div> 
                            </div> 
                            </div> 
                            </div> 
                            </div> 
                            </fieldset> 
                        </div> 
                        <!-- Clear --> 
                        <div class="clear"></div> <!-- Clear -->
                    </div>

                    <div id="MNselector">
						<div class="trigger slideout-menu-toggle">
							Herramientas <!--<img src="asd.jpg">-->
						</div>
						<div class="slideout-menu">
							<h3>Herramientas<a href="#" class="slideout-menu-toggle">×</a></h3>
							<ul>
								<li><a href="#" id="AltaMonitorBttn" class="">Nuevo modelo de monitor</a></li>
								<li><a href="#" id="ModMonitorBttn" class="">Editar modelo de monitor</a></li>
								<li><input id="ModMArcaMonitor" name="ModMArcaMonitor" data-id="" type="text" placeholder="Marca" readonly><i class=""></i></li>
								<li><input id="ModModeloMonitor" name="ModModeloMonitor" type="text" placeholder="Modelo" readonly><i class=""></i></li>
								<li><a href="#" id="AceptarModMonitor" class="hide">Aceptar</a></li>
							</ul>
						</div>
                        <h4 class="sub-title">Especificaciones</h4>
                        <div class="col-1">
                            <fieldset>
                                <legend>Info</legend>
                                <div class="left col-2">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Técnologia: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="MNTecnologia" name="MNTecnologia" data-id="" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Tamaño: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="MNTamaño" name="MNTamaño" data-id="" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Rel. Aspecto: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="MNRelAs" name="MNRelAs" data-id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left col-2">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Observaciones: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <textarea id="" name="MNObservaciones" data-id="" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="WSselector">
                        <div class="trigger slideout-menu-toggle">
                            Herramientas <!--<img src="asd.jpg">-->
                        </div>
                        <div class="slideout-menu">
                            <h3>Herramientas<a href="#" class="slideout-menu-toggle">×</a></h3>
                            <ul>
                                <li><input id="CopiarEquipo" type="text" placeholder="Copiar de equipo"><i class="fa fa-angle-right"></i></li>
                                <li><a href="javascript:void(0)" onclick="window.open('http://sofit.cba.gov.ar/Soft')">Programas de auditoria<i class="fa fa-angle-right"></i></a></li>
                                <li><a href="#" id="AltaComponentesBttn" class="">Nuevo Componente</a></li>
                            </ul>
                        </div>
                        <h4 class="classClaves sub-title">Claves</h4>
                        <div class="classAcceso left col-1">
                            <fieldset>
                                <legend>Acceso</legend>
                                <div class="left col-2">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Clave de BIOS: <img class="button" id="GenClaveBIOS" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="ClaveBIOS" name="ClaveBIOS" data-id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left col-2">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Sistema Operativo:</span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="OS" name="" data-id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left col-2">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Clave de Administrador:  <img class="button" id="GenClaveAdmin" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="ClaveAdmin" name="ClaveAdmin" data-id="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Clear -->
                        <div class="clear"></div>
                        <!-- Clear -->

                        <h4 class="sub-title">Especificaciones de Hardware</h4>
                        <div class="classWS col-1">
                            <fieldset id="RestoreHardware">
                                <legend>Componentes</legend>
                                <div class="left col-3-2">
                                    <div class="table">
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m textright col-10">
                                                <span>Motherboard </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="MotherRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Chipset</div>
                                                        <div class="cell th ui-widget-header" scope="col">Socket</div>
                                                        <div class="cell th ui-widget-header" scope="col">USB</div>
                                                        <div class="cell th ui-widget-header" scope="col">PCI-E</div>
                                                        <div class="cell th ui-widget-header" scope="col">AGP</div>
                                                        <div class="cell th ui-widget-header" scope="col">MEM</div>
                                                        <div class="cell th ui-widget-header" scope="col">SATA</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstMother">
                                                        <input type="hidden" id="Motherboard">
                                                        <div class="cell" id="MarcaMotherCell"></div>
                                                        <div class="cell" id="ModeloMotherCell"></div>
                                                        <div class="cell" id="ChipsetMotherCell"></div>
                                                        <div class="cell" id="SocketMotherCell"></div>
                                                        <div class="cell" id="USBMotherCell"></div>
                                                        <div class="cell" id="PCIEMotherCell">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="PCI-E" name="PCIAGP">
                                                                    <div class="smallchek"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cell" id="AGPMotherCell">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="AGP" name="PCIAGP">
                                                                    <div class="smallchek"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cell" id="RAMMotherCell"></div>
                                                        <div class="cell" id="SATAMotherCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m textright col-10">
                                                <span>CPU </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="MicroRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Frec</div>
                                                        <div class="cell th ui-widget-header" scope="col">Cache</div>
                                                        <div class="cell th ui-widget-header" scope="col">Socket</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstMicro">
                                                        <input type="hidden" id="CPU">
                                                        <div class="cell" id="MarcaMicroCell"></div>
                                                        <div class="cell" id="ModeloMicroCell"></div>
                                                        <div class="cell" id="FrecMicroCell"></div>
                                                        <div class="cell" id="CacheMicroCell"></div>
                                                        <div class="cell" id="SocketMicroCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-4">
                                                <span>HDD/SSD </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="DiscoRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                        <div class="cell th ui-widget-header" scope="col">Capacidad</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstDisco">
                                                        <input type="hidden" class="idHDD" id="HDD">
                                                        <div class="cell" id="MarcaDiscoCell"></div>
                                                        <div class="cell" id="InterfazDiscoCell"></div>
                                                        <div class="cell" id="CapacidadDiscoCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-4">
                                                <span>RAM </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="RamRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Tipo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Capacidad</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstRam">
                                                        <input type="hidden" id="RAM" class="idRAM" value="">
                                                        <div class="cell" id="MarcaRamCell"></div>
                                                        <div class="cell" id="TipoRamCell"></div>
                                                        <div class="cell" id="CapacidadRamCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>VIDEO </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="VideoRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstVideo">
                                                        <input type="hidden" class="idVIDEO" id="VIDEO">
                                                        <div class="cell" id="MarcaVideoCell"></div>
                                                        <div class="cell" id="ModeloVideoCell"></div>
                                                        <div class="cell" id="InterfazVideoCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>RED </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="RedRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Tecnologia</div>
                                                        <div class="cell th ui-widget-header" scope="col">Velocidad</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstRed">
                                                        <input type="hidden" class="idRED" id="RED">
                                                        <div class="cell" id="MarcaRedCell"></div>
                                                        <div class="cell" id="ModeloRedCell"></div>
                                                        <div class="cell" id="TecnologiaRedCell"></div>
                                                        <div class="cell" id="VelocidadRedCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>LECTOR ÓPTICO </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="OpticoRow">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Tipo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstOptico">
                                                        <input type="hidden" class="idOPTICO" id="LOPTICO">
                                                        <div class="cell" id="MarcaOpticoCell"></div>
                                                        <div class="cell" id="TipoOpticoCell"></div>
                                                        <div class="cell" id="InterfazOpticoCell"></div>
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>LECTOR DE TARJETAS </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="TarjetaSi" name="Tarjetas" disabled>
                                                                    <label for="TarjetaSi">SI</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="TarjetaNo" name="Tarjetas" disabled>
                                                                    <label for="TarjetaNo">NO</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>MOUSE </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="MouseUSB" name="Mouse" disabled>
                                                                    <label for="MouseUSB">USB</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="MousePS2" name="Mouse" disabled>
                                                                    <label for="MousePS2">PS2</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell th valing-m col-10 textright col-6">
                                                <span>TECLADO </span>
                                            </div>
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                        <div class="cell th ui-widget-header" scope="col">&nbsp;</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="TecladoUSB" name="Teclado" disabled>
                                                                    <label for="TecladoUSB">USB</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cell img-center">
                                                            <ul>
                                                                <li>
                                                                    <input type="radio" id="TecladoPS2" name="Teclado" disabled>
                                                                    <label for="TecladoPS2">PS2</label>
                                                                    <div class="check"><div class="inside"></div></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left col-3">
                                    <div class="table">
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img id="AddMother" class="button" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="marcaMother" name="marcaMother" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="modeloMother" name="modeloMother" data-id="" value="" placeholder="Modelo" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddMicro" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="marcaMicro" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="modeloMicro" name="" data-id="" value="" placeholder="Modelo" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="DiscoForm">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Capacidad</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddDisco" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="interfazDisco" name="" data-id="" value="" placeholder="Interfaz" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="marcaDisco" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="capacidadDisco" name="" data-id="" value="" placeholder="Capacidad" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="RamForm">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Tipo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Capacidad</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddRam" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="ramTipo" name="" data-id="" value="" placeholder="Tipo" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="ramMarca" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="ramCapacidad" name="" data-id="" value="" placeholder="Capacidad" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="VideoForm">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddVideo" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="videoInterfaz" name="" data-id="" value="" placeholder="Interfaz" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="videoMarca" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="videoModelo" name="" data-id="" value="" placeholder="Modelo" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="RedForm">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Técnologia</div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Modelo</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddRed" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="redTecnologia" name="" data-id="" value="" placeholder="Técnologia" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="redMarca" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="redModelo" name="" data-id="" value="" placeholder="Modelo" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="OpticoForm">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header" scope="col">Tipo</div>
                                                        <div class="cell th ui-widget-header" scope="col">Marca</div>
                                                        <div class="cell th ui-widget-header" scope="col">Interfaz</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddOptico" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="tipoOptico" name="" data-id="" value="" placeholder="Tipo" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="marcaOptico" name="" data-id="" value="" placeholder="Marca" readonly>
                                                        </div>
                                                        <div class="cell">
                                                            <input type="text" id="interfazOptico" name="" data-id="" value="" placeholder="Interfaz" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="SoftwareRow">
                                                    <div class="row row-th">
                                                        <div class="cell th add-rem ui-widget-header" scope="col"></div>
                                                        <div class="cell th ui-widget-header">Software</div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content">
                                                        <div class="cell img-center"><img class="button" id="AddSoftware" src="~/Areas/Soporte/Content/Inventario/images/add.png" readonly width="15"></div>
                                                        <div class="cell">
                                                            <input type="text" id="Software" name="" data-id="" value="" placeholder="Software" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="FirstSoft">
                                                        <div class="cell img-center" scope="col"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                        <div class="cell" id="SoftwareCell"></div>
                                                        <input id="SOFTWARE" class="idSOFTWARE" type="hidden" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cellspacing">
                                            <div class="cell col-3-2">
                                                <div class="table margin-b-3 bg-white" id="">
                                                    <div class="row row-th">
                                                        <div id="AltaComponentesBttn" class="cell th ui-widget-header button" scope="col" readonly>Nuevo Componente</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Clear -->
                        <div class="clear"></div>
                        <!-- Clear -->
                    </div>

                    <!-- Fin DETALLE -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Nuevo Hard Dialog -->
<div id="AltaComponentes" title="Alta de componentes">
    <div>
        <input id="NvHrdTipo" type="text" placeholder="Tipo" data-id />
        <!-- Alta de Mother -->
        <fieldset id="NuevaMother">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaMotherMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaMotherChipset" type="text" placeholder="Chipset">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaMotherSocket" type="text" placeholder="Socket">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaMotherModelo" type="text" placeholder="Modelo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell textright">
                            <label>Cant. USB</label>
                        </div>
                        <div class="cell textleft">
                            <input id="NuevaMotherUSB" type="text" placeholder="" size="2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell textright">
                            <label>Cant. SATA</label>
                        </div>
                        <div class="cell textleft">
                            <input id="NuevaMotherSata" type="text" placeholder="" size="2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell textright">
                            <label>Cant. RAM</label>
                        </div>
                        <div class="cell textleft">
                            <input id="NuevaMotherRAM" type="text" placeholder="" size="2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell textright">
                            <label for="NuevaMotherPCI" class="button">PCI</label>
                        </div>
                        <div class="cell textleft">
                            <ul>
                                <li>
                                    <input type="radio" id="NuevaMotherPCI" name="NewPCIAGP">
                                    <div class="smallchek"><div class="inside"></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell textright">
                            <label for="NuevaMotherAGP" class="button">AGP</label>
                        </div>
                        <div class="cell textleft">
                            <!--<input id="NuevaMotherAGP" type="radio" name="" />-->
                            <ul>
                                <li>
                                    <input type="radio" id="NuevaMotherAGP" name="NewPCIAGP">
                                    <div class="smallchek"><div class="inside"></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevaMother" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de Mother -->
        <!-- Alta de Micro -->
        <fieldset id="NuevoMicro">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoMicroMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoMicroSocket" type="text" placeholder="Socket">
                        </div>
                    </div>
                </div>
                <br>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoMicroModelo" type="text" placeholder="Modelo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoMicroVelocidad" type="text" placeholder="Velocidad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoMicroCache" type="text" placeholder="Cache">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevoMicro" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de Micro -->
        <!-- Alta de Disco -->
        <fieldset id="NuevoDisco">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoDiscoInterfaz" type="text" placeholder="Interfaz">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoDiscoMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                </div>
                <br>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoDiscoCapacidad" type="text" placeholder="Capacidad (Ej: 80)">
                        </div>
                    </div>
                </div>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoDiscoUM" type="text" placeholder="(Ej: GB)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevoDisco" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de Disco -->
        <!-- Alta de RAM -->
        <fieldset id="NuevaRam">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRamTipo" type="text" placeholder="Tipo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRamMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                </div>
                <br>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRamCapacidad" type="text" placeholder="Capacidad">
                        </div>
                    </div>
                </div>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRamUM" type="text" placeholder="(GB o MB)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevaRam" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de RAM -->
        <!-- Alta de Video -->
        <fieldset id="NuevoVideo">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoVideoInterfaz" type="text" placeholder="Interfaz">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoVideoMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                </div>
                <br>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoVideoModelo" type="text" placeholder="Modelo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevoVideo" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de Video -->
        <!-- Alta de Red -->
        <fieldset id="NuevaRed">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRedTecnologia" type="text" placeholder="Tecnología">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRedMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                </div>
                <br>
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRedModelo" type="text" placeholder="Modelo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevaRedVelocidad" type="text" placeholder="Velocidad (Ej 1Gbps)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevaRed" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de RAM -->
        <!-- Alta de OPtico -->
        <fieldset id="NuevoOptico">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoOpticoTipo" type="text" placeholder="Tipo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoOpticoMarca" type="text" placeholder="Marca">
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoOpticoInterfaz" type="text" placeholder="Interfaz">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevoOptico" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de OPtico -->
        <!-- Alta de Soft -->
        <fieldset id="NuevoSoft">
            <div class="left col-2">
                <div class="table margin-b-3">
                    <div class="row">
                        <div class="cell">
                            <input id="NuevoSoftAlta" type="text" placeholder="Descripción concisa">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col-1">
                <button id="AddNuevoSoft" type="button" class="ui-button ui-widget">Agregar</button>
            </div>
        </fieldset>
        <!-- Alta de Soft -->
    </div>
</div>
<!-- Nuevo Hard Dialog -->
<!-- Modal Trigger --> 
<span id="works_btn" class="button hide"></span> 
<!-- The Modal --> 
<div id="myModal" class="modal"> 
    <!-- Modal content --> 
    <div class="modal-content"> 
    <div class="modal-header"> 
        <span class="close">×</span> 
        <h3>Confirmar</h3> 
    </div> 
    <div class="modal-body ui-widget-content"> 
        <ul class="classMarca hide"> 
        <li class=""> 
            <span class="">Marca</span> 
            <input type="text" id="AddMarca" class=" select"> 
        </li> 
        </ul> 
        <ul class="classEnviar hide"> 
        <li class=""> 
            <span class="">Esta apunto de aceptar los cambios y actualizar los datos.</span> 
            <span class="">¿Desea continuar?</span> 
        </li> 
        </ul> 
        </div> 
    <div class="modal-footer"> 
        <div class=""> 
        <div class=" classEnviar hide"> 
            <button type="button" id="SendForm" class="button">
            <span class="">Aceptar</span></button> 
            </div> 
        <div class=" classMarca hide"> 
            <button type="button" id="SendMarca" class="button">
            <span class="">Agregar</span>
            </button> 
            </div> 
        </div> 
        </div> 
    </div> 
    </div> 
<!-- The Modal -->


