﻿@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Altas</title>
@{soporte.Models.usuarioBean user = null;
    try
    {
        user = (soporte.Models.usuarioBean)Session["usuario"];
        if (user != null)
        {
            @Styles.Render("~/Css/base")
            @Styles.Render("~/Css/InventarioSoporte")
            @Styles.Render("~/Css/themes/" + user.Personalizacion)
            @Scripts.Render("~/bundles/popup")           
        }

    }
    catch (Exception e)
    {
        Console.Write(e.Message);
    }
    <script>var imgPath = '@Url.Content("~/Content/img/")';</script>
}
</head>

<body>
    <section id="body" class="ui-widget-content" style="top:0">
        <div id="content-box" style="height: 100%">
            <div class="window bottom-0 col-1">
                <h4 class="ui-widget-header">Datos del equipo</h4>
                <div class="detalle" style="height: auto">
                    <div class="left col-1">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Identficacion</legend>
                            <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="">
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Oblea: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Tipo: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Marca: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Ubicacion</legend>
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Jurisdiccion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Ubicacion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <h4 id="SubmitEquipo" class="" style="background: rgba(0, 102, 0, 1);cursor: pointer; border-radius: 1px; margin: 0">Aceptar</h4>
            </div>
        </div>
        <div id="Error" title="Error" style="display: none">
            <p>Verifique los datos ingresados</p>
        </div>
    </section>
    <script>
        $(function () {
            window.pathServer = '';
            // Ubicacion
            window.getUbicacion = function () {
                //$('#Ubicacion').val('');
                // Send data
                // Ajax
                $.ajax({
                    data: { idJur: $("#Jurisdiccion").attr("data-Id") },
                    url: pathServer + 'Dependencias',
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function () {
                        // Show Loading
                        NProgress.start();
                    },
                    success: function (response) {
                        // Values
                        NProgress.done();
                        var raw = response;
                        var source = [];
                        var mapping = {};
                        for (var i = 0; i < raw.length; ++i) {
                            source.push(raw[i].Nombre);
                            mapping[raw[i].Nombre] = raw[i].idDependencia;
                        }
                        // Function
                        $('#Ubicacion').autocomplete({
                            source: source,
                            minLength: 0,
                            select: function (event, ui) {
                                var dataId = mapping[ui.item.value]
                                $(this).attr('data-id', dataId);
                            },
                            close: function () {
                                // Finish selection and make a blur
                                $(this).blur();
                            }
                        }).click(function (e) {
                            var disable = $(this).attr('readonly');
                            // Check input status
                            if (disable === 'readonly') {
                                // If input is readonly, diable functions
                                e.preventDefault();
                            }
                            else {
                                // If input is writable
                                // Clean val
                                $(this).val('');
                                // Trigger Search values on fucus
                                $(this).autocomplete('search');
                                // Trigger KeyDown on focus
                                //$(this).trigger(jQuery.Event("keydown"));
                            }
                        })
                    },
                    // On error
                    error: function (response, textStatus) {
                        // NOTIFICAION
                        NProgress.done();
                    }
                });
                // Ajax
                // Send data
            };
            //-->

            $('#Ubicacion').click(function (e) {
                var disable = $(this).attr('readonly');
                // Check input status
                if (disable === 'readonly') {
                    // If input is readonly, diable functions
                    e.preventDefault();
                }
                else {
                    // If input is writable
                    // Clean val
                    getUbicacion();
                }
            })
            // Jurisdiccion
            // Send data
            // Ajax
            $.ajax({
                url: pathServer + 'Jurisdicciones',
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    // Show Loading
                    NProgress.start();
                },
                success: function (response) {
                    NProgress.done();
                    // Values
                    var raw = response;
                    var source = [];
                    var mapping = {};
                    for (var i = 0; i < raw.length; ++i) {
                        source.push(raw[i].Nombre);
                        mapping[raw[i].Nombre] = raw[i].idJurisdiccion;
                    }
                    // Function
                    $('#Jurisdiccion').autocomplete({
                        source: source,
                        minLength: 0,
                        select: function (event, ui) {
                            var dataId = mapping[ui.item.value]
                            $(this).attr('data-id', dataId);
                            getUbicacion();
                        },
                        close: function () {
                            // Finish selection and make a blur
                            $(this).blur();
                        }
                    }).click(function (e) {
                        var disable = $(this).attr('readonly');
                        // Check input status
                        if (disable === 'readonly') {
                            // If input is readonly, diable functions
                            e.preventDefault();
                        }
                        else {
                            // If input is writable
                            // Clean val
                            $(this).val('');
                            // Trigger Search values on fucus
                            $(this).autocomplete('search');
                            // Trigger KeyDown on focus
                            //$(this).trigger(jQuery.Event("keydown"));
                        }
                    })
                    //-->
                },
                // On error
                error: function (response, textStatus) {
                    NProgress.done();
                }
            });
            // Ajax

            // Hardware
            // MARCA
            var FunctionMarca = function () {
                var $TipoEqupo = $('#idTipo').attr('data-id')
                switch ($TipoEqupo) {
                    case '1':
                        var $TipoData = { 'tipo': 8 }
                        break;
                    case '2':
                        var $TipoData = { 'tipo': 9 }
                        break;
                    case '3':
                        var $TipoData = { 'tipo': 10 }
                        break;
                    case '4':
                        var $TipoData = { 'tipo': 11 }
                        break;
                }
                $.ajax({
                    data: $TipoData,
                    url: pathServer + 'MarcasPorTipo',
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function () {
                        // Show Loading
                        NProgress.start();
                    },
                    success: function (response) {
                        // Show Loading
                        NProgress.done();
                        // Values
                        var raw = response;
                        var source = [];
                        var mapping = {};
                        for (var i = 0; i < raw.length; ++i) {
                            source.push(raw[i].Nombre);
                            mapping[raw[i].Nombre] = raw[i].idMarca;
                        }
                        // Function
                        $('#Marca').autocomplete({
                            source: source,
                            minLength: 0,
                            select: function (event, ui) {
                                var dataId = mapping[ui.item.value]
                                $(this).attr('data-id', dataId);
                            },
                            close: function () {
                                // Finish selection and make a blur
                                $(this).blur();
                            }
                        }).click(function (e) {
                            var disable = $(this).attr('readonly');
                            // Check input status
                            if (disable === 'readonly') {
                                // If input is readonly, diable functions
                                e.preventDefault();
                            }
                            else {
                                // If input is writable
                                // Clean val
                                $(this).val('');
                                // Trigger Search values on fucus
                                $(this).autocomplete('search');
                                // Trigger KeyDown on focus
                                //$(this).trigger(jQuery.Event("keydown"));
                            }
                        }).on('autocompletechange change', function () {
                            // Detect changes on input for check if need add value on database
                            var add = $(this).val();
                            var thisElem = $(this)
                            AgregarNuevaMarca(add, thisElem)
                        })
                    },
                    // On error
                    error: function (response, textStatus, tres) {
                        // create the notification
                        var notification = new NotificationFx({
                            wrapper: document.body,
                            message: tres,
                            layout: 'growl',
                            effect: 'genie',
                            type: 'error', // sussess, notice, warning or error
                            ttl: 3000,
                            onClose: function () {
                                bttn.disabled = false;
                            }
                        });
                        NProgress.done();
                        // show the notification
                        notification.show();
                    }
                });
            }
            // Ajax
            // Send data

            // Tipos de equipo
            $.ajax({
                url: pathServer + 'TiposEquipo',
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    // Show Loading
                    NProgress.start();
                },
                success: function (response) {
                    // Show Loading
                    NProgress.done();
                    // Values
                    var raw = response;
                    var source = [];
                    var mapping = {};
                    for (var i = 0; i < raw.length; ++i) {
                        source.push(raw[i].Nombre);
                        mapping[raw[i].Nombre] = raw[i].id;
                    }
                    // Function
                    $('#idTipo').autocomplete({
                        source: source,
                        minLength: 0,
                        select: function (event, ui) {
                            var dataId = mapping[ui.item.value]
                            $(this).attr('data-id', dataId);
                            FunctionMarca();
                        },
                        close: function () {
                            // Finish selection and make a blur
                            $(this).blur();
                        }
                    }).click(function (e) {
                        var disable = $(this).attr('readonly');
                        // Check input status
                        if (disable === 'readonly') {
                            // If input is readonly, diable functions
                            e.preventDefault();
                        }
                        else {
                            // If input is writable
                            // Clean val
                            $(this).val('');
                            // Trigger Search values on fucus
                            $(this).autocomplete('search');
                            // Trigger KeyDown on focus
                            //$(this).trigger(jQuery.Event("keydown"));
                        }
                    })
                },
                // On error
                error: function (response, textStatus) {
                    // NOTIFICAION
                }
            });
            // Ajax
            // Send data
            //-->

            // TRANFORM Uppercase
            $('#Oblea').keyup(function () {
                $(this).val(this.value.toUpperCase())
            })

            // Create dialog
            $('#Error').dialog({
                create: function (e, ui) {
                    // get the whole widget (.ui-dialog) with .dialog('widget')
                    // find the title bar element
                    $(this).dialog('widget').removeClass('ui-corner-all').find('.ui-dialog-titlebar, .ui-button').removeClass('ui-corner-all')
                    // alter the css classes
                    $(this).parent().css('z-index', '1000')
                },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                width: 220,
                height: 210,
                resizable: false,
                autoOpen: false,
                buttons: {
                    Cerrar: function () {
                        $(this).dialog('close')
                    } //end function for Ok button
                }//end buttons
            });
            // Create dialog

            //Send New Equipo
            $('#SubmitEquipo').on('click', function () {
                var $Oblea = $('#Oblea').val()
                var $Tipo = $('#idTipo').attr('data-id')
                var $Marca = $('#Marca').attr('data-id')
                var $Jurisdiccion = $('#Jurisdiccion').attr('data-id')
                var $Ubicacion = $('#Ubicacion').attr('data-id')


                // Validations
                if ($('#Oblea').val()) {
                    var Val = $Oblea;
                    var evalVal = /^WS\d{5}$|^WS-\d{5}-RHC$|^NB\d{5}$|^NB-\d{5}-RHC$|^PR\d{5}$|^MN\d{5}$|^VS\d{5}$|^SV\d{5}$|^FR\d{5}$|^D\d{3}NT\d{2}$|^KS\d{5}$/;

                    if (evalVal.test(Val)) {
                        var resOblea = 'ok';
                    }
                }

                if ($Tipo) {
                    var resTipo = 'ok';
                }

                if ($Marca) {
                    var resMarca = 'ok';
                }

                if ($Jurisdiccion) {
                    var resJurisdiccion = 'ok';
                }

                if ($Ubicacion) {
                    var resUbicacion = 'ok';
                }
                // Validations
                //-->

                if ((resOblea && resTipo && resMarca && resJurisdiccion && resUbicacion) === 'ok') {
                    var NewEquipo = new Object()
                    NewEquipo.Oblea = $Oblea
                    NewEquipo.Tipo = $Tipo
                    NewEquipo.Marca = $Marca
                    NewEquipo.Jurisdiccion = $Jurisdiccion
                    NewEquipo.Ubicacion = $Ubicacion
                    // Sending object
                    $.ajax({
                        data: NewEquipo,
                        url: pathServer + 'Inventario/CORREGIR URL',
                        type: 'post',
                        dataType: 'json',
                        beforeSend: function () {
                            // Show Loading
                            NProgress.start();
                        },
                        success: function (response) {
                            // Show Loading
                            NProgress.done();
                        },
                        error: function (response, textStatus) {
                            // Show Loading
                            NProgress.done();
                        }
                    })
                } else {
                    $('#Error').dialog('open')
                }
            })
            //Send New Equipo

        })
    </script>
</body>
</html>

