﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/materialize")
    @Styles.Render("~/Css/reglas")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/servicio8")
    <style>
        div.collapsible-body label {
            font-size: 1rem;
        }

        .body {
            overflow: auto;
        }
        .collapsible-header .bread {
            margin-right: 0 !important;
        }
    </style>
}
@model soporte.Models.Reglas.ReglasModel
@{
    HttpRequestBase req= Context.Request;
    string path = req.FilePath;
    string[] areas = path.Split('/');
    string area = areas[1];
    var uriBuilder = new UriBuilder(req.Url);
    var query = HttpUtility.ParseQueryString(uriBuilder.Query);
}
    <div class="section no-pad-bot main body" id="index-banner">
        
        <div class="container" style="overflow: auto; height: calc(100% - 50px);">
            <div class="fixed-action-btn">
                <a class="btn-floating tooltipped btn-large red" data-position="top" data-tooltip="Ir a realizar nuevo pedido" href="/Reglas"><i class="material-icons">create</i></a>
            </div>
            <div class="row">
					<form id="estado" action="" method="get">

						<div class="col s6">
							<h6>Filtrar por Estado</h6>
						</div>
						<div class="col s6">
							<h6>Filtrar por nro.pedido, IP, descripción o asunto</h6>
						</div>
						<div class="input-field col s6">
							<select name="es" id="es" class="selectFiltro">
								<option value="" selected>Seleccione</option>
								@{
                                    foreach (var a in Model.Estados)
                                    {
										<option value="@a.Id">@a.Nombre</option>
									}
								}
							</select>
							<label>Estado del pedido</label>
						</div>
                     </form>
                     <form id="busquedaPalabra" action="" method="get">
						<div class="input-field col s5">
							<input name="palabra" id="palabra" type="text" class="validate">
							<label for="palabra">Palabra clave</label>
						</div>
						<div class="col s1">
							<button class="btn-floating waves-effect" type="submit"><i class="material-icons">search</i></button>
						</div>
					 </form>
            </div>
            <div class="row">
                <div id="pedidos" class="col s12">
                    <h6>Listado de @Model.FiltroAplicado</h6>
                    <ul class="collapsible">
                        @{
                        if (Model.MisPedidos != null && Model.MisPedidos.Count > 0)
                        {
                             foreach (var v in Model.MisPedidos)
                             {
                                <li>
                                    <div class="collapsible-header @(v.TipoPedido=="Acceso Remoto" ? "teal lighten-4":"lime lighten-5")">
                                        <i class="material-icons">
                                        @{
                                            switch (v.Estado.Nombre)
                                            {
                                                case "Iniciado":@Html.Raw("access_alarm");
                                                break;
                                                case "ParaAutorizar":@Html.Raw("access_alarm");
                                                break;
                                                case "Realizado":@Html.Raw("done_all");
                                                break;
                                                case "Aprobado":@Html.Raw("done");
                                                break;
                                                case "Rechazado":@Html.Raw("cancel")
                                                break;
                                                case "Cancelado":@Html.Raw("cancel")
                                                break;
                                                default:@Html.Raw("schedule");
                                                break;
                                            }
                                        }
                                        </i>
                                        <span>Nro.Pedido:<em class="grey-text text-darken-2">@v.idPedido</em></span>
                                        <i class="material-icons bread">chevron_right</i>
                                        <span>Tipo de Pedido: <em class="grey-text text-darken-2">@v.TipoPedido</em></span>
                                        <i class="material-icons bread">chevron_right</i>
                                        <span>Estado: <em class="grey-text text-darken-2">@v.Estado.Nombre</em></span>
                                        <i class="material-icons bread">chevron_right</i>
                                        <span>Solicitante: <em class="grey-text text-darken-2">@v.Solicitante.displayName el @v.FechaPedidoStr</em></span>
                                    </div>
                            <div class="collapsible-body">
                                <h5>Detalles del pedido</h5>
                                <div class="row">
                                    <div class="col s2">
                                        <p class="grey-text text-darken-4">
                                            Nro.Pedido<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.idPedido</span>
                                        </p>
                                    </div>
                                    <div class="col s10">
                                        <p class="grey-text text-darken-4">
                                            Asunto<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Asunto</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="col s12 red lighten-4">
                                            <p>DESCRIPCIÓN</p>
                                        </div>
                                        <blockquote class="blue lighten-4">
                                            <p class="grey-text text-darken-2">&nbsp;</p>
                                            <p class="grey-text text-darken-2 pre-text">@v.Descripcion</p>
                                            <p class="grey-text text-darken-2">&nbsp;</p>
                                        </blockquote>
                                    </div>
                                </div>
                               
                                @if (v.TipoPedido == "Regla de Acceso")
                                {
                                    <div class="row">
												        <div class="col s12">
													        <div class="col s12 red lighten-4">
														        <p>REGLAS</p>
													        </div>
													        <blockquote class="blue lighten-4">
														        <p class="grey-text text-darken-2">&nbsp;</p>
                                                                <div class="row">
                                                                    <div class="col s11">
                                                                        <ul class="collection">
                                                                            <li class="collection-item transparent">
                                                                                <div class="row">
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left origen">keyboard_capslock</i>
                                                                                            <span class="col s10">Origen</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left destino">last_page</i>
                                                                                            <span class="col s10">Destino</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left destino">contacts</i>
                                                                                            <span class="col s10">Usuario</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>														        
														        <div class="row">
															        <div class="col s11">
																        <ul class="collection">
																	        @foreach (var r in v.Reglas)
																	        {
																		        <li class="collection-item">
																			        <div class="row">
																				        <div class="col s4">
																					        <div class="row">
																								  <i class="material-icons left origen">keyboard_capslock</i>
																						        @if (r.Origen.Tipo == "Host")
																						        {
																							        <span class="col s10">@r.Origen.Nombre</span>
																							        <span class="col s10">@r.Origen.Ip</span>
																						        }
																						        else if (r.Origen.Tipo == "Red")
																						        {
																							        <span class="col s12">@r.Origen.Ip</span>
																						        }
																					        </div>
																				        </div>
																				        <div class="col s4">
																							  <i class="material-icons left destino">last_page</i>
																					        <div class="row">
																						        @if (r.Destino.Tipo == "Host")
																						        {
																							        <span class="col s10">@r.Destino.Nombre</span>
																							        <span class="col s10">@r.Destino.Ip</span>
																						        }
																						        else if (r.Destino.Tipo == "Red")
																						        {
																							        <span class="col s12">@r.Destino.Ip</span>
																						        }
																					        </div>
																				        </div>
																				        <div class="col s4">
																					        <div class="row">
																								  <i class="material-icons left">contacts</i>
																						        <span class="col s6">@r.Usuario.displayName</span>
																						        <span class="col s6">@r.Usuario.nombre</span>
																					        </div>
																				        </div>
																			        </div>
																		        </li>
																	        }
																        </ul>
															        </div>
														        </div>
														        <p class="grey-text text-darken-2">&nbsp;</p>
													        </blockquote>
												        </div>
											        </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <p class="grey-text text-darken-4">
                                                Puertos solicitados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@String.Join(",", v.puertos.ToArray())</span>
                                            </p>
                                        </div>
                                        <div class="col s6">
                                            <p class="grey-text text-darken-4">
                                                Protocolos solicitados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@String.Join(",", v.protocolos.ToArray()).ToUpper()</span>
                                            </p>
                                        </div>
                                    </div>
                                }//if regla de acceso
                                else//acceso remoto
                                {
                                    <div class="row">
                                        <div class="col s3">
                                            <p class="grey-text text-darken-4">
                                                Orígen Acceso<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.OrigenAcceso</span>
                                            </p>
                                        </div>
                                        @{
                                            if (v.HostAcceso != null)
                                            {
                                            <div class="col s3">
                                                <p class="grey-text text-darken-4">
                                                    Oblea<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.HostAcceso.Nombre</span>
                                                </p>
                                            </div>
                                            <div class="col s3">
                                                <p class="grey-text text-darken-4">
                                                    Ip<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.HostAcceso.Ip</span>
                                                </p>
                                            </div>
                                            }
                                            if (v.TipoAcceso!=null)
                                            {                                            
                                               <div class="col s3">
                                                   <p class="grey-text text-darken-4">
                                                            Tipo Acceso<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.TipoAcceso</span>
                                                    </p>
                                               </div>                                            
                                            }
                                        }
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12 red lighten-4">
                                                <p>DETALLE ACCESO</p>
                                            </div>
                                            <blockquote class="blue lighten-4">
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                                <p class="grey-text text-darken-2 pre-text">@v.DetalleAcceso</p>
                                                <p class="grey-text text-darken-2">&nbsp;</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    if (v.Estado.Nombre == "Iniciado")
                                    {
                                        <div class="row input-field autorizante2">
                                            <div class="col s4">
                                                <select class="selAutorizante">
                                                    <option value="">Seleccione</option>
                                                    @{
                                                        foreach (var a in Model.Autorizantes)
                                                        {
                                                            <option value="@a.id">@a.nombre</option>
                                                        }
                                                    }
                                                </select>
                                                <label>Seleccione el autorizante</label>
                                            </div>
                                            <div class="col s4">
                                                <select class="tipoAcceso">
                                                    <option value="">Seleccione</option>
                                                    @{
                                                        foreach (var a in Model.TiposAcceso)
                                                        {
                                                            <option value="@a.Id">@a.Nombre</option>
                                                        }
                                                    }
                                                </select>
                                                <label>Seleccione el Tipo de Acceso</label>
                                            </div>
                                        </div>
                                    }//if estado iniciado

                                    <div class="row">
                                        <div class="col s6">
                                            <p class="grey-text text-darken-4">
                                                Usuario<i class="material-icons bread">chevron_right</i><span class="grey-text text-darken-2">@v.UsuarioAcceso.displayName</span>
                                            </p>
                                        </div>
                                        <div class="col s6">
                                            <p class="grey-text text-darken-4">
                                                CUIL<i class="material-icons bread">chevron_right</i><span class="grey-text text-darken-2">@v.UsuarioAcceso.nombre</span>
                                            </p>
                                        </div>
                                    </div>
                                } 
                                
                                <div class="row">
                                    <div class="col s6">
                                        <p class="grey-text text-darken-4">
                                            Jurisdicción<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Jurisdiccion</span>
                                        </p>
                                    </div>
                                    <div class="col s6">
                                        <p class="grey-text text-darken-4">
                                            Dependencia<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Dependencia</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s4">
                                        <p class="grey-text text-darken-4">
                                            Vencimiento<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.DiasVencimiento días</span>
                                        </p>
                                    </div>
                                    <div class="col s4">
                                        <p class="grey-text text-darken-4">
                                            Autorizante<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@(@v.Autorizante != null ? @v.Autorizante.displayName : "N/A")</span>
                                        </p>
                                    </div>
                                    <div class="col s4">
                                        <p class="grey-text text-darken-4">
                                            Ticket Asociado<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@(v.Ticket == null ? "Sin Ticket Asociado" : @v.Ticket.Numero)</span>
                                        </p>
                                    </div>
                                </div>
                                @if (v.TipoPedido=="Regla de Acceso"&v.Estado.Nombre=="Autorizar")
                                {
                                    <div class="row">
                                        <div class="col s12">
                                            <p class="grey-text text-darken-4">
                                                Dueño de los datos que tiene actualmente la aprobación<i class="material-icons bread">chevron_right</i>
                                                <span class="grey-text text-darken-2">
                                                    @v.Aprobador.displayName
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                @if (((v.MiRol == "Autorizante" | Model.esAdmin) & v.Estado.Nombre == "Iniciado" & v.TipoPedido=="Regla de Acceso")|
                                    (v.Estado.Nombre=="Verificar"&(v.MiRol=="Autorizante"|Model.esAdmin)))
                                {
                                    <div class="row input-field">
                                        <div class="col s4">
                                           <select class="priority">
                                             <option disabled selected>Seleccione</option>
                                                 @foreach(var u in Model.Prioridad)
                                                 {
                                                     <option value="@u.Id">@u.Nombre</option>
                                                 }															
										    </select>
                                            <label>Seleccione la prioridad</label>
                                        </div>
                                    </div>
                                }
                                @if (v.Prioridad != null)
                                {
                                    <div class="row">
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">
                                                Prioridad<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Prioridad</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                @if ((Model.esAdmin) & v.Estado.Nombre == "Aprobado")
                                {
                                    <div class="row input-field autorizante2">
                                        <div class="col s4">
                                            <select class="autorizante2">
                                                <option value="">Seleccione</option>
                                                @{
                                                    foreach (var a in Model.Autorizantes)
                                                    {
                                                        <option value="@a.id">@a.nombre</option>
                                                    }
                                                }
                                            </select>
                                            <label>Seleccione el dueño de los datos</label>
                                        </div>
                                    </div>
                                }
                                @if (v.Estado.Nombre == "ParaAutorizar")
                                {
                                    <div class="row">
                                        <div class="col s4">
                                            <p class="grey-text text-darken-4">
                                                Autorizante para aprobar<i class="material-icons bread">chevron_right</i>  <span class="grey-text text-darken-2">@v.Aprobador.displayName</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="divider"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4">
                                        <h6>Movimientos</h6>
                                        <a class="btn green darken-3 btnMov" href="#!">Ver</a>
                                        <div class="modal modal-fixed-footer">
                                            <div class="modal-content">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Estado</th>
                                                            <th>Técnico</th>
                                                            <th>Fecha Comienzo</th>
                                                            <th>Fecha Hasta</th>
                                                            <th>Observaciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var y in v.DetalleEstados)
                                                        {
                                                            <tr>
                                                                <td>@y.Estado</td>
                                                                <td>@y.Tecnico</td>
                                                                <td>@y.FechaDesde</td>
                                                                <td>@y.FechaHasta</td>
                                                                <td>@y.Observaciones</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat green darken-3">Aceptar</a>
                                            </div>
                                        </div><!--modal movimientos-->
                                    </div>
                                    <div class="col s6 offset-s2">
                                        
                                        @Html.Raw("<input type='hidden' class='estadoActual' value='" + v.Estado.Nombre + "'/>")
                                        @{
                                            if (v.Acciones != null)
                                            {
                                                <h6>Acciones</h6>
                                                foreach (var w in v.Acciones)
                                                {
                                                    @Html.Raw("<a class='btn green darken-3 btnAction' href='#!'data-url='" + w + "' data-idPedido='" + v.idPedido + "'>" + @w + "</a>");
                                                    @Html.Raw("&nbsp;");
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                          </li>
                          }//fin foreach pedido
                                                
                        }
                        else
                        {
                            <li>
                                <div class="collapsible-header"><i class="material-icons">block</i><span>Sin pedidos</span></div>
                            </li>
                        }
                        }
                        </ul>
                    </div>

                    <ul class="pagination">
                        @{
                            //string thisPage = Request.Url.ToString().Split('/').Last();
                            string thisPage = uriBuilder.Uri.Segments.Last();
                            int intThisPage = 0;
                            Int32.TryParse(thisPage, out intThisPage);
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            var stat=query["es"];
                            var word=query["palabra"];
                            for (int i = 1; i < Model.CantidadPaginasPedidos + 1; i++)
                            {
                                if ((intThisPage == 0 & i == 1) | intThisPage == i)
                                {
                                    <li class="waves-effect active"><a href="/@(area)/Servicio8/@i@(stat!=null|word!=null?"?"+query.ToString():"")">@i</a></li>
                                }
                                else
                                {
                                <li class="waves-effect"><a href="/@(area)/Servicio8/@i@(stat!=null|word!=null?"?"+query.ToString():"")">@i</a></li>
                                }
                            }
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="modalObs" class="modal">
            <div class="modal-content">
                <h6 class="blue-text text-lighten-2">Ingrese su comentario</h6>
                <div class="input-field">
                    <input type="text" id="observ" name="observ" />
                    <label for="observ">Observaciones</label>
                    <div class="errorTxtObs"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="enviarObs">Listo</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>