#inventario{
	padding: 0 !important;
	height: calc(100% - 160px);
	overflow: auto;
}

/* CMDB */
.cmdb-elements > a {
	padding: 10px 15px;
	margin: 2px 1px;
	max-width: 250px;
	display: inline-block;
	cursor: pointer;
	background:#ccc;
	border-radius: 2px;
	color: black;
}
.cmdb-elements > a > img {
	vertical-align: middle;
	float: left;
}

.cmdb-table {
	width: 100%;
		color:#333;
}
.cmdb-table a{
	color:rgb(0,153,0);
	text-shadow:0 0 1px rgba(0,0,0,0.5);
}
.cmdb-table tbody td.Oblea, .cmdb-table tbody td.TipoEquipo{
	text-align:center;
}
.cmdb-table > thead > tr:not(:first-child) {
	background: lightgrey;
}
.cmdb-table > thead > tr > th{
	text-align: center;
}
.cmdb-table > thead > tr > td >  #inputPag{
	width: 35px;
}
.cmdb-table > thead > tr > td > #BuscadorTabla{
	width: 250px ;
}

.cmdb-table > tbody > tr:nth-child(odd) {
	background: lightblue;
}
.cmdb-table > tbody > tr:nth-child(even) {
	background: lightcyan;
}
.cmdb-table > tbody > tr:hover {
	background: whitesmoke;
}
.cmdb-table tr > .idEquipo, .cmdb-table tr > .MyProperty, .cmdb-table tr > .NroSerie, .cmdb-table tr > .NroSerie, .cmdb-table tr > .Relaciones, .cmdb-table tr > .Servicio8, .cmdb-table tr > .GestionesCambio {
	display: none;
}
.cmdb-table tr > .Observaciones {
	width: 50%;
}

.cmdb-table button{
	/* padding: 2px 5px; */
	margin: 0 2px;
}


#cmdb-body .spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

#cmdb-body .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#cmdb-body .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

#cmdb-body .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
			-webkit-transform: scale(0);
			transform: scale(0);
	} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
	}
}

/* tabs */
.ui-tabs{
	padding: 0 !important;
}
.ui-tabs-panel{
	padding: 3px 2px !important;
}
.ui-tabs-panel .divBlock{
	min-width: 110px;
	min-height: 40px;
	padding: 5px 10px;
	margin:  0 2px 4px;
	background: #AFAFAF;
	display: inline-block;
	border-radius: 2px;
	white-space: pre-wrap;
}
.ui-tabs-panel .divBlock h5{
	margin: 0;
	padding: 0;
	font-size: 18px;
}
.ui-tabs-panel #resultado-busqueda{
	margin: 3px 0 0 0;
}

/* BUSCADOR DE EQUIPOS */
#resultado-busqueda > .detalle{
	font-size: .85em;
}

#resultado-busqueda > .detalle .cell input, #resultado-busqueda > .detalle .cell textarea{
	width: 95%;
	/*width: 88%; Usar en caso de tener copia con jQuery */
	resize: none;
}

#resultado-busqueda > .detalle .cell textarea{
	height: 70px;
}

#resultado-busqueda > .detalle input[type=text], #resultado-busqueda > .detalle textarea{
	margin: 1px;
	padding: 2px;
	/*background: rgba(250,250,250,.95);
	border: hidden;*/
	
	appearance: normal;
	-moz-appearance: normal; /* Firefox */
	-webkit-appearance: normal; /* Safari and Chrome */
}

#resultado-busqueda > .detalle input[type=text].error, #resultado-busqueda > detalle textarea.error, .modal input[type=text].error{
	box-shadow: 0 0 2px #F00 inset;
}

#resultado-busqueda > .adicionales {
	float: left;
	width: 58.5%;
	margin: 2px 0 0 2px;
	padding: 0 5px;
	border: none !important;
}
#resultado-busqueda > .relacionesEC {
	float: right;
	width: 38.5%;
	margin: 2px 2px 0 0;
	padding: 0 5px;
	border: none !important;
}


.mrow {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.mrow .col {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 .75rem;
	min-height: 1px;
}
.mrow .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.mrow .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.mrow .col.s4 {
	width: 33.3333333333%;
	margin-left: auto;
	left: auto;
	right: auto;
}
    .mrow .col.s5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
     
    }
.mrow .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

/* THEME */
/* FLOATS */
.righty {
	float: right !important;
}
.lefty {
	float: left!important;
}
.hide{
  display: none;
}

/* COLS */
.col-1{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100% !important;
}
.col-2{
	margin: 0;
	padding: 0;
	width: 50%;
	max-width: 50% !important;
}
.col-3{
	margin: 0;
	padding: 0;
	width: 33.33%;
	max-width: 33.33% !important;
}
.col-4{
	margin: 0;
	padding: 0;
	width: 25%;
	max-width: 25% !important;
}
.col-5{
	margin: 0;
	padding: 0;
	width: 20%;
	max-width: 20% !important;
}
.col-6{
	margin: 0;
	padding: 0;
	width: 16.6%;
	max-width: 16.6% !important;
}
.col-10{
	margin: 0;
	padding: 0;
	width: 10%;
	max-width: 10% !important;
}
.col-90{
	margin: 0;
	padding: 0;
	width: 90%;
	max-width: 90% !important;
}
/* SPECIAL COLS */
.col-2-75{
	margin: 0;
	padding: 0;
	width: 75%;
	max-width: 75% !important;
}
.col-3-2{
	margin: 0;
	padding: 0;
	width: 66.66%;
	max-width: 66.66% !important;
}
.col-6-2{
	margin: 0;
	padding: 0;
	width: 83.4%;
	max-width: 83.4% !important;
}
.col-10-2{
	margin: 0;
	padding: 0;
	width: 56.6%;
	max-width: 56.6% !important;
}
/* COLS */
/* TABLA DIV */
.table {
	position: relative;
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
	padding: 0 3px;
	vertical-align: top;
}
.th {
	font-weight: bolder;
	font-size: 1.2em;
}
.row-td{
	background-color:#E5E5E5;
	/*color:#000066;*/
}
.row-th{
	background-color:#006699;
	color:white;
}
.caption {
    display: table-caption;
    caption-side: bottom;
    border: 1px solid grey;
}
.cellspacing{
    border-spacing: 2px;
}
.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}
.valing-t{
	vertical-align: top;
}
.valing-m{
	vertical-align: middle;
}
.valing-b{
	vertical-align: bottom;
}
.rowClear{
	height: 18px;
}
.height-row{
	height: 100%;
}
.height-cell{
	height: 100%;
}
.height-fieldset{
	height: 85%;
}
fieldset{
	margin-bottom: 5px;
	margin-top:5px;
	min-height: 148px;
	/*background: #09C;
	background: rgba(101, 162, 219, .7);
	/*border: 1px solid #06F;
	border: 1px solid rgba(50, 188, 238, 0.95);*/
	border-radius: 2px;
	text-shadow: 0 0 1px rgba(255,255,255,.8)
}