div.icon{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}
#fichaEc {    
    width: 420px;
    min-height:100px;
    display: none;
    background: rgba(235,235,235,0.9);
    border: 1px #666 solid;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
#fichaEc .top{
height: 82%;
padding: 5px 0;
}
.topright{
    position:absolute;
    right:0px;
}
#fichaEc .bot{
height: 15%;
padding: 5px 3px;
border-top: 1px #666 solid;
}
#fichaEc input, #fichaEc textarea {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#fichaEc .datosEl {
        width: 295px !important;
        background: transparent !important;
        border: 0 !important;
        padding: 3px 5px 3px 120px !important;
        margin: 3px 0 !important;
        color: #000 !important;
}
#fichaEc input:read-only, #fichaEc input[readonly], #fichaEc select:disabled{
color: #000;
}
#fichaEc label {
    position: absolute;
    padding: 1px 5px !important;
    text-align: right;
    width: 100px;
}
#fichaEc label:after {
        display: block;
        padding: 5px 7px !important;
        background-color: rgba(50, 50, 50, 0.85);
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.9);
}
#fichaEc #labelFecha:after{
content: "Fecha";
}
#fichaEc #labelLB:after{
content: "Datos";
}
#fichaEc #labelObservaciones:after{
content: "Datos";
}

.content3{
	position: fixed;
	top: 105px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
    overflow:auto;
}
.pOblea{
    margin:0;
}
.contenidos {
	/*position: fixed;
	top: 155px;
	right: 0;
	bottom: 0;
	left: 0;*/
	width: 100%;
	height: 100%;
	padding: 1px 0 !important;
	font-family: Calibri;
	cursor: initial !important;
}
.contenidos > .lineasbase {
	position: relative;
	float: left;
	width: 270px;
	height: calc(100% - 150px);
	border: 0;
	/*border-right: 1px;*/
	border-right-color: rgba(60, 60, 60, 1);
	border-style: solid;
	background: rgba(150,150,150,.1);
	box-shadow: 0 0 1px 1px rgba(60, 60, 60, .60);
	overflow: auto;
}
.contenidos > .lineasbase  ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.contenidos > .lineasbase ul li ul li {
    padding-left:20px;
}
.contenidos > .lineasbase a {
	text-decoration: none;
	/*color: #333;*/
}
.contenidos > .lineasbase li#nuevaLB {
	background: rgb(0, 153, 0) none repeat scroll 0% 0% !important;
	color: #FFF;
	cursor: pointer;
}
.contenidos > .lineasbase > ul > li {
	padding: 3px 5px;
	border: 1px #333 solid;
	border-top: 0;
	border-right: 0;
    cursor:pointer;
}
.contenidos > .lineasbase > ul > a:nth-child(odd) > li {
	background: rgba(164, 205, 244, .75);
}
.contenidos > .lineasbase > ul > a:nth-child(even) > li {
	background: rgba(164, 205, 244, .45);
}
.contenidos > .lineasbase > ul > a:hover > li {
	background: rgba(164, 205, 244, 1);
}

.contenidos > .buscador {
	position: relative;
	/*width: 30%;*/
	/*height: calc(50% - 115px);*/
	height: 105px;
	padding: 5px 10px;
	margin: 0;
	background: rgba(150,150,150,.1);
	display: block;
	overflow: auto;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, .9);
}

.contenidos > .buscador > .buscadores {
	width: calc(30% - 25px);
	margin: 0 5 px 5px;
	float: left;
}
.contenidos > .buscador > .buscadores > input {
	width: 100%;
	height: 35px;
	padding: 0 5px;
	margin: 5px 0;
	background: rgba(190, 190, 190, .3);
	border: 1px #333 solid;
	border-radius: 2px;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	box-shadow: 0 0 4px 0 rgba(80, 80, 80, .65) inset;
	transition: all 200ms ease;
}
.contenidos > .buscador > .buscadores > input:hover {	
	box-shadow: 0 0 6px 0 rgba(80, 80, 80, .9) inset;
}
.contenidos > .buscador > .buscadores > input::placeholder {
	font-size: 15px;
	text-transform: none;
}

.contenidos > .buscador > #trash {
	float: left;
	width: calc(24.5% - 15px);
	max-width: calc(39.5% - 15px);
	height: 85px;
	margin: 5px 0 0 30px;
	display: block;
}
.contenidos > .buscador > #trash:hover {
	box-shadow: 0 0 3px 0 #333 insets;
}
.contenidos > .buscador > #trash > .elemContent {
	float: left;
	padding: 5px;
	width: 100%;
	background: #00A8E6;
	text-align: center;
	border: 1px #0075C7 solid;
	list-style: none;
	border-radius: 2px;
	box-shadow: 0 0 4px 0 rgba(80, 80, 80, .5);
	transition: all 250ms ease;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		 -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
											supported by Chrome and Opera */
}
.contenidos > .buscador > #trash > .elemContent:hover {
	opacity: 0.80;
}
.contenidos > .buscador > #trash > .elemContent:active {
	opacity: 0.55;
}
.contenidos > .buscador > #trash > .elemContent > div{
	width: 100%;
	height: 46px;
	margin: 25px 0 0;
	text-shadow: 0 0 3px #FFF;
}

.contenidos > .buscador > .botones {
	float: right;
	width: 25%;
	padding: 5px 0;
}
.contenidos > .buscador > .botones > button {
	width: 100%;
	height: 40px;
	transition: all 250ms ease;
}
.contenidos > .buscador > .botones > .aceptar {
	background: rgb(0, 153, 0) none repeat scroll 0% 0%;
	color: #FFF;
	border: 1px solid green
}
.contenidos > .buscador > .botones > .cancelar {
	background: #E1E1E1;
	border: 1px solid #C0C0C0;
}
.contenidos > .buscador > .botones > button:hover {
	opacity: 0.75;
}

.contenidos > .lineabase {
	width: 150px;
	height: 45px;
	padding: 5px 0;
	margin: 0 auto;
}
.contenidos > .lineabase > .infos {
	text-align: center;
}
.contenidos > .lineabase > .infos > input {
	padding: 5px 8px;
	border: 0;
	font-size: 20px;
    text-transform:uppercase;
}
.contenidos > .lineabase > .infos > span {
	color: #444;
	font-size: 17px;
    display:inline-block;
}
.contenidos > .lineabase > .infos > .inputerror{
	background: rgba(250, 25, 0, .45);
	border: 1px orangered solid;
	border-radius: 2px;
	color: white;
	text-shadow: 0 0 1px black;
}

.contenidos > .timeline > ol > li > div{
    cursor:pointer;
}

/* UI AUTOCOMPLETE */
.ui-autocomplete{
	max-height: 200px;
    overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item{
    overflow-y: hidden;
	overflow-x: hidden;
}