.timeline {
	white-space: nowrap;
	overflow-x: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		 -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
											supported by Chrome and Opera */
}

.timeline ol {
	font-size: 0;
	width: 100vw;
	padding: 140px 0;	
    position:relative;
}

.timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 50px;
	height: 3px;
	background: #88A7C5;
}

.timeline ol li:last-child {
	width: 50px;
}

.timeline ol li:not(:first-child) {
	margin-left: 14px;
}

/*.timeline ol li:not(:last-child)::after {*/
.timeline ol li::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 1px);
	bottom: 0;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #00A8E6;
}

/*** Items ***/
.timeline ol li div {
	position: absolute;
	left: calc(100% + 7px);
	/*width: 280px;*/
	padding: 15px;
	font-size: 1rem;
	white-space: normal;
	color: black;
	background: #A4CDF4;
}

.timeline ol li div::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
}

/*** Pares ***/
.timeline ol li:nth-child(odd) div {
	top: -16px;
	transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
	top: 100%;
	border-width: 8px 8px 0 0;
	border-color: #A4CDF4 transparent transparent transparent;
}

/*** Impares ***/
.timeline ol li:nth-child(even) div {
	top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
	top: -8px;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent #A4CDF4;
}

/*** Navegacion ***/
.timeline .arrows {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
 }

.timeline .arrows button{
	background: none;
	border: none;
}
  
 .timeline .arrows .arrow__prev {
	margin-right: 20px;
 }
  
 .timeline .disabled {
	opacity: .5;
 }
  
 .timeline .arrows img {
	width: 45px;
	height: 45px;
 }