﻿@{
    ViewBag.Title = "Sin Permiso";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";    
}
@model soporte.Models.usuarioBean
@section heads{
    @Styles.Render("~/Css/base")
    @Scripts.Render("~/bundles/base")
    
    <script>
        var urlhome = "@ViewBag.home"
        setTimeout(function () { window.location.href = urlhome }, 3000);        
    </script>
}

<h2 style="margin:130px auto; color:maroon; width:300px;">Su perfil no permite el acceso a esta página. </h2>

