﻿.col-4{
    box-sizing:border-box;
    font-size:13px;
}
.col-2-75{
    box-sizing:border-box;
    font-size:13px;
}
.fieldsetStd{
    min-height:125px;
}
.fieldsetHalf{
    width:49%;
}
.fieldsetContainer{
    width:49%;
    display:inline-block;
    height:100%;
}
.fieldHeight{
   height:100%;
   margin:0 10px;
   padding:0 10px;
}
.inlineBlock{
    display:inline-block;
}
.insideWindow{    
    min-height:100%;
    max-height:100%;
    max-width:100%;
}
.fullHeight{
    min-height:100%;
    max-height:100%;
    height:100%;
    margin:0;
    padding:0;
}
.halfHeight{
    min-height:50%;
    max-height:50%;
}
.fullWidth{
    width:100%;
}
.tableColumn{
    display:table-column;
}
.tableCell{
    display:table-cell;
}
.table{
    display:table;
    table-layout:fixed;
}
.tablenotfixed{
    display:table;
}
.block{
    display:block;
}
.dbasic{
    height:25%;
    padding:10px 0;
    max-height:132px;
}
.dExtra{
    height:63%;
    padding:10px 0;
    max-height:336px;
}
html,body{
    height:100%;
}
.inputInventario{
    padding:2px;
    margin:1px; 
    width:63%;  
}
.labelInventario{
    float:left;
    margin:4px 6px 0 0;
    text-align:right;
    width:25%;
}
.tAreaInventario{
    width:63%;
    height:100px;
}
.ulMenu{
    padding:10px;
}
.ulMenu li{
    list-style:outside none none;
    margin:5px;
}
.icon
{
	width:20px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
    cursor:pointer;	
}
.searchBar_input input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #999999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 80%;
    left: 15px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 240px;
    z-index: 2;
}
#body{    
    overflow:auto;    
}
#content-box>div:first-child{
    overflow:auto;
}
div.rotatedEnlaces{
    height:100%;
    position:absolute;
    top:0;
    left:0;
    width:35px;
    transition:all 1s ease 0s; 
    overflow:hidden;
}
h2.enlaceRotated{
    writing-mode:tb-rl;
    transform:rotate(0deg);
    height:100%;
    text-align:center;
}
div.dataRelated{
    position:absolute;
    top:0;
    left:40px;
    transition:all 1s ease 0s; 
}
.ulcont{
    max-height:85%;
    overflow:auto;
}
.cell textarea{
	width: 95%;
	/*width: 88%; Usar en caso de tener copia con jQuery */
	resize: none;
    height: 70px;

}
.cell textarea, .cell input{
    margin: 1px;
	padding: 2px;
	/*background: rgba(250,250,250,.95);
	border: hidden;*/
	
	appearance: normal;
	-moz-appearance: normal; /* Firefox */
	-webkit-appearance: normal; /* Safari and Chrome */
}
.cell input{
    width: 95%;
	/*width: 88%; Usar en caso de tener copia con jQuery */
	resize: none;
}