﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SOFIT</title>
	<link rel="shortcut icon" href="~/favicon.png" />
	<style>
				/* CSS Document */
				/* NORMALIZE */
				* {
					outline: 0;
				}

				.preload {
					display: none;
				}

				.avatar {
					vertical-align: middle;
					max-width: 30px;
					max-height: 30px;
					border-radius: 50%;
					image-orientation: from-image;
				}

				.labelMail {
					float: left;
					padding: 0 5px;
					text-align: right;
					width: 12%;
				}

				.ulMail {
					padding-left: 20px;
				}

					.ulMail li {
						list-style: outside none none;
						margin: 2px;
						padding: 4px 0;
						text-decoration: none;
					}

				.inputMail {
					height: 14px;
					width: 452px;
				}

				.textMail {
					background-color: white;
					border: 1px solid #ccc;
					border-radius: 3px;
					display: inline-block;
					padding: 5px;
					width: 446px;
					height: 98px;
				}

				a {
					color: inherit;
					text-decoration: none;
				}

				/* HEADER */
				#header_fixed {
					position: fixed;
					top: 0;
					width: 100%;
					color: #c9aa71;
					/*z-index: 999;*/
				}

					#header_fixed > #header_user {
						height: 40px;
						background: rgba(10,10,10,1);
						color: #c9aa71 !important;
						z-index: 1;
					}

						#header_fixed > #header_user a {
							color: inherit;
						}

						#header_fixed > #header_user > div > h1 {
							display: inline-block;
							margin: 10px 35px 10px 10px;
							font-size: 17px;
							color: #c9aa71;
							text-transform: uppercase;
							cursor: pointer;
						}

							#header_fixed > #header_user > div > h1 > em {
								font-weight: normal;
								font-size: 0.7em;
								padding-left: 5px;
							}

						#header_fixed > #header_user > div > .labelHeader {
							font-size: 12px;
							font-weight: bold;
							line-height: 23px;
							text-shadow: 0 0 1px #141414;
							font-family: Helvetica;
						}

						#header_fixed > #header_user > #user {
							margin-right: 20px;
						}

						#header_fixed > #header_user > #header_userOptions {
							height: 38px;
							position: relative;
							width: 30%;
							margin: 0px 5px 0 0;
							padding: 0 0 0 0;
							top: 0;
							right: 0;
							font-size: 12px;
							font-weight: bold;
							line-height: 38px;
							font-family: Helvetica;
						}

							#header_fixed > #header_user > #header_userOptions > .header_userOption {
								float: right;
								position: relative;
								list-style: none outside none;
							}

								#header_fixed > #header_user > #header_userOptions > .header_userOption a {
									color: #c9aa71;
								}

								#header_fixed > #header_user > #header_userOptions > .header_userOption :hover {
									color: #f1e6d0;
								}
					/* MENU */
					#header_fixed > #wrap_menu {
						height: 65px;
						margin: 0;
						background: rgba(10,10,10,1);
					}

						#header_fixed > #wrap_menu > .main-nav {
							position: relative;
							top: 0px;
							left: 0px;
							padding: 0;
							height: 40px;
							margin: 0;
							text-align: left;
							z-index: 3;
							background: rgba(41,41,41,1);
							background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(41,41,41,1) 90%, rgba(10,10,10,1) 90%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%,rgba(41,41,41,1) 90%,rgba(10,10,10,1) 90%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, rgba(41,41,41,1) 0%,rgba(41,41,41,1) 90%,rgba(10,10,10,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						}

							#header_fixed > #wrap_menu > .main-nav ul {
								list-style-type: disc;
								-webkit-margin-before: 1em;
								-webkit-margin-after: 1em;
								-webkit-margin-start: 0px;
								-webkit-margin-end: 0px;
								-webkit-padding-start: 40px;
							}

							#header_fixed > #wrap_menu > .main-nav li {
								float: left;
								height: 40px;
								margin: 0;
								border-right: 1px #333 solid;
								text-align: center;
								font-size: 13px;
								font-weight: normal;
								list-style: none;
							}

							#header_fixed > #wrap_menu > .main-nav > li a {
								display: block;
								overflow: hidden;
								/* width: 140px; */
								height: 30px;
								margin: 0;
								padding: 10px 20px 0;
								color: #FFF;
								text-transform: uppercase;
							}

							#header_fixed > #wrap_menu > .main-nav li:hover, .main-nav li a:hover, .main-nav li a.active {
								background: rgb(0,102,0);
								background: -moz-linear-gradient(top, rgba(0,102,0,1) 0%, rgba(0,102,0,1) 90%, rgba(10,10,10,1) 90%); /* FF3.6-15 */
								background: -webkit-linear-gradient(top, rgba(0,102,0,1) 0%,rgba(0,102,0,1) 90%,rgba(10,10,10,1) 90%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to bottom, rgba(0,102,0,1) 0%,rgba(0,102,0,1) 90%,rgba(10,10,10,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								box-sizing: content-box;
							}

							#header_fixed > #wrap_menu > .main-nav #sub-link-bar,
							#header_fixed > #wrap_menu > .main-nav ul.sub-links {
								position: absolute;
								left: 0px;
								top: 40px;
								width: 100%;
								padding: 0;
								text-align: left;
								line-height: 20px;
								background: rgb(21,21,21);
								background: -moz-linear-gradient(top, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 90%, rgba(10,10,10,1) 90%); /* FF3.6-15 */
								background: -webkit-linear-gradient(top, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 90%,rgba(10,10,10,1) 90%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to bottom, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 90%,rgba(10,10,10,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+,
		Safari7+ */
								/* SHOW/HIDE */
								opacity: 0;
								height: 0;
								overflow: hidden;
								-webkit-transition: all .25s ease .15s;
								-moz-transition: all .25s ease .15s;
								-o-transition: all .25s ease .15s;
								-ms-transition: all .25s ease .15s;
								transition: all .25s ease .15s;
							}
				/* SHOW SUB-LINKS */
				/* Fix top position on chrome */
				@@media screen and (-webkit-min-device-pixel-ratio:0) {
					.sub-links {
						top: 27px !important;
					}
				}
				/* Fix top position on chrome */
				#header_fixed > #wrap_menu > .main-nav .sup-links:hover .sub-links {
					opacity: 1;
					height: 40px;
				}

				#header_fixed > #wrap_menu > #subdir-nav {
					position: relative;
					top: 0px;
					left: 0px;
					padding: 0;
					height: 25px;
					width: 100%;
					margin: 0;
					text-align: left;
					z-index: 2;
					background: rgba(41,41,41,1);
					background: -moz-linear-gradient(top, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 90%, rgba(10,10,10,1) 90%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 90%,rgba(10,10,10,1) 90%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 90%,rgba(10,10,10,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				}

					#header_fixed > #wrap_menu > #subdir-nav ul {
						list-style-type: disc;
						-webkit-margin-before: 1em;
						-webkit-margin-after: 1em;
						-webkit-margin-start: 0px;
						-webkit-margin-end: 0px;
						-webkit-padding-start: 40px;
					}

					#header_fixed > #wrap_menu > #subdir-nav li {
						float: left;
						height: 25px;
						margin: 0;
						border-right: 1px #333 solid;
						text-align: center;
						font-size: 13px;
						list-style: none;
						/* SHOW/HIDE */
						opacity: 0;
						width: 0;
						overflow: hidden;
						-webkit-transition: all .25s ease .55s;
						-moz-transition: all .25s ease .55s;
						-o-transition: all .25s ease .55s;
						-ms-transition: all .25s ease .55s;
						transition: all .25s ease .55s;
						box-sizing: content-box;
					}

					#header_fixed > #wrap_menu > #subdir-nav > li a {
						display: block;
						overflow: hidden;
						width: 150px;
						height: 15px;
						margin: 0;
						padding: 5px 0;
						color: #c9aa71;
						text-transform: uppercase;
					}

						#header_fixed > #wrap_menu > #subdir-nav > li a:hover {
							color: #f1e6d0;
						}

					#header_fixed > #wrap_menu > #subdir-nav li:hover, #subdir-nav li a:hover, #subdir-nav li a.active {
						background: rgb(0,102,0);
						background: -moz-linear-gradient(top, rgba(0,102,0,1) 0%, rgba(0,102,0,1) 90%, rgba(10,10,10,1) 90%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(0,102,0,1) 0%,rgba(0,102,0,1) 90%,rgba(10,10,10,1) 90%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(0,102,0,1) 0%,rgba(0,102,0,1) 90%,rgba(10,10,10,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					}

					#header_fixed > #wrap_menu > #subdir-nav li.active {
						width: 150px;
						opacity: 1;
					}

					#header_fixed > #wrap_menu > #subdir-nav:hover li {
						width: 150px;
						opacity: 1;
					}

				.marquee {
					width: 25%;
					display: inline-block;
					overflow: hidden;
					margin-left: 100px;
				}

				.spanC {
					display: inline-block;
					width: 69%;
				}
	</style>
	<script type="text/javascript">

        var soportePath = '@Url.Content("~/Areas/Soporte/")';
        var mesaPath = '@Url.Content("~/Areas/Mesa/")';
        var telePath = '@Url.Content("~/Areas/Telecomunicaciones/")';
        var operacionesPath = '@Url.Content("~/Areas/Operaciones")';
	</script>
	@{soporte.Models.usuarioBean user = null;
		string version = string.Empty;
	}
	@{try
		{
			version = (String)Session["version"];
			user = (soporte.Models.usuarioBean)Session["usuario"];
			if (user != null)
			{
				@Styles.Render("~/Css/base")
				@Styles.Render("~/Css/themes/" + user.Personalizacion)
				@Scripts.Render("~/bundles/base")
				<script src="/Scripts/jquery.signalR-2.2.2.js"></script>
				<script src="/signalr/hubs"></script>
				@RenderSection("heads", required: false)
			}
		}
		catch (Exception e)
		{
			Console.Write(e.Message);
		}
	}
	<script>

		//$('li.ayuda').on('click', function () {
		//    var helpWindow = window.open('/Ayuda/Index.htm', 'height=600,width=930,menubar=no,toolbar=no,scrollbars=yes,status=no');
		//    helpWindow.focus();
		//});
		//SWITCH ACTIVE MENUS
		$(function () {

			var url = window.document.location.pathname.split('/');
			var position = url.length;
			var stringsDir = url[1];
			var stringsMen = url[2];
			var selectedLiDir;
			var selectedLiMen;
			//Switch Direcciones Menu
			switch (stringsDir.toLowerCase()) {
				case "direccion": $("#subdir-nav #mDireccion").addClass("active");
					$(".SM-direccion").removeClass("hide");
					break;
                case "gs": $("#subdir-nav #gs").addClass("active");
                    $(".SM-gs").removeClass("hide");
					break;
				case "mesa": $("#subdir-nav #mMesa").addClass("active");
					$(".SM-mesa").removeClass("hide");
					break;
				case "operaciones": $("#subdir-nav #mOperaciones").addClass("active");
					$(".SM-operaciones").removeClass("hide");
					break;
				case "telecomunicaciones": $("#subdir-nav #mTelecomunicaciones").addClass("active");
					$(".SM-telecomunicaciones").removeClass("hide");
					selectedLi = "#LiAltas";
					break;
				case "seguridad": $("#subdir-nav #mSeguridad").addClass("active");
					$(".SM-seguridad").removeClass("hide");
					break;
				case "soporte": $("#subdir-nav #mSoporte").addClass("active");
					$(".SM-soporte").removeClass("hide");
					break;
				case "infraestructura": $("#subdir-nav #mInfraestructura").addClass("active");
					$(".SM-infraestructura").removeClass("hide");
					break;
				case "service": $(".SM-Notas").removeClass("hide");;
					break;
			}
			//--->
			//Switch Sub Menu
			switch (stringsMen.toLowerCase()) {
				case "incidentes": $("[data-id='main-nav'] [data-id='LiIncidentes']").addClass("active");
					break;
				case "nuevoincidente": $("[data-id='main-nav'] [data-id='LiNvoInc']").addClass("active");
					break;
				case "enlaces": $("[data-id='main-nav'] [data-id='LiEnlaces']").addClass("active");
					break;
				//case "Altas": $("[data-id='main-nav'] [data-id='LiAltas']").addClass("active");
				//    break;
				//case "Abmws": $("[data-id='main-nav'] [data-id='LiAltas']").addClass("active");
				//    break;
				//case "Abmpr": $("[data-id='main-nav'] [data-id='LiAltas']").addClass("active");
				//    break;
				case "cambios": $("[data-id='main-nav'] [data-id='LiCambios']").addClass("active");
					break;
				case "notasdelaversion": $("[data-id='main-nav'] [data-id='LiNotas']").addClass("active");
					break;
				case "inventario": $("[data-id='main-nav'] [data-id='LiInventario']").addClass("active");
					break;
				case "forum": $("[data-id='main-nav'] [data-id='LiBlog']").addClass("active");
					break;
				case "historicos": $("[data-id='main-nav'] [data-id='LiHistoricos']").addClass("active");
					break;
				case "deposito": $("[data-id='main-nav'] [data-id='LiDeposito']").addClass("active");
					break;
				case "stock": $("[data-id='main-nav'] [data-id='LiDeposito']").addClass("active");
					break;
				case "config": $("[data-id='main-nav'] [data-id='LiConfig']").addClass("active");
					break;
				case "operaciones": $("[data-id='main-nav'] [data-id='LiOperaciones']").addClass("active");
					break;
				case "cmdb": $("[data-id='main-nav'] [data-id='LiCmdb']").addClass("active");
					break;
				case "servicio8": $("[data-id='main-nav'] [data-id='LiServ8']").addClass('active');
					break;
                case "hallazgos": $("[data-id='main-nav'] [data-id='analsis-hallagso']").addClass('active');
					break;
				default: $("[data-id='main-nav'] [data-id='LiIncidentes']").addClass("active");
			}
			//setTimeout(reload, 3610000);
			//--->
			//});
			//function reload() {
			//    window.location.reload();
			//}
			//--->
			var message = $.connection.Mensajes;
			message.client.broadcastMessage = function (messaje) {
				$('.marquee').marquee('destroy');
				if (message != '') {
					$('.marquee').html(messaje)
						.marquee({ pauseOnHover: true });
				}
			}
			message.client.disconnect = function () {
				window.location = '/Logout';
			}
			$.connection.hub.qs = { 'idUsuario': $('#idUser').val() };
		});
	</script>
</head>

<body class="">
	<section id="header_fixed">
		<div id="header_user">
			<div class="spanC">
				<h1><a href="/@user.getHomePage()">SOFIT</a><em>@version</em></h1>
				<span class="labelHeader">Bienvenido:</span>
				<span id="user" class="labelHeader">@user.NombreCompleto</span><input type="hidden" id="idUser" value="@user.IdUsuario" />
				<span class="labelHeader">Fecha:</span>
				<span id="lFecha" class="labelHeader">@DateTime.Today.ToShortDateString()</span>
				<span class="labelHeader marquee"></span>
			</div>
			<ul id="header_userOptions" class="right">
				<li class="header_userOption">
					@Html.RouteLink("Cerrar Sesión", "Logout", new { controller = "Logout" }, new { @class = "labelHeader" })
				</li>
				@*<li class="header_userOption contacto" style="padding-right:15px;">
						 <a href="#">Contacto</a>
					</li>*@
				@*<li class="header_userOption ayuda" style="padding-right:15px;">
						 <a href="#">Ayuda</a>
					</li>*@
				<li class="header_userOption" style="padding-right:15px;">
					@Html.ActionLink("Notas de la versión", "NotasDeLaVersion", "Service", routeValues: new { Area = "" }, htmlAttributes: new { id = "" })
				</li>
				<li class="header_userOption" style="padding-right:15px;">
					<img class="avatar" src=@Html.Raw((user.Avatar != null & user.Avatar != "") ? @user.PathAvatar: "/Content/img/buddy.png") title="@Html.Raw((user.Avatar != null & user.Avatar != "")?user.NombreCompleto:"Actualize la imágen desde el menú Config")" />
				</li>
			</ul>
		</div>
		<!-- MENU -->
		<div id="wrap_menu">
			<!-- SUB-DIRECCIONES MENU -->
			<ul id="subdir-nav">
				<li id="mDireccion"><a href="/Direccion/Incidentes">dirección</a></li>
				<li id="gs"><a href="/Gs/Hallazgos">Gestión de Servicios</a></li>
				<li id="mInfraestructura"><a href="/Infraestructura/Incidentes">infraestructura</a></li>
				<li id="mMesa"><a href="/Mesa/Incidentes">mesa de ayuda</a></li>
				<li id="mOperaciones"><a href="/Operaciones/Incidentes">operaciones</a></li>
				<li id="mSeguridad"><a href="/Seguridad/Incidentes">seguridad</a></li>
				<li id="mSoporte"><a href="/Soporte/Incidentes">soporte técnico</a></li>
				<li id="mTelecomunicaciones"><a href="/Telecomunicaciones/Incidentes">telecomunicaciones</a></li>
			</ul>
			<!-- SUB-DIRECCIONES MENU -->
			<!-- Menu Direccion -->
			<ul data-id="main-nav" class="main-nav SM-direccion hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Direccion/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiHistoricos" title="Incidentes Historicos" href="/Direccion/Historicos" class="">historicos</a></li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Direccion/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiConfig" title="Configuraciones" href="/Direccion/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Direccion/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Direccion/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Gestion Servicios -->
			<ul data-id="main-nav" class="main-nav SM-gs hide">
				<li><a data-id="analsis-hallagso" title="Analisis de hallazgo" href="/Gs/Hallazgos" class="">Analsis de hallazgo</a> </li>
			</ul>
			<!-- Menu Operaciones -->
			<!-- Menu Mesa -->
			<ul data-id="main-nav" class="main-nav SM-mesa hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Mesa/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Mesa/NuevoIncidente" class="">nuevo ticket</a> </li>
				@*<li><a data-id="LiInventario" title="Inventario" href="/Mesa/Inventario" class="">inventario</a> </li>*@
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Mesa/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Incidentes Historicos" href="/Mesa/Historicos" class="">historicos</a></li>
				<li><a data-id="LiConfig" title="Configuraciones" href="/Mesa/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Mesa/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Mesa/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Operaciones -->
			<ul data-id="main-nav" class="main-nav SM-operaciones hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Operaciones/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Operaciones/NuevoIncidente" class="">nuevo ticket</a> </li>
				<li><a data-id="LiInventario" title="Inventario" href="/Operaciones/Inventario" class="">inventario</a> </li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Operaciones/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Incidentes Historicos" href="/Operaciones/Historicos" class="">historicos</a></li>
				@*<li><a data-id="LiDeposito" title="Depósito" href="/Operaciones/Deposito" class="">stock</a> </li>*@
				<li><a data-id="LiConfig" title="Configuraciones" href="/Operaciones/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Operaciones/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Operaciones/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Operaciones -->
			<!-- Menu Infraestructura -->
			<ul data-id="main-nav" class="main-nav SM-infraestructura hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Infraestructura/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Infraestructura/NuevoIncidente" class="">nuevo ticket</a> </li>
				<li><a data-id="LiInventario" title="Inventario" href="/Infraestructura/Inventario" class="">inventario</a> </li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Infraestructura/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Incidentes Historicos" href="/Infraestructura/Historicos" class="">historicos</a></li>
				@*<li><a data-id="LiDeposito" title="Depósito" href="/Infraestructura/Deposito" class="">stock</a> </li>*@
				<li><a data-id="LiConfig" title="Configuraciones" href="/Infraestructura/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Infraestructura/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Infraestructura/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Infraestructura -->
			<!-- Menu Telecomunicaciones -->
			<ul data-id="main-nav" class="main-nav SM-telecomunicaciones hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Telecomunicaciones/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Telecomunicaciones/NuevoIncidente" class="">nuevo ticket</a> </li>
				<li><a data-id="LiInventario" title="Inventario" href="/Telecomunicaciones/Inventario" class="">inventario</a> </li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Telecomunicaciones/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Incidentes" href="/Telecomunicaciones/Historicos" class="">historicos</a> </li>
				<li><a data-id="LiConfig" title="Configuraciones" href="/Telecomunicaciones/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Telecomunicaciones/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Telecomunicaciones/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Telecomunicaciones -->
			<!-- Menu Seguridad -->
			<ul data-id="main-nav" class="main-nav SM-seguridad hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Seguridad/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Seguridad/NuevoIncidente" class="">nuevo ticket</a> </li>
				<li><a data-id="LiInventario" title="Inventario" href="/Seguridad/Inventario" class="">inventario</a> </li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Seguridad/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Equipos e Incidentes Historicos" href="/Seguridad/Historicos" class="">historicos</a></li>
				<li><a data-id="LiConfig" title="Configuraciones" href="/Seguridad/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Seguridad/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Seguridad/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Seguridad -->
			<!-- Menu Soporte -->
			<ul data-id="main-nav" class="main-nav SM-soporte hide">
				<li><a data-id="LiIncidentes" title="Incidentes" href="/Soporte/Incidentes" class="">tickets</a> </li>
				<li><a data-id="LiNvoInc" title="Generación Nuevo Inc" href="/Soporte/NuevoIncidente" class="">nuevo ticket</a> </li>
				<li><a data-id="LiInventario" title="Inventario" href="/Soporte/Inventario" class="">inventario</a> </li>
				<li><a data-id="LiCmdb" title="Líneas Base" href="/Soporte/Cmdb" class="">cmdb</a> </li>
				<li><a data-id="LiHistoricos" title="Equipos e Incidentes Historicos" href="/Soporte/Historicos" class="">historicos</a> </li>
				<li><a data-id="LiDeposito" title="Depósito de Soporte" href="/Soporte/Deposito" class="">stock</a> </li>
				<li><a data-id="LiConfig" title="Configuraciones" href="/Soporte/Config" class="">config</a> </li>
				<li><a data-id="LiServ8" title="Servicio 8" href="/Soporte/Servicio8" class="">servicio 8</a> </li>
				<li><a data-id="LiCambios" title="Configuraciones" href="/Soporte/Cambios" class="">gestión de cambios</a> </li>
			</ul>
			<!-- Menu Soporte -->
			<!-- Menu Notas -->
			<ul data-id="main-nav" class="main-nav SM-Notas hide">
				<li><a data-id="LiNotas" title="Notas de la Versión" href="#" class="">notas de la versión</a> </li>
			</ul>
			<!-- Menu Soporte -->
		</div>
		<!-- MENU -->
	</section>
	@RenderBody()
</body>
</html>