﻿@{
    ViewBag.Title = "Sin Permiso";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/base")
    @Scripts.Render("~/bundles/base")

    <script>
        
    </script>
}

<h2 style="margin:130px auto; color:maroon; width:300px;">Su perfil no permite el acceso a esta página. </h2>

