﻿@{
    ViewBag.Title = "NuevoIncidente";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@model soporte.Models.ClasesVistas.NuevoIncidenteVista
@section heads{
    @Styles.Render("~/Css/nuevoIncidente")
    @Styles.Render("~/Css/fa")
    @Scripts.Render("~/bundles/nuevoIncidente")    
    <style>
    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            opacity: 0;
            visibility: hidden;
            width: auto;
            min-width: 300px;
            max-width: 300px;
            background-color: #151515;
            color: #fff;
            text-align: left;
            border-radius: 5px;
            margin-left: 6px;
            padding: 5px 7px;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 100%;
            transform: translate(0%,-50%);
            transition: all 0.3s ease;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent #151515 transparent transparent;
            }

        .tooltip input:focus + .tooltiptext, .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>
}
<section class="ui-widget-content body">
    <h2><a href="">Nuevo Ticket</a></h2>
    <div class="">
        <div id="form" class="">
            <div class="center">
                <ul class="ulForm dContent">
                    <li>
                        <label class="label">
                            Fecha
                        </label>
                        <input type="text" class="input tFecha" readonly="readonly" value="@System.DateTime.Now.ToShortDateString()" />
                    </li>
                    @*<li class="">
                        <div class="tooltip">
                            <label class="label">Nro.Ticket</label>
                            <input type="text" class="input tNroInc" />
                            <span class="tooltiptext">Escriba el número manualmente, o presione el botón para que se genere automáticamente</span>
                            <button type="button" class="nvoInc"></button>
                            <button type="button" class="undo"></button>
                        </div>
                    </li>*@
                    <li class="">
                        <div class="tooltip">
                            <label class="label">Tipo de Ticket</label>
                            <select class="dTipoTicket select">
                                <option value="0" selected="selected">--Seleccione--</option>
                                @foreach (var r in Model.TipoDeTicket)
                                {
                                    <option class="tooltip tooltip-right" value="@r.Id" title="I’m the tooltip text">@r.Nombre</option>
                                }
                            </select>
                            <span class="tooltiptext">
                                <b>Solicitud</b>: cuando el usuario realiza una solicitud.<br>
                                Ej: solicitud de alta de un usuario en dominio o solicitud de instalación de impresora.<br><br>
                                <b>Incidencia</b>: cuando el usuario reporta una falla.<br>
                                Ej: un equipo sin red ó una impresora que no imprime.<br><br>
                                <b>Problema</b>: Se dispara un problema cuando hay varias incidencias generadas por la misma falla.<br>
                                Ej. No hay red en un determinado ministerio.
                            </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="tooltip">
                            <label class="label">Prioridad</label>
                            <select class="dPrioridad select">
                                <option value="0" selected="selected">--Seleccione--</option>
                                @foreach (var r in Model.Prioridades)
                                {
                                    <option value="@r.Id">@r.Nombre</option>
                                }
                            </select>
                            <span class="tooltiptext">
                                <b>Normal</b>: el inconveniente restringe al usuario realizar una porción de sus actividades.<br><br>
                                <b>Urgente</b>: el inconveniente restringe al usuario realizar actividades sensibles en cuanto a tiempo.<br><br>
                                <b>Crítico</b>: Servicio no disponible.
                            </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="tooltip">
                            <label class="label">Tipificación</label>
                            <input type="text" readonly="readonly" class="input tTipificacion" id="tTipificacion"/>
                            <input type="hidden" id="idTipificacion" />
                            <span class="tooltiptext">Tipificación correspondiente al servicio encargado del tratamiento del ticket.</span>
                            <button type="button" class="show"></button>
                        </div>
                    </li>
                    <li>
                        <label class="label">Jurisdicción</label>
                        <select class="dJurisdiccion select" autocomplete="off">
                            <option value="0" selected="selected">--Seleccione--</option>
                            @foreach (var r in Model.Jurisdicciones)
                            {
                                <option value="@r.idJurisdiccion">@r.Nombre</option>
                            }
                        </select>
                    </li>
                    <li>
                        <label class="label">Dependencia</label>
                        <select class="dDependencia select" autocomplete="off">
                            <option value="0" selected="selected">--Seleccione--</option>
                        </select>
                    </li>
                    <li class="liClientes">
                        <div class="tooltip">
                            <label class="label">Cliente:</label>
                            <div id="cliente" class="divBlocks">
                                <input type="text" id="inputClientes" />
                            </div>
                            <span class="tooltiptext">Quien solicita la generación del ticket.</span>
                            <button type="button" id="NuevoCliente" data-update="">Nuevo</button>
                        </div>
                    </li>
                    <li class="liReferentes">
                        <div class="tooltip">
                            <label class="label">Se Notifican</label>
                            <div id="referentes" class="divBlocks">
                                <input type="text" id="inputDestinatarios" />
                            </div>
                            <span class="tooltiptext">
                                La/s persona/s que serán notificadas durante el tratamiento del ticket.<br>
                                Pueden ser tanto correos de OWA como correos externos
                            </span>
                            <button type="button" class="referentes"></button>
                        </div>
                    </li>
                    <li class="">
                        <div class="tooltip">
                            <div class="boxLabel">
                                <input type="file" name="uploadPhoto" id="uploadPhoto" />
                                <label class="labelUpload" for="uploadPhoto"><i class="fa fa-upload 2x"></i>Imágen</label>
                                <span class="tooltiptext">
                                    Solo formatos estandar de imágen.<br>
                                    El tamaño máximo de la imágen es de 5MB.
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="tooltip">
                            <div class="boxLabel">
                                <input type="file" name="uploadFile" id="uploadFile" />
                                <label class="labelUpload" for="uploadFile"><i class="fa fa-upload 2x"></i>Archivo</label>
                                <span class="tooltiptext">
                                    Cualquier tipo de archivo, excepto ejecutables.<br>
                                    El tamaño máximo del archivo es de 100MB.
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="">
                            <label class="label">Observaciones</label>
                        <div class="tooltip">
                            <textarea class="input incObserv" id="incObs" name="incObs"></textarea>
                            <span class="tooltiptext">Descripción detallada del motivo por le cual se genera el ticket.<br> Datos importantes: Equipo (elemento de configuración) afectado; horario de atención; datos adicionales de contacto.</span>
                        </div>
                    </li>                    
                    <li>
                        <div class="boxButton">                            
                            <button type="button" id="nvoInc" class="">Agregar</button>                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="image" class="hide">
            <div class="images">

            </div>
        </div>
    </div>
</section>
@*Tipificaciones*@
<div class="tipific">
    
    <fieldset>
        <ul>
            @{
                if (Model.TipificacionesEnServicio != null)
                {

                    foreach (var tip in Model.TipificacionesEnServicio)
                    {
                        <li class="top">
                            @tip.Servicio
                            <ul>

                                @ShowTipif(tip.Tipificaciones)
                                @helper ShowTipif(IEnumerable<soporte.Models.ClasesVistas.TipificacVista> hijos)
                                    {
                                        foreach (var tipif in hijos)
                                        {

                                            if (tipif.Hijos.Any())
                                            {
                                                <li class="top">
                                                    @tipif.Nombre
                                                    <ul>
                                                        @ShowTipif(tipif.Hijos)
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                if (@tipif.Nombre == "Incidentes Soporte Técnico") { continue; }
                                                <li class="base"><span class="hide">@tipif.idTipificacion</span>@tipif.Nombre</li>
                                            }
                                        }
                        }
                            </ul>
                        </li>

                    }
                }
                else
                {

                    @ShowTipif(Model.Tipificaciones)



                }
            }
        </ul>
    </fieldset>
</div>
<div id="fichacliente">
    <div class="top dContent">
        <input id="idCl" type="text" disabled>
        <div><label id="labelNombreCl"></label><input id="NombreCl" class="datosCl" type="text" placeholder="Nombre" readonly></div>
        <div><label id="labelDNICl"></label><input id="DNICl" class="datosCl" type="text" placeholder="CUIL" readonly></div>
        <div><label id="labelemailCl"></label><input id="emailCl" class="datosCl" type="text" placeholder="email (opcional)" readonly></div>
        <div>
            <label id="labelJurisdiccionCl"></label>
            <select id="JurisdiccionCl" class="datosCl dJurisdiccion" autocomplete="off">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var r in Model.Jurisdicciones)
                {
                    <option value="@r.idJurisdiccion">@r.Nombre</option>
                }
            </select>
        </div>
        <div>
            <label id="labelDependenciaCl"></label><select id="DependenciaCl" class="datosCl dDependencia" autocomplete="off">
                <option value="0" selected="selected">--seleccione--</option>
            </select>
        </div>
        <div><label id="labelDireccionCl"></label><input id="DireccionCl" class="datosCl" type="text" placeholder="Direccion / Piso / Oficina" readonly></div>
        <div><label id="labelTelefonoCl"></label><input id="TelefonoCl" class="datosCl" type="text" placeholder="Telefono" readonly></div>
    </div>
    <div class="bottom">
        <div>
            <button id="AceptarCl" data-update="" class="ui-button ui-widget ui-state-default ui-button-text-icon-primary primary">
                <span class="ui-button-icon-primary ui-icon ui-icon-check"></span><span class="ui-button-text">Aceptar</span>
            </button>
            <button id="EditarCl" class="ui-button ui-widget ui-state-default ui-button-text-icon-primary primary">
                <span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span><span class="ui-button-text">Editar</span>
            </button>
            <button id="CancelarCl" class="ui-button ui-widget ui-state-default ui-button-text-icon-primary primary">
                <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">Cancelar</span>
            </button>
        </div>
    </div>
</div>