﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    @Styles.Render("~/Css/base")
    @Styles.Render("~/Css/themes/1")
    @Scripts.Render("~/bundles/base")
    <link rel="Stylesheet" href="/Views/Shared/css/print.css" type="text/css" />
    <link rel="stylesheet" href="/Views/Shared/css/printer.css" type="text/css" media="print" />
    <script src="/Views/Shared/print.js" type="text/javascript"></script>
</head>
<body>    
        <div id="stickerContainer">
            <div id="sticker" class="sticker">
                <div class="divClose">
                    <button class="button-close ui-icon ui-icon-closethick" disabled="disabled"></button>
                </div>
                <div class="valor">
                    <ul>
                        <li>
                            <img src="/Views/Shared/Content/img/escudo.PNG" style="width: 35px; height:35px" alt="Gobierno de Córdoba" />
                            <p><em>SSIT - Telecomunicaciones</em><br />Prohibido remover este sticker según res.003/99 de la SSIT</p>
                        </li>
                        <li>
                            <span class="texto"></span>
                        </li>
                        <li>
                            <span class="code"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <button id="nvaOblea">Agregar otra Oblea</button>
        </div>
        <div id="divNvaOblea">
            <input type="text" id="nroOblea" />
            <div class="error">
                <div class="message"></div>
            </div>
        </div>    
</body>
</html>
