﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
	@Styles.Render("~/Css/Gs")
	@Scripts.Render("~/bundles/Gs")
}

<section id="body" class="">
	<!-- Busqueda -->
	<div id="formSearch" class="noselect">
		<p class="texto">Búsqueda por ...<br>o ...</p>
		<div id="searchBar">
			<div id="searchBar_input">
				<input id="tBuscar" class="search" type="text" autocomplete="off" data-oblea="">
				<button id="searchButton" name="Submit" type="button"></button>
			</div>
		</div>

		<div class="right">
			<nav>
				<a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a>
				<a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a>
				<a id="editData" class="botonActualizaciones hide">Editar</a>
				<a id="ImprOblea" class="botonActualizaciones hide">Imprimir oblea</a>
				<a id="LineaBase" class="botonActualizaciones hide">Línea Base</a>
				<a id="CancelarCambios" class="botonActualizaciones hide">Cancelar</a>
			</nav>
		</div>

	</div>
	<!-- Busqueda -->

	<div id="content-box">
		<div class="scrolling">
			<div id="accordion">
				<h3 class="hallazgo-header">First header</h3>
				<div id="h1" class="accordion-content hallazgo-content">
					<div class="row">
						<div class="col s3">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Tipo</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Fecha de detección</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="date" class="editable" />
									</div>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Origen</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Ubicación</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Proceso</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Responsable</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Evidencia objetiva</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<input type="text" class="editable" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Descripción</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<textarea class="editable"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col s6">
							<div class="table">
								<div class="row-table">
									<div class="cell">
										<span class="grey-text text-darken-4">Analisis de causa</span>
									</div>
								</div>
								<div class="row-table">
									<div class="cell">
										<textarea class="editable"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<fieldset class="z-depth-1">
								<div class="row">
									<div class="col s12 ui-widget-header">ACCIÓN INMEDIATA</div>
								</div>
								<div class="row">
									<div class="col s1">Responsable</div>
									<div class="col s5">
										<input type="text" class="editable" />
									</div>
									<div class="col s2">Fecha de implementación</div>
									<div class="col s4">
										<input type="date" class="editable" />
									</div>
								</div>
								<div class="row">
									<div class="col s1">Descripción</div>
									<div class="col s11">
										<textarea class="editable"></textarea>
									</div>
								</div>
							</fieldset>

						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<a class="ui-button ui-corner-all ui-widget" href="#" data-idhallazgo="1">Guardar cambios</a>
							<a class="ui-button ui-corner-all ui-widget agregar-accion" href="#" data-idhallazgo="1">Agregar Acción</a>
						</div>
					</div>
					<div class="row">
						<div class="col s12 acciones-extra">
							<!-- <div class="table col-1">
								<div class="row-table cellspacing">
									<div class="cell">
										<div class="table margin-b-5 bg-white">
											<div class="row-table">
												<div class="cell ui-state-hover">
													<div class="col-05 left">Acción:</div>
													<div class="col-95 right">
														<input type="text" class="no-border editable" placeholder="Titulo de la acción" />
													</div>
												</div>
											</div>
											<div class="row-table">
												<div class="cell">
													<div class="table">
														<div class="row-table row-td">
															<div class="cell th ui-widget-header" scope="col">Tipo</div>
															<div class="cell">
																<input type="text" class="no-border editable" placeholder="Seleccione un tipo" />
															</div>
															<div class="cell th ui-widget-header" scope="col">Estado</div>
															<div class="cell">
																<input type="text" class="no-border editable" placeholder="Estado" />
															</div>
															<div class="cell th ui-widget-header" scope="col">Responsable</div>
															<div class="cell">
																<input type="text" class="no-border editable" placeholder="Seleccione un responsable" />
															</div>
														</div>
													</div>
													<div class="table">
														<div class="row-table row-td">
															<div class="cell th ui-widget-header" scope="col">Fecha estimada</div>
															<div class="cell">
																<input type="date" class="no-border editable" />
															</div>
															<div class="cell th ui-widget-header" scope="col">Fecha implementada</div>
															<div class="cell">
																<input type="date" class="no-border editable" readonly />
															</div>
															<div class="cell">
																<input type="text" class="no-border editable" placeholder="Plazo" readonly />
															</div>
														</div>
													</div>
													<div class="table">
														<div class="row-table row-td">
															<div class="cell th ui-widget-header" scope="col">Descripción</div>
														</div>
														<div class="row-table row-td ui-widget-content" data-remove="">
															<input type="hidden">
															<div class="cell">
																<textarea class="no-border editable"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row-table">
												<div class="cell ui-state-hover">
													<div>Analisis de eficacia</div>
												</div>
											</div>
											<div class="row-table">
												<div class="cell">
													<div class="table">
														<div class="row-table row-td">
															<div class="cell col-4 th ui-widget-header" scope="col">Fecha de analisis</div>
															<div class="cell">
																<input type="date" class="no-border editable" />
															</div>
															<div class="cell col-4 th ui-widget-header" scope="col">Resultado de analisis</div>
															<div class="cell">
																<input type="text" class="no-border editable" placeholder="Eficacia" />
															</div>
														</div>
													</div>
													<div class="table">
														<div class="row-table row-td">
															<div class="cell col-4 th ui-widget-header" scope="col">Descripcción del analisis</div>
														</div>
														<div class="row-table row-td">
															<div class="cell">
																<textarea class="no-border editable"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<h5 style="border-bottom: 1px solid black">Historial de cambios</h5>
						</div>
						<div class="col s12">
							<!-- -->
						</div>
					</div>
				</div>
				<!-- -->
				<h3 class="">Second header</h3>
				<div class="">Second content panel</div>
			</div>
		</div>
	</div>
</section>