﻿html,body{
    height:100%;
}
body{font-size:75%;}
#artDisplay{   
    width:150px;
    height:150px;  
}
.fg-button{
    padding:0 4px;
}
.botonera{
    clear:both;
}
.center{
    text-align:center;
}
.box{padding:10px;}
.col.span_2 div{
    display:inline-block;
    float:right;
}
#h3{
    text-align:center;
}
h3{
    text-transform:uppercase;
    color:#333;
}
.filterRemover{
    font-size:.85em;
}

#grillaArticulos{
    max-height:455px;
    overflow:auto;
    width:80%;
}
#grillaArticulos table{
    width:100%;
}
#pArticulos{

}
table 
{	
	border-collapse: collapse;
	border-spacing: 0;
}
tr:hover{
    background-color:#ddd;
}
td, th
{
	padding:5px;
	border:dotted 1px gray;
}
th
{
	text-align:left;
}
#artNvo{
   border:3px solid gray;
   margin:5px;
   padding:5px;
}
.photo{
    max-height:100%;
    max-width:100%;
}
#artNvo ul{
    list-style:outside none none;
    width:650px;        
}
.icon
{
	width:20px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
    cursor:pointer;
    background-color:white !important;	
}
.drop{
    background:transparent url("/Content/img/icons.png") no-repeat scroll 0 -70px;
}
.moves{
    background:transparent url("/Content/img/icons.png") no-repeat scroll 0 -130px;
}
.reset {
    background:transparent url("/Content/img/icons.png") no-repeat scroll 0 -46px;
}
.remove {
    background:transparent url("/Content/img/icons.png") no-repeat scroll 0 -278px;
}
.addArt {
    background:transparent url("/Content/img/icons.png") no-repeat scroll 0 -22px;
}
#artNvo ul li{
    margin:5px;
}
thead th {
    cursor: pointer;
}
ul{
    padding:2px;
}
#spanPhoto{
    width:150px;
    height:150px;
    display:block;
    background:#fff url('/Content/img/Art/imageHere.jpg') no-repeat right top;    
}
#uploadPreview{
    width:50px;
    height:50px;
}
.section{
    clear:both;
    padding:0px;
    margin:0px;
}
.col{
    display:block;
    float:left;
    margin:1% 0 1% 1.6%;
}
.col:first-child{
    margin-left:0;
}
.group:before,.group:after{
    content:"";
    display:table;
}
.group:after{
    clear:both;
}
.group{
    zoom:1;
}
.span_1{
    width:65%;
}
.span_2{
    width:30%;
}
.span_3{
    width:100%;
}
.clearBoth{
    clear:both;
}
div.popup ul li {
    list-style: outside none none;
    margin: 2px;
    padding: 4px 0;
    text-decoration: none;
}

#armarioContent table{
    font-size:.8em;
}
#rubrosExistente{
    max-height:180px;
    overflow:scroll;
}
#rubrosExistente table{
    width:100%;
}
fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #bbb;
    border-radius: 5px;
    padding: 5px;
    margin:5px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
#uploadPhoto{
    margin-top:5px;
}
.label{
    width:150px;
    font-size:.85rem;
}
.edit
{
	background: url('/Content/img/icons.png') no-repeat transparent 0px -80px;
}