﻿.select-wrapper.disabled { /* Limpia la clase .disabled del archivo common.css */
    padding: initial;
    border: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
}

.content3 {
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 105px);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(36, 137, 13, .2);
    outline: none;
}
.tabs .indicator {
    background-color: #24890D;
}

.breadcrumb:before {
    color: #424242;
}

.relaciones .btn, .relaciones .btn-small {
    margin-bottom: 5px;
}

.collapsible-header .bread {
    margin-right: 0 !important;
}
.collapsible-body .bread {
    font-size: inherit;
    vertical-align: text-bottom;
}

.collapsible-body .pre-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}