﻿<div>
    <div class="ui-widget-content col-4 left fullHeight">
        <h4 class="ui-widget-header">Unidades de Configuración</h4>
        <ul id="menu" class="ulMenu"></ul>
    </div>
    <div class="ui-widget-content col-2-75 inlineBlock fullHeight">
        <h4 class="ui-widget-header">Enlace</h4>
        <div class="dbasic">
            <div class="fieldsetContainer">
                <fieldset class="ui-widget-content fieldHeight">
                    <legend class="ui-widget-content">Tipo de Enlace</legend>
                    <ul class="ulForm fullHeight">
                        <li>
                            <label for="idTipo" class="labelInventario">Tipo: </label>
                            <input type="text" id="idTipo" name="idTipo" class="inputInventario" readonly="readonly" data-id="">
                        </li>
                        <li>
                            <label for="idProveedor" class="labelInventario">Proveedor: </label>
                            <input type="text" class="inputInventario" id="idProveedor" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                        </li>
                        <li class="estadoEnlace">
                            <label for="idEstado" class="labelInventario">Estado: </label>
                            <input type="text" class="inputInventario" id="idEstado" name="idEstado" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="fieldsetContainer">
                <fieldset class="ui-widget-content fieldHeight">
                    <legend class="ui-widget-content">Identificación</legend>
                    <ul class="ulForm fullHeight">
                        <li>
                            <label for="tNombre" class="labelInventario">Nombre: </label>
                            <input type="text" id="tNombre" name="tNombre" class="inputInventario" placeholder="Campo Obligatorio" value="" data-id="" readonly="readonly">
                        </li>
                        <li>
                            <label for="tDesc" class="labelInventario">Descripción: </label>
                            <input name="tDesc" id="tDesc" type="text" placeholder="Campo Obligatorio" class="inputInventario" value="" data-id="" readonly="readonly">
                        </li>
                        <li>
                            <label for="tJur" class="labelInventario">Jurisdicción: </label>
                            <input name="tJur" id="tJur" type="text" placeholder="Campo Obligatorio" class="inputInventario" value="" data-id="" readonly="readonly">
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <div class="dExtra">
            <div class="fieldsetContainer">
                <fieldset class="ui-widget-content fieldHeight">
                    <legend class="ui-widget-content">Información</legend>
                    <ul class="ulForm fullHeight">
                        <li>
                            <label class="labelInventario">Nro.Referencia: </label>
                            <input type="text" id="idReferencia" class="inputInventario" name="Jurisdiccion" data-id="" readonly="readonly">
                        </li>
                        <li>
                            <label class="labelInventario" for="tWan">Red Lan: </label>
                            <input type="text" id="tLan" name="Ubicacion" class="inputInventario" data-id="" readonly="readonly">
                        </li>
                        <li>
                            <label class="labelInventario" for="tBw">Ancho Banda:</label>
                            <input type="text" id="tBw" class="inputInventario" readonly="readonly" />
                        </li>
                        <li>
                            <label for="extraInfo" class="labelInventario">Info Extra?</label>
                            <input type="checkbox" id="extraInfo" class="readonly" />
                            <div class="networkInfo hide">
                                <ul class="ulForm">
                                    <li>
                                        <label class="labelInventario">Wan:</label>
                                        <input type="text" id="tWan" class="inputInventario" readonly="readonly" />
                                    </li>
                                    <li>
                                        <label class="labelInventario">Loopback</label>
                                        <input type="text" id="tLoop" class="inputInventario" readonly="readonly" />
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <label class="labelInventario" for="Observaciones">Observaciones: </label>
                            <textarea id="taObservaciones" name="taObservaciones" class="tAreaInventario" data-id="" readonly="readonly"></textarea>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="fieldsetContainer">
                <fieldset class="ui-widget-content fieldHeight">
                    <legend class="ui-widget-content">Contacto</legend>
                    <ul class="ulForm">
                        <li>
                            <label class="labelInventario" for="tNContacto">Nombre: </label>

                            <input type="text" id="tNContacto" name="" class="inputInventario" data-id="" readonly>
                        </li>
                        <li>
                            <label class="labelInventario" for="tDireccion">Dirección: </label>
                            <input type="text" id="tDireccion" class="inputInventario" name="" data-id="" readonly>
                        </li>
                        <li>
                            <label class="labelInventario">TE: </label>
                            <textarea class="tAreaInventario" id="tAtelefonos" name="" data-id="" readonly></textarea>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
</div>