﻿@{
    ViewBag.Title = "Enlaces";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Scripts.Render("~/bundles/InventarioOpe")
@Scripts.Render("~/bundles/Relaciones")
@Styles.Render("~/Css/InventarioSoporte")
@Styles.Render("~/Css/InventarioOpe")
@{string accesoName = ViewBag.acceso;
bool acceso;
if (accesoName == "full")
{
    acceso = true;
}
else
{
    acceso = false;
}
}
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda por Nombre <br> del Elemento de Configuración</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        @if (acceso) { 
        <div class="right">
            <nav>
                <a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a>
                <a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a>
                <a id="editData" class="botonActualizaciones hide">Editar</a>
                <a id="LineaBase" class="botonActualizaciones hide">Línea Base</a>
                <a id="CancelarCambios" class="botonActualizaciones hide">Cancelar</a>                
            </nav>
        </div>
        }
    </div>
    <!---->
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <div class="rotatedEnlaces ui-widget-header">
                <div class="iconContainer">
                    <div class="ui-icon ui-icon-circle-triangle-e">

                    </div>
                </div>
                <h2 class="enlaceRotated">Enlaces</h2>
                <div class="ulcont">
                    <ul id="menu" class="ulMenu"></ul>
                </div>
            </div>
            <div class="dataRelated">
                <h4 class="ui-widget-header">Datos Básicos</h4>
                <div class="detalle divContainer">
                    <div class="divRow">
                        <div class="left col-3 divColumn">
                            <fieldset class="ui-widget-content">
                                <legend class="ui-widget-content">Identficacion</legend>
                                <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="" readonly="readonly">
                                <div class="table">
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Oblea/Nombre: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Nro/Serie: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Tipo: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Marca: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Marca" name="Marca" data-id="" placeholder="" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Modelo/Versión: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Modelo" name="Modelo" data-id="" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="left col-3 divColumn">
                            <fieldset class="ui-widget-content">
                                <legend class="ui-widget-content">Ubicacion</legend>
                                <div class="table">
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Jurisdiccion: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Ubicacion: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="right col-3 divColumn">
                            <fieldset class="ui-widget-content">
                                <legend class="ui-widget-content">Observaciones</legend>
                                <div class="table">
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Estado: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <input type="text" id="Estado" name="Estado" data-id="" placeholder="" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-4">
                                            <span>Observaciones: </span>
                                        </div>
                                        <div class="cell textleft col-2-75">
                                            <textarea id="Observaciones" name="Observaciones" data-id="" readonly="readonly"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" id="RelacionesRow">
                                        <div id="RelacionesSwitcher" class="cell textright col-4">
                                            <span>Relaciones: </span>
                                        </div>
                                        <div id="RelacionesWraper" class="cell textleft col-2-75">
                                            <div id="NuevaRelForm" class="opacity0">
                                                <div class="table opacity0">
                                                    <div class="row">
                                                        <div class="cell">
                                                            <p>Seleccione el tipo de elemento de configuraci&oacute;n</p>
                                                            <input id="TipoElementoConf" type="text" placeholder="Tipo de elemento">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="cell">
                                                            <p>Seleccione el elemento de configuraci&oacute;n a relacionar</p>
                                                            <input id="ElementoRelacion" type="text" placeholder="Elemento a relacionar">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="tags">
                                                <li>
                                                    <a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
                                                </li>
                                                <li>
                                                    <a id="AgregarRelacion" href="#" class="tag taghover ui-widget-content">Agregar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="divEnlace" style="display:none">
                    <h4 class="ui-widget-header">Enlace</h4>
                    <div class="divContainer">
                        <div class="divRow">
                            <div class="divColumn  col-2">
                                <fieldset class="ui-widget-content fieldHeight">
                                    <legend class="ui-widget-content">Información</legend>
                                    <ul class="ulForm fullHeight">
                                        <li>
                                            <label for="idProveedor" class="labelInventario">Proveedor: </label>
                                            <input type="text" class="inputInventario" id="idProveedor" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                        </li>
                                        <li>
                                            <label for="tDesc" class="labelInventario">Descripción: </label>
                                            <input name="tDesc" id="tDesc" type="text" placeholder="Campo Obligatorio" class="inputInventario" value="" data-id="" readonly="readonly">
                                        </li>
                                        <li>
                                            <label class="labelInventario">Nro.Referencia: </label>
                                            <input type="text" id="idReferencia" class="inputInventario" name="" data-id="" readonly="readonly">
                                        </li>
                                        <li>
                                            <label class="labelInventario" for="tWan">Red Lan: </label>
                                            <input type="text" id="tLan" name="Ubicacion" class="inputInventario" data-id="" readonly="readonly">
                                        </li>
                                        <li>
                                            <label class="labelInventario" for="tTipoE">Tipo Enlace: </label>
                                            <input type="text" id="tTipoE" name="tTipoE" class="inputInventario" data-id="" readonly="readonly">
                                        </li>
                                        <li>
                                            <label class="labelInventario" for="tBw">Ancho Banda:</label>
                                            <input type="text" id="tBw" class="inputInventario" readonly="readonly" />
                                        </li>

                                        <li>
                                            <label class="labelInventario">Wan:</label>
                                            <input type="text" id="tWan" class="inputInventario" readonly="readonly" />
                                        </li>
                                        <li>
                                            <label class="labelInventario">Loopback</label>
                                            <input type="text" id="tLoop" class="inputInventario" readonly="readonly" />
                                        </li>

                                    </ul>
                                </fieldset>
                            </div>
                            <div class="divColumn  col-2">
                                <fieldset class="ui-widget-content fieldHeight">
                                    <legend class="ui-widget-content">Contacto</legend>
                                    <ul class="ulForm">
                                        <li>
                                            <label class="labelInventario" for="tNContacto">Nombre: </label>

                                            <input type="text" id="tNContacto" name="" class="inputInventario" data-id="" readonly>
                                        </li>
                                        <li>
                                            <label class="labelInventario" for="tDireccion">Dirección: </label>
                                            <input type="text" id="tDireccion" class="inputInventario" name="" data-id="" readonly>
                                        </li>
                                        <li>
                                            <label class="labelInventario">TE: </label>
                                            <textarea class="tAreaInventario" id="tAtelefonos" name="" data-id="" readonly></textarea>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
     </div>
    
</section>
<!-- Modal Trigger -->
<span id="works_btn" class="button hide"></span>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h3>Confirmar</h3>
        </div>
        <div class="modal-body">
            <ul class="classMarca hide">
                <li class="">
                    <span class="">Marca</span>
                    <input type="text" id="AddMarca" class=" select">
                </li>
            </ul>
            <ul class="classEnviar hide">
                <li class="">
                    <span class="">Esta apunto de aceptar los cambios y actualizar los datos.</span>
                    <span class="">¿Desea continuar?</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="">
                <div class=" classEnviar hide">
                    <button type="button" id="SendForm" class="button"><span class="">Aceptar</span></button>
                </div>
                <div class=" classMarca hide">
                    <button type="button" id="SendMarca" class="button"><span class="">Agregar</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
