﻿@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/InventarioSoporte")
    @Scripts.Render("~/bundles/InventarioInfra")
    @Scripts.Render("~/bundles/Relaciones")
}
@{string accesoName = ViewBag.acceso;
bool acceso;
if (accesoName == "full")
{
    acceso = true;
}
else
{
    acceso = false;
}
}
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda por Nro. de Equipo, Nro. de Serie, <br> Ip o Nombre Común</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off" data-oblea="">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        @if (acceso)
        {
            <div class="right">
                <nav>
                    <a id="EquipoNuevo" style="background: #090; color: #FFF" class="botonActualizaciones">Nuevo</a>
                    <a id="AceptarCambios" class="botonActualizaciones hide">Aceptar Cambios</a>
                    <a id="editData" class="botonActualizaciones hide">Editar</a>
                    <a id="ImprOblea" class="botonActualizaciones hide">Imprimir oblea</a>
                    <a id="LineaBase" class="botonActualizaciones hide">Línea Base</a>
                    <a id="CancelarCambios" class="botonActualizaciones hide">Cancelar</a>
                    @*<a id="TestUpload" class="botonActualizaciones" href="#">Test</a>*@
                </nav>
            </div>
        }
    </div>
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <h4 class="ui-widget-header">Datos del equipo</h4>
            <div class="detalle">
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Identficacion</legend>
                        <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="" readonly="readonly">
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Oblea: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Nro/Serie: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Tipo: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Marca: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Modelo: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Modelo" name="Modelo" data-id="" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="left col-4">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Ubicacion</legend>
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Jurisdiccion: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Ubicacion: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="ui-widget-content">
                        <legend>Nombre</legend>
                        <div class="table">
                            <div class="row">
                                <div class='cell textright col-4'>
                                    <span>Nombre: </span>
                                </div>
                                <div class='cell textleft col-2-75'>
                                    <input type="text" id="NComun" name="NComun" data-id="" placeholder="Nombre común" readonly>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="right col-2">
                    <fieldset class="ui-widget-content">
                        <legend class="ui-widget-content">Observaciones</legend>
                        <div class="table">
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Estado: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <input type="text" id="Estado" name="Estado" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell textright col-4">
                                    <span>Observaciones: </span>
                                </div>
                                <div class="cell textleft col-2-75">
                                    <textarea id="Observaciones" name="Observaciones" data-id="" readonly="readonly"></textarea>
                                </div>
                            </div>
                            <div class="row" id="RelacionesRow">
                                <div id="RelacionesSwitcher" class="cell textright col-4">
                                    <span>Relaciones: </span>
                                </div>
                                <div id="RelacionesWraper" class="cell textleft col-2-75">
                                    <div id="NuevaRelForm" class="opacity0">
                                        <div class="table opacity0">
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el tipo de elemento de configuraci&oacute;n</p>
                                                    <input id="TipoElementoConf" type="text" placeholder="Tipo de elemento">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="cell">
                                                    <p>Seleccione el elemento de configuraci&oacute;n a relacionar</p>
                                                    <input id="ElementoRelacion" name="ElementoRelacion" type="text" placeholder="Elemento a relacionar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="tags">
                                        <li>
                                            <a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
                                        </li>
                                        <li>
                                            <a id="AgregarRelacion" href="#" class="tag taghover ui-widget-content">Agregar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            
            <div id="fullscreen" class="detalle ui-widget-content">
                <div class="overflow-auto">                    
                    <div class="server hide">
                        <h4 class="sub-title">Especificaciones</h4>
                        <div class="left col-4">
                            <fieldset class="serverDetail">
                                <legend class="ui-widget-content">CPU y Memoria</legend>
                                <div class="table">
                                    <div class="row">
                                        <div class="cell textright">                                            
                                                <div class="table">
                                                    <div class="row">
                                                        <div class="cell textright col-2">
                                                            <span>CPU: </span>
                                                        </div>
                                                        <div class="cell textleft col-2">
                                                            <input type="text" id="CPU" name="CPU" data-id="" readonly="readonly" placeholder="S/D">
                                                            <span class="ui-icon ui-icon-trash dropCombo"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="cell textright col-2">
                                                            <span>Cantidad CPU: </span>
                                                        </div>
                                                        <div class="cell textleft col-2">
                                                            <input type="text" id="CantidadCPU" name="CantidadCPU" data-id="" readonly="readonly" placeholder="S/D">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="cell textright col-2">
                                                            <span>Memoria: </span>
                                                        </div>
                                                        <div class="cell textleft col-2">
                                                            <input type="text" id="Memoria" name="Memoria" data-id="" readonly="readonly" placeholder="S/D">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="cell textright col-2">
                                                            <span>Unidad de Medida:</span>
                                                        </div>
                                                        <div class="cell textleft col-2">
                                                            <input type="text" id="UMMemoria" name="UMMemoria" data-id="" readonly="readonly" placeholder="S/D">
                                                            <span class="ui-icon ui-icon-trash dropCombo"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>                                        

                                    </div>                                   
                                </div>
                            </fieldset>                           
                        </div>
                        <div class="left col-4">
                            <fieldset>
                                <legend class="ui-widget-content">Almacenamiento</legend>
                                <div class="table">
                                    <div class="row">
                                        <div class="cell textright col-2">
                                            Letra de Unidad
                                        </div>
                                        <div class="cell col-2">
                                            <input type="text" id="letraUnidadStore" name="letraUnidadStore" readonly="readonly" placeholder="S/D"/>
                                            <span class="ui-icon ui-icon-trash dropCombo"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-2">
                                            Data Store
                                        </div>
                                        <div class="cell col-2">
                                            <input type="text" id="DataStore" name="DataStore" readonly="readonly" placeholder="S/D" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-2">
                                            Tamaño
                                        </div>
                                        <div class="cell col-2">
                                            <input type="text" id="CapAlmacenamiento" name="CapAlmacenamiento" readonly="readonly" placeholder="S/D" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell textright col-2">
                                            U.Medida
                                        </div>
                                        <div class="cell col-2">
                                            <input type="text" id="UMDiscos" name="UMDiscos" readonly="readonly" placeholder="S/D" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell col-2">

                                        </div>
                                        <div class="cell col-2">
                                            <button id="agregarDs">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table storageFields">
                                    
                                </div>
                            </fieldset>
                        </div>
                        <div class="left col-2">
                            <div class="left col-2">
                                <fieldset class="serverDetail">
                                    <legend class="ui-widget-content">Software</legend>
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Familia SO: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="FamiliaSO" name="FamiliaSO" data-id="" readonly="readonly" placeholder="S/D">
                                                <span class="ui-icon ui-icon-trash dropCombo"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Versión SO: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="VersionSO" name="VersionSO" data-id="" readonly="readonly" placeholder="S/D">
                                                <span class="ui-icon ui-icon-trash dropCombo"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Licencia SO: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="LicenciaSO" name="LicenciaSO" data-id="" readonly="readonly" placeholder="S/D">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="left col-2">
                                <fieldset class="serverDetail">
                                    <legend class="ui-widget-content">Config</legend>
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>En produccion: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="FechaProd" name="FechaProd" data-id="" readonly="readonly" placeholder="S/D">
                                                <span class="ui-icon ui-icon-trash dropCombo"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>Criticidad: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="Critico" name="Critico" data-id="" readonly="readonly" placeholder="S/D">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell textright col-4">
                                                <span>IPv4: </span>
                                            </div>
                                            <div class="cell textleft col-2-75">
                                                <input type="text" id="IPv4" name="IPv4" data-id="" readonly="readonly" placeholder="S/D">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="cell col-2">

                                            </div>
                                            <div class="cell col-2">
                                                <button id="agregarIp">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table ipFields">

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Clear -->
                        <div class="clear"></div>
                        <!-- Clear -->
                    </div>
                    <div class="cluster hide">
                        <h4 class="sub-title">Hosts</h4>
                        <div class="clusterContainer">
                            <div class="hostContainer ui-widget-content">
                                <p class="info">Agregar los Host que lo componen</p>                                
                                <div class="left col-3 template hide">
                                    <div class="table">
                                        <div class="row cellspacing">
                                            <div class="cell col-90">
                                                <div class="table margin-b-3 bg-white" id="">
                                                    <div class="row row-th">
                                                        <div class="cell th ui-widget-header">Nombre Host</div>                                                        
                                                        <div class="cell th add-rem ui-widget-header"></div>
                                                    </div>
                                                    <div class="row row-td ui-widget-content" data-remove="">
                                                        <input type="hidden" class="idUc">
                                                        <div class="cell ucnombre"></div>                                                        
                                                        <div class="cell img-center"><img class="button remove" src="~/Areas/Soporte/Content/Inventario/images/rem.png" readonly width="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                         
                             </div>
                            <div class="bottomBut">
                                <button>Agregar</button>
                                <input type="text" class="ucAComp hide" name="addHost" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>   
    </div> 
</section>
<span id="works_btn" class="button hide"></span> 
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h3>Confirmar</h3>
        </div>
        <div class="modal-body ui-widget-content">
            <ul class="classMarca hide">
                <li class="">
                    <span class="">Marca</span>
                    <input type="text" id="AddMarca" class=" select">
                </li>
            </ul>
            <ul class="classEnviar hide">
                <li class="">
                    <span class="">Esta apunto de aceptar los cambios y actualizar los datos.</span>
                    <span class="">¿Desea continuar?</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="">
                <div class=" classEnviar hide">
                    <button type="button" id="SendForm" class="button">
                        <span class="">Aceptar</span>
                    </button>
                </div>
                <div class=" classMarca hide">
                    <button type="button" id="SendMarca" class="button">
                        <span class="">Agregar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->

