﻿html{
    font-size:13px;
}
.tabs .tab a:focus, .tabs .tab a:focus.active a:hover {
    background-color: rgba(36, 137, 13, .2) !important;
    outline: none;
}
.tabs .tab a ,.tabs .tab a:hover, .tabs .tab a.active{
    color: #24890D;
}
.niceSpan {
    overflow-x: auto;
}
.tabs .indicator {
    background-color: #24890D;
}
.rowUsuario div.input-field{
    margin:2px;
}
.height39 {
    height:39px;
}
.input-field div.invalid {
    position: relative;
    top: -.5rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
#pedidos div.collapsible-body > ul > li{
    padding:2px;
}
div.priority{
    margin-top:32px;
}
div.priority input[type="text"]{
    font-size:.9rem;
}
div.collapsible-body label
{
    font-size:1rem;
}
.row {
    margin-bottom: 3px;
}
[type="checkbox"] + span:not(.lever) {
    padding-left:22px;
}
li.collection-item div.row input{
    height:1rem;
    border-bottom:none;
    font-size:1rem;
}
    /*.tabs .tab a {
    color: #2196F3;
}

.tabs .tab a:hover {
    background-color: #E3F2FD;
    color: #2196F3;
}

.tabs .tab a.active {
    background-color: #2196F3;
    color: #fff;        
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #2196F3;
    color: #fff;
}
.tabs .indicator {
    background-color: transparent;
}*/
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}
.invalidai{
    position:relative;
    font-size:1em;
    color:#ff4081;
}
.flex{
    display:flex;
}
.flex div{
    flex:1 1 auto;
}
.tit-h6{
    display:inline;
    margin-left:235px;
}
.tit-h6 em{
    font-size:1.5em;
    font-style:initial;
}
#logo-container div{
    width:200px;
    margin-top:5px;
}
#logo-container div img{
    width:100%;
    height:100%;
}

/* Collapsable */
.collapsible-body .bread {
    font-size: inherit;
    vertical-align: text-bottom;
}

/* Origen-Destino Iconos */
i.origen {
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
}
i.destino {

}

/* MEDIA */
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}