﻿.select-wrapper.disabled { /* Limpia la clase .disabled del archivo common.css */
    padding: initial;
    border: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.content3 {
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 105px);
}

.breadcrumb:before {
    color: #424242;
}

.pre-loader-gc{
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

/* TABS */
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(36, 137, 13, .2);
    outline: none;
}
.tabs .indicator {
    background-color: #24890D;
}

/* Colapsable */
.collapsible-header .bread {
    margin-right: 0 !important;
}
.collapsible-body .bread {
    font-size: inherit;
    vertical-align: text-bottom;
}
.collapsible-body .pre-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.fix-empuje{
    max-width: 52.5%;
    word-wrap: break-word;
}
.fix-empuje .titulo-completo {
    position: absolute;
    right: 8px;
    padding: 10px 15px;
    margin-top: -30px;
    max-width: 52.5%;
    white-space: initial;
    display: none;
    z-index: 100;
}
.fix-empuje:hover .titulo-completo {
    display: block;
}

/* Elementos de configuracion y relaciones */
.Elementos-Config-List .btn, .Elementos-Config-List .btn-small {
    margin-bottom: 5px;
}
.elementoC {
    position: initial;
}
.elementoC:hover {
    cursor: help;
}
.elementoC .relacionesEC {
    display: none;
    position: absolute;
    padding: 10px 15px;
    margin: 5px 0 0 -15px;
    max-width: 40%;
    z-index: 100;    
}
.elementoC:hover .relacionesEC {
    display: block;    
}
.col.ECfix {
    float:initial !important;
    margin-left:initial !important;
    padding: 0;
}
.row{
    position:relative;
}
/* MEDIA */
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}