﻿.ui-autocomplete{
    font-size:12px;
}
.dropStorage{
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}
div.cell  .inputSt{
    width:98% !important;
}
div.cell .inputIp{
    width:98% !important;
    /*color:gray;
    font-weight:bold;
    font-size:14px;*/
}
.dropCombo{
    position:absolute;
    right:9px;
    top:4px;
    cursor:pointer;
    display:none;
}
.tags li.nofloat{
    float:none !important;
}
.underline{
    text-decoration:underline;
}
.lineasBase{
    padding:2px;
}
.border{
    border:solid 1px solid;
    padding:5px;
}
.verLB{
    text-decoration:underline;
}
.serverDetail{
    min-height:135px;
}
.cluster{
    height:100%;
}
div.clusterContainer{
    height:calc(100% - 40px);
    position:relative;    
	border-radius: 2px;
	text-shadow: 0 0 1px rgba(255,255,255,.8)
}
div.hostContainer{
    border:2px solid;
    height:calc(100% - 40px);
    overflow:auto;
}
.bottomBut{
    position:absolute;
    bottom:0;
    height:30px;
}
.divContainer 
{
    display: table;
    height:30%;
    width:100%;
    box-sizing:border-box;
}

.divRow  
 {
    display: table-row;
    height: 100%;
}

.divColumn 
{
    display: table-cell;
    height:100%;
}
.divColumn fieldset
{
    border: 1px solid #ddd;
    padding: 1.4em 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 8px;
    margin: 0 5px;
    height: 95%;
    box-sizing:border-box;
}
