﻿@charset "utf-8";
/* CSS Document */
/* NORMALIZE */
*{
    outline: 0;
}
#PRConectividades, #PRInsumos { 
    min-height: 50px; 
    width: 96%; 
    border: 1px #000 solid; 
    border-radius: 2px; 
    overflow-y: auto; 
    overflow-x: hidden; 

}
.whitebg {
    background-color:white;
    width:16px;
    height:16px;
    border-radius:50%;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
html, body{
	margin: 0;
	padding: 0;
    background: #DDD;
    font-family: Trebuchet MS,Helvetica,Verdana,Arial,Sans-Serif;
	font-size: 15px;
	overflow: hidden;
}
a{
	color: inherit;
	text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.trigger{
    padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
    width: 150px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.slideout-menu {
	position: absolute;
	top: 0;
	left: -180px;
	width: 180px;
	height: 100%;
	background: #333;
	z-index: 100;
}
.slideout-menu h3 {
	position: relative;
	padding: 12px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	border-bottom: 4px solid #222;
}
.slideout-menu input[type=text]{
	width: 170px;
	height: 25px;
	color: #555;
    font-size: 16px;
    font-weight: bold;
}
.slideout-menu .slideout-menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
	color: #fff;
}
.slideout-menu ul {
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #454545;
	margin: 0;
	padding: 0;
}
.slideout-menu ul li {
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #999;
	text-decoration: none;
}
.slideout-menu ul li a:hover {
	background: #000;
	color: #fff;
}
.slideout-menu ul li a i {
	position: absolute;
	top: 15px;
	right: 10px;
	opacity: .5;
}

/* SHOW SUB-LINKS */
/* Fix top position on chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.sub-links{
		top: 35px !important;
	}
}
/* FLOATS */
.right {
    float: right!important;
}
.left {
    float: left!important;
}
.hide{
	display: none;
}

/* CONTENT */
#body {
	position: fixed;
	top: 105px;
	left: 0;
	right: 0;
	bottom: 0;
}

/* SEARCH */
#body > #formSearch {
    position: relative;
    left: 0px;
    height: 40px;
    width: 98%;
    margin: 5px 0;
	z-index: 2;
}
#body > #formSearch > .texto {
    display: inline-block;
    padding-left: 5px;
	margin: 5px 0 0 0;
    font-size: .7em;
    font-style: italic;
    line-height: inherit;
}
#body > #formSearch > #searchBar {
    position: relative;
    z-index: 1;
    width: 400px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 100%;
    float: left;
}
#body > #formSearch > #searchBar > #searchBar_input {
    background: #08557D;
    position: relative;
    right: 0;
    height: 100%;
    top: 0;
}
#body > #formSearch > #searchBar > #searchBar_input input {
    position: relative;
    top: 5px;
    width: 370px;
    height: 75%;
    padding: 0 0 0 5px;
    left: 15px;
    margin-right: 10px;
    background: #FFF;
    outline: 0px;
	border: medium none;
    color: #999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    z-index: 2;
}
#body > #formSearch > #searchBar > #searchBar_input input:focus{
	box-shadow: inset 0 0 3px 2px rgba(51,153,255,.8);
}
#body > #formSearch > #searchBar > #searchBar_input button{
    position: absolute;
    top: 5px;
    right: 15px;
    outline:0px;
}
#body > #formSearch > #searchBar > #searchBar_input > #searchButton {
    background: url(/Content/img/search_button.png) no-repeat 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 38px;
    width: 38px;
    z-index: 10;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 15px;
    outline: 0px;
}
#body > #formSearch nav{
	margin: 5px 0 0 0;
}
#body > #formSearch nav .botonActualizaciones{
    padding: .65em 1.5em;
    background: #f6f6f6;
    border: 1px solid #ccc;
    color: #1c94c4;
    font-size: .60em;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    cursor: pointer;
}
#body > #formSearch nav .botonActualizaciones:hover{
    color: #c77405;
    border: 1px solid #fbcb09;
    background: #fdf5ce;
}
/* CONTENT */
#body > #content-box{
	position: relative;
	height: calc(100% - 50px);
}

/* WINDOW */
#body > #content-box > .window{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 65px;
	min-width: 90%;
	max-width: 90%;
	font-size: .8em;
	overflow: hidden;
}
#body > #content-box > .window > .accContent{
	position: relative!important;
	height: calc(100% - 25px);
}
#body > #content-box > .window > .accContent > .grilla {
	position: relative!important;
	top: 0;
	bottom: 65px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
#body > #content-box > .window > .accContent > .grilla > table tbody {
}

#body > #content-box > .window > .accContent > .botones {
    position: fixed;
    bottom: 0;
    height: 65px;
	width: 100%;
    background: #292929;
    color: #FFF;
	box-shadow: -1px 0 2px #FFF;
}
#body > #content-box > .window > .accContent > .botones .icons {
    padding: 5px;
    margin: 5px 0 5px 5px;
	height: 50px;
	float: left;
}
#body > #content-box > .window > .accContent > .botones .icons h3 {
	font-size: 1em;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: uppercase;
}
#body > #content-box > .window > .accContent > .botones .botones-submenu {
    background: #555555;
    border: 1px rgba(120,120,120,1) solid;
	border-radius: 1px;
}
#body > #content-box > .window > .accContent > .botones .icons span.button {
    margin: 3px 0;
	background-color: #459948; /* Green */
	background-color: rgb(0,102,0);
    border: none;
    color: white;
    padding: 2px 6px;
	border: 1px #4CAF4F solid;
	border: 1px rgb(0,72,0) solid;
	border-radius: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
#body > #content-box > .window > .accContent > .botones .icons button {
	border: 0;
	padding: 0;
	background: none;
    color: #FFF;
}
#body > #content-box > .window > .accContent > .botones .icons span.button:hover {
	background: rgba(204,102,0,1);
}
#body > #content-box > .window > .accContent > .botones .icons select{
	width: 65%;
	padding: 2px 6px;
	font-size: 14px;
	line-height: 1.1;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* DATA TABLE */
/*#body > #content-box > .window .ui-widget-content{ 
    background: #DDD;
}*/
#body > #content-box > .window table td/*, #body > #content-box > .window .ui-widget-content a*/{
    color: #666;
}
#body > #content-box > .window table {
    border-collapse: collapse;
    border-spacing: 0;
}
#body > #content-box > .window table tr:nth-child(odd) {
    background-color: #EEE;
}
#body > #content-box > .window table tr:nth-child(even) {
    background-color: #DDD;
}
#body > #content-box > .window table tr:hover {
    background-color: #BBB;
}
#body > #content-box > .window table td {
    color: #666;
    border: solid 1px #aaa;
}
#body > #content-box > .window table th {
    background-color: #292929;
    color: #EEE;
    text-align: center;
    padding: 0;
    border: solid 1px #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #CCC;
    color: #FFF;
    padding: 0;
}


/* NAV MENU LATERAL */
#body > #content-box > #window-nav{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10%;
	background: #999;
	z-index: 9;
}
#body > #content-box > #window-nav ul {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    list-style-type: none;
    overflow: hidden;
	border-top: 1px #333333 inset;
	border-right: 1px #333333 solid;
	
	-webkit-box-shadow: 2px 26px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 26px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 26px 4px 0px rgba(0,0,0,0.75);
}

#body > #content-box > #window-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	text-transform: uppercase;
}

#body > #content-box > #window-nav li a.active {
    background-color: #4CAF50;
	background-color: rgb(0,102,0);
    color: white;
}

#body > #content-box > #window-nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* FORM MESA */
#body > #content-box > .window form table th{
	width: 15%;
}
#body > #content-box > .window form table td input{
	width: 65%;
}
#body > #content-box > .window form table td select{
	width: 66%;
}
#body > #content-box > .window table td textarea{
	min-width: 99.5%;
	max-width: 99.5%;
	height: 295px;
	margin: 0;
    resize: none;
}

/* INVETARIO */
#body > #content-box > #equip-list{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10%;
    background-color: #f1f1f1;
	box-shadow: 0 2px 2px 1px #000000;
	z-index: 10;
}
#body > #content-box > #equip-list > h4{
	padding: 5px 0 5px 5px;
	margin: 0;
	width: calc(100% - 5px);
    background: #1862B3;
	color: #FFF;
	text-shadow: 0 0 2px #000;
}
#body > #content-box > #equip-list > ul{
	padding: 0;
	margin: 0;
	width: calc(100% - 5px);
	list-style: none;
}
#body > #content-box > #equip-list > ul li{
	padding: 2px 5px;
	width: calc(100% - 5px);
	text-align: center;
}
#body > #content-box > #equip-list > ul li:nth-child(odd) {
    background-color: #EEE;
}
#body > #content-box > #equip-list > ul li:nth-child(even) {
    background-color: #DDD;
}
#body > #content-box > #equip-list > ul li:hover {
    background: #CCC;
}
#body > #content-box > .bottom-0 {
	bottom: 0;
}
#body > #content-box > .window h4 {
	margin: 0;
	padding: 5px;
	width: 100%;
	height: 15px;
	/*background: #06C;*/
	line-height: 16px;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 0 2px #000;
}
#body > #content-box > .window h4.sub-title:first-child{
	margin-top: 0!important;
}
#body > #content-box > .window h4.sub-title{
	margin: 10px 0;
	width: calc(100% - 10px);
	background: rgba(73, 109, 155, 1);
}
#body > #content-box > .window > .detalle{
	position: relative;
	padding: 0 0 0 1px;
	/*background: rgba(221, 222, 239, 1);*/
	overflow: hidden;
	-webkit-transition: all .25s ease .15s;
	-moz-transition: all .25s ease .15s;
	-o-transition: all .25s ease .15s;
	-ms-transition: all .25s ease .15s;
	transition: all .25s ease .15s;
}
#body > #content-box > .window > .detalle:first{
	height: 156px;
}
#body > #content-box > .window > .detalle:last-child{
	height: calc(100% - 225px);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#body > #content-box > .window > .detalle:last-child{
		height: calc(100% - 210px);
	}
}
#body > #content-box > .window > .detalle > div{
	margin: 5px 0;
}

#body > #content-box > .window > .detalle > div fieldset{
	margin-bottom: 5px;
    margin-top:5px;
	/*min-height: 148px;*/
	/*background: #09C;
	background: rgba(101, 162, 219, .7);
	/*border: 1px solid #06F;
	border: 1px solid rgba(50, 188, 238, 0.95);*/
	border-radius: 2px;
	text-shadow: 0 0 1px rgba(255,255,255,.8)
}
#body > #content-box > .window > .detalle > div fieldset legend{
	/*background: #09C;
	background: rgba(101, 162, 219, 0.4);
	border-top: 1px solid rgba(50, 188, 238, 0.95);*/
	/*border-radius: 3px;
	background: #1f497d none repeat scroll 0 0 !important;
    box-shadow: 0 0 0 5px #ddd;
    color: #fff !important;
    font-size: 12px;
    margin-left: 20px;
    padding: 4px 8px;*/
}

#body > #content-box > .window > .detalle .cell input, #body > #content-box > .window > .detalle .cell textarea{
	width: 95%;
	/*width: 88%; Usar en caso de tener copia con jQuery */
	resize: none;
}

#body > #content-box > .window > .detalle .cell textarea{
	height: 70px;
}

#body > #content-box > .window > .detalle input[type=text], #body > #content-box > .window > .detalle textarea{
	margin: 1px;
	padding: 2px;
	/*background: rgba(250,250,250,.95);
	border: hidden;*/
	
	appearance: normal;
	-moz-appearance: normal; /* Firefox */
	-webkit-appearance: normal; /* Safari and Chrome */
}

#body > #content-box > .window > .detalle input[type=text].error, #body > #content-box > .window > .detalle textarea.error, .modal input[type=text].error{
	box-shadow: 0 0 2px #F00 inset;
}

#body > #content-box > .window > .detalle #RelacionesWraper, #body > #content-box > .window > .detalle #RelacionesSwitcher{
	height: 25px
}
#body > #content-box > .window > .detalle #RelacionesWraper{
	width: auto;
	margin: 0 0 0 2px;
	max-width: 465px !important;
	overflow: hidden;
	display: block;
}
#body > #RelacionesWraper{
	font-size: 0.95em;
	font-family: Consolas,Andale Mono,Lucida Console,Lucida Sans Typewriter,Monaco,Courier New,monospace;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	padding: 0;
    vertical-align: top;
	border-radius: 3px;
	z-index: 3;
}
#RelacionesWraper, #RelacionesWraper a{
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}
#NuevaRelForm{
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
#NuevaRelForm .table{
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
#body > #RelacionesWraper li a:hover{
	border: 1px solid #08557d !important;
}

#body > #content-box > .window > .fullscreen{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%!important;
    animation:myship 1s;
    -moz-animation:myship 1s; /* Firefox */
    -webkit-animation:myship 1s; /* Safari and Chrome */               
}

/* SHOW HIDE VIEWS */
.panel-0{
}
.panel-1, .panel-2, .panel-3, .panel-4, .panel-5, .panel-6, .panel-7, .panel-8, .panel-9, .panel-10{
	display: none;
}

/* THEME */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	margin: 0;
    border: 0;
    background: rgba(235,145,0,1);
    font-weight: bold;
    color: #FFF;
    padding-left: .3em!important;
	font-size: .95em;
}
.ui-accordion .ui-accordion-header a {
    display: block;
    padding: .5em .5em .5em .7em;
}
div.divHeader {
    font-size: .95em;
    height: 20px;
}
.inline {
    display: inline-block;
	display: inline;
}
.iconized {
    display: inline-block;
    padding-left: 7px;
    vertical-align: bottom;
}
.divHeader span {
    display: inline-block;
}
.ui-widget-content table{
	width: 100%;
}

.bg-white{
	background: #FFF;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.margin-b-3{
	margin: 0 0 3px 0;
}

.img-center{
	text-align: center;
}

.overflow-auto{
	margin: 0 0 5px 0;
	padding: 0 10px;
	height: calc(100% - 15px);
	overflow: auto;
}
.clear{
	clear: both;
}
.add-rem{
	width: 35px;
}

img.button{
	cursor: pointer;
}

.iconCopy{
	/* Si se usa copia con jQuery */
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

/* COLS */
.col-1{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100% !important;
}
.col-2{
	margin: 0;
	padding: 0;
	width: 50%;
	max-width: 50% !important;
}
.col-3{
	margin: 0;
	padding: 0;
	width: 33.33%;
	max-width: 33.33% !important;
}
.col-4{
	margin: 0;
	padding: 0;
	width: 25%;
	max-width: 25% !important;
}
.col-5{
	margin: 0;
	padding: 0;
	width: 20%;
	max-width: 20% !important;
}
.col-6{
	margin: 0;
	padding: 0;
	width: 16.6%;
	max-width: 16.6% !important;
}
.col-10{
	margin: 0;
	padding: 0;
	width: 10%;
	max-width: 10% !important;
}
.col-90{
	margin: 0;
	padding: 0;
	width: 90%;
	max-width: 90% !important;
}
/* SPECIAL COLS */
.col-2-75{
	margin: 0;
	padding: 0;
	width: 75%;
	max-width: 75% !important;
}
.col-3-2{
	margin: 0;
	padding: 0;
	width: 66.66%;
	max-width: 66.66% !important;
}
.col-6-2{
	margin: 0;
	padding: 0;
	width: 83.4%;
	max-width: 83.4% !important;
}
.col-10-2{
	margin: 0;
	padding: 0;
	width: 56.6%;
	max-width: 56.6% !important;
}
/* COLS */

/* TABLA DIV */
.table {
	position: relative;
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
	padding: 0 3px;
	vertical-align: top;
}
.th {
	font-weight: bolder;
	font-size: 1.2em;
}
.row-td{
	background-color:#E5E5E5;
	/*color:#000066;*/
}
.row-th{
	background-color:#006699;
	color:white;
}
.caption {
    display: table-caption;
    caption-side: bottom;
    border: 1px solid grey;
}
.cellspacing{
    border-spacing: 2px;
}
.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}
.valing-t{
	vertical-align: top;
}
.valing-m{
	vertical-align: middle;
}
.valing-b{
	vertical-align: bottom;
}
.rowClear{
	height: 18px;
}
.height-row{
	height: 100%;
}
.height-cell{
	height: 100%;
}
.height-fieldset{
	height: 85%;
}

/* UI AUTOCOMPLETE */
.ui-autocomplete{
	max-height: 200px;
    overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item{
    overflow-y: hidden;
	overflow-x: hidden;
}

/* WORKS PANEL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-header {
    padding: 0 16px;
    background-color: rgba(235,145,0,1);
    color: white;
}

.modal .modal-header h3 {
	padding: 10px 0;
	margin: 0;
}

.modal .modal-body {padding: 2px 16px;}

.modal .modal-footer {
    padding: 2px 16px;
    background-color: #292929;
    color: white;
}

.modal .button {
    margin: 3px 0;
    background-color: #459948;
    background-color: rgb(0,102,0);
    border: none;
    color: white;
    padding: 2px 6px;
    border: 1px #4CAF4F solid;
    border: 1px rgb(0,72,0) solid;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}

.modal .modal-body ul{
	list-style: none;
}

.modal input[type=text], .modal select, .modal textarea {
	width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal input[type=checkbox]{
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 3px;
	width: 18px;
	height: 18px;
    vertical-align: middle;
}

.modal #tObleaSolucion {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 4px;
    background-repeat: no-repeat;
	margin-left: 5px;
    padding: 5px 10px 5px 40px;
	clear: both;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.modal #tObleaSolucion:focus {
    width: 94%;
}

.modal input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal input[type=submit]:hover {
    background-color: #45a049;
}

.modal fieldset{	
	border: 1px solid #ccc;
	border-radius: 4px;
}

.row-td, .cell ul{
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.cell ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cell ul li{
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	width: 100%;
}
.cell ul li input[type=radio]{
	position: relative;
	visibility: hidden;
	width: 10px!important;
	float: left;
}
.cell ul li label{
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	padding: 7px 0 10px 0;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}
.cell ul li .check{
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: calc(50% - 40px);
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.cell ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 11px;
	width: 11px;
	top: 2px;
	left: 2px;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.cell ul li .smallchek {
	display: block;
	position: absolute;
	border: 4px solid #AAAAAA;
	border-radius: 100%;
	height: 7px !important;
	width: 7px !important;
	top: 1px;
	left: calc(50% - 5px);
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.cell ul li .smallchek::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 5px !important;
	width: 5px !important;
	top: 1px;
	left: 1px;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.cell ul li input[type=radio]:checked ~ .check {
	border: 5px solid forestgreen;
}

.cell ul li input[type=radio]:checked ~ .check::before{
	background: forestgreen;
}

.cell ul li input[type=radio]:checked ~ .smallchek {
	border: 4px solid forestgreen;
}

.cell ul li input[type=radio]:checked ~ .smallchek::before{
	background: forestgreen;
}

.cell ul li input[type=radio]:checked ~ label{
	color: forestgreen;
}

	/* INVENTARIO SELECTORS */
	#WSselector, #MNselector, #PRselector, #fullscreenBtn{
		display: none;
	}
	
	.classWS .table input{
		margin: 0!important;
		padding: 0!important;
		width: 100%!important;
	}

.table .button{
	cursor: pointer;
}

#fullscreenBtn{
	background:rgba(240,240,240,.7);
	padding:3px;
	margin:0;
	position:absolute;
	top:7px;
	right:12px;
	border-radius:3px;
	cursor:pointer;
	z-index:2
}

/* Nuevo complemento */
#AltaComponentes{
	display: none;
}
#NuevaMother, #NuevoMicro, #NuevoDisco, #NuevaRam, #NuevoVideo, #NuevaRed, #NuevoOptico, #NuevoSoft{
	display: none;
}

/* TAGS */
.tags {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.tags:hover {
	overflow: auto;
}

.tags li {
	float: left!important;
	width: auto!important;
}

.tag {
	border-radius: 2px 0 0 2px;
	color: #999;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding: 0 18px 0 21px;
	position: relative;
	margin: 0 3px 5px 0;
	text-decoration: none;
    -webkit-transition: all 0.3s ease .55;
    -moz-transition: all 0.3s ease .55;
    -o-transition: all 0.3s ease .55;
    -ms-transition: all 0.3s ease .55;
    transition: all 0.3s ease .55;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 8px;
}

.tag::after {
	background: transparent;
	border-bottom: 12px solid transparent;
	/*border-left: 10px solid #eee;*/
	border-top: 11px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background: #08557d!important;
	color: white;
}

.tag:hover::after {
	/*background: #eee;*/
	border-left-color: #08557d!important;
}

.taghover {
	background: #08557d!important;
	border: 1px solid #08557d !important;
	border-radius: 0 0 0 3px;
	color: white!important;
}

/* LOADING */
#loadFacebookG{
	width:125px;
	height: 125px;
	display: block;
	position: relative;
	margin:auto;
}

.facebook_blockG{
	background-color:rgb(71,181,255);
	border:3px solid rgb(0,136,199);
	float:left;
	height:89px;
	margin-left:7px;
	width:23px;
	opacity:0.1;
	animation-name:bounceG;
		-o-animation-name:bounceG;
		-ms-animation-name:bounceG;
		-webkit-animation-name:bounceG;
		-moz-animation-name:bounceG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(0.7);
		-o-transform:scale(0.7);
		-ms-transform:scale(0.7);
		-webkit-transform:scale(0.7);
		-moz-transform:scale(0.7);
}
#blockG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}
#blockG_2{
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}
#blockG_3{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
@keyframes bounceG{
	0%{
		transform:scale(1.2);
		opacity:1;
	}

	100%{
		transform:scale(0.7);
		opacity:0.1;
	}
}
@-o-keyframes bounceG{
	0%{
		-o-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-o-transform:scale(0.7);
		opacity:0.1;
	}
}
@-ms-keyframes bounceG{
	0%{
		-ms-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-ms-transform:scale(0.7);
		opacity:0.1;
	}
}
@-webkit-keyframes bounceG{
	0%{
		-webkit-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-webkit-transform:scale(0.7);
		opacity:0.1;
	}
}
@-moz-keyframes bounceG{
	0%{
		-moz-transform:scale(1.2);
		opacity:1;
	}
	100%{
		-moz-transform:scale(0.7);
		opacity:0.1;
	}
}


/* FullScreen */
@keyframes myship{
    from {top: 200px;}
    to{top:0px;} 
}
@-moz-keyframes myship{
    from {top: 200px;}
    to{top:0px;} 
}
@-webkit-keyframes myship{
    from {top: 200px;}
    to{top:0px;} 
}

#NuevaRelForm {
	position: fixed;
	width: 250px;
	height: 180px;
	margin-left: -75px;
	margin-top: -190px;
	background: #08557d;
	border-radius: 3px;
	padding: 5px 10px;
	color: #FFF;
	z-index: 99;
	display: none;
}

#NuevaRelForm input[type="text"]{
	width: 240px!important;
	margin: 0;
}

.opacity0 {
	opacity: 0;
}
/* UI AUTOCOMPLETE */
.ui-autocomplete{
	max-height: 200px;
    overflow-y: auto;
	overflow-x: hidden;
	padding: 0!important;
}
.ui-autocomplete .ui-menu-item{
    overflow-y: hidden;
	overflow-x: hidden;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: 0 !important;
	font-weight: normal !important;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
	margin: 0 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	font-size: initial !important;
	font-weight: normal !important;
}
