﻿/* CSS Document */
/* NORMALIZE */
* {
    outline: 0;
}
.trigger_message {
    background-image: url('../../Content/Consultas/contact.png');
    width: 54px;
    height: 54px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius:100%;
    background-color:#1d2e51;
    border:0;
    display:block!important;
    cursor:pointer;
}
    .trigger_message.open {
        background-image: url('../../Content/Consultas/contact_open.png');        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
.preload {
    display: none;
}

.labelMail {
    float: left;
    padding: 0 5px;
    text-align: right;
    width: 12%;
}

.ulMail {
    padding-left: 20px;
}

    .ulMail li {
        list-style: outside none none;
        margin: 2px;
        padding: 4px 0;
        text-decoration: none;
    }

.inputMail {
    height: 14px;
    width: 452px;
}

.textMail {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    width: 446px;
    height: 98px;
}

a {
    color: inherit;
    text-decoration: none;
}

.divSearch {
    margin: 0 auto;
    width: 100%;
}

.labl {
    width: 180px;
    float: left;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    padding-right: 5px;
}

ul {
    list-style-type: none;
}

table {
    padding-left: 40px;
}

/* NUEVO */

a, a:link, a:visited {
    text-decoration: none !important;
}

.body-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/Content/Login/images/bg-body.jpg) center / cover;
    display: block;
    z-index: 1;
    filter: blur(6px);
}

.body-dots {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/Content/Login/images/dots.png);
    display: block;
    z-index: 2;
}

.sofit-tittle {
    position: absolute;
    top: 32px;
    left: -120px;
    z-index: 4;
}

    .sofit-tittle button h3 {
        margin: 0;
    }

.sofit-login {
    width: 99%;
}

.sofit-resultado {
    min-width: 99% !important;
    width: 99% !important;
    max-width: 99% !important;
    animation: all 0.5s ease;
}

.sofit-bottom--wide {
    width: 100%;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.mdl-layout__content {
    padding: 24px;
    /*flex: none;*/
    overflow-x: visible !important;
    overflow-y: auto;
}

.mdl-menu-bar {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    color: white;
    height: 64px;
    width: 40%;
    padding: 16px;
}

.wrapper {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}

.mdl-menu__item a {
    width: 100%;
    height: 100%;
}

#areasIncidente thead th {
    border: 0 !important;
}

.ui-dialog {
    max-width: 90%;
    background: #FFF;
}

    .ui-dialog table {
        border-collapse: collapse;
    }

        .ui-dialog table th {
            border: 0;
            text-align: left;
        }

        .ui-dialog table td {
            max-width: 600px;
            white-space: pre-wrap;
            text-align: left;
        }

.infos {
    padding: 10px;
}

label[for='lDescripcion'] {
    white-space: pre-wrap;
}

@@media screen and (min-height: 635px) {
    .mdl-layout {
        /*overflow: hidden;*/
    }
}
div.message {
    background: transparent none repeat scroll 0% 0%;    
    border: medium none;
    bottom: 12px;
    height: 80px;
    position: fixed;
    right: 18px;
    top: auto;
    width: 80px;
    z-index: 1050;
}