﻿<!DOCTYPE html>
<html>
<head>
	<title>Pedido de Reglas</title>
	@Styles.Render("~/Css/materialize")
	@Styles.Render("~/Css/reglas")
	@Styles.Render("~/Css/notifications")
	@Scripts.Render("~/bundles/base")
	@Scripts.Render("~/bundles/validate")
	@Scripts.Render("~/bundles/materialize")
	@Scripts.Render("~/bundles/reglas")

	<link rel="icon" href="~/favicon.png" />

</head>
@*<body>*@
<body onbeforeunload="return myFunction()">
	<script>
				  function myFunction() {
						return "Va a abandonar la página?";
				  }
	</script>
	@{
		var message = TempData["message"] as string;
	}
	@Html.Hidden("errorMessage", TempData["message"])
	<nav class="black" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="https://www.cba.gov.ar" class="brand-logo"><div class="valign-wrapper"><img src="~/Content/Reglas/img/logo.png" /></div></a>

			<ul class="right hide-on-med-and-down">
				@model soporte.Models.Reglas.ReglasModel
				@{

					var user = Session["usuario"] as soporte.Models.usuarioBean;
					if (user != null && !String.IsNullOrEmpty(user.Nombre))
					{
						@Html.Hidden("nombreUsuario", user.Nombre)
						@Html.Hidden("dispNameUsuario", user.NombreCompleto)
						@Html.Hidden("emailUsuario", user.email)
						<li style="font-size:small; font-style:italic;">
							<span>@Html.Raw("Conectado como: " + user.NombreCompleto)</span>
						</li>
					}

				}
				@{ if (user.EsInterno)
					{
						<li>
							<a href="/@user.getHomePage()" data-tooltip="Volver a Home" data-position="bottom" class="tooltipped"><i class="material-icons">arrow_back</i></a>
						</li>
					} }
				<li>
					<a href="/LogoutAd" class="tooltipped" data-position="bottom" data-tooltip="Salir"><i class="material-icons">exit_to_app</i></a>
				</li>

			</ul>
			<h6 class="tit-h6"><em>Sofit</em> - Accesos a Servicios Informáticos</h6>
		</div>
	</nav>
	<div class="hide center-align" id="LoginError">
		<div class="valign-wrapper container">
			<i class="material-icons red-text">error</i>
			<span class="red-text"></span>
		</div>
	</div>
	<div class="section no-pad-top no-pad-bot main" id="index-banner">
		<div class="col s12">
			<ul class="tabs z-depth-1" id="tab">
				<li class="tab col s3"><a class="active" href="#tickets">Mis Tickets</a></li>
				<li class="tab col s3"><a href="#pedidos">Mis Pedidos de Acceso</a></li>
				<li class="tab col s3"><a href="#regla">Nueva Regla de Acceso</a></li>
				<li class="tab col s3"><a href="#acceso">Nuevo Acceso Remoto</a></li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
                <div class="fixed-action-btn" style="bottom:75px">
						<a id="questSend" href="#!" class="btn-floating tooltipped btn-large red" data-position="left" data-tooltip="Si no ve los tickets que usted cree que debiera ver.<br/> envíenos su nombre y cuil para que podamos revisarlo.">
							<i class="material-icons">question_answer</i>
						</a>
					</div>
				<div id="tickets">
					
					<ul id="ulMisTickets" class="collapsible">
						@{
							if (Model.MisTickets != null && Model.MisTickets.Count > 0)
							{
								foreach (var v in Model.MisTickets)
								{
									<li data-id="@v.Id" data-nro="@v.Numero">
										<div class="collapsible-header">
											<i class="material-icons">
												@{
													switch (v.Estado)
													{
														case "Abierto":@Html.Raw("access_alarm");
														break;

													case "Cerrado":@Html.Raw("done");
													break;

												default:@Html.Raw("schedule");
												break;
										}
												}
											</i>
											<span>Número:<em> @v.Numero </em> -</span>
											<span>- Estado: @v.Estado -</span><span></span>
											<span>- Creado el: @v.FechaStr</span>
										</div>
										<div class="collapsible-body">
											<ul>
												<li>
													<label class="labl">Nro. Incidente: </label>
													<label for="lNroInc">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Cliente: </label>
													<label for="lCliente">&nbsp;</label>
												</li>
												<li>
													<label class="labl">TipoTicket: </label>
													<label for="lTipo">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Prioridad Ticket: </label>
													<label for="lPrioridad">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Servicio: </label>
													<label for="lServicio">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Jurisdicción: </label>
													<label for="lJurisdiccion">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Dependencia: </label>
													<label for="lDependencia">&nbsp;</label>
												</li>
												<li>
													<label class="labl">Tipificación: </label>
													<label for="lTipificacion"></label>
												</li>
												<li>
													<label class="labl">Descripción: </label>
													<label for="lDescripcion"></label>
												</li>
											</ul>
											<h6>Areas Actuantes</h6>
											<table id="areasIncidente" class="striped">
												<thead>
													<tr><th>SubDirección</th><th>Área</th><th>Fecha Desde</th><th>Fecha Hasta</th><th>Derivado Por</th><th>Resoluciones</th></tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</li>
								}
							}
							else
							{
								<li>
									<div class="collapsible-header"><i class="material-icons">block</i><span>Sin Tickets</span></div>
								</li>
							}
						}
					</ul>
					<ul class="pagination">
						@{
							string thisPage = Request.Url.ToString().Split('/').Last();
							int intThisPage = 0;
							Int32.TryParse(thisPage, out intThisPage);
							<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
							for (int i = 1; i < Model.CantidadPaginasTickets + 1; i++)
							{
								if ((intThisPage == 0 & i == 1) | intThisPage == i)
								{
									<li class="waves-effect active"><a href="/Reglas/@i">@i</a></li>
								}
								else
								{
									<li class="waves-effect"><a href="/Reglas/@i">@i</a></li>
								}
							}
							<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
						}
					</ul>
				</div>
				<div id="pedidos" class="col s12">
					<ul class="collapsible misPedidos">

						@{
							if (Model.MisPedidos != null && Model.MisPedidos.Count > 0)
							{
								foreach (var v in Model.MisPedidos)
								{
                                    
									<li>
										<div class="collapsible-header @(v.TipoPedido=="Acceso Remoto" ? "teal lighten-4":"lime lighten-5")">
											<i class="material-icons">
												@{
													switch (v.Estado.Nombre)
													{
														case "Iniciado":@Html.Raw("access_alarm");
														break;
														case "ParaAutorizar":@Html.Raw("access_alarm");
														break;
														case "Realizado":@Html.Raw("done_all");
														break;
														case "Aprobado":@Html.Raw("done");
														break;
														case "Rechazado":@Html.Raw("cancel")
														break;
														case "Cancelado":@Html.Raw("cancel")
														break;
														default:@Html.Raw("schedule");
														break;
													}
												}
											</i>
                                            <span>Nro.Pedido:<em class="grey-text text-darken-2">@v.idPedido</em></span>
                                            <i class="material-icons bread">chevron_right</i>
											<span>Tipo de Pedido: <em class="grey-text text-darken-2">@v.TipoPedido</em></span>
											<i class="material-icons bread">chevron_right</i>
											<span>Estado: <em class="grey-text text-darken-2">@v.Estado.Nombre</em></span>
											<i class="material-icons bread">chevron_right</i>
											<span>Solicitante: <em class="grey-text text-darken-2">@v.Solicitante.displayName el @v.FechaPedidoStr</em></span>
										</div>
										<div class="collapsible-body">
                                            @Html.Hidden("estadoActual"+v.idPedido, v.Estado.Nombre,new { @class="estadoActual"})
                                            @Html.Hidden("nro" + v.idPedido, v.idPedido,new { @class = "numeroPedido"})
											<h5>Detalles del pedido</h5>
											<div class="row">
												<div class="col s2">
													<p class="grey-text text-darken-4">
														Nro.Pedido<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.idPedido</span>
													</p>
												</div>
												<div class="col s10">
													<p class="grey-text text-darken-4">
														Asunto<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Asunto</span>
													</p>
												</div>
											</div>
											<div class="row">
												<div class="col s12">
													<div class="col s12 red lighten-4">
														<p>DESCRIPCIÓN</p>
													</div>
													<blockquote class="blue lighten-4">
														<p class="grey-text text-darken-2">&nbsp;</p>
														<p class="grey-text text-darken-2 pre-text">@v.Descripcion</p>
														<p class="grey-text text-darken-2">&nbsp;</p>
													</blockquote>
												</div>
											</div>
											@if (v.TipoPedido == "Regla de Acceso")
											{
											    <div class="row">
												        <div class="col s12">
													        <div class="col s12 red lighten-4">
														        <p>REGLAS</p>
													        </div>
													        <blockquote class="blue lighten-4">
														        <p class="grey-text text-darken-2">&nbsp;</p>
                                                                <div class="row">
                                                                    <div class="col s11">
                                                                        <ul class="collection">
                                                                            <li class="collection-item transparent">
                                                                                <div class="row">
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left origen">keyboard_capslock</i>
                                                                                            <span class="col s10">Origen</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left destino">last_page</i>
                                                                                            <span class="col s10">Destino</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col s4">
                                                                                        <div class="row">
                                                                                            <i class="material-icons left destino">contacts</i>
                                                                                            <span class="col s10">Usuario</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>														        
														        <div class="row">
															        <div class="col s11">
																        <ul class="collection">
																	        @foreach (var r in v.Reglas)
																	        {
																		        <li class="collection-item">
																			        <div class="row">
																				        <div class="col s4">
																					        <div class="row">
																								  <i class="material-icons left origen">keyboard_capslock</i>
																						        @if (r.Origen.Tipo == "Host")
																						        {
																							        <span class="col s10">@r.Origen.Nombre</span>
																							        <span class="col s10">@r.Origen.Ip</span>
																						        }
																						        else if (r.Origen.Tipo == "Red")
																						        {
																							        <span class="col s12">@r.Origen.Ip</span>
																						        }
																					        </div>
																				        </div>
																				        <div class="col s4">
																							  <i class="material-icons left destino">last_page</i>
																					        <div class="row">
																						        @if (r.Destino.Tipo == "Host")
																						        {
																							        <span class="col s10">@r.Destino.Nombre</span>
																							        <span class="col s10">@r.Destino.Ip</span>
																						        }
																						        else if (r.Destino.Tipo == "Red")
																						        {
																							        <span class="col s12">@r.Destino.Ip</span>
																						        }
																					        </div>
																				        </div>
																				        <div class="col s4">
																					        <div class="row">
																								  <i class="material-icons left">contacts</i>
																						        <span class="col s6">@r.Usuario.displayName</span>
																						        <span class="col s6">@r.Usuario.nombre</span>
																					        </div>
																				        </div>
																			        </div>
																		        </li>
																	        }
																        </ul>
															        </div>
														        </div>
														        <p class="grey-text text-darken-2">&nbsp;</p>
													        </blockquote>
												        </div>
											        </div>									
											    <div class="row">
													    <div class="col s6">
														    <p class="grey-text text-darken-4">
															    Puertos solicitados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@String.Join(",", v.puertos.ToArray())</span>
														    </p>
													    </div>
													    <div class="col s6">
														    <p class="grey-text text-darken-4">
															    Protocolos solicitados<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@String.Join(",", v.protocolos.ToArray()).ToUpper()</span>
														    </p>
													    </div>
											    </div>
											}
											else
											{
												<div class="row">
                                                    <div class="col s3">
                                                        <p class="grey-text text-darken-4">
                                                            Orígen Acceso<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.OrigenAcceso</span>
                                                        </p>
                                                    </div>
                                                    @{
                                                        if (v.HostAcceso != null)
                                                        {
                                                        <div class="col s3">
                                                            <p class="grey-text text-darken-4">
                                                                Oblea<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.HostAcceso.Nombre</span>
                                                            </p>
                                                        </div>
                                                        <div class="col s3">
                                                            <p class="grey-text text-darken-4">
                                                                Ip<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.HostAcceso.Ip</span>
                                                            </p>
                                                        </div>
                                                        }
                                                        if (v.TipoAcceso!=null)
                                                        {                                            
                                                           <div class="col s3">
                                                               <p class="grey-text text-darken-4">
                                                                        Tipo Acceso<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.TipoAcceso</span>
                                                                </p>
                                                           </div>                                            
                                                        }
                                                      }
                                                </div>
                                                <div class="row">
                                                    <div class="col s12">
                                                        <div class="col s12 red lighten-4">
                                                            <p>DETALLE ACCESO</p>
                                                        </div>
                                                        <blockquote class="blue lighten-4">
                                                            <p class="grey-text text-darken-2">&nbsp;</p>
                                                            <p class="grey-text text-darken-2 pre-text">@v.DetalleAcceso</p>
                                                            <p class="grey-text text-darken-2">&nbsp;</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col s6">
                                                        <p class="grey-text text-darken-4">
                                                            Usuario<i class="material-icons bread">chevron_right</i><span class="grey-text text-darken-2">@v.UsuarioAcceso.displayName</span>
                                                        </p>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="grey-text text-darken-4">
                                                            CUIL<i class="material-icons bread">chevron_right</i><span class="grey-text text-darken-2">@v.UsuarioAcceso.nombre</span>
                                                        </p>
                                                    </div>
                                                </div>
											}
                                            
											<div class="row">
												<div class="col s6">
													<p class="grey-text text-darken-4">
														Jurisdicción<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Jurisdiccion</span>
													</p>
												</div>
												<div class="col s6">
													<p class="grey-text text-darken-4">
														Dependencia<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Dependencia</span>
													</p>
												</div>
											</div>
											<div class="row">
												<div class="col s4">
													<p class="grey-text text-darken-4">
														Vencimiento<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.DiasVencimiento días</span>
													</p>
												</div>
												<div class="col s4">
													<p class="grey-text text-darken-4">
														Autorizante<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@(@v.Autorizante != null ? @v.Autorizante.displayName : "N/A")</span>
													</p>
												</div>
												<div class="col s4">
													<p class="grey-text text-darken-4">
														Ticket Asociado<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@(v.Ticket == null ? "Sin Ticket Asociado" : @v.Ticket.Numero)</span>
													</p>
												</div>
											</div>
                                        @if (v.TipoPedido=="Regla de Acceso"&v.Estado.Nombre=="Autorizar")
                                        {
                                            <div class="row">
                                                <div class="col s12">
                                                    <p class="grey-text text-darken-4">
                                                        Dueño de los datos que tiene actualmente la aprobación<i class="material-icons bread">chevron_right</i>
                                                        <span class="grey-text text-darken-2">
                                                            @v.Aprobador.displayName
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        }
											 @if (((v.MiRol == "Autorizante" | Model.esAdmin) & v.Estado.Nombre == "Iniciado" & v.TipoPedido=="Regla de Acceso")|
                                    (v.Estado.Nombre=="Verificar"&(v.MiRol=="Autorizante"|Model.esAdmin)))
                                             {<div class="row input-field">
													<div class="col s4">
														<select class="priority">
                                                            <option disabled selected>Seleccione</option>
                                                            @foreach(var u in Model.Prioridad)
                                                            {
                                                                <option value="@u.Id">@u.Nombre</option>
                                                            }					
															
														</select>
														<label>Seleccione la prioridad</label>
													</div>
												</div>
											}
											@if (v.Prioridad != null)
											{
												<div class="row">
													<div class="col s4">
														<p class="grey-text text-darken-4">
															Prioridad<i class="material-icons bread">chevron_right</i> <span class="grey-text text-darken-2">@v.Prioridad</span>
														</p>
													</div>
												</div>
											}
											<div class="row">
												<div class="divider"></div>
											</div>
											<div class="row">
												<div class="col s4">
													<h6>Movimientos</h6>
													<a class="btn green darken-3 btnMov" href="#!">Ver</a>
													@*modal movimientos*@
                                                    <div class="modal modal-fixed-footer">
														<div class="modal-content">
															<table>
																<thead>
																	<tr>
																		<th>Estado</th>
																		<th>Técnico</th>
																		<th>Fecha Comienzo</th>
																		<th>Fecha Hasta</th>
																		<th>Observaciones</th>
																	</tr>
																</thead>
																<tbody>
																	@foreach (var y in v.DetalleEstados)
																	{
																		<tr>
																			<td>@y.Estado</td>
																			<td>@y.Tecnico</td>
																			<td>@y.FechaDesde</td>
																			<td>@y.FechaHasta</td>
																			<td>@y.Observaciones</td>
																		</tr>
																	}
																</tbody>
															</table>
														</div>
														<div class="modal-footer">
															<a href="#!" class="modal-close waves-effect waves-green btn-flat green darken-3">Aceptar</a>
														</div>
													</div><!--modal movimientos-->
												</div>
												<div class="col s4 offset-s4">			

													@{
														if (v.Acciones != null)
														{
															<h6>Acciones</h6>
															foreach (var w in v.Acciones)
															{																
																@Html.Raw("<a class='btn green darken-3 btnAction' href='#!'data-url='" + w + "' data-idPedido='" + v.idPedido + "'>" + @w + "</a>");
																@Html.Raw("&nbsp;");
															}
														}
													}
												</div>
											</div>
                                        </div>@*fin .collapsible-body*@
									</li>
								}
							}
							else
							{
								<li>
									<div class="collapsible-header"><i class="material-icons">block</i><span>Sin pedidos</span></div>
								</li>
							}
						}

					</ul>

				</div>
				<div id="regla" class="col s12">
					<form action="/Reglas" method="post" id="pedidoReglas" enctype="multipart/form-data">
						<input type="hidden" name="tipoPedido" value="regla" />
						<div class="row">

							<div class="input-field col s12 tooltipped" data-position="top" data-tooltip="El título del pedido (en este caso podría ser <em>Pedido reglas de acceso</em>)">
								<input id="asunto" name="asunto" type="text" data-error=".errorTxt1" />
								<label for="asunto">Asunto <i class="red-text">*</i></label>
								<div class="errorTxt1"></div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 tooltipped" data-position="top" data-tooltip="Describa la situación que requiere este pedido de acceso">
								<textarea id="descripcion" name="descripcion" class="materialize-textarea" data-error=".errorTxt2"></textarea>
								<label for="descripcion">Descripción <i class="red-text">*</i></label>
								<div class="errorTxt2"></div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<select id="autorizante" name="autorizante" data-error=".errorTxt3">
									<option value="" disabled selected>Seleccione</option>
									@{
										foreach (var a in Model.Autorizantes)
										{
											<option value="@a.id">@a.nombre</option>
										}
									}
								</select>
								<label>Responsable autorizante <i class="red-text">*</i></label>
								<div class="errorTxt3"></div>
							</div>
							<div class="input-field col s6">
								<input id="solicitante" name="solicitante" type="text" value="@user.NombreCompleto" readonly />
								<label for="solicitante">Solicitante<i class="red-text">*</i></label>
							</div>

						</div>
						<!--<div class="row">
							 <div class="input-field col s4">
								  <input id="cuilusuarioRegla" name="cuilusuarioRegla" type="text" value="" class="tooltipped cuilUsuario" data-position="top" data-tooltip="Seleccione el CUIL del usuario que hará uso del acceso" autocomplete="off" />
								  <label for="cuilusuarioRegla">Cuil del Usuario<i class="red-text">*</i></label>
							 </div>
							 <div class="input-field col s4">
								  <input id="nombreusuarioRegla" name="nombreusuarioRegla" type="text" value="" autocomplete="off" readonly />
								  <label for="nombreusuarioRegla">Nombre del Usuario</label>
							 </div>
							 <div class="input-field col s4">
								  <input id="domainRegla" name="domainRegla" type="text" value="" autocomplete="off" readonly />
								  <label for="domainRegla">Dominio</label>
							 </div>
							 <div class="input-field col s1 hide">
								  <input id="emailUsuarioSeleccionadoRegla" name="emailUsuarioSeleccionadoRegla" type="text" value="" autocomplete="off" readonly />
								  <label for="emailUsuarioSeleccionadoRegla">email</label>
							 </div>
						</div>-->
						<div class="row">
							<div class="input-field col s5">
								<select id="jurisdiccion" name="jurisdiccion" data-error=".errorJur" autocomplete="off" class="jurisdiccion">
									<option value="" selected="selected" disabled>--Seleccione--</option>
									@{
										foreach (var a in Model.Jurisdicciones)
										{
											<option value="@a.idJurisdiccion">@a.Nombre</option>
										}
									}
								</select>
								<label>Jurisdicción del solicitante <i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorJur"></div>
								</div>
							</div>
							<div class="input-field col s5">
								<select id="dependencia" name="dependencia" data-error=".errorDep" class="dependencia">
									<option value="" disabled selected>--Seleccione--</option>
								</select>
								<label>Dependencia del solicitante <i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorDep"></div>
								</div>
							</div>
							<div class="col s2 input-field">
								<select name="vencimiento" id="vencimiento" data-error=".errorTxtv">
									<option value="" disabled selected>Seleccione</option>
									<option value="15">15 días</option>
									<option value="30">1 mes</option>
									<option value="365">1 año</option>
									<option value="730">2 años</option>
								</select>
								<label>Vencimiento<i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorTxtv"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="flex col s12 origen-destino">
								<div class="flex col s12">
									<div class="card green lighten-5">
										<div class="card-content">
											<div class="row">
												<div class="col s4 tooltipped rowOrigen" data-position="top" data-tooltip="Seleccione primero si el orígen es una red o un host. <br/> En cualquier caso ingrese el cuil del usuario. <br/>que hará uso del acceso.">
													<span class="card-title">Orígen</span>
													<p>
														<label><input class="with-gap radioSelection" name="tipoOrigen" type="radio" value="host" data-error=".errorTxt20" /><span>Host</span></label>
														<label><input class="with-gap radioSelection" name="tipoOrigen" type="radio" value="red" data-error=".errorTxt20" /><span>Red</span></label>
													</p>
													<div class="input-field">
														<div class="errorTxt20"></div>
													</div>
													<div class="row hostSelector hide">
														<div class="input-field col s12">
															<input id="hOrigen" name="hOrigen" type="text" data-error=".errorTxt11" autocomplete="off" />
															<label for="hOrigen" class="tooltipped" data-position="top" data-tooltip="Escriba el nombre del equipo. Si no lo encuentra, <br/> llame a Mesa de Ayuda">Host Orígen</label>
															<div class="error"></div>
														</div>
														<div class="input-field col s12">
															<input id="ipOrigen" name="ipOrigen" type="text" data-error=".errorTxt12" autocomplete="off" />
															<label for="ipOrigen">Ip Host Orígen</label>
															<div class="error"></div>
														</div>
													</div>
													<div class="row valign-wrapper redSelector hide">
														<div class="input-field col s2">
															<input id="redOrigen" name="redOrigen" type="text" data-error="" autocomplete="off" />
															<label for="redOrigen" class="tooltipped" data-position="top" data-tooltip="Escriba la direccion IP de la red">IP Red <em>(formato: 10.10.10.0/24)</em></label>
															<div class="error"></div>
														</div>
													</div>
												</div>
												<div class="col s4 tooltipped rowDestino" data-position="top" data-tooltip="Seleccione primero si el Destino es una red o un host. <br/> ">
													<span class="card-title black-text">Destino</span>
													<p>
														<label><input class="with-gap radioSelection" name="tipoDestino" type="radio" value="host" data-error=".errorTxt21" /><span>Host</span></label>
														<label><input class="with-gap radioSelection" name="tipoDestino" type="radio" value="red" data-error=".errorTxt21" /><span>Red</span></label>
													</p>
													<div class="input-field">
														<div class="errorTxt21"></div>
													</div>
													<div class="row hostSelector hide">
														<div class="input-field col s12">
															<input id="hDestino" name="hDestino" type="text" data-error=".errorTxt6" autocomplete="off" />
															<label for="hDestino" class="tooltipped" data-position="top" data-tooltip="Escriba el nombre del equipo. Si no lo encuentra, <br/> llame a Mesa de Ayuda">Host Destino</label>
															<div class="error"></div>
														</div>
														<div class="input-field col s12">
															<input id="ipDestino" name="ipDestino" type="text" data-error=".errorTxt7" autocomplete="off" />
															<label for="ipDestino">Ip Host Destino</label>
															<div class="error"></div>
														</div>
													</div>
													<div class="row valign-wrapper redSelector hide">
														<div class="input-field col s11">
															<input id="redDestino" name="redDestino" type="text" data-error=".errorRedDestino" autocomplete="off" />
															<label for="redDestino" class="tooltipped" data-position="top" data-tooltip="Escriba la direccion IP de la red">IP Red <em>(formato: 10.10.10.10/24)</em></label>
															<div class="error"></div>
														</div>
													</div>
													<!--<div class="row elemsWrapper">
														<ul class="collection"></ul>
													</div>-->
												</div>
												<div class="col s4 tooltipped rowUsuario" data-position="top" data-tooltip="Seleccione el CUIL del usuario que hará uso del acceso">
													<span class="card-title black-text">Usuario</span>
													<p>
														<div class="input-field col s12">
															<input id="cuilusuarioRegla" name="cuilusuarioRegla" type="text" value="" class="cuilUsuario" autocomplete="off" />
															<label for="cuilusuarioRegla">Cuil del Usuario<i class="red-text">*</i></label>
															<div class="error"></div>
														</div>
														<div class="input-field col s12">
															<input id="nombreusuarioRegla" name="nombreusuarioRegla" type="text" value="" autocomplete="off" readonly />
															<label for="nombreusuarioRegla">Nombre del Usuario</label>
															<div class="error"></div>
														</div>
														<div class="input-field col s12">
															<input id="domainRegla" name="domainRegla" type="text" value="" autocomplete="off" readonly />
															<label for="domainRegla">Dominio</label>
														</div>
														<div class="input-field col s1 hide">
															<input id="emailUsuarioSeleccionadoRegla" name="emailUsuarioSeleccionadoRegla" type="text" value="" autocomplete="off" readonly />
															<label for="emailUsuarioSeleccionadoRegla">email</label>
														</div>
                                                        <div class="input-field col s12 height39">                                                            
                                                            <label for="usuarioAnon">
                                                                <input type="checkbox" id="usuarioAnon" />
                                                                <span>Usuario Anónimo</span>
                                                            </label>
                                                        </div>
													</p>
												</div>
											</div>
											<div class="col s6 offset-s3 btn agregarElem">
												<a href="#!" class="white-text">
													<i class="material-icons left">add_circle_outline</i> AGREGAR REGLA	<i class="material-icons right">add_circle_outline</i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col s12 elemsWrapper">
								<ul class="collection"></ul>
							</div>
						</div>
						<div class="row">
							<div class="flex col s12">
								<div class="col s8 flex">
									<div class="card green lighten-5" id="serviciosConocidos" name="serviciosConocidos">
										<div class="card-content tooltipped" data-position="top" data-tooltip="Indique alguno de los servicios más conocidos. <br/> Si no lo encuentra aquí marque la casilla 'Otros' <br/> y escriba su número separado por comas si es más de uno">
											<span class="card-title black-text">Servicios conocidos</span>
											<div class="row">
												<div class="col s12">
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="22" data-error=".errorTxt8" />
															<span class="black-text">SSH-SFTP(22)</span>

														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="80" data-error=".errorTxt8" />
															<span class="black-text">HTTP(80)</span>
														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="443" data-error=".errorTxt8" />
															<span class="black-text">HTTPS(443)</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col s12">
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="1521" data-error=".errorTxt8" />
															<span class="black-text">DB(1521)</span>
														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="1526" data-error=".errorTxt8" />
															<span class="black-text">DB(1526)</span>
														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" class="cServicios" name="servicios" value="1433" data-error=".errorTxt8" />
															<span class="black-text">DB(1433)</span>
														</label>
													</div>
												</div>
											</div>
											<div>
												<div class="row">
													<div class="col s12">
														<div class="col s4">
															<label>
																<input type="checkbox" class="cServicios" name="servicios" value="139,445" data-error=".errorTxt8" />
																<span class="black-text">DISCOS COMPART.(139-445)</span>
															</label>
														</div>
														<div class="col s4">
															<label>
																<input type="checkbox" class="cServicios" name="servicios" value="989,990" data-error=".errorTxt8" />
																<span class="black-text">FTPS(989-990)</span>
															</label>
														</div>
														<div class="col s4">
															<label>
																<input type="checkbox" class="cServicios" name="servicios" value="3389" data-error=".errorTxt8" />
																<span class="black-text">REMOTE DESKTOP(3389)</span>
															</label>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col s12">
														<div class="col s6">
															<label>
																<input type="checkbox" class="cServicios cServicioRequireInput" />
																<span class="black-text">Otros(Especificar)</span>
															</label>
															<div class="input-field inline">
																<input id="requiredPort" name="servicios" type="text" />
																<label for="requiredPort">Puerto</label>
																<div class="errorTxt"></div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
										<div class="errorTxt8"></div>
									</div>
								</div>
								<div class="col s4 flex">
									<div class="card green lighten-5">
										<div class="card-content tooltipped" data-position="top" data-tooltip="Indique alguno de los protocolos más conocidos. <br/> Si no lo encuentra aquí marque la casilla 'Otros' y escriba su nombre">
											<span class="card-title black-text">Protocolo</span>
											<div class="row ">
												<div class="col s12 valign-wrapper">
													<div class="col s4">
														<label>
															<input type="checkbox" name="protocols" value="tcp" class="cProtocol" />
															<span class="black-text">TCP</span>
														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" name="protocols" value="udp" class="cProtocol" />
															<span class="black-text">UDP</span>
														</label>
													</div>
													<div class="col s4">
														<label>
															<input type="checkbox" name="protocols" value="icmp" class="cProtocol" />
															<span class="black-text">ICMP</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col s12">
													<div class="col s6 center-align">
														<label>
															<input type="checkbox" name="cOtroProtocol" class="cProtocol cRequiredProtocol" />
															<span class="black-text">Otro(Especificar)</span>
														</label>
														<div class="input-field inline">
															<input id="requiredProt" type="text" name="protocols" />
															<label for="requiredProt">Protocolo</label>
															<div class="errorTxt"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="errorTxt9"></div>
									</div>
								</div>
							</div>
						</div>
						@*<div class="row">
								 <div class="col s8 file-field input-field">
									  <div class="btn tooltipped" data-position="top" data-tooltip="Si necesita adjuntar un archivo, hágalo desde aquí">
											<span>Archivo</span>
											<input type="file" id="fileA" name="fileA" />
									  </div>
									  <div class="file-path-wrapper">
											<input class="file-path validate" type="text" />
									  </div>
								 </div>
								 <div class="col s4 input-field">
									  <select name="vencimiento" id="vencimiento" data-error=".errorTxtv">
											<option value="" disabled selected>Seleccione</option>
											<option value="15">15 días</option>
											<option value="30">1 mes</option>
											<option value="90">3 meses</option>
											<option value="180">6 meses</option>
									  </select>
									  <label>Vencimiento<i class="red-text">*</i></label>
									  <div class="input-field">
											<div class="errorTxtv"></div>
									  </div>
								 </div>
							</div>*@

						<div class="row">
							<div class="row s12">
								<button class="btn waves-light" type="submit" name="action">
									Crear
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div id="acceso" class="col s12">
					<form id="pedidoAcceso" action="/Reglas/PedidoAcceso" method="post">
						<input type="hidden" name="tipoPedido" value="acceso" />
						<div class="row">
							<div class="input-field col s12">
								<input id="asuntoP" name="asuntoP" type="text" data-error=".errorTxt1" />
								<label for="asuntoP">Asunto <i class="red-text">*</i></label>
								<div class="errorTxt1"></div>
							</div>
							<div class="input-field col s12">
								<textarea id="descripcionP" name="descripcionP" class="materialize-textarea" data-error=".errorTxt2"></textarea>
								<label for="descripcionP">Descripción <i class="red-text">*</i></label>
								<div class="errorTxt2"></div>
							</div>
							@*<div class="input-field col s6">
									 <select id="autorizanteP" name="autorizanteP" data-error=".errorTxt3">
										  <option value="" disabled selected>Seleccione</option>
										  @{
												foreach (var a in Model.Autorizantes)
												{
													 <option value="@a.id">@a.nombre</option>
												}
										  }
									 </select>
									 <label>Responsable autorizante <i class="red-text">*</i></label>
									 <div class="input-field">
										  <div class="errorTxt3"></div>
									 </div>
								</div>*@
							<div class="input-field col s12">
								<input id="usuarioP" name="usuarioP" type="text" value="@user.NombreCompleto" readonly />
								<label for="usuarioP">Solicitante</label>
								<div class="errorTxt4">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s4">
								<input id="cuilusuarioAcceso" name="cuilusuarioAcceso" type="text" value="" class="tooltipped cuilUsuario" data-position="top" data-tooltip="Seleccione el CUIL del usuario que hará uso del acceso" autocomplete="off" />
								<label for="cuilusuarioAcceso">Cuil del Usuario<i class="red-text">*</i></label>
							</div>
							<div class="input-field col s4">
								<input id="nombreusuarioAcceso" name="nombreusuarioAcceso" type="text" value="" autocomplete="off" readonly />
								<label for="nombreusuarioAcceso">Nombre del Usuario</label>
							</div>
							<div class="input-field col s4">
								<input id="domainAcceso" name="domainAcceso" type="text" value="" autocomplete="off" readonly />
								<label for="domainAcceso">Dominio</label>
							</div>
							<div class="input-field col s1 hide">
								<input id="emailUsuarioSeleccionadoAcceso" name="emailUsuarioSeleccionadoAcceso" type="text" value="" autocomplete="off" readonly />
								<label for="emailUsuarioSeleccionadoAcceso">email</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s4">
								<select id="origenP" name="origenP" data-error=".errorTxtOrigen">
									<option value="" disabled selected>Seleccione</option>
									<option value="Pc-Personal">Pc-Personal</option>
									<option value="Pc-Gobierno">Pc-Gobierno</option>
								</select>
								<label>Orígen<i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorTxtOrigen"></div>
								</div>
							</div>
							<div class="input-field col s4">
								<input id="nombreHostP" name="nombreHostP" type="text" readonly autocomplete="off" />
								<label for="nombreHostP">Nombre Host(Completar si es pc de gobierno)</label>
							</div>
							<div class="input-field col s4">
								<input id="ipHostP" name="ipHostP" type="text" readonly />
								<label for="ipHostP">Ip Host(Completar si es pc de gobierno)</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<input type="text" id="destinoSolP" name="destinoSolP" />
								<label>Detalle Solicitud - Destino/s</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s5">
								<select id="jurisdiccionP" name="jurisdiccionP" data-error=".errorJurP" autocomplete="off" class="jurisdiccion">
									<option value="" selected="selected" disabled>--Seleccione--</option>
									@{
										foreach (var a in Model.Jurisdicciones)
										{
											<option value="@a.idJurisdiccion">@a.Nombre</option>
										}
									}
								</select>
								<label>Jurisdicción del destino <i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorJurP"></div>
								</div>
							</div>
							<div class="input-field col s5">
								<select id="dependenciaP" name="dependenciaP" data-error=".errorDepP" class="dependencia">
									<option value="" disabled selected>--Seleccione--</option>
								</select>
								<label>Dependencia del destino <i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorDepP"></div>
								</div>
							</div>
							<div class="col s2 input-field">
								<select name="vencimientoP" id="vencimientoP" data-error=".errorTxtvp">
									<option value="" disabled selected>Seleccione</option>
									<option value="180">6 meses</option>
									<option value="90">3 meses</option>
									<option value="30">1 mes</option>
									<option value="15">15 días</option>
								</select>
								<label>Vencimiento<i class="red-text">*</i></label>
								<div class="input-field">
									<div class="errorTxtvp"></div>
								</div>
							</div>
						</div>
						<div class="row">
							@*<div class="col s8 file-field input-field">
									 <div class="btn tooltipped" data-position="top" data-tooltip="Si necesita adjuntar un archivo, hágalo desde aquí">
										  <span>Archivo</span>
										  <input type="file" id="fileAP" name="fileAP" />
									 </div>
									 <div class="file-path-wrapper">
										  <input class="file-path validate" type="text" />
									 </div>
								</div>*@
						</div>
						<div class="row">
							<div class="col s12 file-field">

							</div>
						</div>
						<div class="row">
							<div class="row s12">
								<button class="btn waves-light" type="submit" name="action">
									Crear
									<i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h6 class="blue-text text-lighten-2">Su dirección de email no está registrada. Ingresela para futuras notificaciones.</h6>
			<div class="input-field">
				<input id="nuevoEmail" name="nuevoEmail" type="text" />
				<label for="nuevoEmail">Email</label>
				<div class="errorTxtEmail"></div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat" id="enviarMail">Enviar</a>
		</div>
	</div>
	<div id="modalObs" class="modal">
		<div class="modal-content">
			<h6 class="blue-text text-lighten-2">Ingrese su comentario</h6>
			<div class="input-field">
				<input type="text" id="observ" name="observ" />
				<label for="observ">Observaciones</label>
				<div class="errorTxtObs"></div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat" id="enviarObs">Listo</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
		</div>
	</div>
	<div id="modalJobs" class="modal">
		<div class="modal-content">

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
		</div>
	</div>
	<div id="modalQuestion" class="modal">

		<div class="modal-content">
			<h6 class="blue-text text-lighten-2">Ingrese sus datos</h6>
			<div class="input-field">
				<input id="nombreComp" name="nombreComp" type="text" />
				<label for="nombreComp">Nombre y Apellido</label>
				<div class="errorTxt invalid"></div>
			</div>
			<div class="input-field">
				<input id="cuilComp" name="cuilComp" type="text" />
				<label for="cuilComp">CUIL (sólo números)</label>
				<div class="errorTxt invalid"></div>
			</div>
			<div class="input-field col s12 tooltipped" data-position="top" data-tooltip="Ingrese una explicación del problema">
				<textarea id="descripcionComp" name="descripcionComp" class="materialize-textarea" data-error=".errorTxtDescComp"></textarea>
				<label for="descripcion">Descripción del problema</label>
				<div class="errorTxt invalid"></div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat" id="enviarMensaje">Enviar</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
		</div>
	</div>
	<footer class="page-footer black">
		<div class="footer-copyright">
			<div class="container center-align">
				&copy; SOFIT &#124; Direccion General de Coordinación IT
			</div>
		</div>
	</footer>
</body>
</html>
