﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
        <title>@ViewBag.Title</title>
        <style>
            .ancho_header {
                background: url('/Content/img/header_bg.png');
                background-position: top;
                height: 38px;
                position: relative;
                z-index: 8;
                min-width: 800px;
                overflow: hidden;
            }

                .ancho_header h1 {
                    display: inline;
                    width: 170px;
                    height: 20px;
                    margin: 10px 0 0 10px;
                    font-size: 14px;
                    color: #fff;
                    float: left;
                    font-family: Cursive Arial Sans-Serif;
                }

            #header_userOptions {
                height: 38px;
                position: relative;
                width: 30%;
                margin: 0px 5px 0 0;
                padding: 0 0 0 0;
                top: 0;
                right: 0;
            }

                #header_userOptions a {
                    cursor: pointer !important;
                    text-decoration: none;
                    outline: medium none;
                }

                #header_userOptions li > a span.active {
                    color: #fff;
                }

            .header_userOption {
                float: right;
                position: relative;
                list-style: none outside none;
            }

            .labelHeader {
                color: #999999 !important;
                font-size: 12px;
                font-weight: bold;
                line-height: 38px;
                text-shadow: 0 0 1px #141414;
                font-family: Helvetica,Arial,Sans-Serif;
                text-decoration: none;
            }

            a.labelHeader {
                cursor: default;
            }

            #header_user {
                position: relative;
                height: 38px;
            }

            .header_user_button {
                display: block;
                font-size: 12px;
                line-height: 37px;
                margin-left: 20px;
            }

            .ancho_menu {
                background: url('/Content/img/back_menu.png');
                background-repeat: repeat-x;
                z-index: 4;
                min-width: 900px;
                overflow: hidden;
            }

            #main-nav li a:hover, #main-nav li a.active {
                background-position: 0 -38px;
            }

            #sub-link-bar {
                background: #4f4f4f;
                display: none;
                border-bottom: #645546 1px solid;
            }

            .sub-links {
                display: none;
                position: absolute;
                width: 100%;
                text-align: left;
                left: 0px;
                height: 38px;
                line-height: 38px;
                top: 38px;
            }

                .sub-links a {
                    margin-right: 5px;
                    font-size: 13px;
                    text-decoration: none;
                    color: #f2f2f2;
                    font-family: Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 10px;
                    outline: 0;
                    position: relative;
                    top: -2px;
                }

            #LiInventario {
                background: url('Views/boton1.png');
            }

            #LiForum {
                background: url('Views/boton3.png');
            }

            #LiAltas {
                background: url('Views/boton2.png');
            }

            #LiIncidentes {
                background: url('Views/boton6.png');
            }

            #LiHistoricos {
                background: url('Views/boton7.png');
            }

            #LiDeposito {
                background: url('Views/bDeposito.png');
            }

            #LiConfig {
                background: url('Views/bConfig.png');
            }

            #LiAlmacen {
                background: url('Views/bConfig.png');
            }
            #LiOperaciones {
                background: url('Views/operaciones.png');
            }
            #main-nav {
                position: relative;
                top: 0px;
                left: 0px;
                padding: 0;
                height: 38px;
                margin: 0 0;
                background: url('Views/back_menu.png');
                text-align: left;
            }

                #main-nav li {
                    float: left;
                    list-style: none;
                    margin: 0;
                }

                #main-nav > li > a {
                    display: block;
                    float: left;
                    height: 0;
                    overflow: hidden;
                    padding: 38px 0 0 0;
                    z-index: 200;
                }

            a#LiAlmacen, a#LiInventario, a#LiClonado, a#LiLaboratorio, a#LiIncidentes, a#LiHistoricos,  
            a#LiConfig, a#LiOperaciones {
                width: 100px;
            }
            a#LiAltas, a#LiDeposito, a#LiForum {
                width: 70px;
            }            

        </style>
        @{soporte.Models.usuarioBean user = null;}
        @{try
          {            
              user = (soporte.Models.usuarioBean)Session["usuario"];
              if (user != null)
              {
                  @Styles.Render("~/Css/base")
                  @Styles.Render("~/Css/themes/" + user.Personalizacion)
                  @Scripts.Render("~/bundles/base")                       
              }
              @RenderSection("heads",required:false)
          }
          catch (Exception e) { }
        }
        
        <script type="text/javascript">
        $(function () {
            var url = window.document.location.pathname.split('/');
            var position = url.length;
            var strings = url[position - 1];
            var selectedLi;
            switch (strings) {
                case "Incidentes": $("#main-nav #LiIncidentes").addClass("active");
                    selectedLi = "#LiIncidentes";
                    break;
                case "Abmws": $("#main-nav #LiAltas").addClass("active");
                    selectedLi = "#LiAltas";
                    break;
                case "Abmpr": $("#main-nav #LiAltas").addClass("active");
                    selectedLi = "#LiAltas";
                    break;
                case "Abmmn": $("#main-nav #LiAltas").addClass("active");
                    selectedLi = "#LiAltas";
                    break;
                case "Abmvr": $("#main-nav #LiAltas").addClass("active");
                    selectedLi = "#LiAltas";
                    break;
                case "Inventario": $("#main-nav #LiInventario").addClass("active");
                    selectedLi = "#LiInventario";
                    break;
                case "Forum": $("#main-nav #LiBlog").addClass("active");
                    selectedLi = "#LiBlog";
                    break;
                case "Historicos": $("#main-nav #LiHistoricos").addClass("active");
                    selectedLi = "#LiHistoricos";
                    break;
                case "Deposito": $("#main-nav #LiDeposito").addClass("active");
                    selectedLi = "#LiDeposito";
                    break;
                case "Config": $("#main-nav #LiConfig").addClass("active");
                    selectedLi = "#LiConfig";
                    break;
                case "Operaciones": $("#main-nav #LiOperaciones").addClass("active");
                    selectedLi = "#LiOperaciones";
                    break;
            }
            $("#main-nav > li > a").hover(activar, desactivar);
            function activar() {
                $(this).addClass("active");
                if ($(this).is('#LiAltas')) {
                    mostrarSubBar();
                }
            }
            $('#main-nav>li:has(a#LiAltas)').mouseleave(ocultarSubBar);
            function desactivar() {
                if ($(this).is(selectedLi)) {
                }
                else {
                    $(this).removeClass("active");
                }
            }
            function mostrarSubBar() {
                $("#sub-link-bar").show().animate({
                    height: "38px"
                }, 'fast', function () { $(".sub-links").show() });
            }
            function ocultarSubBar(event) {
                if (event.relatedTarget.id != 'sub-link-bar')
                    $(".sub-links").fadeOut('fast').promise().done(function () { $("#sub-link-bar").hide() });
            }

        });
        </script>
    </head>
    <body>
        <input type="hidden" id="idTemaPers" value=@user.Personalizacion />
        
            <div class="ancho_header">
                <div id="header_user">
                    <ul id="header_userOptions" class="right">
                        <li class="header_userOption">
                            @Html.RouteLink("Cerrar Sesión", "Logout", new { controller = "Logout" }, new { @class = "labelHeader" })
                        </li>
                    </ul>
                    <h1>SOPORTE TÉCNICO</h1>
                    <a title="Usuario Actual" class="labelHeader">
                        Bienvenido: @user.NombreCompleto


                    </a>

                    <a style="margin-left:20px;" class="labelHeader">Fecha: @DateTime.Today.ToShortDateString()</a>

                </div>
                <div class="hide">
                    <input type="text" id="lacceso" style="display:none" />
                    <input type="text" id="lIdUsuario" style="display:none" />
                    <input type="text" id="lpersonalizacion" style="display:none" />
                </div>
            </div>
            <div id="wrap">
                <ul id="main-nav">
                    <li><a id="LiIncidentes" title="Altas y Modificaciones Impresoras" href="Incidentes">x</a> </li>
                    <li><a id="LiInventario" title="Altas y Modificaciones Impresoras" href="Inventario">x</a> </li>
                    <li>
                        <a id="LiAltas" href="#">x</a>
                        <ul class="sub-links">
                            <li><a id="LiAbmws" title="Altas y Modificaciones PC" href="Abmws">PC'S</a></li>
                            <li><a id="LiAbmpr" title="Altas y Modificaciones Impresoras" href="Abmpr">IMPRESORAS</a> </li>
                            <li><a id="LiAbmmn" title="Altas y Modificaciones Monitores" href="Abmmn">MONITORES</a> </li>
                            <li><a id="LiAbmvr" title="Altas y Modificaciones Varios" href="Abmvr">VARIOS</a> </li>
                        </ul>
                    </li>
                    <li><a id="LiOperaciones" title="Operaciones" href="Operaciones"></a> </li>
                    <li><a id="LiForum" title="Foro Soporte" href="Forum"></a> </li>
                    <li><a id="LiHistoricos" title="Equipos e Incidentes Historicos" href="Historicos"></a> </li>
                    <li><a id="LiDeposito" title="Depósito de Soporte" href="Deposito"></a> </li>
                    <li><a id="LiConfig" title="Configuraciones" href="Config"></a> </li>                

                </ul>
                <div id="sub-link-bar">
                </div>
            </div>
        
    <div>
      @RenderBody()
    </div>
</body>
</html>
