﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Styles.Render("~/Css/soporteIncidentes")
@Styles.Render("~/Css/fa")
@Scripts.Render("~/bundles/IncidenteSeguridad")
@model soporte.Areas.Seguridad.Models.SeguridadModel
<section class="ui-widget-content body">
    @*busqueda*@
    <div id="formSearch" class="">
        <div id="searchBar" class="searchBar">
            <div id="searchBar_input" class="searchBar_input">
                <input id="tBuscar" class="search autocomplete ui-autocomplete-input" type="text" />
                <button id="searchInc" class="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        <div id="searchClienteBar" class="hidden searchBar">
            <div id="" class="searchBar_input">
                <input id="tBuscarCliente" type="text" />
                <button id="searchCliente" class="searchButton"></button>
            </div>
        </div>
    </div>
    <div class="fSearch">
        <div class="item itemNro"><span>Nro.Incidente</span></div>
        <div class="item itemCliente"><span>Nombre/Dni Cliente</span></div>
        <div class="item itemMore">
            <span>Más</span>
            <div class="submenu hide">
                <div class="right btnRight">
                    <button type="button" id="" class="btnHelpSoporte jQueryBtn" title="Ayuda del Sistema">?</button>
                </div>
                <div class="right btnRight">
                    <button type="button" id="dUpdate" class="jQueryBtn" title="Actualizar los datos periódicamente">Parar Actualizaciones</button>
                </div>
            </div>
        </div>
    </div>
    @*fin busqueda*@
    <div class="content-box overlay">
        <div class="incidentesContent">
            @*Inc.Ingresados*@
            <div id="BandejaSeguridad" class="left window conIncidente">
                <h2><a href="#BandejaSeguridad">Bandeja de Entrada</a></h2>
                <div id="" class="accContent" style="padding:0;">
                    <div id="grillaBandeja" class="grilla newWindow">
                        @{var grid = new WebGrid(Model.IncidentesIngresados, canSort: false, canPage: false);
                        }
                        @grid.GetHtml(tableStyle: "",
                            htmlAttributes: new { id = "gIIngresados" },
                            headerStyle: "ui-state-default",
                            alternatingRowStyle: "alt",
                            selectedRowStyle: "select",
                            columns: grid.Columns(
                            grid.Column(header: "", format: @<text><input name="selec"
                                                                          type="checkbox" value="@item.IdIncidente" /></text>),
                            grid.Column("IdIncidente","IdIncidente"),
                            grid.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                                                      (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                                                      Html.Raw("<span>" + @item.Numero + "</span>")),
                            grid.Column("FechaDesde", "Fecha Inicio"),
                            grid.Column("Tipificacion", "Tipificación"),
                            grid.Column("Dependencia", "Dependencia"),
                            grid.Column("Técnico", "Técnico"),
                            grid.Column(header:"Desc.",format:@<div class="verObservIncidente">
                                <div class="status"></div>
                                <span class="hide">
                                    @item.Descripcion @if (@item.Imagen)
                                    {<br /><a href="#" data-idinc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                    @if (@item.Archivo)
                                    {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>
                                    }
                                    <br />
                                    <a href="#!" class="clienteName">
                                        @if (item.Cliente == null)
                                        {<em>Cliente:N/A</em> }
                                        else
                                        {<em>Cliente:<span>@item.Cliente</span></em>}
                                    </a>
                                </span>
                            </div>),
                            grid.Column(header:"Trabajos",format:@<div class="verSolucionIncidente"><div class="status"></div></div>),
                            grid.Column(header:"",format:@<i class="fa fa-print fa-2x cursor printTicket"></i>),
                            grid.Column(header:"Estado",format:@<div class="@item.EstadoIcono status">
                            <span class="hide">@item.Observacion</span>
                        </div>)
                                                           ))
                    </div>
                    <div class="botones">
                        <ul class="icons ui-widget ui-helper-clearfix">
                            <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Acciones
                                <ul class="fly">
                                    <li class="ui-state-default ui-corner-all tomarIncidente tecnicos" title="Tomar Incidente por parte del usuario logueado">
                                        <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                                    </li>
                                    <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                                        <span class="ui-icon ui-icon-clipboard"></span>
                                        Trabajos
                                    </li>
                                    <li class="ui-state-default ui-corner-all referentes" title="Agregar referentes para notificar">
                                        <span class="ui-icon ui-icon-person"></span>  Referentes
                                    </li>
                                    <li class="ui-state-default ui-corner-all suspender" title="Suspender Incidente">
                                        <span class="ui-icon ui-icon-clipboard"></span>
                                        Suspender
                                    </li>
                                    <li class="ui-state-default ui-corner-all cerrarIncidente" title="Solucionar y cerrar Incidente">
                                        <span class="ui-icon ui-icon-circle-check"></span>
                                        Solucionar
                                    </li>
                                    <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Asignar Tickets a un Técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Asignar
                                <ul class="fly">

                                    <li>
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" id="" class="boton bAsignarTec">Asignar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all " title="Derivar Ticket">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Derivar
                                <ul class="fly">
                                    <li>
                                        <span class="lFly">Area:</span>
                                        <select class="sFly sArea">
                                            @foreach (var t in Model.Areas)
                    {
                        if (@t.Nombre == "Entrada Seguridad") { continue; }
                        <option value="@t.idArea">@t.Nombre</option>
}
                                        </select>
                                    </li>
                                    <li>
                                        <span class="lFly">Asignado:</span>
                                        <select class="sFly sTecnico">
                                            <option value="0" selected="selected">--Cualquier Técnico--</option>
                                            @foreach (var t in Model.Tecnicos)
                    {
                        <option value="@t.idTecnico" @if (t.Nombre == "Soporte") { <text> selected="selected" </text> }>@t.Nombre</option>
}
                                        </select>
                                    </li>
                                    <li><button type="button" id="bDerivarAtU" class="derivar boton">Derivar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all " title="Derivar Incidente a otras SubDirecciones">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Derivar A SubDirección
                                <ul class="fly">
                                    <li>
                                        <span class="lFly">SubDirección:</span>
                                        <select class="sFly sDireccion">
                                            @foreach (var t in Model.SubDirecciones)
                    {
                        if (@t.Nombre == "Seguridad Informática" | @t.Nombre == "Gerencia" | @t.Nombre == "Administración") { continue; }
                        <option value="@t.idDireccion">@t.Nombre</option>
}
                                        </select>
                                    </li>
                                    <li><button type="button" class="derivarDireccion boton">Derivar</button></li>
                                </ul>
                            </li>
                            <li id="Li2" class="ui-state-default ui-corner-all" title="Revivir un Ticket cerrado en las últimas 48 horas">
                                <span class="ui-icon ui-icon-circle-plus"></span>
                                Revivir Ticket
                                <ul class="fly">
                                    <li><span class="lFly">Número:</span><input type="text" class="sFly" id="tIncToLive" /></li>
                                    <li><button type="button" id="bIncToLive" class="boton">Revivir</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Eliminar Ticket Recién Creado">
                                <span class="ui-icon ui-icon-alert eliminarInc"></span>
                                Eliminar Ticket
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*Tickets pedido reglas*@
            <div id="PendSeguridad" class="left window conIncidente">
                <h2><a href="#PendSeguridad">Reglas y VPN</a></h2>
                <div id="" class="accContent2" style="padding:0;">
                    <div id="grillaSeguridad" class="grilla newWindow">
                        @{var gridSeg = new WebGrid(Model.IncidentesPendientes, canSort: false, canPage: false);
                        }
                        @gridSeg.GetHtml(tableStyle: "",
                        headerStyle: "ui-state-default",
                        alternatingRowStyle: "alt",
                        selectedRowStyle: "select",
                                 columns: gridSeg.Columns(
                                     gridSeg.Column(header: "", format: @<text><input name="selec"
                                                                          type="checkbox" value="@item.IdIncidente" /></text>),
                                     gridSeg.Column("IdIncidente", "IdIncidente"),
                                     gridSeg.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                                                      (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                                                      Html.Raw("<span>" + @item.Numero + "</span>")),
                                     gridSeg.Column("FechaDesde", "Fecha Inicio"),
                                     gridSeg.Column("Tipificacion", "Tipificación"),
                                     gridSeg.Column("Dependencia", "Dependencia"),
                                     gridSeg.Column("Técnico", "Técnico"),
                                     gridSeg.Column(header: "Desc.", format: @<div class="verObservIncidente">
                                            <div class="status"></div>
                                            <span class="hide">
                                                @item.Descripcion @if (@item.Imagen)
                                                {<br /><a href="#" data-idinc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                                @if (@item.Archivo)
                                                {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>                                     
                                                }
                                                <br />
                                                <a href="#!" class="clienteName">
                                                    @if (item.Cliente == null)
                                                    { <em>Cliente:N/A</em> }
                                                    else
                                                    {<em>Cliente:@item.Cliente</em>}
                                                </a>  
                                            </span>
                                        </div>),
                                    gridSeg.Column(header: "Trabajos", format: @<div class="verSolucionIncidente"><div class="status"></div></div>),
                                    gridSeg.Column(header: "", format: @<i class="fa fa-print fa-2x cursor printTicket"></i>),
                                    gridSeg.Column(header: "Estado", format: @<div class="@item.EstadoIcono status"><span class="hide">@item.Observacion</span>
                                                                                </div>))
                                        )
                    </div>
                    <div class="botones">
                        <ul class="icons ui-widget ui-helper-clearfix">
                            <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Acciones
                                <ul class="fly">
                                    <li class="ui-state-default ui-corner-all tomarIncidente tecnicos" title="Tomar Incidente por parte del usuario logueado">
                                        <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                                    </li>
                                    <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                                        <span class="ui-icon ui-icon-clipboard"></span>
                                        Trabajos
                                    </li>
                                    <li class="ui-state-default ui-corner-all suspender" title="Suspender Incidente">
                                        <span class="ui-icon ui-icon-clipboard"></span>
                                        Suspender
                                    </li>
                                    <li class="ui-state-default ui-corner-all cerrarIncidente" title="Solucionar y cerrar Incidente">
                                        <span class="ui-icon ui-icon-circle-check"></span>
                                        Solucionar
                                    </li>
                                    <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Derivar
                                <ul class="fly">
                                    <li>
                                        <span class="lFly">Area:</span>
                                        <select class="sFly sArea">
                                            @foreach (var t in Model.Areas)
                                            {
                                                if (@t.Nombre.Equals("Seguridad")) { continue; }
                                                <option value="@t.idArea">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li>
                                        <span class="lFly">Asignado:</span>
                                        <select class="sFly sTecnico">
                                            <option value="0" selected="selected">--Cualquier Técnico--</option>

                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" id="bDerivarAtU" class="derivar boton">Derivar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Asignar
                                <ul class="fly">

                                    <li>
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" id="" class="boton bAsignarTec">Asignar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Filtrar Técnico
                                <ul class="fly">
                                    <li class="tecnicosAsignar">
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                                <span class="ui-icon ui-icon-disk"></span>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            @*Incidentes Suspendidos*@
            <div id="SuspSeguridad" class="left window conIncidente">
                <h2><a href="#SuspSeguridad">Tickets Suspendidos</a></h2>
                <div id="" class="accContent2" style="padding:0;">
                    <div id="grillaSuspendidos" class="grilla newWindow">
                        @{var gridSuspendidos = new WebGrid(Model.IncidentesSuspendidos, canSort: false, canPage: false);
                        }
                        @gridSuspendidos.GetHtml(tableStyle: "",
                        headerStyle: "ui-state-default",
                        alternatingRowStyle: "alt",
                        selectedRowStyle: "select",
                                 columns: gridSuspendidos.Columns(
                                          gridSuspendidos.Column(header: "", format: @<text><input name="selec"
                                                                                                   type="checkbox" value="@item.IdIncidente" /></text>),
                                          gridSuspendidos.Column("IdIncidente", "IdIncidente"),
                                          gridSuspendidos.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                                                      (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                                                      Html.Raw("<span>" + @item.Numero + "</span>")),
                                          gridSuspendidos.Column("FechaDesde", "Fecha Inicio"),
                                          gridSuspendidos.Column("Tipificacion", "Tipificación"),
                                          gridSuspendidos.Column("Dependencia", "Dependencia"),
                                          gridSuspendidos.Column("Técnico", "Técnico"),
                                          gridSuspendidos.Column(header: "Desc.", format: @<div class="verObservIncidente">
                                            <div class="status"></div>
                                            <span class="hide">
                                                @item.Descripcion @if (@item.Imagen)
                                                {<br /><a href="#" data-idinc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                                @if (@item.Archivo)
                                                {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>}
                                                <br /><a href="#" class="clienteName">
                                                    @if (item.Cliente == null)
                                                    { <em>Cliente:N/A</em> }
                                                    else
                                                    {<em>Cliente:<span>@item.Cliente</span></em>}
                                                </a>
                                            </span>
                                        </div>),
                    gridSuspendidos.Column(header: "Trabajos", format: @<div class="verSolucionIncidente"><div class="status"></div></div>),
                    gridSuspendidos.Column(header:"Notificaciones",format:@<span class="@(@item.Notificacion=="Notificado"?"notificInc":"")">@item.Notificacion</span>),
                    gridSuspendidos.Column(header: "", format: @<i class="fa fa-print fa-2x cursor printTicket"></i>),
                    gridSuspendidos.Column(header: "Estado", format: @<div class="@item.EstadoIcono status">
                            <span class="hide">@item.Observacion</span>
                        </div>))
                                                               )
                    </div>
                    <div class="botones">
                        <ul class="icons ui-widget ui-helper-clearfix">
                            <li class="ui-state-default ui-corner-all reactivacion" title="Derivar Incidente a At.Usuarios o Logistica">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Reactivar
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Asignar
                                <ul class="fly">

                                    <li>
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" id="" class="boton bAsignarTec">Asignar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Filtrar Técnico
                                <ul class="fly">
                                    <li class="tecnicosAsignar">
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            @foreach (var t in Model.Tecnicos)
                                            {
                                                if (@t.Nombre.Equals("Administrador")) { continue; }
                                                <option value="@t.idTecnico">@t.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
                                </ul>
                            </li>
                            <li title="Notificar referentes estado suspendido" class="ui-state-default ui-corner-all notificarIncidente">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>Notificar
                            </li>
                            <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                                <span class="ui-icon ui-icon-disk"></span>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="incActivos ui-state-active">
            @*hoja ruta*@
            <div class="iconContainer">
                <div class="ui-icon ui-icon-circle-triangle-w">

                </div>
            </div>
            <div class="chat-badge hide">
                <span class="badge-numbers" data-cant="0"></span>
            </div>
            <p class="rotated">
                <i class="fa fa-comments rotated" aria-hidden="true"></i>
            </p>
            <ul id="Chat-Lista" style="display: none;">
                <!-- Usuarios -->
            </ul>
        </div>
    </div>@*content*@
</section>
<div class="chat-box">
    <!-- Chat -->
</div>
@*Trabajos bandeja*@
<div id="Trabajos" class="dialogTrabajos">
    <ul class="ulForm">
        <li class="nroIncidente">
            <label class="label">Ticket</label><label class="hide idInc"></label>
            <input type="text" class="input" readonly="readonly" />
        </li>
        <li class="tipoResolucion">
            <label class="label">Tipo Resolución</label>
            <select class="select dTipoResolucion" id="tResTrabajo" name="dTipoResolucion">
                <option value="0">--Seleccione--</option>
                @foreach (var t in Model.TipoResolucion)
                {
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="">
            <label class="label" for="esParaEquipo">Elem.Conf.</label>
            <input type="checkbox" id="esParaEquipo" name="esParaEquipo" class="esParaEquipo" />
            <div class="obleaCont hide block">
                <div class="inline">
                    <span class="label">Oblea:</span><input type="text" class="tObleaSolucion" autocomplete="off" style="border: 1px solid #CCC; padding: 0 2px; width: 117px; height: 17px;" />
                </div>
                <div>
                    <span class="label">Equipos:</span>
                    <table id="equiposSolucion">
                        <thead>
                            <tr><th>Oblea</th><th>Quitar</th></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="">
            <label class="label">Técnico</label>
            <select class="select dTecnicos" id="idTecnico" name="tecnico">
                @foreach (var t in Model.Tecnicos)
                {
                    <option value="@t.idTecnico">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="">
            <label class="label">Turno</label>
            <select class="select dTurnos" id="idTurno" name="turno">
                @foreach (var t in Model.Turnos)
                {
                    <option value="@t.idTurno">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="">
            <label class="label" for="sobrescribir">Sobrescribir ultima</label>
            <input type="checkbox" id="sobrescribir" name="sobrescribir" class="" />
        </li>
        <li class="">
            <div class="boxLabel">
                <input type="file" name="upFileRes" id="upFileRes" class="uploadFile" />
                <label class="labelUpload" for="upFileRes"><i class="fa fa-upload 2x"></i>Archivo</label>
            </div>
        </li> 
        <li class="">
            <label>Observaciones</label>
        </li>
        <li class="">
            <textarea rows="10" cols="35" class="observaciones tSolucion" id="observaciones" name="observaciones" style="height:60px" maxlength="4000"></textarea>
            <p class="charCounter">Chars:</p>
        </li>
    </ul>
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
@*Fin trabajos*@
@*Ficha cliente y notificaciones*@
<div id="fichacliente">
    <div class="top dContent">
        <input id="idCl" type="text" disabled>
        <div><label class="labelNombreCl"></label><input class="NombreCl datosCl" type="text" placeholder="Nombre" readonly></div>
        <div><label class="labelDNICl"></label><input class="DNICl datosCl" type="text" placeholder="DNI" readonly></div>
        <div><label class="labelemailCl"></label><input class="datosCl email" type="text" placeholder="email (opcional)" readonly></div>
        <div>
            <label class="labelJurisdiccionCl"></label>
            <input class="JurisdiccionCl datosCl" type="text" />
        </div>
        <div>
            <label class="labelDependenciaCl"></label>
            <input class="DependenciaCl datosCl" type="text" />
        </div>
        <div><label class="labelDireccionCl"></label><input class="DireccionCl datosCl" type="text" placeholder="Direccion / Piso / Oficina" readonly></div>
        <div><label class="labelTelefonoCl"></label><input class="TeCl datosCl" type="text" placeholder="Telefono" readonly></div>
    </div>
</div>
<div id="NotifIncidentes">
    <ul class="ulSolucion">
        <li class="">
            <label class="labelMail" id="Label24">Asunto:</label>
            <input type="text" value="" class="inputAsunto asuntoNotificacion">
        </li>
        <li class="">
            <label class="labelMail" id="Label25">Destinatarios:</label>
            <div class="tableContainer refContainer">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <input type="text" value="" class="ui-autocomplete-input inputDestinatarios" autocomplete="off">
            </div>
        </li>

        <li class="">
            <label class="label" id="Label27">Cuerpo Mail</label>
        </li>
        <li class="">
            <textarea class="tSolucion bodyMail"></textarea>
            <p class="charCounter">Chars:</p>
        </li>
    </ul>
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
@*dialog referentes*@
<div id="dialogReferentes">
    <ul class="ulSolucion">
        <li class="">
            <label class="">Agregar:</label>
            <input type="text" value="" class="inputDest">
        </li>
        <li class="">
            <label class="">Destinatarios Actuales</label>
        </li>
        <li class="">
            <div class="tSolucion refContainer2" id="destActuales"></div>
        </li>
    </ul>
</div>

