﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/fa")
    @Styles.Render("~/Css/soporteIncidentes")
    @Scripts.Render("~/bundles/IncDireccion")    
}
@model soporte.Areas.Direccion.Models.DireccionModel
<section class="ui-widget-content body">
    @*Busqueda*@
    <div id="formSearch" class="">
        <div id="searchBar" class="searchBar">
            <div id="searchBar_input" class="searchBar_input">
                <input id="tBuscar" class="search autocomplete ui-autocomplete-input" type="text" />
                <button id="searchInc" class="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        <div id="searchClienteBar" class="hidden searchBar">
            <div id="" class="searchBar_input">
                <input id="tBuscarCliente" type="text" />
                <button id="searchCliente" class="searchButton"></button>
            </div>
        </div>
    </div>
    <div class="fSearch">
        <div class="item itemNro active"><span>Nro.Incidente</span></div>
        <div class="item itemCliente"><span>Nombre/Dni Cliente</span></div>
        <div class="item itemMore">
            <span>Más</span>
            <div class="submenu hide">
                <div class="right btnRight">
                    <button type="button" id="" class="btnHelpSoporte jQueryBtn" title="Ayuda del Sistema">?</button>
                </div>
                <div class="right btnRight">
                    <button type="button" id="dUpdate" class="jQueryBtn" title="Actualizar los datos periódicamente">Parar Actualizaciones</button>
                </div>
            </div>
        </div>
    </div>
    @*end busqueda*@
    @*Content*@
    <div class="content-box overlay">
        <div class="incidentesContent">
            @**Incidentes Totales*@
            <div id="TotalesDireccion" class="window left conIncidente totales">
                <h2><a href="#">Tickets Totales</a></h2>
                <div class="accContent">
                    <div id="" class="grilla newWindow">
                        @{var gridTotales = new WebGrid(Model.IncidentesTotales, canSort: false, canPage: false);
                        }
                        @gridTotales.GetHtml(tableStyle: "",
                              htmlAttributes: new { id = "gITotales" },
                              headerStyle: "ui-state-default",
                                 alternatingRowStyle: "alt",
                                 selectedRowStyle: "select",
                                 columns: gridTotales.Columns(
                                 gridTotales.Column(header: "", format: @<text><input name="selec"
                                                                                      type="checkbox" value="@item.IdIncidente" /></text>),
                     gridTotales.Column("IdIncidente", "IdIncidente"),
                     gridTotales.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                                               (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                                               Html.Raw("<span>" + @item.Numero + "</span>")),
                     gridTotales.Column("FechaDesde", "Fecha Inicio"),
                     gridTotales.Column("Tipificacion", "Tipificación"),
                     gridTotales.Column("Estado", "Estado Ticket"),
                     gridTotales.Column("Dependencia", "Dependencia"),
                     gridTotales.Column("Direccion", "SubDireccion"),
                     gridTotales.Column("Técnico", "Técnico"),
                     gridTotales.Column(header: "Desc.", format:@<div class="verObservIncidente">
                        <div class="status"></div>
                        <span class="hide">
                            @item.Descripcion @if (@item.Imagen)
                            {<br /><a href="#" data-idinc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                            @if (@item.Archivo)
                            {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>}
                            <br /><a href="#" class="clienteName">
                                @if (item.Cliente == null)
                                {<em>Cliente:N/A</em> }
                                else
                                {<em>Cliente:<span>@item.Cliente</span></em>}
                            </a>
                        </span>
                    </div>),
         gridTotales.Column(header: "Trabajos", format:@<div class="verSolucionIncidente"><div class="status"></div></div>),
gridTotales.Column(header: "", format:@<i class="fa fa-print fa-2x cursor printTicket"></i>),
gridTotales.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>))
                                                  )
                    </div>
                    <div class="botones">
                        <ul class="icons ui-widget ui-helper-clearfix">
                            <li class="ui-state-default ui-corner-all trabajos2" title="Acciones comunes">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Seguimiento
                            </li>
                            <li class="ui-state-default ui-corner-all referentes" title="Agregar referentes para notificar">
                                <span class="ui-icon ui-icon-person"></span>  Referentes
                            </li>
                            <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                                <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                Asignar
                                <ul class="fly">
                                    <li>
                                        <span class="labelSlim">SubDir.:</span>
                                        <select class="sFly sDireccion">
                                            <option value="0">--Seleccione--</option>
                                            @foreach (var s in Model.Direcciones)
                                            {
                                                <option value="@s.idDireccion">@s.Nombre</option>
                                            }
                                        </select>
                                    </li>
                                    <li>
                                        <span class="labelSlim">Técnico:</span>
                                        <select class="sFly sTecnico">
                                            <option value="0">--Seleccione--</option>
                                        </select>
                                    </li>
                                    <li><button type="button" id="" class="boton bAsignarTec">Asignar</button></li>
                                </ul>
                            </li>
                            <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                                <span class="ui-icon ui-icon-disk"></span>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="incActivos ui-state-active">
            @*hoja ruta*@
            <div class="iconContainer">
                <div class="ui-icon ui-icon-circle-triangle-w">

                </div>
            </div>
            <div class="chat-badge hide">
                <span class="badge-numbers" data-cant="0"></span>
            </div>
            <p class="rotated">
                <i class="fa fa-comments rotated" aria-hidden="true"></i>
            </p>
            <ul id="Chat-Lista" style="display: none;">
                <!-- Usuarios -->
            </ul>
        </div>
    </div>@*content*@
</section>
<div class="chat-box">
    <!-- Chat -->
</div>
<div id="Trabajos2">
    <ul class="ulForm">
        <li class="nroIncidente incidentes ingresados">
            <label class="label">Ticket</label><label class="hide idInc"></label>
            <input type="text" class="input" readonly="readonly" />
        </li>
        <li class="incidentes ingresados">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.Resoluciones)
                {
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="incidentes ingresados">
            <label class="label">Técnico</label>
            <select class="select dTecnicos" name="tecnico">
                @foreach (var t in Model.Tecnicos)
                {
                    <option value="@t.idTecnico">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="incidentes ingresados">
            <label class="label">Turno</label>
            <select class="select dTurnos" name="turno">
                @foreach (var t in Model.Turnos)
                {
                    <option value="@t.idTurno">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="incidentes ingresados">
            <label>Observaciones</label>
        </li>
        <li class="incidentes ingresados">
            <textarea rows="10" cols="35" class="observaciones tSolucion" name="observaciones" style="height:60px"></textarea>

        </li>
    </ul>
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
@*dialog referentes*@
<div id="dialogReferentes">
    <ul class="ulSolucion">
        <li class="">
            <label class="">Agregar:</label>
            <input type="text" value="" class="inputDest">
        </li>
        <li class="">
            <label class="">Destinatarios Actuales</label>
        </li>
        <li class="">
            <div class="tSolucion refContainer2" id="destActuales"></div>
        </li>
    </ul>
</div>