﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Styles.Render("~/Css/historicos")
@Styles.Render("~/Css/fa")
@Scripts.Render("~/bundles/historicos")
@model soporte.Models.ClasesVistas.ModelHistoricos
<div id="tabset" class="content2">
    <ul>
        <li><a href="#pHistIncidente">Tickets x Nro.</a></li>
        <li><a href="#pIncXCliente">Tickets x Cliente</a></li>
        <li><a href="#pIncXOtros">Tickets x Otros</a></li>
        <li><a href="#pHistEquipo">Elem.Conf x Ticket</a></li>
        <li><a href="#pEstadistica">Trabajos</a></li>
        <li><a href="#pTickets">Listados Tickets</a></li>
    </ul>
    <div id="pHistIncidente">
        <div class="searchBar">
            <div class="searchCont">
                <div class="searchtoleft">
                    <div class="searchBar_input">
                        <input id="tBuscar" class="inputB" title="Ingrese el ticket" data-url="/Service/GetIncHistoricoPorNro" data-tipo="ticket" type="text" placeholder="Ingrese el ticket" />
                    </div>
                </div>
                <div class="searchtoright">
                    <div class="searchB">
                        <button id="searchIncidente" class="searchButton" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="incidenteContent" class="hide">

            <div class="row hide">
                <div class="col s12"><p data-name="lIdInc"></p></div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Nro. Ticket: </p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lNroInc"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Fecha Creación:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lFecha"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Tipo de Ticket:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lTipo"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Cliente:</p>
                </div>
                <div class="col s2">
                    <p data-name="lCliente" class="incContent"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Prioridad Ticket:</p>
                </div>
                <div class="col s2">
                    <p data-name="lPrioridad" class="incContent"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Estado del Ticket:</p>
                </div>
                <div class="col s2">
                    <p data-name="lEstado" class="incContent"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Imágen:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lImagen"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Archivo Adjunto: </p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lFile"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Notificaciones:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lNotificacion"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Fecha Tope Resolución:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lFechaLimite"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Cambio Prioridad:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name="lCambioPrioridad"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Imprimir:</p>
                </div>
                <div class="col s2">
                    <p class="incContent" data-name=""><i class="fa fa-print cursor printTicket"></i></p>
                </div>
            </div>

            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Tipificación: </p>
                </div>
                <div class="col s10">
                    <p class="incContent" data-name="lTipificacion"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Servicio:</p>
                </div>
                <div class="col s6">
                    <p class="incContent" data-name="lServicio"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s2 textright">
                    <p class="plabel incContent">Jurisdicción:</p>
                </div>
                <div class="col s4">
                    <p class="incContent" data-name="lJurisdiccion"></p>
                </div>
                <div class="col s2 textright">
                    <p class="plabel incContent">Dependencia:</p>
                </div>
                <div class="col s4">
                    <p data-name="lDependencia" class="incContent"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="plabel incContent">Descripción </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="incContent" data-name="lDescripcion" style="white-space:pre-wrap;"></p>
                </div>
            </div>
            @*<ul>
                <li class="hide">
            <label for="lIdInc"></label>
        </li>
        <li>
            <label class="labl">Nro. Ticket: </label>
            <label for="lNroInc">&nbsp;</label>
        </li>
        <li>
            <label class="labl">Fecha Creación: </label>
            <label for="lFecha">&nbsp;</label>
        </li>
                <li>
                    <label class="labl">Cliente: </label>
                    <label for="lCliente">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">TipoTicket: </label>
                    <label for="lTipo">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Prioridad Ticket: </label>
                    <label for="lPrioridad">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Estado del Ticket: </label>
                    <label for="lEstado">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Fecha Límite Resolución: </label>
                    <label for="lFechaLimite">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Servicio: </label>
                    <label for="lServicio">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Jurisdicción: </label>
                    <label for="lJurisdiccion">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Dependencia: </label>
                    <label for="lDependencia">&nbsp;</label>
                </li>
                <li>
                    <label class="labl">Tipificación: </label>
                    <label for="lTipificacion"></label>
                </li>
                <li>
                    <label class="labl">Cambio Prioridad: </label>
                    <label for="lCambioPrioridad"></label>
                </li>
                <li>
                    <label class="labl">Imágen: </label>
                    <label for="lImagen"></label>
                </li>
                <li>
                    <label class="labl">Archivo Adjunto: </label>
                    <label for="lFile"></label>
                </li>
                <li>
                    <label class="labl">Notificaciones:</label>
                    <label for><i class="fa fa-eye cursor verNotificaciones"></i></label>
                </li>
                <li>
                    <label class="labl">Imprimir</label>
                    <label><i class="fa fa-print fa-2x cursor printTicket"></i></label>
                </li>
                <li>
                    <label class="labl">Descripción: </label>
                    <label for="lDescripcion"></label>
                </li>
            </ul>*@
            <div class="ui-button historial-estados">
                <div>Historial de cambios de estado</div>
            </div>
            <h2>Areas Actuantes</h2>
            <table id="areasIncidente" class="table3">
                <thead>
                    <tr><th>SubDirección</th><th>Área</th><th>Fecha Desde</th><th>Fecha Hasta</th><th>Derivado Por</th><th>Resoluciones</th></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pIncXCliente">
        <div class="searchBar">
            <div class="searchCont">
                <div class="searchtoleft">
                    <div class="searchBar_input">
                        <input id="tBuscarCliente" title="Nombre cliente" class="defaultText inputB" type="text" data-url="/Service/GetIncHistoricoPorCliente" data-tipo="cliente" placeholder="Ingrese el cliente" />
                    </div>
                </div>
                <div class="searchtoright">
                    <div class="searchB">
                        <button id="bBuscarCliente" type="button" class="searchButton"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="clientesContent" class="hide">
            <div class="result">

            </div>
            <div class="pagination">

            </div>
        </div>
    </div>
    <div id="pIncXOtros">
        <div>
            <fieldset class="ui-widget-content" id="inputCheck">
                <legend class="ui-widget-content">Elija el campo de búsqueda: </legend>
                <label for="radio-1">Descripción</label>
                <input type="radio" name="radio-criteria" id="radio-1" value="descripcion">
                <label for="radio-2">Trabajos</label>
                <input type="radio" name="radio-criteria" id="radio-2" value="trabajos">                   
                @*<p>
                    <label for="radio-3">Tipificación</label>
                    <input type="radio" name="radio-criteria" id="radio-3" value="tipificacion">
                </p>*@               
            </fieldset>
        </div>
        <div class="searchBar sblarger">
            <div class="searchCont">
                <div class="searchtoleft">
                    <div class="searchBar_input">
                        <input id="tBuscarxOtros" title="" class="inputB" type="text" placeholder="palabra clave" />
                    </div>
                </div>
                <div class="searchtoright">
                    <div class="searchB">
                        <button type="button" class="searchButton" data-tipo="otros" id="bBuscarOtros"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="busquedaContent" class="hide col s12">
            <div class="result">

            </div>
            <div class="pagination">

            </div>
        </div>
    </div>
    <div id="pHistEquipo">
        <div class="searchBar">
            <div class="searchCont">
                <div class="searchtoleft">
                    <div class="searchBar_input">
                        <input id="tBuscarEquipo" title="" class="defaultText inputB" type="text" placeholder="Ingrese nombre del EC" data-url="/Service/GetEquipoHistoricoPorNro" data-tipo="ec" />
                    </div>
                </div>
                <div class="searchtoright">
                    <div class="searchB">
                        <button type="button" class="searchButton" data-tipo="ec" id="bBuscarEquipo"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="equipoContent" class="hide">
            <div class="result">

            </div>
            <div class="pagination">

            </div>
        </div>
    </div>
    <div id="pTickets">
        <fieldset class="filtersPane ui-widget-content" style="text-align:left;">
            <legend class="ui-widget-content">Filtros</legend>
            <div class="filterPane">
                <div class="template filterItem">
                    <button type="button" class="filterRemover" title="">X</button>
                    <select name="filter" class="filterChooser select" title="Seleccione un valor">
                        <option>--Seleccione una opción--</option>
                        <option value="listado" data-filter-type="rangoFecha">Listado</option>
                        <option value="mensual" data-filter-type="mesAnio" class="">Reporte Mensual</option>
                        <option value="mensualjurisdiccion" data-filter-type="xjurisdxmensual" data-important="mensualjur" class="">Reporte Mensual Por Jurisdicción</option>
                        <option value="mensualTotal" data-filter-type="xmensualTotal" data-important="mensualtotal" class="">Reporte Mensual Total</option>
                        <option value="anual" data-filter-type="anual" data-important="anual" class="" disabled="disabled">Reporte Anual</option>
                        <option value="creadosycerradostotales" data-filter-type="rangoFecha" class="">Tickets Creados Y Cerrados(totales)</option>
                    </select>
                    @*<select class="select subDirSel qualifier" data-qualifier="area" autocomplete="off">
            <option value="" selected="selected">--Seleccione la Subdirección--</option>
            <option value="0" data-filter-type="subdirTicket">Dirección General</option>
            @foreach (var a in Model.Direcciones)
            {
                <option value="@a.idDireccion" data-filter-type="subdirTicket">@a.Nombre</option>
            }
        </select>*@
                    @*<label for="detalleSubdireccion">Mostrar detalle por SubDirección</label>
        <input type="checkbox" id="detalleSubdireccion" data-important="detalleSubdireccion" class="qualifier" />*@
                </div>
            </div>
            <div class="buttonBar">
                <button type="button" class="addFilterTicket">Add Filtro</button>
                <button type="button" class="applyFilterButton">Aplicar Filtros</button>
                <button type="button" onclick="window.location='/Excel/getFile'">A Excel</button>
            </div>
        </fieldset>
        <div class="resultsPane">

        </div>
    </div>
    <div id="pEstadistica">
        <fieldset class="filtersPane ui-widget-content" style="text-align:left;">
            <legend class="ui-widget-content">Filtros</legend>
            <div class="filterPane">
                <div class="filterItem">                    
                        <button type="button" class="filterRemover" title="Quitar este filtro">X</button>                    
                        <select name="filter" class="filterChooser select" title="Seleccione un valor" autocomplete="off">
                            <option value="" data-filter-type="" selected="selected">-- Seleccione un filtro --</option>
                            <option value="tecnico" data-filter-type="xtecnico" class="">Técnico</option>
                            <option value="xOblea" data-filter-type="oblea" class="">Oblea</option>
                            <option value="nroIncidente" data-filter-type="incidente" class="">Nro.Ticket</option>
                            <option value="xJurisd" data-filter-type="xjurisdiccion" class="">Jurisdicción</option>
                            <option value="xSolucion" data-filter-type="xtrabajo" class="">Tipo de Trabajo</option>
                            <option value="fecha" data-filter-type="rangoFecha" class="">Fechas</option>
                            <option value="totales" data-filter-type="totales" class="">Totales</option>
                        </select>                    
                </div>
            </div>
            <div class="buttonBar">
                <button type="button" class="addFilterButton">Add Filtro</button>
                <button type="button" class="applyFilterButton">Aplicar Filtros</button>
                <button type="button" onclick="window.location='/Excel/getFile'">A Excel</button>
            </div>
        </fieldset>
        <div>
            <p class="aclaracion">En el caso en que no se especifique un período de fechas se tomará para cualquier listado el año en curso.</p>
        </div>
        <div class="error hide">
            <div class="message"></div>
        </div>
        <div class="resultsPane">

        </div>
    </div>
</div>
<div id="templates" style="display:none;">
    <div class="template filterChooser">
        <button type="button" class="filterRemover" title="Quitar este filtro">X</button>
        <select name="filter" class="filterChooser select" title="Seleccione un valor" autocomplete="off">
            <option value="" data-filter-type="" selected="selected">-- Seleccione un filtro --</option>
            <option value="tecnico" data-filter-type="xtecnico" class="">Técnico</option>
            <option value="xOblea" data-filter-type="oblea" class="">Oblea</option>
            <option value="nroIncidente" data-filter-type="incidente" class="">Nro.Ticket</option>
            <option value="xJurisd" data-filter-type="xjurisdiccion" class="">Jurisdicción</option>
            <option value="xSolucion" data-filter-type="xtrabajo" class="">Tipo de Trabajo</option>
            <option value="fecha" data-filter-type="rangoFecha" class="">Fechas</option>
            <option value="totales" data-filter-type="totales" class="">Totales</option>
        </select>
    </div>
    <div class="template ticketChooser">
        <button type="button" class="filterRemover" title="Remove this filter">X</button>
        <select name="filter" class="filterChooser select" title="Seleccione un valor">
            <option>--Seleccione una opción--</option>
            <option value="listado" data-filter-type="rangoFecha">Listado</option>
            <option value="mensual" data-filter-type="mesAnio" class="">Reporte Mensual</option>
            <option value="mensualjurisdiccion" data-filter-type="xjurisdxmensual" data-important="mensualjur" class="">Reporte Mensual Por Jurisdicción</option>
            <option value="mensualTotal" data-filter-type="xmensualTotal" data-important="mensualtotal" class="">Reporte Mensual Total</option>            
            <option value="creadosycerradostotales" data-filter-type="rangoFecha" class="">Tickets Creados Y Cerrados(totales)</option>
        </select>
    </div>
    <div class="template optionsChooser">
        <button type="button" class="filterRemover" title="Remove this filter">X</button>
        <select name="filter" class="filterChooser select" title="Seleccione un valor">
            <option value="">--Seleccione una opción--</option>
            <option value="0" data-filter-type="tipoTicket" class="">Tipo de Ticket</option>
            <option value="1" data-filter-type="prioridadTicket" class="">Prioridad Ticket</option>
            <option value="2" data-filter-type="servicio" class="">Servicio</option>
            <option value="3" data-filter-type="xjurisdiccion" class="">Jurisdicción</option>
            <option value="4" data-filter-type="OfT" class="">Fuera de Término</option>
            @*<option value="5" data-filter-type="tipificacion" class="">Tipificación</option>*@
        </select>
    </div>
    <div class="template servicio">
        <select class="select">
            <option value="0" selected="selected">--Seleccione un Servicio--</option>
            @foreach (var a in Model.Servicios)
            {
                <option value="@a.Id">@a.Nombre</option>
            }
        </select>

    </div>
    <div class="template OfT">
        <input type="checkbox" checked="checked" readonly="readonly" />

    </div>
    <div class="template tipoTicket">
        <select class="select">
            <option value="0" selected="selected">--Seleccione un Tipo--</option>
            @foreach (var a in Model.TiposTicket)
            {
                <option value="@a.Id">@a.Nombre</option>
            }
        </select>

    </div>
    <div class="template prioridadTicket">
        <select class="select">
            <option value="0" selected="selected">--Seleccione la Prioridad--</option>
            @foreach (var a in Model.PrioridadesTicket)
            {
                <option value="@a.Id">@a.Nombre</option>
            }
        </select>

    </div>
    <div class="template mesAnio">
        <input type="text" class="dateAnio input" name="anio" id="anio" data-important="anio" placeholder="Seleccione el Año y Mes" />
    </div>
    <div class="template anual">
        <input type="text" class="dateAnual input" name="anual" id="anual" data-important="anual" placeholder="Seleccione el Año" />
    </div>
    <div class="template xtecnico">
        <select class="select">
            <option value="0" selected="selected">--Seleccione un Técnico--</option>
            @foreach (var a in Model.Tecnicos)
            {
                <option value="@a.idTecnico">@a.Nombre</option>
            }
        </select>

    </div>
    <div class="template totales">
        <select id="totales" name="totales" title="Seleccione un valor" class="select">
            <option value="xt">X Tecnico</option>
            <option value="xj">X Jurisdiccion</option>
            <option value="xtr">X Trabajo</option>
        </select>
    </div>
    <div class="template xjurisdiccion">
        <select class="select">
            <option value="0" selected="selected">--Seleccione una Jurisdicción--</option>
            @foreach (var a in Model.Jurisdicciones)
            {
                <option value="@a.idJurisdiccion">@a.Nombre</option>
            }
        </select>
    </div>
    <div class="template xjurisdxmensual">
        <select class="select">
            <option value="0" selected="selected">--Seleccione una Jurisdicción--</option>
            @foreach (var a in Model.Jurisdicciones)
            {
                <option value="@a.idJurisdiccion">@a.Nombre</option>
            }
        </select>
        <input type="text" class="dateAnio input" name="anio" id="anio" data-important="anio" placeholder="Seleccione el Año y Mes" />
    </div>
    <div class="template xmensualTotal">
        <input type="text" class="dateAnio input" name="aniox" id="aniox" data-important="anio" placeholder="Seleccione el Año y Mes" />
    </div>
    <div class="template xtrabajo">
        <select class="select">
            <option value="0" selected="selected">--Seleccione una resolución--</option>
            @foreach (var a in Model.Resoluciones)
            {
                <option value="@a.idTipoResolucion">@a.Nombre</option>
            }
        </select>
    </div>
    <div class="template rangoFecha">
        <input type="text" class="date input" name="desde" id="desde" data-important="rangofechadesde" placeholder="Fecha Desde"/> <span class="qualifier notform">hasta</span>
        <input type="text" class="date input" name="hasta" id="hasta" data-important="rangofechahasta" placeholder="Fecha Hasta"/>
    </div>
    <div class="template oblea">
        <input type="text" name="oblea" id="tOblea" class="input" placeholder="Oblea del EC" />
    </div>
    <div class="template incidente">
        <input type="text" name="incidente" id="tIncidente" class="input" placeholder="Ingrese el ticket" />
    </div>
</div>

