﻿html,body
{
	background: #000;
    margin: 0;
    padding: 0;
    
}
/* h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
} */
.error
{
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    display:inline-block;
    font-size:9px;
    font-style:italic;
}
h4
{
  height: 23px;
  background: url(/Content/img/bg-menu-main.png) repeat-x #a1c772;
  color: white;
  text-align:center;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 ;
  padding: 7px 0 0 8px;
}
#navega
{
	position:relative;
	height:60px;
}
#navega img
{
	float:left;
	margin-left:100px;
	cursor:pointer;	
}

#login
{
	
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	background-color: white;
	border:solid 2px gray;
	
	
}

fieldset 
{
    margin: 1em;
    padding: 1em;
    border: 1px solid #CCC;
    background-color:White;    
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
    
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

.input 
{
    width: 200px;
    border: 1px solid #CCC;
}
table 
{
  
  border-collapse: collapse;
  
}

table td 
{
  padding: 5px;  
  text-align:left; 
  
}

table th
{
  padding: 6px 5px;
  text-align: right;
  
  
}


#bAceptar
{
	padding-left:100px;
}
.help
{
    color:Red;
    text-align:left;
    width:50px;
}
center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e9e9eb !important;
    z-index: 5;
}

a, a:link, a:visited {
    text-decoration: none !important;
}

.body-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/Content/Login/images/bg-body.jpg) center / cover;
    display: block;
    z-index: 1;
    filter: blur(6px);
}

.body-dots {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/Content/Login/images/dots.png);
    display: block;
    z-index: 2;
}

.sofit-tittle {
    position: absolute;
    top: 32px;
    left: -120px;
    z-index: 4;
}

.sofit-tittle button h3 {
    margin: 0;
}

.sofit-login {
    max-width: 400px;
}

.sofit-bottom--wide {
    width: 100%;
}

.mdl-layout {
    align-items: center !important;
    justify-content: center !important;
    z-index: 3;
}

.mdl-layout__content {
    padding: 24px !important;
    flex: none !important;
    overflow: visible !important;
}

@media screen and (min-height: 635px) {
    .mdl-layout {
        overflow: hidden;
    }
}

/* ====== Mensaje Navegador Viejo ====== */
.buorg {
    background-position: 8px 17px;
    position: fixed !important;
    z-index: 111111;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #A29330;
    text-align: left;
    cursor: pointer;
    background-color: #C2C2C2 !important;
    font: 17px Calibri,Helvetica,Arial,sans-serif;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

    .buorg div {
        padding: 11px 12px 11px 30px;
        line-height: 1.7em;
    }

        .buorg div a, .buorg div a:visited {
            text-indent: 0;
            color: #fff !important;
            text-decoration: none;
            box-shadow: 0 0 2px rgba(0,0,0,0.4);
            padding: 1px 10px;
            border-radius: 1px;
            font-weight: normal;
            background: #5ab400;
            white-space: nowrap;
            margin: 0 2px;
            display: inline-block;
        }

#buorgig {
    background-color: #edbc68;
}

@media only screen and (max-width: 700px) {
    .buorg div {
        padding: 5px 12px 5px 9px;
        text-indent: 22px;
        line-height: 1.3em;
    }

    .buorg {
        background-position: 9px 8px;
    }
}