﻿body{
    font-family:Verdana, Arial sans-serif;
    font-size:.9em;
}
ul{
    list-style:none outside;
}
label{
    white-space:pre-wrap;
}
ul li{
    padding:5px;
    min-height:20px;
}
fieldset#resoluciones
{
    min-height:400px;
    
    position:relative;
}
.liresolucion{
    border:2px solid gray;
    margin:10px;
    position:relative;
}
.divimg{
    float:left;
    width:50%;
}
.divFile{
    float:left;
    width:50%;
}
.frame{
    margin:0 0.3em;
    width:300px;
    height:300px;
    position:relative;
}
.frame img{
    width:100%;
    height:100%;
}
.right{
    float:right;
}
.lifile{
    max-width:60px;
}
.quitRes{
    border:none;
    background-color:transparent;
    position:absolute;
    top:-15px;
    right:0;
    cursor:pointer;
}
.firma{
    padding-top:10px;
}
.label{
    width:150px;
    float:left;
    text-align:right;
    font-weight:bold;
    font-style:italic;    
    padding-right:5px;
}
h2{
    width:350px;
    margin:0 auto;
}
.lblTrabajos{
    font-weight:bold;
}
.separador{
    border-bottom:2px solid black;
}
.inbottom{
    position:absolute;
    bottom:0;
}