﻿<!DOCTYPE html>
<html>
<head>
   <title>Consultas</title>    
    @Styles.Render("~/Css/material")
    @Styles.Render("~/Css/consultas")
    @Styles.Render("~/Css/base")
    @Styles.Render("~/Css/themes/2")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/Consultas")
    <link rel="icon" href="~/favicon.png" /> 
    <style>
        
    </style>
</head>
<body>  
    <div class="body-blur"></div>
    <div class="body-dots"></div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="mdl-card__actions sofit-tittle hidden">
                <!-- Accent-colored raised button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--red-700">
                    <h3>SOFIT</h3>
                </button>
            </div>
            <!-- Consulta -->
            <div class="mdl-grid sofit-login">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--blue mdl-color-text--white">
                        <h5 class="">
                             Bienvenido al Sistema de Consulta de Tickets
                             <hr style="border: 1px #FFF solid; height: 2px; width: 50px; margin: 0 5px 5px 5px; display:inline-block">
                            <span id="lFecha" class="">@DateTime.Today.ToShortDateString()</span> 
                        </h5>
                        <div class="mdl-menu-bar">
                            <div class="wrapper">
                                <!-- Left aligned menu below button -->
                                <button id="demo-menu-lower-left"
                                        class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                                </button>

                                <ul id="header_userOptions" class=" mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                                    <a href="/Login">
                                        <li class="header_userOption mdl-menu__item">
                                            Salir
                                        </li>
                                    </a>
                                </ul>

                            </div>         
                        </div>

                    </div>
                    <div class="mdl-card__supporting-text">

                        <div class="" style="width:100%; margin:0 auto; text-align: center">
                            <!--<h6 class="normal" style="display:inline-block; margin-right: 5px">Búsqueda de Tickets por Número</h6>-->
                            <br>
                            <div class="" style="display:inline-block">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input id="buscarActivos" class="mdl-textfield__input" type="text" pattern="(^CBA\d{7}$|^LN\w{12}$|^SOL\d{7}$|^INC\d{7}$|^PRB\d{7}$)" />
                                    <label class="mdl-textfield__label" for="buscarActivos">
                                        N° de Ticket
                                    </label>
								    <span class="mdl-textfield__error">No parece un ticket válido</span>
                                </div>
                                <button id="searchIncidente" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>

                    </div>
                </div>
            <!-- Consulta //-->

            <!-- Resultado -->
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--6dp sofit-resultado">
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--5-col">
                    
                                <h5>Información del ticket</h5>
                                <div id="incidenteContent" class="hide">
                                    <ul class="">
                                        <li>
                                            <label class="labl">Nro. Incidente: </label>
                                            <label for="lNroInc"></label>
                                        </li>
                                        <li>
                                            <label class="labl">Fecha: </label>
                                            <label for="lFecha">&nbsp;</label>
                                        </li>
                                        <li>
                                            <label class="labl">Cliente: </label>
                                            <label for="lCliente"></label>
                                        </li>                                         
                                        <li>
                                            <label class="labl">TipoTicket: </label>
                                            <label for="lTipo">&nbsp;</label>
                                        </li>
                                        <li>
                                            <label class="labl">Prioridad Ticket: </label>
                                            <label for="lPrioridad">&nbsp;</label>
                                        </li>
                                        <li>
                                            <label class="labl">Estado del Ticket: </label>
                                            <label for="lEstado">&nbsp;</label>
                                        </li>
                                        <li>
                                            <label class="labl">Fecha Límite Resolución: </label>
                                            <label for="lFechaLimite">&nbsp;</label>
                                        </li>   
                                        <li>
                                            <label class="labl">Servicio: </label>
                                            <label for="lServicio">&nbsp;</label>
                                        </li>                
                                        <li>
                                            <label class="labl">Jurisdicción: </label>
                                            <label for="lJurisdiccion"></label>
                                        </li>
                                        <li>
                                            <label class="labl">Dependencia: </label>
                                            <label for="lDependencia"></label>
                                        </li>
                                        <li>
                                            <label class="labl">Tipificación: </label>
                                            <label for="lTipificacion"></label>
                                        </li>
                                        <li>
                                            <label class="labl">Descripción: </label>
                                            <label for="lDescripcion"></label>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                        
                                <h5>Areas Actuantes</h5>
                                <table id="areasIncidente" class=" mdl-data-table">
                                    <thead class="hide">
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">SubDirección</th>
                                            <th class="mdl-data-table__cell--non-numeric">Fecha Desde</th>
                                            <th class="mdl-data-table__cell--non-numeric">Fecha Hasta</th>
                                            <th class="mdl-data-table__cell--non-numeric">Resoluciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="hide"></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p class="mdl-typography--text-justify mdl-color-text--grey-600">
                        </p>
                        <p class="mdl-typography--text-center">
                        </p>
                        <p class="mdl-typography--text-center">
                            &copy; SOFIT &#124; Direccion General de Coordinación IT
                        </p>
                    </div>
                </div>
            </div>
            <!-- Resultado //-->
        </main>

    </div>
    <div class="message">
        <button class="trigger_message"></button>
    </div>
    <div class="mailTo">
        <ul class="ulMail">
            <li class="">                
                <input type="text" maxlength="100" placeholder="Ingrese su Nombre" required class="" id="NombreUsuario" style="width:260px;">
            </li>
            <li class="">                
                <input type="email" maxlength="100" placeholder="Ingrese un E-mail válido" required class="" id="eMailUsuario" style="width:260px;">
            </li>
            <li class="">                
                <textarea class="" placeholder="Consulta/Dudas? (Min.10 caracteres)" required style="width:260px; height:100px;" id="consultaTa"></textarea>
            </li>
        </ul>
        <div class="error hide">
            <div class=""></div>
        </div>
    </div>
</body>
</html>
