﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@section heads{
    @Styles.Render("~/Css/mesaConfig")
    @Styles.Render("~/Css/Config")
    @Scripts.Render("~/bundles/mesaConfig")
    @Scripts.Render("~/bundles/usuarios")
    @Styles.Render("~/Css/fa")    
}
@if (ViewBag.Access == "denied")
{
    @:<h2>Su perfil no permite el uso de esta característica</h2>
}
else
{
    <div id="tabset" class="content2">
        <ul>
            <li><a href="/Config/DatosPersonales">Mis Datos</a></li>
            <li><a href="Config/Tipificaciones">Tipificaciones</a></li>
            <li><a href="Config/Usuarios">Usuarios</a></li>
        </ul>

    </div>
}

