﻿
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* FLOATS */
.right {
	float: right !important;
}

.left {
	float: left !important;
}

.hide {
	display: none;
}

/* CONTENT */
#body {
	position: fixed;
	top: 105px;
	left: 0;
	right: 0;
	bottom: 0;
}

/* SEARCH */
#body > #formSearch {
    position: relative;
    left: 0px;
    height: 40px;
    width: 98%;
    margin: 5px 0;
	z-index: 2;
}
#body > #formSearch > .texto {
    display: inline-block;
    padding-left: 5px;
	margin: 5px 0 0 0;
    font-size: .7em;
    font-style: italic;
    line-height: inherit;
}
#body > #formSearch > #searchBar {
    position: relative;
    z-index: 1;
    width: 400px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 100%;
    float: left;
}
#body > #formSearch > #searchBar > #searchBar_input {
    background: #08557D;
    position: relative;
    right: 0;
    height: 100%;
    top: 0;
}
#body > #formSearch > #searchBar > #searchBar_input input {
    position: relative;
    top: 5px;
    width: 370px;
    height: 75%;
    padding: 0 0 0 5px;
    left: 15px;
    margin-right: 10px;
    background: #FFF;
    outline: 0px;
	border: medium none;
    color: #999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    z-index: 2;
}
#body > #formSearch > #searchBar > #searchBar_input input:focus{
	box-shadow: inset 0 0 3px 2px rgba(51,153,255,.8);
}
#body > #formSearch > #searchBar > #searchBar_input button{
    position: absolute;
    top: 5px;
    right: 15px;
    outline:0px;
}
#body > #formSearch > #searchBar > #searchBar_input > #searchButton {
    background: url(/Content/img/search_button.png) no-repeat 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 38px;
    width: 38px;
    z-index: 10;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 15px;
    outline: 0px;
}
#body > #formSearch nav{
	margin: 5px 0 0 0;
}
#body > #formSearch nav .botonActualizaciones{
    padding: .65em 1.5em;
    background: #f6f6f6;
    border: 1px solid #ccc;
    color: #1c94c4;
    font-size: .60em;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    cursor: pointer;
}
#body > #formSearch nav .botonActualizaciones:hover{
    color: #c77405;
    border: 1px solid #fbcb09;
    background: #fdf5ce;
}
/* CONTENT */
#body > #content-box {
	position: relative;
	height: calc(100% - 50px);
	padding: 0 2%;
}

#body > #content-box .scrolling {
	position: relative;
	height: 100%;
	overflow: auto;
}

#body > #content-box .accordion-content textarea, #body > #content-box .accordion-content input {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	background: transparent;
	border: 0;
}
#body > #content-box .accordion-content textarea:not(.no-border), #body > #content-box .accordion-content input:not(.no-border),  #body > #content-box .accordion-content fieldset:not(.no-border) {
	border: 1px solid;
	border-radius: 2px;
}
#body > #content-box .accordion-content textarea {
	min-height: 60px;
	resize: vertical;
}
#body > #content-box .accordion-content textarea.editable, #body > #content-box .accordion-content input.editable {
	transition: all 0.25s ease;
}
#body > #content-box .accordion-content textarea.editable:hover, #body > #content-box .accordion-content input.editable:hover, #body > #content-box .accordion-content textarea.editable:focus, #body > #content-box .accordion-content input.editable:focus {
	background: rgba(250,250,250,.9) !important;
	box-shadow: 0 0 2px 1px rgba(0,0,0,.6);
}

#body > #content-box .accordion-content fieldset {
	background: rgba(255,255,255,.5);
}
#body > #content-box .accordion-content fieldset > .row:last-child {
	margin-bottom: 0;
}

/* THEME */
.ui-corner-all {
	border-radius: 2px !important;
}
.ui-corner-top {
	border-radius: 2px 2px 0 0 !important;
}
.ui-corner-bottom {
	border-radius: 0 0 2px 2px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	margin: 0;
	border: 0;
	background: rgba(235,145,0,1);
	font-weight: bold;
	color: #FFF;
	/*padding-left: .3em !important;*/
	font-size: .95em;
}

.ui-accordion .ui-accordion-header a {
	display: block;
	padding: .5em .5em .5em .7em;
}

div.divHeader {
	font-size: .95em;
	height: 20px;
}

.inline {
	display: inline-block;
	display: inline;
}

.iconized {
	display: inline-block;
	padding-left: 7px;
	vertical-align: bottom;
}

.divHeader span {
	display: inline-block;
}

.ui-widget-content table {
	width: 100%;
}

.bg-white {
	background: #FFF;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.margin-b-3 {
	margin: 0 0 3px 0;
}
.margin-b-5 {
	margin: 0 0 5px 0;
}

.img-center {
	text-align: center;
}

.overflow-auto {
	margin: 0 0 5px 0;
	padding: 0 10px;
	height: calc(100% - 15px);
	overflow: auto;
}

.clear {
	clear: both;
}

.add-rem {
	width: 35px;
}

img.button {
	cursor: pointer;
}

.iconCopy {
	/* Si se usa copia con jQuery */
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

/* COLS */
.col-1 {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100% !important;
}

.col-2 {
	margin: 0;
	padding: 0;
	width: 50%;
	max-width: 50% !important;
}

.col-3 {
	margin: 0;
	padding: 0;
	width: 33.33%;
	max-width: 33.33% !important;
}

.col-4 {
	margin: 0;
	padding: 0;
	width: 25%;
	max-width: 25% !important;
}

.col-5 {
	margin: 0;
	padding: 0;
	width: 20%;
	max-width: 20% !important;
}

.col-6 {
	margin: 0;
	padding: 0;
	width: 16.6%;
	max-width: 16.6% !important;
}

.col-05 {
	margin: 0;
	padding: 0;
	width: 5%;
	max-width: 5%;
}
.col-10 {
	margin: 0;
	padding: 0;
	width: 10%;
	max-width: 10% !important;
}
.col-90 {
	margin: 0;
	padding: 0;
	width: 90%;
	max-width: 90% !important;
}
.col-95 {
	margin: 0;
	padding: 0;
	width: 95%;
	max-width: 95%;
}
/* SPECIAL COLS */
.col-2-75 {
	margin: 0;
	padding: 0;
	width: 75%;
	max-width: 75% !important;
}

.col-3-2 {
	margin: 0;
	padding: 0;
	width: 66.66%;
	max-width: 66.66% !important;
}

.col-6-2 {
	margin: 0;
	padding: 0;
	width: 83.4%;
	max-width: 83.4% !important;
}

.col-10-2 {
	margin: 0;
	padding: 0;
	width: 56.6%;
	max-width: 56.6% !important;
}
/* COLS */

/* TABLA DIV */
.table {
	position: relative;
	display: table;
	width: 100%;
}

.row-group {
	display: table-row-group;
}

.row-table {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 0 3px;
	vertical-align: top;
}

.th {
	font-weight: bolder;
	font-size: 1.1em;
}

.row-td {
	background-color: #E5E5E5;
	/*color:#000066;*/
}

.row-th {
	background-color: #006699;
	color: white;
}

.cell .table:not(.margin-b-5) {
	margin: -2px -4px;
	width: calc(100% + 8px);
}

.caption {
	display: table-caption;
	caption-side: top;
	border: 1px solid grey;
}

.cellspacing {
	border-spacing: 2px;
}

.textright {
	text-align: right;
}

.textleft {
	text-align: left;
}

.valing-t {
	vertical-align: top;
}

.valing-m {
	vertical-align: middle;
}

.valing-b {
	vertical-align: bottom;
}

.rowClear {
	height: 18px;
}

.height-row {
	height: 100%;
}

.height-cell {
	height: 100%;
}

.height-fieldset {
	height: 85%;
}

/* UI AUTOCOMPLETE */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
	overflow-y: hidden;
	overflow-x: hidden;
}

/* GRID */
.col .row {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}


.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.row .col {
		float: left;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0.75rem;
		min-height: 1px;
	}

		.row .col[class*="push-"], .row .col[class*="pull-"] {
			position: relative;
		}

		.row .col.s1 {
			width: 8.3333333333%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s2 {
			width: 16.6666666667%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s3 {
			width: 25%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s4 {
			width: 33.3333333333%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s5 {
			width: 41.6666666667%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s6 {
			width: 50%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s7 {
			width: 58.3333333333%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s8 {
			width: 66.6666666667%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s9 {
			width: 75%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s10 {
			width: 83.3333333333%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s11 {
			width: 91.6666666667%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.s12 {
			width: 100%;
			margin-left: auto;
			left: auto;
			right: auto;
		}

		.row .col.offset-s1 {
			margin-left: 8.3333333333%;
		}

		.row .col.pull-s1 {
			right: 8.3333333333%;
		}

		.row .col.push-s1 {
			left: 8.3333333333%;
		}

		.row .col.offset-s2 {
			margin-left: 16.6666666667%;
		}

		.row .col.pull-s2 {
			right: 16.6666666667%;
		}

		.row .col.push-s2 {
			left: 16.6666666667%;
		}

		.row .col.offset-s3 {
			margin-left: 25%;
		}

		.row .col.pull-s3 {
			right: 25%;
		}

		.row .col.push-s3 {
			left: 25%;
		}

		.row .col.offset-s4 {
			margin-left: 33.3333333333%;
		}

		.row .col.pull-s4 {
			right: 33.3333333333%;
		}

		.row .col.push-s4 {
			left: 33.3333333333%;
		}

		.row .col.offset-s5 {
			margin-left: 41.6666666667%;
		}

		.row .col.pull-s5 {
			right: 41.6666666667%;
		}

		.row .col.push-s5 {
			left: 41.6666666667%;
		}

		.row .col.offset-s6 {
			margin-left: 50%;
		}

		.row .col.pull-s6 {
			right: 50%;
		}

		.row .col.push-s6 {
			left: 50%;
		}

		.row .col.offset-s7 {
			margin-left: 58.3333333333%;
		}

		.row .col.pull-s7 {
			right: 58.3333333333%;
		}

		.row .col.push-s7 {
			left: 58.3333333333%;
		}

		.row .col.offset-s8 {
			margin-left: 66.6666666667%;
		}

		.row .col.pull-s8 {
			right: 66.6666666667%;
		}

		.row .col.push-s8 {
			left: 66.6666666667%;
		}

		.row .col.offset-s9 {
			margin-left: 75%;
		}

		.row .col.pull-s9 {
			right: 75%;
		}

		.row .col.push-s9 {
			left: 75%;
		}

		.row .col.offset-s10 {
			margin-left: 83.3333333333%;
		}

		.row .col.pull-s10 {
			right: 83.3333333333%;
		}

		.row .col.push-s10 {
			left: 83.3333333333%;
		}

		.row .col.offset-s11 {
			margin-left: 91.6666666667%;
		}

		.row .col.pull-s11 {
			right: 91.6666666667%;
		}

		.row .col.push-s11 {
			left: 91.6666666667%;
		}

		.row .col.offset-s12 {
			margin-left: 100%;
		}

		.row .col.pull-s12 {
			right: 100%;
		}

		.row .col.push-s12 {
			left: 100%;
		}

@media only screen and (min-width: 601px) {
	.row .col.m1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.m12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.offset-m1 {
		margin-left: 8.3333333333%;
	}

	.row .col.pull-m1 {
		right: 8.3333333333%;
	}

	.row .col.push-m1 {
		left: 8.3333333333%;
	}

	.row .col.offset-m2 {
		margin-left: 16.6666666667%;
	}

	.row .col.pull-m2 {
		right: 16.6666666667%;
	}

	.row .col.push-m2 {
		left: 16.6666666667%;
	}

	.row .col.offset-m3 {
		margin-left: 25%;
	}

	.row .col.pull-m3 {
		right: 25%;
	}

	.row .col.push-m3 {
		left: 25%;
	}

	.row .col.offset-m4 {
		margin-left: 33.3333333333%;
	}

	.row .col.pull-m4 {
		right: 33.3333333333%;
	}

	.row .col.push-m4 {
		left: 33.3333333333%;
	}

	.row .col.offset-m5 {
		margin-left: 41.6666666667%;
	}

	.row .col.pull-m5 {
		right: 41.6666666667%;
	}

	.row .col.push-m5 {
		left: 41.6666666667%;
	}

	.row .col.offset-m6 {
		margin-left: 50%;
	}

	.row .col.pull-m6 {
		right: 50%;
	}

	.row .col.push-m6 {
		left: 50%;
	}

	.row .col.offset-m7 {
		margin-left: 58.3333333333%;
	}

	.row .col.pull-m7 {
		right: 58.3333333333%;
	}

	.row .col.push-m7 {
		left: 58.3333333333%;
	}

	.row .col.offset-m8 {
		margin-left: 66.6666666667%;
	}

	.row .col.pull-m8 {
		right: 66.6666666667%;
	}

	.row .col.push-m8 {
		left: 66.6666666667%;
	}

	.row .col.offset-m9 {
		margin-left: 75%;
	}

	.row .col.pull-m9 {
		right: 75%;
	}

	.row .col.push-m9 {
		left: 75%;
	}

	.row .col.offset-m10 {
		margin-left: 83.3333333333%;
	}

	.row .col.pull-m10 {
		right: 83.3333333333%;
	}

	.row .col.push-m10 {
		left: 83.3333333333%;
	}

	.row .col.offset-m11 {
		margin-left: 91.6666666667%;
	}

	.row .col.pull-m11 {
		right: 91.6666666667%;
	}

	.row .col.push-m11 {
		left: 91.6666666667%;
	}

	.row .col.offset-m12 {
		margin-left: 100%;
	}

	.row .col.pull-m12 {
		right: 100%;
	}

	.row .col.push-m12 {
		left: 100%;
	}
}

@media only screen and (min-width: 993px) {
	.row .col.l1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.l12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.offset-l1 {
		margin-left: 8.3333333333%;
	}

	.row .col.pull-l1 {
		right: 8.3333333333%;
	}

	.row .col.push-l1 {
		left: 8.3333333333%;
	}

	.row .col.offset-l2 {
		margin-left: 16.6666666667%;
	}

	.row .col.pull-l2 {
		right: 16.6666666667%;
	}

	.row .col.push-l2 {
		left: 16.6666666667%;
	}

	.row .col.offset-l3 {
		margin-left: 25%;
	}

	.row .col.pull-l3 {
		right: 25%;
	}

	.row .col.push-l3 {
		left: 25%;
	}

	.row .col.offset-l4 {
		margin-left: 33.3333333333%;
	}

	.row .col.pull-l4 {
		right: 33.3333333333%;
	}

	.row .col.push-l4 {
		left: 33.3333333333%;
	}

	.row .col.offset-l5 {
		margin-left: 41.6666666667%;
	}

	.row .col.pull-l5 {
		right: 41.6666666667%;
	}

	.row .col.push-l5 {
		left: 41.6666666667%;
	}

	.row .col.offset-l6 {
		margin-left: 50%;
	}

	.row .col.pull-l6 {
		right: 50%;
	}

	.row .col.push-l6 {
		left: 50%;
	}

	.row .col.offset-l7 {
		margin-left: 58.3333333333%;
	}

	.row .col.pull-l7 {
		right: 58.3333333333%;
	}

	.row .col.push-l7 {
		left: 58.3333333333%;
	}

	.row .col.offset-l8 {
		margin-left: 66.6666666667%;
	}

	.row .col.pull-l8 {
		right: 66.6666666667%;
	}

	.row .col.push-l8 {
		left: 66.6666666667%;
	}

	.row .col.offset-l9 {
		margin-left: 75%;
	}

	.row .col.pull-l9 {
		right: 75%;
	}

	.row .col.push-l9 {
		left: 75%;
	}

	.row .col.offset-l10 {
		margin-left: 83.3333333333%;
	}

	.row .col.pull-l10 {
		right: 83.3333333333%;
	}

	.row .col.push-l10 {
		left: 83.3333333333%;
	}

	.row .col.offset-l11 {
		margin-left: 91.6666666667%;
	}

	.row .col.pull-l11 {
		right: 91.6666666667%;
	}

	.row .col.push-l11 {
		left: 91.6666666667%;
	}

	.row .col.offset-l12 {
		margin-left: 100%;
	}

	.row .col.pull-l12 {
		right: 100%;
	}

	.row .col.push-l12 {
		left: 100%;
	}
}

@media only screen and (min-width: 1201px) {
	.row .col.xl1 {
		width: 8.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl2 {
		width: 16.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl3 {
		width: 25%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl4 {
		width: 33.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl5 {
		width: 41.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl7 {
		width: 58.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl8 {
		width: 66.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl9 {
		width: 75%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl10 {
		width: 83.3333333333%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl11 {
		width: 91.6666666667%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.xl12 {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}

	.row .col.offset-xl1 {
		margin-left: 8.3333333333%;
	}

	.row .col.pull-xl1 {
		right: 8.3333333333%;
	}

	.row .col.push-xl1 {
		left: 8.3333333333%;
	}

	.row .col.offset-xl2 {
		margin-left: 16.6666666667%;
	}

	.row .col.pull-xl2 {
		right: 16.6666666667%;
	}

	.row .col.push-xl2 {
		left: 16.6666666667%;
	}

	.row .col.offset-xl3 {
		margin-left: 25%;
	}

	.row .col.pull-xl3 {
		right: 25%;
	}

	.row .col.push-xl3 {
		left: 25%;
	}

	.row .col.offset-xl4 {
		margin-left: 33.3333333333%;
	}

	.row .col.pull-xl4 {
		right: 33.3333333333%;
	}

	.row .col.push-xl4 {
		left: 33.3333333333%;
	}

	.row .col.offset-xl5 {
		margin-left: 41.6666666667%;
	}

	.row .col.pull-xl5 {
		right: 41.6666666667%;
	}

	.row .col.push-xl5 {
		left: 41.6666666667%;
	}

	.row .col.offset-xl6 {
		margin-left: 50%;
	}

	.row .col.pull-xl6 {
		right: 50%;
	}

	.row .col.push-xl6 {
		left: 50%;
	}

	.row .col.offset-xl7 {
		margin-left: 58.3333333333%;
	}

	.row .col.pull-xl7 {
		right: 58.3333333333%;
	}

	.row .col.push-xl7 {
		left: 58.3333333333%;
	}

	.row .col.offset-xl8 {
		margin-left: 66.6666666667%;
	}

	.row .col.pull-xl8 {
		right: 66.6666666667%;
	}

	.row .col.push-xl8 {
		left: 66.6666666667%;
	}

	.row .col.offset-xl9 {
		margin-left: 75%;
	}

	.row .col.pull-xl9 {
		right: 75%;
	}

	.row .col.push-xl9 {
		left: 75%;
	}

	.row .col.offset-xl10 {
		margin-left: 83.3333333333%;
	}

	.row .col.pull-xl10 {
		right: 83.3333333333%;
	}

	.row .col.push-xl10 {
		left: 83.3333333333%;
	}

	.row .col.offset-xl11 {
		margin-left: 91.6666666667%;
	}

	.row .col.pull-xl11 {
		right: 91.6666666667%;
	}

	.row .col.push-xl11 {
		left: 91.6666666667%;
	}

	.row .col.offset-xl12 {
		margin-left: 100%;
	}

	.row .col.pull-xl12 {
		right: 100%;
	}

	.row .col.push-xl12 {
		left: 100%;
	}
}

/* SHADOWS */

.z-depth-0 {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

	.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
		-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	}

/* 6dp elevation modified*/
.z-depth-2 {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
	-webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
	-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5, .modal {
	-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.hoverable {
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
}

	.hoverable:hover {
		-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

/* FIX JQUERY UI */
.col.ui-widget-header {
	border: 0 !important;
	background: none !important;
}

/* CHROME FIXES */

#body > #content-box .accordion-content textarea:not(*:root) {
	min-width: calc(100% - 3px) !important;
	width: calc(100% - 3px) !important;
}

#body > #content-box .accordion-content textarea.editable:hover:not(*:root), #body > #content-box .accordion-content input.editable:hover:not(*:root), #body > #content-box .accordion-content textarea.editable:focus:not(*:root), #body > #content-box .accordion-content input.editable:focus:not(*:root) {
	box-shadow: 0 0 3px 1px rgba(0,0,0,.6);
}