﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">-->
    <link rel="stylesheet" href="/Content/Remito/material.indigo-pink.min.css" type="text/css">
    @Scripts.Render("~/bundles/base")    
    <style>
    @@media all{
        #all{
            margin: 30px 2px;
        }
        #membrete{
            width:90%;
        }
        #membrete th.corner-left{
            width: 30%!important;
            border-right: 1px #ccc solid;
        }
        #membrete th.middle{
            width: 25%!important;
            text-align: center;
        }
        #membrete th.corner-right{
            width: 25%!important;
            border-left: 1px #ccc solid;
        }
        div.detalle{
            padding: 10px 5px; width: 97%
        }
        p.detalle{
            padding: 10px 5px;
        }
        .lista{
            width: 100%
        }
        #salto{
            display:none;
        }
    }
    @@media print{
        @@page {
            size: 210mm 297mm; /* landscape */
            /* you can also specify margins here: */
            margin: 10mm;
            margin-right: 10mm; /* for compatibility with both A4 and Letter */
        }
        #all{
            padding: 0;
            margin: 0;
        }
        #membrete{
            width:100%;
        }
        div.detalle{
            width: 100%
        }
        .lista{
            max-width: 100%
        }
        #responsable.mdl-grid, #responsable .mdl-cell{
            margin: -15px 0;
            padding: -15px 0;
        }
        #salto{
            display:block;
            page-break-before:always;
        }
    }
    </style>
    <script>
		$(function(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yy = today.getFullYear().toString().substr(-2);

			if(dd<10) {
				dd = '0'+dd
			} 

			if(mm<10) {
				mm = '0'+mm
			} 

			today = dd +' / '+ mm + ' / ' + yy;
			$('#fechaActual').html(today)
		})
	</script>
</head>
<body>
    @model List<soporte.Areas.Soporte.Models.Displays.RemitoVista>
    <div id="all" class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <div class="page-content">
                <table id="membrete" class="mdl-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric corner-left"><img src="/Content/Remito/logo_gob.png" width="300px"></th>
                            <th class="middle">
                                <h6>Servicio de Mantenimiento<br>del Parque Informático</h6>
                            </th>
                            <th class="corner-right" style="text-align: center" colspan="2"><h5>REMITO</h5></th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric corner-left"><p style="font-size: 12px;">Centro Cívico del Gobierno de Córdoba.<br>TE: 5243177-5243178</p></th>
                            <th class="middle"><h7>SOPORTE TÉCNICO<br>DIR. GENERAL DE COORDINACIÓN IT</h7></th>
                            <th style="border-left: 1px #ccc solid; text-align: right"><h7>Fecha:</h7></th>
                            <th style="text-align: left"><h7 id="fechaActual">__ /__ / __</h7></th>
                        </tr>
                    </thead>
                </table>

                <div id="responsable" class="mdl-grid">
                    <div class="mdl-color--white mdl-cell mdl-cell--11-col mdl-grid">
                        <div class="detalle">
                            <h5>Responsable: <span class="usuario"></span></h5>
                            <p class="mdl-color--grey-300 detalle">En el dia de la fecha se entrega el siguiente equipamiento a:</p>
                        </div>
                    </div>
                </div>

                <table class="mdl-data-table mdl-shadow--2dp lista">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Descripción</th>
                            <th>N° de Oblea</th>
                            <th>N° de Serie</th>
                            <th>N° de Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                          int index = 0;
                          <script>
						  $(function(){
							var usuarioAct = @Session["usuarioActual"];

							$('.usuario').html(usuarioAct.NombreCompleto);
						  })
						  </script>
                            if (Model != null) {
                                foreach (soporte.Areas.Soporte.Models.Displays.RemitoVista remito in Model) {
							<tr>
								<td class="mdl-data-table__cell--non-numeric">@remito.TipoDispositivo @remito.Marca @remito.Modelo</td>
								<td>@remito.Oblea</td>
								<td>@remito.NroSerie</td>
								<td>@remito.NroTicket</td>
							</tr>       index++;
                                        if (index == 10) { break; }
                                    }
                                }
                            }
                    </tbody>
                </table>

                <div class="mdl-grid">
                    <div class="mdl-color--white mdl-cell mdl-cell--4-col mdl-grid">
                        <div>
                            <p>Total de bultos:</p>
                            <p>Firma del receptor: ______________________</p>
                            <p>N° de documento: _______________________</p>
                        </div>
                    </div>
                    <div class="mdl-color--white mdl-cell mdl-cell--4-col mdl-grid">
                        <div>
                            <p>&nbsp;</p>
                            <p>Aclaracion: ______________________</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <!-- SALTO -->
                <div id="salto">
                    <!-- salto -->
                </div>
                <!-- SALTO -->
            </div>
        </main>
    </div>
                
	<table class="mdl-data-table mdl-shadow--2dp lista hidden removeit">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Descripción</th>
				<th>N° de Oblea</th>
				<th>N° de Serie</th>
				<th>N° de Ticket</th>
			</tr>
		</thead>
		<tbody class="pagina2">
			@{
                if (Model.Count > 10){
				int index2 = 10;
				for( int i = index2; i < Model.Count; i++)
					{
					<tr>
						<td class="mdl-data-table__cell--non-numeric">@Model[i].TipoDispositivo @Model[i].Marca @Model[i].Modelo</td>
						<td>@Model[i].Oblea</td>
						<td>@Model[i].NroSerie</td>
						<td>@Model[i].NroTicket</td>
					</tr>
                		if (i == 20) { break; }
					}
				<script>
					$(function(){
						var	template = $('#all').clone(),
							pagina2 = $('.pagina2').clone();
						
						$('.removeit').remove();

						$(template).find('.lista tbody').replaceWith(pagina2);
						//alert (template);
						$('body').append(template);
					})
				</script>
				}
			}
		</tbody>
	</table>
</body>
</html>
