﻿<fieldset class="ui-widget-content">
    @model soporte.Areas.Telecomunicaciones.Models.TiemposTelecomunicaciones
    <legend>Tiempos Críticos</legend>
    <ul>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Ingresados </em><em class="ui-state-error">Aviso</em></label>
            <input type="text" id="tAIng" name="tAIng" class="input dias" value="@Model.tAIngresados" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-highlight">Ingresados </em><em class="ui-state-error">Emergencia</em></label>
            <input type="text" id="tEIng" name="tEIng" class="input dias" value=@Model.tEIngresados>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>       
        <li>
            <label id="Label1" class="label"><em class="ui-state-highlight">Datos </em><em class="ui-state-error">Aviso</em></label>
            <input type="text" id="tAvisoDatos" name="tAvisoDatos" class="input dias" value="@Model.tADatos" />
            <label id="Label9" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label2" class="label"><em class="ui-state-highlight">Datos </em><em class="ui-state-error">Emergencia</em></label>
            <input type="text" id="tEmergDatos" name="tEmergDatos" class="input dias" value="@Model.tEDatos" />
            <label id="Label10" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
        <li>
            <label id="Label3" title="" class="label"><em class="ui-state-highlight">Telefonía </em><em class="ui-state-error">Aviso</em></label>
            <input type="text" id="tAvisoTele" name="tAvisoTele" class="input dias" value="@Model.tATele" />
            <label id="Label11" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon aviso"></div>
        </li>
        <li>
            <label id="Label4" title="" class="label"><em class="ui-state-highlight">Telefonía </em><em class="ui-state-error">Emergencia</em></label>
            <input type="text" id="tEmergTele" name="tEmergTele" class="input dias" value=@Model.tETele>
            <label id="Label12" title="(Días corridos)" class="aclaracion"></label>
            <div class="icon emer"></div>
        </li>
                
    </ul>
    <button id="bSetTimes">Aceptar</button>
</fieldset>