﻿@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Styles.Render("~/Css/soporteIncidentes")
    @Styles.Render("~/Css/fa")
    @Scripts.Render("~/bundles/IncSoporte")        
}
@model soporte.Models.ClasesVistas.SoporteModel
<section class="ui-widget-content body">
    @*busqueda*@
    <div id="formSearch" class="">
        <div id="searchBar" class="searchBar">
            <div id="searchBar_input" class="searchBar_input">
                <input id="tBuscar" class="search autocomplete ui-autocomplete-input" type="text" />
                <button id="searchInc" class="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        <div id="searchClienteBar" class="hidden searchBar">
            <div id="" class="searchBar_input">
                <input id="tBuscarCliente" type="text" />
                <button id="searchCliente" class="searchButton"></button>
            </div>
        </div>
    </div>
    <div class="fSearch">
        <div class="item itemNro active"><span>Nro.Incidente</span></div>
        <div class="item itemCliente"><span>Nombre/Dni Cliente</span></div>
        <div class="item itemMore">
            <span>Más</span>
            <div class="submenu hide">
                <div class="right btnRight">
                    <button type="button" id="" class="btnHelpSoporte jQueryBtn" title="Ayuda del Sistema">?</button>
                </div>
                <div class="right btnRight">
                    <button type="button" id="dUpdate" class="jQueryBtn" title="Actualizar los datos periódicamente">Parar Actualizaciones</button>
                </div>
            </div>
        </div>
    </div>
    @*fin busqueda*@
    <div class="content-box overlay">
        <div class="incidentesContent">
            @*Inc.Ingresados*@
            <div id="DivIncIng" class="left window conIncidente">
                <h2><a href="#pIncIng">Bandeja de Entrada</a></h2>
                <div id="pIncIng" class="accContent" style="padding:0;">
                    <div id="divIngresados" class="grilla newWindow divBandeja">
                        @{var grid = new WebGrid(Model.IncidentesIngresados, canSort: false, canPage: false);
                        }
                        @grid.GetHtml(tableStyle: "",
                                       htmlAttributes: new { id = "gIIngresados" },
                                       headerStyle: "ui-state-default",
                                       alternatingRowStyle: "alt",
                                       selectedRowStyle: "select",
                                       columns: grid.Columns(
                                       grid.Column(header: "", format: @<text><input name="selec"
                                                                                     type="checkbox" value="@item.IdIncidente" /></text>),
            grid.Column("IdIncidente", "IdIncidente"),
            grid.Column(header: "Número", format: (item) => (item.Estado == "Para Cerrar") ? Html.Raw("<span class='ui-state-error'title='Ticket para cerrar'>" + @item.Numero + "</span>") : (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                                      (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                                      Html.Raw("<span>" + @item.Numero + "</span>")),

            grid.Column("FechaDesde", "Fecha Inicio"),
            grid.Column("Tipificacion", "Tipificación"),
            grid.Column("Dependencia", "Dependencia"),
            grid.Column("Técnico", "Técnico"),
            grid.Column("Prioridad", "Prioridad"),
            grid.Column(header: "Desc.", format:@<div class="verObservIncidente">
                <div class="status"></div>
                <span class="hide"> @item.Descripcion @if (@item.Imagen) {<br /><a href="#" data-idInc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                                      @if (@item.Archivo) {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>}
                                                      <br /><a href="#" class="clienteName">
                                                      @if (item.Cliente == null)
                                                      {<em>Cliente:N/A</em> }
                                                      else
                                                      {<em>Cliente:<span>@item.Cliente</span></em>}
                                                            </a>
                </span>
                </div>),
            grid.Column(header: "Trabajos", format:@<div class="verSolucionIncidente"><div class="status"></div></div>),
            grid.Column(header: "", format:@<i class="fa fa-print fa-2x cursor printTicket"></i>),
            grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>))
)
</div>
<div class="botones">
    <ul class="icons ui-widget ui-helper-clearfix">
        <li class="ui-state-default ui-corner-all" title="Acciones comunes">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Acciones
            <ul class="fly">
                <li class="ui-state-default ui-corner-all tomarIncidente tecnicos" title="Tomar Incidente por parte del usuario logueado">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                </li>
                <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Trabajos
                </li>
                <li class="ui-state-default ui-corner-all referentes" title="Agregar referentes para notificar">
                    <span class="ui-icon ui-icon-person"></span>  Referentes
                </li>
                <li class="ui-state-default ui-corner-all suspender" title="Suspender Incidente">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Suspender
                </li>
                <li class="ui-state-default ui-corner-all cerrarIncidente" title="Solucionar y cerrar Incidente">
                    <span class="ui-icon ui-icon-circle-check"></span>
                    Solucionar
                </li>
                <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Derivar
            <ul class="fly">
                <li>
                    <span class="lFly">Area:</span>
                    <select class="sFly sArea">
                        @foreach (var t in Model.Areas)
                        {
                            if (@t.Nombre != "At.Usuarios" & @t.Nombre != "Logística") { continue; }
                            <option value="@t.idArea">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li>
                    <span class="lFly">Asignado:</span>
                    <select class="sFly sTecnico">
                        <option value="0" selected="selected">--Cualquier Técnico--</option>
                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico" @if (t.Nombre == "Soporte") { <text> selected="selected" </text> }>@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" id="bDerivarAtU" class="derivar boton">Derivar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all " title="Derivar Incidente a otras SubDirecciones">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Derivar A SubDirección
            <ul class="fly">
                <li>
                    <span class="lFly">SubDirección:</span>
                    <select class="sFly sDireccion">
                        @foreach (var t in Model.SubDirecciones)
                        {
                            if (@t.Nombre == "Soporte Técnico" | @t.Nombre == "Gerencia" | @t.Nombre == "Administración") { continue; }
                            <option value="@t.idDireccion">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" class="derivarDireccion boton">Derivar</button></li>
            </ul>
        </li>
        @{
            var usuario = Session["usuario"] as soporte.Models.usuarioBean;
            foreach (var p in usuario.Perfiles)
            {
                if (p.nombre.Equals("Administrador Gral.") | p.nombre.Equals("Administrador Soporte") | p.nombre.Equals("Dirección"))
                {
                    <li class="ui-state-default ui-corner-all" title="Cambiar Prioridad de Ticket">
                        <span class="ui-icon ui-icon-circle-triangle-e"></span>
                        Cambiar Prioridad
                        <ul class="fly">
                            <li>
                                <span class="labelSlim">Prioridad:</span>
                                <select id="prioridadTicket">

                                    @foreach (var t in Model.PrioridadTickets)
                                    {
                                        <option value="@t.Id">@t.Nombre</option>
                                    }
                                </select>
                            </li>
                            <li><button type="button" class="setPrioridad boton">Establecer</button></li>
                        </ul>
                    </li>
                }
            }
        }
        <li id="Li2" class="ui-state-default ui-corner-all" title="Revivir un Ticket cerrado en las últimas 48 horas">
            <span class="ui-icon ui-icon-circle-plus"></span>
            Revivir Ticket
            <ul class="fly">
                <li><span class="lFly">Número:</span><input type="text" class="sFly" id="tIncToLive" /></li>
                <li><button type="button" id="bIncToLive" class="boton">Revivir</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all" title="Eliminar Ticket Recién Creado">
            <span class="ui-icon ui-icon-alert eliminarInc"></span>
            Eliminar Ticket
        </li>
    </ul>
</div>
</div>
</div>
@*Incidentes At.Usuarios*@
<div id="DivIncAt" class="window left conIncidente">
    <h2><a href="#">Inc.At.Usuarios</a></h2>
    <div class="accContent">
        <div id="divEnAtUsuarios" class="grilla newWindow">
            @{var gridAtUsuarios = new WebGrid(Model.IncidentesAtUsuarios, canSort: false, canPage: false);
            }
            @gridAtUsuarios.GetHtml(tableStyle: "",
                       htmlAttributes: new { id = "gIAtUsuarios" },
                       headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec" type="checkbox" value="@item.IdIncidente" /></text>),
                            grid.Column("IdIncidente", "IdIncidente"),
                            grid.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                           (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                           Html.Raw("<span>" + @item.Numero + "</span>")),
 grid.Column("FechaDesde", "Fecha Inicio"),
 grid.Column("Tipificacion", "Tipificación"),
 grid.Column("Dependencia", "Dependencia"),
 grid.Column("Técnico", "Técnico"),
 grid.Column(header: "Desc.", format:@<div class="verObservIncidente">
    <div class="status"></div>
    <span class="hide">
        @item.Descripcion @if (@item.Imagen)
        {<br /><a href="#" data-idInc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                     
                                    @if (@item.Archivo)
                                    {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>}
                                                                     
                                                                    <br />
                                                                    <a href="#!" class="clienteName">
                                                                        @if (item.Cliente == null)
                                                                        {<em>Cliente:N/A</em> }
                                                                        else
                                                                        {<em>Cliente:<span>@item.Cliente</span></em>}
                                                            </a>

                                                        </span>
                                                    </div>),
                                  grid.Column(header: "Trabajos", format:@<div class="verSolucionIncidente"><div class="status"></div></div>),
grid.Column(header: "", format:@<i class="fa fa-print fa-2x cursor printTicket"></i>),
grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
</div>
<div class="botones">
    <ul class="icons ui-widget ui-helper-clearfix">
        <li class="ui-state-default ui-corner-all" title="Acciones comunes">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Acciones
            <ul class="fly">
                <li class="ui-state-default ui-corner-all tomarIncidente tecnicos" title="Tomar Incidente por parte del usuario logueado">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                </li>
                <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Trabajos
                </li>
                <li class="ui-state-default ui-corner-all suspender" title="Suspender Incidente">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Suspender
                </li>
                <li class="ui-state-default ui-corner-all cerrarIncidente" title="Solucionar y cerrar Incidente">
                    <span class="ui-icon ui-icon-circle-check"></span>
                    Solucionar
                </li>
                <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Derivar
            <ul class="fly">
                <li>
                    <span class="lFly">Area:</span>
                    <select class="sFly sArea">
                        @foreach (var t in Model.Areas)
                        {
                            if (!@t.Nombre.Equals("Logística") & !@t.Nombre.Equals("Soporte")) { continue; }
                            <option value="@t.idArea">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li>
                    <span class="lFly">Asignado:</span>
                    <select class="sFly sTecnico">
                        <option value="0" selected="selected">--Cualquier Técnico--</option>

                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" id="bDerivarAtU" class="derivar boton">Derivar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Asignar
            <ul class="fly">

                <li>
                    <span class="labelSlim">Técnico:</span>
                    <select class="sFly sTecnico">
                        @foreach (var t in Model.TecnicoAtUsuarios)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" id="" class="boton bAsignarTec">Asignar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Filtrar Técnico
            <ul class="fly">
                <li class="tecnicosAsignar">
                    <span class="labelSlim">Técnico:</span>
                    <select class="sFly sTecnico">
                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
            <span class="ui-icon ui-icon-disk"></span>
        </li>

    </ul>

</div>
</div>
</div>
@*Incidentes Logistica*@
<div id="DivIncLog" class="window left conIncidente">
    <h2><a href=" #">Incidentes Logística</a></h2>
    <div class="accContent">
        <div id="divLogistica" class="grilla newWindow">
            @{var gridTele = new WebGrid(Model.IncidentesLogistica, canSort: false, canPage: false);
            }
            @gridTele.GetHtml(tableStyle: "",
                       htmlAttributes: new { id = "gIAtLogistica" },
                       headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: gridTele.Columns(
                                   gridTele.Column(header: "", format: @<text><input name="selec"
                                                                                     type="checkbox" value="@item.IdIncidente" /></text>),
        gridTele.Column("IdIncidente", "IdIncidente"),
        gridTele.Column(header: "Número", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span><i class='bell fa fa-bell'></i>") :
                                         (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.Numero + "</span>") :
                                         Html.Raw("<span>" + @item.Numero + "</span>")),
        gridTele.Column("FechaDesde", "Fecha Inicio"),
        gridTele.Column("Tipificacion", "Tipificación"),
        gridTele.Column("Dependencia", "Dependencia"),
        gridTele.Column(header: "Estado Ticket", format: (item) => (item.Estado == "Suspendido") ? Html.Raw("<span class='ui-state-error'title='Ticket suspendido'>" + @item.Estado + "</span>") : item.Estado),
        gridTele.Column(header: "Desc.", format: @<div class="verObservIncidente">
            <div class="status"></div>
            <span class="hide">
                @item.Descripcion @if (@item.Imagen)
                {<br /><a href="#" data-idInc="@item.IdIncidente" class="verImagen"><em>Ver Imágen</em></a>}
                                                         
                                                        @if (@item.Archivo)
                                                        {<br /><a href="/Service/pathFile/@item.IdIncidente"><em>Get Archivo</em></a>}
                                                                                                     
                                                                                                    <br /><a href="#" class="clienteName">
                                                                                                        @if (item.Cliente == null)
                                                                                                        {<em>Cliente:N/A</em> }
                                                                                                        else
                                                                                                        {<em>Cliente:<span>@item.Cliente</span></em>                                        
                                                                                                        }
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>),
                                                                   gridTele.Column(header: "Equipos", format: @<div class="verEquipo">
                                                            <div class="status"></div>
                                                        </div>),
gridTele.Column(header: "Trabajos", format: @<div class="verSolucionIncidente"><div class="status"></div></div>),
gridTele.Column(header: "", format: @<i class="fa fa-print fa-2x cursor printTicket"></i>),
gridTele.Column(header: "Estado", format: @<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
</div>
<div class="botones">
    <ul class="icons ui-widget ui-helper-clearfix">
        <li class="ui-state-default ui-corner-all" title="Acciones comunes">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Acciones
            <ul class="fly">
                <li class="ui-state-default ui-corner-all tomarIncidente tecnicos" title="Tomar Incidente por parte del usuario logueado">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                </li>
                <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Trabajos
                </li>
                <li class="ui-state-default ui-corner-all suspender" title="Suspender Incidente">
                    <span class="ui-icon ui-icon-clipboard"></span>
                    Suspender
                </li>
                <li class="ui-state-default ui-corner-all cerrarIncidente" title="Solucionar y cerrar Incidente">
                    <span class="ui-icon ui-icon-circle-check"></span>
                    Solucionar
                </li>
                <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all logis" title="Agregar equipos a un Incidente">
            <span class="ui-icon ui-icon-circle-plus"></span>
            Add Equipo
            <ul class="fly">
                <li><span class="labelSlim">Oblea:</span><input type="text" id="tOblea" autocomplete="off" style="border: 1px solid #CCC; padding: 0 2px; width: 117px; height:17px;" /></li>
                <li>
                    <span class="labelSlim">Area:</span>
                    <select id="dAreaAddEquipo">
                        <option value="0" selected="selected">--Seleccione--</option>
                        @foreach (var t in Model.Areas)
                        {
                            if (!@t.Nombre.Equals("Laboratorio") & !@t.Nombre.Equals("Clonado")) { continue; }
                            <option value="@t.idArea">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li>
                    <span class="labelSlim">Asignado:</span>
                    <select id="tecnicoAddEquipo">
                        <option value="0" selected="selected">--Cualquier Técnico--</option>
                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" id="bNvoEquipo" class="boton">Agregar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all logis" title="Quitar Equipo de un Incidente">
            <span class="ui-icon ui-icon-minusthick"></span>
            Quitar Equipo
            <ul class="fly">
                <li><span class="labelSlim">Oblea:</span><input type="text" id="tQuitarOblea" /></li>
                <li><button type="button" id="bQuitarEquipo" class="boton">Quitar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Derivar
            <ul class="fly">
                <li>
                    <span class="lFly">Area:</span>
                    <select class="sFly sArea">
                        @foreach (var t in Model.Areas)
                        {
                            if (!@t.Nombre.Equals("At.Usuarios") & !@t.Nombre.Equals("Soporte")) { continue; }
                            <option value="@t.idArea">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li>
                    <span class="lFly">Asignado:</span>
                    <select class="sFly sTecnico">
                        <option value="0" selected="selected">--Cualquier Técnico--</option>

                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" id="bDerivarAtU" class="derivar boton">Derivar</button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all reactivacion" title="Reactivar Tickets Suspendidos">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Reactivar
        </li>
        <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
            <span class="ui-icon ui-icon-circle-triangle-e"></span>
            Filtrar Técnico
            <ul class="fly">
                <li class="tecnicosAsignar">
                    <span class="labelSlim">Técnico:</span>
                    <select class="sFly sTecnico">
                        @foreach (var t in Model.Tecnicos)
                        {
                            <option value="@t.idTecnico">@t.Nombre</option>
                        }
                    </select>
                </li>
                <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
            </ul>
        </li>
        <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
            <span class="ui-icon ui-icon-disk"></span>
        </li>

    </ul>
</div>
</div>
</div>
@*Equipos Clonado*@
<div id="DivEqClon" class="window left conEquipo">
    <h2>
        <a href=" #">
            Equipos Clonado
        </a>
    </h2>
    <div class="accContent">
        <div id="divEnClonado" class="grilla insideWindow">
            @{var gridClonado = new WebGrid(Model.EquiposClonado, canSort: false, canPage: false);
            }
            @gridClonado.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gEClonado" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec" type="checkbox" value="@item.IdIncidente" /></text>),
                          grid.Column("Idincidente", "id_incidente"),
                          grid.Column("Idequipo", "id_equipo"),
                          grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
                          grid.Column(header:"Ticket", format:(item)=> (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                          (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                           Html.Raw("<span>" + @item.NroIncidente + "</span>")),
                          grid.Column("Tecnico", "Técnico"),
                          grid.Column("Dependencia", "Dependencia"),
                          grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
                          grid.Column(header: "Notificacion", format:@<span class="@(@item.Notificacion=="Notificado"?"notificado":"")">@item.Notificacion</span>),
                          grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status"><span class="hide">@item.Observacion</span></div>)
                                                )
                                 )
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all tomar tecnicos" title="Tomar Equipo por parte del usuario logueado">
                            <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                        </li>
                        <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis equipos">
                            <button type="button" class="filtro botonNoIcon">
                                <span class="text">Mis Equipos</span>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (!@t.Nombre.Equals("Laboratorio") & !@t.Nombre.Equals("Logística")) { continue; }
                                    <option value="@t.idArea">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Asignar
                    <ul class="fly">

                        <li>
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" class="boton asignar">Asignar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Filtrar Técnico
                    <ul class="fly">
                        <li class="tecnicosAsignar">
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@*Equipos Laboratorio*@
<div id="DivEqLab" class="window left conEquipo">
    <h2>
        <a href=" #">
            Equipos Laboratorio
        </a>
    </h2>
    <div class="accContent">
        <div id="divEnLaboratorio" class="grilla insideWindow">
            @{var gridLab = new WebGrid(Model.EquiposLaboratorio, canSort: false, canPage: false);
            }
            @gridLab.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gELaboratorio" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec"
                                                                        type="checkbox" value="@item.IdIncidente" /></text>),
                            grid.Column("Idincidente", "id_incidente"),
                            grid.Column("Idequipo", "id_equipo"),
                            grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
                            grid.Column(header: "Ticket", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                            (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                             Html.Raw("<span>" + @item.NroIncidente + "</span>")),
                            grid.Column("Tecnico", "Técnico"),
                            grid.Column("Dependencia", "Dependencia"),

                            grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
                            grid.Column(header: "Notificacion", format:@<span class="@(@item.Notificacion=="Notificado"?"notificado":"")">@item.Notificacion</span>),
                            grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status"><span class="hide">@item.Observacion</span></div>)
                                                )
                            )
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all tomar tecnicos" title="Tomar Equipo por parte del usuario logueado">
                            <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                        </li>
                        <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (!@t.Nombre.Equals("Clonado") & !@t.Nombre.Equals("Logística")) { continue; }
                                    <option value="@t.idArea">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Asignar
                    <ul class="fly">

                        <li>
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="boton asignar">Asignar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Filtrar Técnico
                    <ul class="fly">
                        <li class="tecnicosAsignar">
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@*Equipos Para entregar*@
<div id="DivEqDel" class="window left conEquipo">
    <h2>
        <a href=" #">
            Equipos Entregar
        </a>
    </h2>
    <div class="accContent">
        <div id="divEntregar" class="grilla insideWindow">
            @{var gridEntregar = new WebGrid(Model.EquiposParaEntregar, canSort: false, canPage: false);
            }
            @gridEntregar.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gIEEntregar" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec"
                                                                        type="checkbox" value="@item.IdIncidente" /></text>),
 grid.Column("Idincidente", "id_incidente"),
 grid.Column("Idequipo", "id_equipo"),
 grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
grid.Column(header: "Ticket", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                            (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                             Html.Raw("<span>" + @item.NroIncidente + "</span>")),
grid.Column("Tecnico", "Técnico"),
grid.Column("Dependencia", "Dependencia"),

grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
grid.Column(header: "Notificacion", format:@<span class="@(@item.Notificacion=="Notificado"?"notificado":"")">@item.Notificacion</span>),
grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all tomar tecnicos" title="Tomar Equipo por parte del usuario logueado">
                            <span class="ui-icon ui-icon-circle-triangle-e"></span>  Tomar
                        </li>
                        <li class="ui-state-default ui-corner-all trabajos" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all terminarEquipo" title="Solucionar el equipo">
                            <span class="ui-icon ui-icon-circle-check"></span>
                            Solucionar
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Incidentes</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (!@t.Nombre.Equals("Clonado") & !@t.Nombre.Equals("Laboratorio")) { continue; }
                                    <option value="@t.idArea">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Asignar Incidentes a un Técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Asignar
                    <ul class="fly">

                        <li>
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.TecnicoLogistica)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="boton asignar">Asignar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all" title="Filtrar por técnico">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Filtrar Técnico
                    <ul class="fly">
                        <li class="tecnicosAsignar">
                            <span class="labelSlim">Técnico:</span>
                            <select class="sFly sTecnico">
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" class="filtrarTecnico boton text"><span class="text">Filtrar</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all remito" title="Imprimir Remito">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Remito
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@*Equipos suspendidos*@
<div id="DivEqSus" class="window left conEquipo">
    <h2>
        <a href=" #">
            Equipos Suspendidos
        </a>
    </h2>
    <div class="accContent">
        <div id="divSuspendidos" class="grilla insideWindow">
            @{var gridSuspendidos = new WebGrid(Model.EquiposSuspendidos, canSort: false, canPage: false);
            }
            @gridSuspendidos.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gESuspendidos" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec"
                                                                        type="checkbox" value="@item.IdIncidente" /></text>),
                            grid.Column("Idincidente", "id_incidente"),
                            grid.Column("Idequipo", "id_equipo"),
                            grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
                            grid.Column(header: "Ticket", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                            (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                             Html.Raw("<span>" + @item.NroIncidente + "</span>")),
                            grid.Column("Tecnico", "Técnico"),
                            grid.Column("Dependencia", "Dependencia"),
                            grid.Column("Ubicacion", "Ubicación"),
                            grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
                            grid.Column(header: "Notificacion", format:@<span class="@((@item.Notificacion=="Notificado"|@item.Notificacion=="ReNotificar")?"notificado":"")">@item.Notificacion</span>),
                            grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all trabajosAlt" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes"><button type="button" class="filtro botonNoIcon"><span class="text">Mis Equipos</span></button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (!@t.Nombre.Equals("Clonado") & !@t.Nombre.Equals("Logística") & !@t.Nombre.Equals("Laboratorio")) { continue; }
                                    <option value="@t.idArea">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li title="Ver Equipos que tengo asignados" class="ui-state-default ui-corner-all filtro">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>Mis Equipos
                </li>
                <li title="Aviso por pedido de repuestos" class="ui-state-default ui-corner-all notificar">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>Notificar
                </li>
                <li title="Ubicar un equipo en algún armario" id="setUbicacion" class="ui-state-default ui-corner-all">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>Ubicar
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>

            </ul>

        </div>



    </div>
</div>
@*Equipos Aviso Garantia*@
<div id="DivEqParaGar" class="window left conEquipo">
    <h2>
        <a href=" #">
            Aviso Garantía
        </a>
    </h2>
    <div class="accContent">
        <div id="divParaGarantia" class="grilla insideWindow">
            @{var gridAviso = new WebGrid(Model.EquiposAvisoGarantia, canSort: false, canPage: false);
            }
            @gridAviso.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gEPGarantia" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec"
                                                                        type="checkbox" value="@item.IdIncidente" /></text>),
 grid.Column("Idincidente", "id_incidente"),
 grid.Column("Idequipo", "id_equipo"),
 grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
grid.Column(header: "Ticket", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                            (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                             Html.Raw("<span>" + @item.NroIncidente + "</span>")),
grid.Column("Tecnico", "Técnico"),
grid.Column("Dependencia", "Dependencia"),
grid.Column("Ubicacion", "Ubicación"),
grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
grid.Column(header: "Notificacion", format:@<span class="@(@item.Notificacion=="Notificado"?"notificado":"")">@item.Notificacion</span>),
grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all trabajosAlt" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes">
                            <button type="button" class="filtro botonNoIcon">
                                <span class="text">Mis Equipos</span>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (@t.Nombre.Equals("Laboratorio") | @t.Nombre.Equals("Clonado") | @t.Nombre.Equals("Logística"))
                                    {
                                        <option value="@t.idArea">@t.Nombre</option>
                                    }
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
@*Equipos En garantia*@
<div id="DivEqEnGar" class="window left conEquipo">
    <h2>
        <a href=" #">
            En Garantía
        </a>
    </h2>
    <div class="accContent">
        <div id="divEnGarantia" class="grilla insideWindow">
            @{var gridEnGar = new WebGrid(Model.EquiposEnGarantia, canSort: false, canPage: false);
            }
            @gridEnGar.GetHtml(tableStyle: "",
                          htmlAttributes: new { id = "gEEnGarantia" },
                          headerStyle: "ui-state-default",
                          alternatingRowStyle: "alt",
                          selectedRowStyle: "select",
                          columns: grid.Columns(
                          grid.Column(header: "", format: @<text><input name="selec"
                                                                        type="checkbox" value="@item.IdIncidente" /></text>),
 grid.Column("Idincidente", "id_incidente"),
 grid.Column("Idequipo", "id_equipo"),
 grid.Column(header: "Oblea", format:@<a class="anchorEquipo" href="javascript:void(0)">@item.Oblea</a>),
grid.Column(header: "Ticket", format: (item) => (item.Prioridad == "Crítico") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span><i class='bell fa fa-bell'></i>") :
                            (item.Prioridad == "Urgente") ? Html.Raw("<span class='ui-state-highlight'>" + @item.NroIncidente + "</span>") :
                                             Html.Raw("<span>" + @item.NroIncidente + "</span>")),
grid.Column("Tecnico", "Técnico"),
grid.Column("Dependencia", "Dependencia"),
grid.Column("Ubicacion", "Ubicación"),
grid.Column(header: "Trabajos", format:@<div class="verSolucion"><div class="status"></div></div>),
grid.Column(header: "Notificacion", format:@<span class="@(@item.Notificacion=="Notificado"?"notificado":"")">@item.Notificacion</span>),
grid.Column(header: "Estado", format:@<div class="@item.EstadoIcono status">
    <span class="hide">@item.Observacion</span>
</div>)
))
        </div>
        <div class="botones">
            <ul class="icons ui-widget ui-helper-clearfix">
                <li class="ui-state-default ui-corner-all" title="Acciones comunes">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Acciones
                    <ul class="fly">
                        <li class="ui-state-default ui-corner-all trabajosAlt" title="Cargar Trabajo">
                            <span class="ui-icon ui-icon-clipboard"></span>
                            Trabajos
                        </li>
                        <li class="ui-state-default ui-corner-all hasButton" title="Ver mis incidentes">
                            <button type="button" class="filtro botonNoIcon">
                                <span class="text">Mis Equipos</span>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all " title="Derivar Incidente a At.Usuarios o Logistica">
                    <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    Derivar
                    <ul class="fly">
                        <li>
                            <span class="lFly">Area:</span>
                            <select class="sFly sArea">
                                @foreach (var t in Model.Areas)
                                {
                                    if (@t.Nombre.Equals("Laboratorio") | @t.Nombre.Equals("Clonado") | @t.Nombre.Equals("Logística"))
                                    {
                                        <option value="@t.idArea">@t.Nombre</option>
                                    }
                                }
                            </select>
                        </li>
                        <li>
                            <span class="lFly">Asignado:</span>
                            <select class="sFly sTecnico">
                                <option value="0" selected="selected">--Cualquier Técnico--</option>
                                @foreach (var t in Model.Tecnicos)
                                {
                                    <option value="@t.idTecnico">@t.Nombre</option>
                                }
                            </select>
                        </li>
                        <li><button type="button" id="" class="derivarEq boton">Derivar</button></li>
                    </ul>
                </li>
                <li class="ui-state-default ui-corner-all bExcel " title="Guardar una copia en Excel">
                    <span class="ui-icon ui-icon-disk"></span>
                </li>

            </ul>

        </div>



    </div>
</div>
</div>
<div class="incActivos ui-state-active">
    @*hoja ruta*@
    <div class="iconContainer">
        <div class="ui-icon ui-icon-circle-triangle-w">

        </div>
    </div>
    <div class="chat-badge hide">
        <span class="badge-numbers" data-cant="0"></span>
    </div>
    <p class="rotated">
        <i class="fa fa-comments rotated" aria-hidden="true"></i>
    </p>
    <ul id="Chat-Lista" style="display: none;">
        <!-- Usuarios -->
    </ul>
</div>
</div>@*content*@
</section>
<div class="chat-box">
    <!-- Chat -->
</div>
@* Trabajos 1*@
<div id="Trabajos" class="dialogTrabajos">
    <ul class="ulForm">
        <li class="nroIncidente incidentes ingresados">
            <label class="label">Ticket</label><label class="hide idInc"></label>
            <input type="text" class="input" readonly="readonly" />
        </li>
        <li class="clon lab entregar obleaEquipo">
            <label class="label">Oblea</label><label class="hide idEq"></label>
            <input type="text" id="lOblea" class="input" readonly="readonly" />
        </li>
        <li class="incidentes">
            <label class="label" for="esParaEquipo">Es Para Equipo?</label>
            <input type="checkbox" id="esParaEquipo" name="esParaEquipo" class="esParaEquipo" />
            <div class="obleaCont hide block">
                <div class="inline">
                    <span class="label">Oblea:</span><input type="text" id="tObleaSolucion" name="tObleaSolucion" autocomplete="off" style="border: 1px solid #CCC; padding: 0 2px; width: 117px; height: 17px;" />
                </div>
                <div>
                    <span class="label">Equipos:</span>
                    <table id="equiposSolucion">
                        <thead>
                            <tr><th>Oblea</th><th>Quitar</th></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="incidentes ingresados">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionAtUsuarios">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionAtUs)
                {
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="clon">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionClonado">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionClonado)
                {
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="lab">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionLaboratorio">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionLaboratorio)
                {
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="log entregar">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionLogistica">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionLogistica)
                {
                    if (@t.Nombre.Equals("Diagnóstico Garantía")) { continue; }
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="clon">
            <label class="label">Imágen Usada</label>
            <select class="select" id="dImagen">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.Imagenes)
                {
                    <option value="@t.idImagen">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="clon lab entregar incidentes ingresados">
            <label class="label">Técnico</label>
            <select class="select dTecnicos" id="idTecnico" name="tecnico">
                @foreach (var t in Model.Tecnicos)
                {
                    <option value="@t.idTecnico">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="clon lab entregar incidentes ingresados">
            <label class="label">Turno</label>
            <select class="select dTurnos" id="idTurno" name="turno">
                @foreach (var t in Model.Turnos)
                {
                    <option value="@t.idTurno">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="incidentes ingresados clon lab">
            <label class="label" for="sobrescribir">Sobrescribir ultima</label>
            <input type="checkbox" id="sobrescribir" name="sobrescribir" class="" />
        </li>
        <li class="clon lab entregar incidentes ingresados">
            <div class="boxLabel">
                <input type="file" name="upFileRes" id="upFileRes" class="uploadFile" />
                <label class="labelUpload" for="upFileRes"><i class="fa fa-upload 2x"></i>Archivo</label>
            </div>
        </li>
        <li class="clon lab entregar incidentes ingresados">
            <label>Observaciones</label>
        </li>
        <li class="clon lab entregar incidentes ingresados">
            <textarea rows="10" cols="35" class="observaciones tSolucion" id="observaciones" name="observaciones" style="height:60px" maxlength="4000"></textarea>
            <p class="charCounter">Chars:</p>
        </li>

    </ul>
    
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
@* Trabajos 2*@
<div id="TrabajosAlt">
    <ul class="ulForm">
        <li class="nroIncidente enGar paraGar susp">
            <label class="label">Ticket</label><label class="hide idInc"></label>
            <input type="text" class="input" readonly="readonly" />
        </li>
        <li class="obleaEquipo enGar paraGar susp">
            <label class="label">Oblea</label><label class="hide idEq"></label>
            <input type="text" id="" class="input" readonly="readonly" />
        </li>
        <li class="enGar">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionEnGarantia">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionLogistica)
                {
                    if (!@t.Nombre.Equals("Diagnóstico Garantía") & !@t.Nombre.Equals("Paso de Área") & !@t.Nombre.Equals("Contacto Telefónico/email")) { continue; }
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="paraGar">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionParaGarantia">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionLogistica)
                {
                    if (@t.Nombre.Equals("Aviso a Garantía") & !@t.Nombre.Equals("Contacto telefónico")) { continue; }
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="susp">
            <label class="label">Tipo Res.</label>
            <select class="select tipoSolucion" id="dTipoResolucionSuspendido">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.TiposResolucionDepósito)
                {
                    if (!@t.Nombre.Equals("Devolución Equipo") & !@t.Nombre.Equals("Recepción Repuestos") &
                        !@t.Nombre.Equals("Paso de Área") & !@t.Nombre.Equals("Contacto telefónico") & !@t.Nombre.Equals("Cambio repuesto")) { continue; }
                    <option value="@t.idTipoResolucion">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="susp">
            <label class="label">Técnico</label>
            <select class="select dTecnicos" id="" name="tecnico">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.Tecnicos)
                {
                    <option value="@t.idTecnico">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="susp">
            <label class="label">Turno</label>
            <select class="select dTurnos" id="" name="turno">
                @foreach (var t in Model.Turnos)
                {
                    <option value="@t.idTurno">@t.Nombre</option>
                }
            </select>
        </li>
        <li class="paraGar enGar susp">
            <label>Observaciones</label>
        </li>
        <li class="paraGar enGar susp">
            <textarea rows="10" cols="35" class="observaciones tSolucion" id="" style="height:60px"></textarea>
            <p class="charCounter">Chars:</p>
        </li>
    </ul>    
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
@* Notificacion*@
<div id="Notificacion">
    <ul class="ulSolucion">
        <li class="">
            <label class="labelMail" id="Label24">Asunto:</label>
            <input type="text" value="" class="inputAsunto" id="asuntoNotificacion">
        </li>
        <li class="">
            <label class="labelMail" id="Label25">Destinatarios:</label>
            <div class="tableContainer" id="referentesContainer">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" value="" id="inputDestinatarios" class="ui-autocomplete-input" autocomplete="off">
            </div>
        </li>

        <li class="">
            <label class="label" id="Label27">Cuerpo Mail</label>
        </li>
        <li class="">
            <textarea class="tSolucion" id="cuerpoMail"></textarea>
            <p class="charCounter">Chars:</p>
        </li>
    </ul>
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
<div id="Ubicacion">
    <ul class="ulForm">
        <li class="obleas">
            <label class="label">Oblea</label><label class="hide idEq"></label>
            <textarea rows="10" cols="35" class="" id="" style="height:60px; width:217px"></textarea>
        </li>
        <li class="armarios">
            <label class="label">Armario.</label>
            <select class="select">
                <option value="0" selected="selected">--Seleccione--</option>
                @foreach (var t in Model.Ubicaciones)
                {
                    <option value="@t.Id">@t.Nombre</option>
                }
            </select>
        </li>
    </ul>
    <div class="error hide">
        <div class="message"></div>
    </div>
</div>
<div id="fichacliente">
    <div class="top dContent">
        <input id="idCl" type="text" disabled>
        <div><label class="labelNombreCl"></label><input class="NombreCl datosCl" type="text" placeholder="Nombre" readonly></div>
        <div><label class="labelDNICl"></label><input class="DNICl datosCl" type="text" placeholder="DNI" readonly></div>
        <div><label class="labelemailCl"></label><input class="datosCl email" type="text" placeholder="email (opcional)" readonly></div>
        <div>
            <label class="labelJurisdiccionCl"></label>
            <input class="JurisdiccionCl datosCl" type="text" />
        </div>
        <div>
            <label class="labelDependenciaCl"></label>
            <input class="DependenciaCl datosCl" type="text" />
        </div>
        <div><label class="labelDireccionCl"></label><input class="DireccionCl datosCl" type="text" placeholder="Direccion / Piso / Oficina" readonly></div>
        <div><label class="labelTelefonoCl"></label><input class="TeCl datosCl" type="text" placeholder="Telefono" readonly></div>
    </div>
</div>
@*dialog referentes*@
<div id="dialogReferentes">
    <ul class="ulSolucion">
        <li class="">
            <label class="">Agregar:</label>
            <input type="text" value="" class="inputDest">
        </li>
        <li class="">
            <label class="">Destinatarios Actuales</label>
        </li>
        <li class="">
            <div class="tSolucion refContainer2" id="destActuales"></div>
        </li>
    </ul>
</div>