﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Scripts.Render("~/bundles/InventarioMesa")
@Scripts.Render("~/bundles/Relaciones")
@Styles.Render("~/Css/InventarioSoporte")
@Styles.Render("~/Css/InventarioMesa")
<section id="body" class="ui-widget-content">
    <!-- Busqueda -->
    <div id="formSearch" class="noselect">
        <p class="texto">Búsqueda de Pc, Impresora, Monitor<br>Servidores y elementos de Telecomunicaciones</p>
        <div id="searchBar">
            <div id="searchBar_input">
                <input id="tBuscar" class="search" type="text" autocomplete="off">
                <button id="searchButton" name="Submit" type="button"></button>
            </div>
        </div>
        <div class="right">
            <nav>
            </nav>
        </div>
    </div>
    <!---->
    <div id="content-box">
        <div class="window bottom-0 col-1">
            <h4 class="ui-widget-header">Datos del equipo</h4>
            <div class="detalle divContainer">
                <div class="divRow">
                    <div class="left col-4 divColumn">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Identficacion</legend>
                            <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="" readonly="readonly">
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Oblea: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Nro/Serie: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Tipo: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Marca: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Modelo: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Modelo" name="Modelo" data-id="" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="left col-4 divColumn">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Ubicacion</legend>
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Jurisdiccion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Ubicacion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="right col-2 divColumn">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Observaciones</legend>
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Estado: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Estado" name="Estado" data-id="" placeholder="Campo Obligatorio" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Observaciones: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <textarea id="Observaciones" name="Observaciones" data-id="" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="row" id="RelacionesRow">
                                    <div id="RelacionesSwitcher" class="cell textright col-4">
                                        <span>Relaciones: </span>
                                    </div>
                                    <div id="RelacionesWraper" class="cell textleft col-2-75">
                                        <ul class="tags">
                                            <li>
                                                <a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div style="display:none;">
                <h4 class="ui-widget-header">Detalles</h4>
                <div class="partDetail divContainer">

                </div>
            </div>
        </div>
        <div class="specContainer">

        </div>
    </div>
</section>

