﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SOFIT - Inicio de sesion</title>      
    <link rel="icon" href="~/favicon.png"/>      
    @Styles.Render("~/Css/material")
    @Styles.Render("~/Css/base")
    @Styles.Render("~/Css/login")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/Login")        
</head>
<body>
    <div class="body-blur"></div>
    <div class="body-dots"></div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        @{ 
            var message = TempData["message"] as string;
            var message2 = ViewBag.ErrorMessage;
         }
        @Html.Hidden("errorMessage", TempData["message"])
        
        <main class="mdl-layout__content">
            <div class="mdl-card__actions sofit-tittle">
                <!-- Accent-colored raised button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--red-700">
                    <h3>SOFIT</h3>
                </button>                
            </div>
            <div class="mdl-grid sofit-login">
                <!-- Login -->
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--blue mdl-color-text--white">
                        <h2 class="mdl-card__title-text">
                            Iniciar sesión
                        </h2>
                    </div>

                    <div class="mdl-card__supporting-text">
                        <form action="/Inicio" id="LoginForm" method="post">
                            <i class="material-icons">account_box</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="tNombre" name="tNombre" class="mdl-textfield__input" type="text" pattern="[A-Za-z0-9]*" autofocus />
                                <label class="mdl-textfield__label" for="tNombre">
                                    Usuario
                                </label>
                            </div>
                            <i class="material-icons">lock</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input id="tPassword" name="tPassword" class="mdl-textfield__input" type="password" />
                                <label class="mdl-textfield__label" for="tPassword">
                                    Contraseña
                                </label>
                            </div>
                        </form>
                        <form>
                            <i id="LoginErrorIcon" class="material-icons" style="display: none">error</i>
                            <div id="LoginError" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: none">
                                <input id="LoginErrorMsg" class="mdl-textfield__input hidden" type="password" pattern="[A-Z,a-z]*" value="1" />
                                <label id="LoginErrorLbl" class="mdl-textfield__label" for="LoginErrorMsg">
                                    No se pudo iniciar sesion
                                </label>
                                <span class="mdl-textfield__error">Verifique los datos de conexión</span>
                            </div>
                            <i id="CapsIcon" class="material-icons" style="display: none">error</i>
                            <div id="Caps" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: none">
                                <input id="CapsMsg" class="mdl-textfield__input hidden" type="password" pattern="[A-Z,a-z]*" value="1" />
                                <label id="CapsLbl" class="mdl-textfield__label" for="CapsMsg">
                                    Mayúsculas activadas!!!
                                </label>
                                @*<span class="mdl-textfield__error">Verifique los datos de conexión</span>*@
                            </div>
                        </form>
                    </div>
                    <div class="mdl-card__actions">
                        <!-- Accent-colored raised button with ripple -->
                        <button id="iniciar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent sofit-bottom--wide logins" data-url="/Inicio">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
                <!-- Login //-->
                <!-- Extra -->
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--6dp">
                    <div class="mdl-card__supporting-text">                        
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent sofit-bottom--wide" onclick="window.location='/Consultas/Index'">
                            Consultas de Tickets
                        </button>
                    </div>                   
                    <div class="mdl-card__actions mdl-card--border">
                        <p class="mdl-typography--text-justify mdl-color-text--grey-600">
                            Para un funcionamiento óptimo del Sistema, se Recomienda que utilice uno de estos navegadores.
                            Puede descargarlos desde los iconos abajo.
                        </p>
                        <p class="mdl-typography--text-center">
                            <a href="https://www.google.com/chrome/browser/desktop/index.html">
                                <img src="~/Content/Login/images/appicns_Chrome.png" width="50px" />
                            </a>&nbsp;&nbsp;&nbsp;<a href="https://www.mozilla.org/es-AR/firefox/new/">
                                <img src="~/Content/Login/images/firefox_logo.png" width="50px" />
                                </a>
                        </p>
                        <p class="mdl-typography--text-center">
                            &copy; SOFIT &#124; Direccion General de Coordinación IT
                        </p>
                    </div>
                </div>
                <!-- Extra //-->
            </div>
        </main>
    </div>
</body>
</html>

