﻿.headerPopup {
    position: relative;
    background: url(img/popup_header_bg.png);
    height: 38px;
    color: White;
    font-weight: bold;
    text-align: center;
}

.buttonHeader {
    position: absolute;
    top: 0;
    right: 0;
    background: url(img/popup_cerrar_btn.png);
    background-position: center;
    height: 38px;
    width: 76px;
    border: none;
    border-left: solid 1px black;
    cursor: pointer;
}
