﻿li.ui-tabs-selected a { background-color: #294D7B; }
/*ul.ui-tabs-nav { font-size: 0.8em; }*/
#gEquipos th
{
	text-align:left;
}
.help
{
    color:Red;
    text-align:left;
    width:50px;
}
.mainPanel
{
	background: url("img/bgGradient2.gif");
	color:White;
}
#Accordion1
{
	color:Black;
}
#anchoWrapper
{
	background: url("img/bgGradient.gif");
}
#anchoWrapper .allContent
{
	background: none repeat scroll 0 0 transparent;
}
.hide
{
	visibility:hidden;
}
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}


.accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #496D9B;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.h3Popup
{
	color:#3169C6;
	 text-decoration:underline;
	 text-align:center;
}
#gEquipos
{
	
	width:225px;
}
.autoComplete
{
	background-color:#FFCCCC;
}
.autocomplete_listItem 
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}
.inputs
{
	color:#666;
	font-weight:bold;
	font-size:.9em;
	font-family:Arial,Verdana;
	width:200px;
	padding:0 5px;
	border: 1px solid #2f4f4f;
}
