﻿.boxLabel{    
    overflow:auto;
    min-height:26px;
}
.window td{
    font-size:12px !important;    
}
.conIncidente td:nth-child(3){
    font-weight:700;
}
input[type=file]{
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}
div.observTicket {
    white-space:pre-wrap;
}
.labelUpload{
    cursor:pointer;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 150px;
    padding-right:5px;
    font-size:16px !important;
    display:inline;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.labelUpload i{
    padding-right:5px;
}
.topright{
    position:relative;
    top:0;
    left:100%;
}
#fichacliente {
    position: fixed;
    /*top: 115px;
    left: calc(45% + 250px);
    bottom: 115px;*/
    width: 400px;
    display: none;
    background: rgba(235,235,235,0.9);
    border: 1px #666 solid;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    z-index:110;
}
#fichacliente .top{
height: 82%;
padding: 5px 0;
}
.bell{
    display:inline !important;
    padding-left:5px;
}
#fichacliente input, #fichacliente select, #fichacliente textarea {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#fichacliente .datosCl {
        width: 295px !important;
        background: transparent !important;
        border: 0 !important;
        padding: 3px 5px 3px 95px !important;
        margin: 3px 0 !important;
        color: #000 !important;
}

#fichacliente input:read-only, #fichacliente input[readonly], #fichacliente select:disabled{
color: #000;
}
#fichacliente select.datosCl{
width: 305px!important;
padding: 3px 0 3px 90px!important;
}
#fichacliente #idCl{
display: none;
}
#fichacliente label {
    position: absolute;
    padding: 1px 5px !important;
    text-align: right;
    width: 85px;
}
#fichacliente label:after {
        display: block;
        padding: 5px 7px !important;
        background-color: rgba(50, 50, 50, 0.85);
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.9);
}
#fichacliente .labelNombreCl:after{
content: "Nombre";
}
#fichacliente .labelDNICl:after{
content: "CUIL";
}
#fichacliente .labelemailCl:after{
content: "e-mail";
}
#fichacliente .labelJurisdiccionCl:after{
content: "Jurisdiccion";
}
#fichacliente .labelDependenciaCl:after{
content: "Dependencia";
}
#fichacliente .labelDireccionCl:after{
content: "Dir/Piso/Of";
}
#fichacliente .labelTelefonoCl:after{
content: "Telefono";
}​​       
/**/
.TicketsXCliente ul{
  list-style: none
}
.TicketsXCliente ul li{
  background: #999;
  padding: 7px 13px;
  border-radius: 2px;
  margin-bottom: 5px;
  color: #000;
  text-shadow: #777 0px 0px 1px;
  box-shadow: 0 0 1px 1px #000;
  cursor: pointer;
}

.TicketsXCliente ul li:after{
  content: attr(data-Desc);
  display: block;
  background: #DDD;
  padding: 3px;
  margin: 0 -6px;
  border-radius: 0 0 2px 2px;
  text-align: justify;
  box-shadow: 0 0 1px 1px #333 inset;
}
.botonNoIcon{
    width:100%;
}
#helpName{
    width:35px;
}
#newEC{
    width:35px;
}
.col-1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100% !important;
}
#formSearch
{
	height: 40px;
    left: 0;
    /*margin: 110px 0 0 0;*/
    position: relative;
    width: 420px;
    z-index: 2;
    float:left;
}
#formSearch > .texto{
    display: inline-block;
    font-size: 0.7em;
    font-style: italic;
    line-height: inherit;
    margin: 5px 0 0;
    padding-left: 5px;
}
#formSearch > .searchBar{
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 400px;
    z-index: 1;
}
#formSearch > .searchBar > .searchBar_input{
    background: #08557d none repeat scroll 0 0;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
}
#formSearch > .searchBar > .searchBar_input input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #999;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 75%;
    left: 15px;
    line-height: 24px;
    margin-right: 10px;
    outline: 0 none;
    overflow: hidden;
    padding: 0 0 0 5px;
    position: relative;
    top: 5px;
    vertical-align: middle;
    width: 370px;
    z-index: 2;
}
#formSearch > .searchBar > .searchBar_input > .searchButton {
    background: transparent url("/Content/img/search_button.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
    vertical-align: middle;
    width: 38px;
    z-index: 10;
}
.searchButton:hover
{
	background-position:0 -40px;
}
li>.botonNoIcon>span{
    padding:0.3em !important;
}
li.hasButton{
    padding:0 !important;
}
.iconized{
    display:inline-block;
    margin-left:14px !important;
    vertical-align:bottom;
}
.ui-state-highlight td{
    color:#333 !important;
}
.inline{
    display:inline-block;
}
div.divHeader{
    font-size:.95em;
    overflow:auto;
    height:20px;
}
.divHeader span{

}
div#referentesContainer{
    width:83%;
    height:13px;
    background-color:white;
    border:1px solid #ccc;
    padding:2px;
    display:table;
}
div.refContainer{
    width:83%;
    max-height:78px;
    background-color:white;
    border:1px solid #ccc;
    padding:2px;
    display:inline-block;
    overflow:auto;
}
div.refContainer2{
    width:94%;
    max-height:150px;
    min-height:60px;
    background-color:white;
    border:1px solid #ccc;
    padding:2px;
    display:inline-block;
    overflow:auto;
}
input.inputDest{
    width:75%;
}
#cuerpoMail p{
    margin:0;
    padding:5px;
}
.bodyMail p{
    margin:0;
    padding:5px;
}
.bodyMail{
    max-height:300px;
}
div#referentesContainer > div {
    display:inline-block;    
}
div.refContainer > div {
    display:inline-block;
}
.nomJur{
    display:inline-block;
    color:#444;
}
.ui-autocomplete {
z-index: 101;
}
.labelMail{
    float:left;
    width:12%;
    text-align:right;
    padding:0 5px;
}
.inputAsunto{
    width:83%;
    height:13px;
}

#inputDestinatarios{
    border:1px solid #ccc;    
    display:inline-block;
    
}
.inputDestinatarios{
    border:1px solid #ccc;    
    display:inline-block;
}
div.ui-accordion h2{
    padding-left:.3em !important;
}
.window table td
{
	border:dotted 1px #AAAAAA;    
	border-collapse:collapse;
	padding: 3px 5px;
	/*font-size:85%;*/
	font-weight:400;
	/*color:#83909D;*/
	overflow:hidden;
}
.quickView
{
	list-style-type:none;
	padding:0;
	font-size:.9em;
}
.verIncidente{text-decoration:underline;}
.quickView > li > label:first-child
{
	text-decoration:underline;
	/*color:Black;*/
	font-size:.9em;
}
.quickView > li > label
{
	/*color:Maroon;*/
	font-weight:bold;
	
}
.quickView2
{
	list-style-type:none;
	padding:0;
	font-size:.8em;
}
.quickView2 > li > label:first-child
{
	text-decoration:underline;
	/*color:Black;*/
	font-size:1em;
    font-weight:bold;
}
.quickView2 > li > label
{
	/*color:Maroon;*/
	/*font-size:.9em;*/
	
}
.subQuickView
{
	list-style-type:none;
	
}
a.anchorEquipo
{
	/*color:#83909D;*/
	padding: 0 5px;
	font-size:100%;
	font-weight:bold;
    text-decoration:underline;
}
body, th, td
{
	font-size: 90%;
	font-family:Trebuchet MS, Verdana, Helvetica, Arial, Sans-Serif;	
}
body{
    margin:0;
}
#form1 > .ui-widget-content
{
	padding-bottom:100px;
}
div.info td{
    border:dotted 1px gray;
    border-collapse:collapse;
    font-size:.85em;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
}
div.info th{

}
.gray{
    color:gray;
}
.icon
{
	width:20px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
    cursor:pointer;	
}
.drop{
    background:white url("img/icons.png") no-repeat scroll 0 -70px;
}
em
{
	font-weight:bold;
}
th
{
	text-align:center;
}
.nvoMje {
    background: url("img/icons_ns10.png") no-repeat scroll -20px -140px transparent;
}
.noMje {
    background: url("img/icons_ns10.png") no-repeat scroll -40px -140px transparent;
}
.ui-selectee { cursor: pointer; }
.ui-selected  
{
	background: none repeat scroll 0 0 #F39814;
    color: white;
}
#selectTheme
{
	position:relative;
	top:0;
	right:10px;
	width:450px;
}
.labelTheme
{
	color: #555;
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;
    font-family: Helvetica,Arial,Sans-Serif;	
}
#form1
{
	z-index:10;
}

.labelHeaderPass {
    
    font-size: 12px;
    font-weight: bold;    
    font-family: Helvetica,Arial,Sans-Serif;
}

#dropdown_Password fieldset
{
	margin:5px;
}
.replace 
{	
    background: none repeat scroll 0 0 #F5F5F5 !important;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    color: #666666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 22px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
    top: -32px;    
    z-index: 5000;
}
#loginReplace.replace
{
	width: 76px;
}
#jurReplace.replace
{
	width:90px;
	
}

.labelDrop {
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;
    width: 120px;
    font-size:.8em;
    font-weight:bold;
    color:#666;
}
.btn {
    cursor: pointer;
    display: block;
    margin-left:180px;
    margin-top:10px;
    position: relative;
    white-space: nowrap;
}
.stylebtn
{
	border: 1px solid #cbc7bd; background: #f8f7f6 url(img/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat; font-weight: bold; color: #654b24;
}
#cambioPassword.ui-state-hover,#nvaJurisd.ui-state-hover { border: 1px solid #654b24; background: #654b24 url(img/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat; font-weight: bold; color: #ffffff; }
	
.icon_arrow.active
{
	background-position:right -38px;
}

#dropdown_loginForm_box,#dropdown_jurisdiccion_box {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px 0 4px 4px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    right: -13px;
    top: 38px;
    width: 320px;
    z-index: 4500;    
}
#dropdown_Jurisdiccion
{
	background-color:#f5f5f5;
}
#dropdown_loginForm_box .arrow,#dropdown_jurisdiccion_box .arrow {
    background-position: 0 -76px;
    display: block;
    height: 5px;
    position: absolute;
    right: -10px;
    top: 9px;
    width: 8px;
}
#dropdown_Password ul
{
	list-style: none outside none;
	padding:0;
	margin:0;
}
#dropdown_Password
{
	margin:10px;
}
.header_user_select {
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.icon_arrow
{
	background:url('img/arrow.png') no-repeat right top;
	padding-right:20px;
}
#dropdown_jurisdiccion_box
{
	margin-right:5px;
}
.aclaracion
{
	font-style:italic;
	font-size:10px;
	width:265px;
	background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
    margin-left:0;
}

.ui-accordion-header a
{
	padding-left:2em !important;
}

.window table
{
	width:100%;
}
.status
{
	width:20px;
	height:20px;
	text-align:center;
	margin:0 auto;
	cursor: pointer;
}
.ok
{
	background: url('img/icons_ns10.png') no-repeat transparent -80px -80px;
}
.maximize
{
	background: url('img/icons.png') no-repeat transparent 0 -386px;
    position:absolute;
    right:8px;
    top:8px;
}
.nok
{
	background: url('img/icons_ns10.png') no-repeat transparent -100px -80px;
}
.nook
{
	background: url('img/icons_ns10.png') no-repeat transparent -20px -80px;
}
.verEquipo .status
{
	background: url('img/icons_ns10.png') no-repeat transparent  -80px -40px;
}
.verSolucion .status,.verSolucionIncidente .status
{
	background: url('img/icons_ns10.png') no-repeat transparent -40px 0;
}
.verObservIncidente .status
{
	background: url('img/icons_ns10.png') no-repeat transparent  0 0;
}
.headerPopup {
    position: relative;
    background: url(img/popup_header_bg.png);
    height: 38px;
    color: White;
    font-weight: bold;
    text-align: center;
}
.aceptarPopup {
    background: url(img/popup_header_bg.png);
    height: 38px;
    font-size: 11px;
    color: White;
    cursor: pointer;
    font-weight: bold;
}
.center{
    margin:10px auto;
    width:500px;
}
.buttonHeader {
    position: absolute;
    top: 0;
    right: 0;
    background: url(img/popup_cerrar_btn.png);
    background-position: center;
    height: 38px;
    width: 76px;
    border: none;
    border-left: solid 1px black;
    cursor: pointer;
}
div.anotaciones {
  background-color: Yellow;
  width: 256px;
  color:Black;
  padding: 8px;
  font-size: 0.9em;
}
div.anotaciones.fancy {
  background: url('img/bubbleBig.png') no-repeat transparent;
  width: 340px;
  height: 160px;
}

div.anotaciones.fancy div {
  height: 150px;
  width: 285px;
  overflow: auto;
  color: black;
  margin-left: 30px;
}
div.anotaciones.fancy td
{
	border-bottom:dotted 1px yellow;
	padding:3px;
}
table{
  border: 0px solid black;
  border-spacing: 0px;
}
div.anotaciones.fancy table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;  
}
div.anotaciones.fancy table th{
  border-bottom: 1px solid black;
  padding: 3px;
}
.left
{
	float:left;
}

.window
{
	margin-top:30px;
	margin-left:40px;
    margin-bottom:30px;
	font-size:0.9em;
	overflow:hidden;
	height:250px;
    transition:all 1s ease 0s;		
}
.grilla
{	
	overflow:auto;
	position:absolute !important;
	bottom:35px;
	top:0;
		
}
.ulSolucion
{
    padding-left:20px;
}
th.headerSortUp{
    background-image:url(img/asc.gif)!important;
    background-repeat: no-repeat; 
    background-position: center left; 
}
th.headerSortDown{
    background-image:url(img/desc.gif)!important;
    background-repeat: no-repeat; 
    background-position: center left; 
}
th.headerNone{
    background-image:url(img/bg.gif);
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}
.tablesorter .tablesorter-header.sorter-false {
    background-image: url();
}
/*.grilla tbody{
    display:block;
    overflow:auto;
}
.grilla tbody tr{
    display:table-row;
}
.grilla thead{

}
.grilla thead tr{

}
.grilla thead tr th{

}*/
.botones
{
	border-top:solid 1px #A5CBE7;
	position:absolute;
	bottom:0px;
	min-height:35px;		
}
.equipo
{
	width:350px;
}
.selectedRow
{
	background-color:#F8DA4E;
	cursor:pointer;
}
div.accContent
{
    position:absolute !important;
    top:35px !important;
    bottom:0;	
	min-width:100%;	
	padding:0 !important;
}

div.accContent2
{
    height:calc(100% - 35px);
	min-height:220px;	
	min-width:100%;	
	padding:0 !important;
    margin:0 !important;		
}
#pNvoInc
{
    height:auto;	
	min-width:100%;	
	padding:0 !important;
    margin:0 !important;	
}
.label {
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;  
    width:150px;  
}
ul.ulForm li label{
    font-size:12px;
}
.labelNvoEquipo{
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;  
    width:100px;
    font-size:.9em;
}
.inputNvoEquipo{
    margin:1px;
    padding:2px;
    border: 1px solid #CCC;
    width: 224px;
    height:20px;
    box-sizing:border-box;
}
.notificado{
    cursor:pointer;
    text-decoration:underline;
}
.notificInc
{
    cursor:pointer;
    text-decoration:underline;
}
#lOblea,#lIncidente,#IncidenteUbicacion,#obleaUbicacion
{
	background-color:White;
	color:Black;
	font-weight:bold;
	font-family:Arial;
}
.obleaCont{
    padding:5px;
    overflow:auto;
    max-height:120px;
    clear:both;
}
#equiposSolucion td,th{
    border:1px dotted gray;
    padding:5px;
}
#lOblea.equipoIncompleto
{	
    background: none repeat scroll 0 0 #FFDFDF;
    border: 1px solid #FFCFCF;
    color: #885E5E;
}
.grid
{
	height:100px;
}
select
{
	font-size:12px !important;
}
.lNvoInc{
    float:left;
    margin:4px 6px 0 0;
    text-align:right;
    width:115px;
}
.lFly{
    float:left;
    margin:4px 6px 0 0;
    text-align:right;
    width:70px;
}
.newWindow table thead th:nth-child(2)
{
    display:none;
}
.newWindow table tbody td:nth-child(2)
{
    display:none;
}
.divBandeja table tbody td:nth-child(8)
{
    display:none;
}
.divBandeja table thead th:nth-child(8)
{
    display:none;
}
.newWindow table thead th:nth-child(5)
{
    display:none;
}
.newWindow table tbody td:nth-child(5)
{
    display:none;
}
.insideWindow table thead th:nth-child(2),.insideWindow table thead th:nth-child(3)
{
    display:none;
}
.insideWindow table tbody td:nth-child(2),.insideWindow table tbody td:nth-child(3)
{
    display:none;
}
.sFly{
    width:150px;
}
.inputNvoInc{
    border:2px solid #1e3755;
    color:black;
    height:17px;
    padding:0 2px;
    width:290px;
}
.noTitleDialog .ui-dialog-titlebar{
    display:none;
}
.selectNvoInc{
    border:1px solid #ccc;
    width:296px;
}
.tipific
{
	display:none;
    max-height:275px;
    overflow:auto;
}
.ui-accordion .ui-accordion-content 
{
	overflow:hidden;
	position:relative;
}
.ui-button
{
	display:inline;
}
ul.icons {
    margin: 0;
    padding: 0;
    
}
ul.fly li{
    cursor:pointer;
}
ul.icons li {
    /*cursor: pointer;*/    
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    text-decoration: none;
    float:left;
    position:relative;
    cursor:pointer;    
}
ul.icons span.ui-icon {
    cursor:pointer;
    float: left;
    margin: 0 4px;
}
ul.icons li li
{
	display:block;
	float:none;
	
}
.fly
{
	display:none;
	padding-left:5px;
}
#tOblea { background: #fff url('img/status.gif') 100px 0 no-repeat; padding: 0 20px 0 2px; width: 138px; }
#tOblea.thinking { background-position: 100px -19px; }
#tOblea.approved { background-position: 100px -35px; }
#tOblea.denied { background-color: #FF8282; background-position: 100px -52px; }

.select { border: 1px solid #CCC; width: 224px; }
.deleteIcon { background: url('img/status.gif') right -52px no-repeat; float:right;}
.tSolucion
{
	width: 97%;
	padding:5px;
    border: 1px solid #CCC;
    background-color:white;
    display:inline-block;
    border-radius:3px;
}
ul.ulSolucion li 
{  
  list-style : none;
   margin: 2px;
   padding: 4px 0; 
   text-decoration: none;   
}
.help
{
    color:Red;
    text-align:left;
    background-color: #88e;
}
.hide
{
	display:none;
}
#cuerpoMail{
    max-height:200px;
}
.ui-autocomplete{
    z-index:102 !important;
}
input.bExcel
{
	padding:0;
}
/*.bgtransparent{
             
        background: #333 url('/Content/img/ajax-loader.gif') 50% 50% no-repeat;     
        opacity:.9;
        filter:alpha(opacity=60);
        z-index:100;
}*/
thead{
    height:30px;
}
thead th{
    cursor:pointer;
}