body { 
  background: #1F394D url('../img/bgGradient.png');
  background-repeat: repeat-x;
  margin: 0; 
}

h3 {
  font-size: 1.2em;
}
#wrapper { margin: 50px auto; 
           position: relative; 
           text-align: left; 
           width: 440px;
         }

#schedulePane { 
  background: url('../img/wrapperLabBg-trans.jpg'); 
  background-repeat: no-repeat;
  height: 622px;
  margin: 0 auto;
  position: relative;
  width: 865px; 
}

#logo {
  position: absolute;
  top: 34px;
  left: 30px;
  width: 419px; 
}

#tabs {
  position: absolute;
  top: 100px;
  left: 110px; 
  width: 650px;
  height: 50px; 
}

#tabs a {
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding: 140px 0 0 0;
  width: 155px;
  z-index: 200;
}

#tabs a#trabajos.active {
  background: url('../img/trabajo-TabActive.png') no-repeat; 
}
#tabs a#trabajos.inactive {
  background: url('../img/trabajo-TabinActive.png') no-repeat; 
}

#tabs a#estadisticas.active 
{
	background: url('../img/estadisticas-TabActive.png') no-repeat;
}
#tabs a#estadisticas.inactive
{
	background: url('../img/estadisticas-TabinActive.png') no-repeat;
}
#tabs a#volver.active
{
	background: url('../img/volver-TabActive.jpg') no-repeat;
}
#tabs a#volver.inactive
{
	background: url('../img/volver-TabinActive.jpg') no-repeat;
}
#tOblea { background: #fff url('../img/status.gif') 202px 0 no-repeat; padding: 0 20px 0 2px; width: 198px; }

#tOblea.thinking { background-position: 202px -19px; }
#tOblea.approved { background-position: 202px -35px; }
#tOblea.denied { background-color: #FF8282; background-position: 202px -52px; }
.ui-button-text { font-size: 0.6em; }

#content {
  position: absolute;
  text-align: center;
  background-color: #000062; 
  top: 150px; 
  left: 110px;
  width: 615px;
  height: 420px; 
  padding: 0px;
  overflow:inherit;
  border:solid 2px silver;
}
legend
{
	color:Silver;
}
div.anotaciones {
  background-color: cornsilk;
  width: 256px;
  color: brown;
  padding: 8px;
  font-size: 0.9em;
}
div.anotaciones.fancy {
  background: url('../img/bubble.png') no-repeat transparent;
  width: 286px;
  height: 116px;
}

div.anotaciones.fancy div {
  height: 106px;
  width: 240px;
  overflow: auto;
  color: black;
  margin-left: 24px;
}
div.anotaciones.fancy td
{
	border-bottom:solid 1px black;
}
table{
  border: 0px solid black;
  border-spacing: 0px;
}
div.anotaciones.fancy table tr {
  font-family: arial, monospace;
  color: black;
  font-size:12px;  
}
div.anotaciones.fancy table tr td, th{
  border-bottom: 1px solid black;
  padding: 2px;
}
table { 
  border: 1px solid #1f394d; 
  border-collapse: collapse; 
  padding: 0 0 0 0; 
  width: 100%; 
}

td, th { 
  border: 1px solid #1f394d; 
  padding: 3px;
  overflow:hidden; 
}

form {
  margin: 20px;
}
a  
{
	font-style: normal;
	color: #FFFD25; 
}

ul { padding: 0; }
li { font-size: 12px; list-style: none; margin: 0 0 4px 0; }
li.tip {
  color: red;
  font-size: 11px;
  font-style: italic;
  text-align: left;
  padding: 0 2px;
  height: 25px;  
}
.tip2 {
  color: red;
  font-size: 11px;
  font-style: italic;
  text-align: left;
  padding: 0 2px;
  height: 25px;  
}
.error
{
	color: Red;
	font-size:22px;
	text-align:center;
}
.error2
{
	background-color:pink;
	border: 2px solid #1E3755; padding: 0 2px; width: 316px;
}
.error3
{
	background-color:pink;
	border: 2px solid #1E3755; padding: 0 2px; width: 185px;
}

.ok
{
	color:Navy;
	font-size:22px;
	text-align:center;
}
li.hidden
{
	visibility:hidden;
}
.oculto
{
	visibility:hidden;
}
label { float: left; margin: 4px 6px 0 0; text-align: right; width: 100px; color:White; }
.input { border: 2px solid #0045F7; padding: 0 2px; width: 216px; text-align:left; }
.select { border: 2px solid #0045F7; width: 224px; }
.input2 { border: 2px solid #0045F7; padding: 0 2px; width: 316px; text-align:left; }
.select2 { border: 2px solid #1E3755; width: 324px; text-align:left;}

p.pleft
{
	text-align:left;
}
.modalPopup table
{
	width:100%;
}

