﻿body
{
	font-size: small;
	font-family:Verdana, Helvetica, Arial, Sans-Serif;
	margin:8px;
	
}
#stickerContainer
{
    width:800px;
    overflow:auto;    
}
#nvaOblea
{
    display:block;
    margin-top:10px;
}
h3
{
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}
p
{
	text-align:center;
	font-size:9px;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align:top;
	display:inline-block;
	width:305px;
}
ul
{
    padding:0;
    text-indent:0;
    margin:0;
}
ul li
{
    height:35px;
    border-bottom:1px solid black;
    text-align:center;
    list-style: none;
}
.code
{
	font-size: 250%;
	font-family: "3 of 9 Barcode";
	line-height:30px;	
}
.texto
{
	font-size:2em;
	font-family: Trebuchet MS,Verdana,Arial,Sans-Serif;
	font-weight:bold;
	line-height:30px;
}
div.sticker
{
    width:350px;
    float:left;
    margin:5px;
}
div.valor
{
	width:100%;
	height:105px;
	border:solid 2px black;
	
	padding:0px 0px;
	position:relative;
	overflow:hidden;
	
}
.divClose
{
   width:100%;
   height:19px;
   position:relative;
   margin:0;  
}
.divClose .button-close
{    
    height:19px;
    width:19px;
    float:right;
    cursor:pointer;
    background-color:transparent;
    border:none;
}
em
{
 font-weight:bold;
 font-size:1.4em;
}

.error
{
    color:Maroon;
    text-align:left;
    background-color:#FFCCCC; 
}
