﻿@model soporte.Models.usuarioBean
@Html.Hidden("idTemaPers", @Model.Personalizacion)

<fieldset class="ui-widget-content">
    <legend>Claves</legend>
    <div>
        <ul class="ulForm">
            <li>
                <label class="label">Password Actual</label>
                <input class="input" type="password" id="oldP" />
                <span id="pActual" class="block"></span>
            </li>
            <li>
                <label class="label">Nuevo Password</label>
                <input class="input" type="password" id="nvaP1" />
                <span id="pNva" class="block"></span>
            </li>
            <li>
                <label class="label">Repita Password</label>
                <input class="input" type="password" id="nvaP2" />
                <span id="rPNva" class="block"></span>
            </li>
        </ul>
        <button id="cambioPassword">Cambiar</button>
        <span class="message"></span>
    </div>
</fieldset>
<fieldset id="fDatosPers" class="ui-widget-content">
    <legend>Datos Personales</legend>
    <div>
        <ul class="ulForm">   
            <li class="incidentes ingresados">
                <label class="label">Avatar:</label>
                <div class="avatarCont">
                    <img src=@Html.Raw(Model.PathAvatar!=null?Model.PathAvatar:"#") class="artDisplay" />
                    <div class="boxLabel">
                        <input type="file" name="upPhRes" id="upPhRes" class="uploadPhoto" />
                        <label class="labelUpload" for="upPhRes"><i class="fa fa-upload 2x"></i>Imágen</label>
                        <span style="font-style:italic; font-size:9px;">(Agregar imágen max. 5MB, mejor si es cuadrada)</span>
                    </div>
                </div>
            </li> 
            <li>
                <label class="label">Firma Email:</label>
                <textarea class="textarea">@Model.Firma</textarea>                
            </li>
            <li>
                <label class="label">Dirección email:</label>
                <input class="email input" type="text" value="@Model.email"/>
            </li>
        </ul>  
        <button id="setFirma">Cambiar</button>
        <span id="imgResultFirma"></span>
        <span class="message"></span>
    </div>
</fieldset>
<fieldset class="ui-widget-content">
    <legend>Temas</legend>
    <div id="selectTheme" class="">
        <label for="textChangeTheme" class="texto">Cambiar el Tema</label>
        <select id="themeSwitcher" class="ui-widget ui-widget-content">
            <option value="1">Blitzer</option>
            <option value="2">Cupertino</option>
            <option value="3">Dark-hive</option>
            <option value="4">EggPlant</option>
            <option value="5">ExciteBike</option>
            <option value="6">Flick</option>
            <option value="7">Hot-Sneaks</option>
            <option value="8">Humanity</option>
            <option value="9">Le-Frog</option>
            <option value="10">Overcast</option>
            <option value="11">Pepper-Grinder</option>
            <option value="12">Redmond</option>
            <option value="13">Smoothness</option>
            <option value="14">South-Street</option>
            <option value="15">Start</option>
            <option value="16">Sunny</option>
            <option value="17">Ui-Darkness</option>
            <option value="18">Ui-Lightness</option>
            <option value="19">Vader</option>
            <option value="20">Black-Tie</option>
            <option value="21">Dot-Luv</option>
            <option value="22">Mint-Choc</option>
            <option value="23">Swanky-Purse</option>
            <option value="24">Trontastic</option>

        </select>
        <button type="button" id="applyTheme" class="boton">Aplicar</button>
        <span id="imgResult"></span>
    </div>
    <div id="themeFrame">

    </div>
</fieldset>