﻿@model soporte.Models.ClasesVistas.ModelTipificaciones
<div id="Tipificaciones" class="popup section">
    <div class="alto100">
        <div class="maxAlto60 container showing">
            <div class="fieldsetContainerLeft fieldsetContainer autooverflow">
                <fieldset id="tipifExistente" class="ui-widget-content">
                    <legend>Tipificaciones existentes</legend>
                    
                        @if (Model != null)
                    {
                            
                                <div class="rowT ui-widget-header">
                                    <span class="spanCell">Nombre</span>
                                    <span class="spanCell">Tipif. Padre</span>
                                    <span class="spanCell">Servicio</span>
                                    <span class="icon">Borrar?</span>

                                </div>

                                @ShowTipif(Model.Tipificaciones)
                                @helper ShowTipif(IEnumerable<soporte.Models.ClasesVistas.TipificacVista> hijos)
                                {
                                    foreach (var tipif in hijos)
                                    {
                                        <div class="rowT">

                                        <span class="id hide">@tipif.idTipificacion</span>
                                        <span class="spanCell">@tipif.Nombre</span>
                                        <span class="spanCell">@((tipif.Padre == null) ? "Es Padre" : @tipif.Padre)</span>
                                        <span class="spanCell">@tipif.Servicio</span>
                                        <span class="icon trash cursor"></span>
                                        </div>
                                    if (tipif.Hijos.Any())
                                    {
                                        @ShowTipif(tipif.Hijos)
                                    }
                                    }
                                }

                            
                    }
                    else
                    {
                            <h2>No hay tipificaciones cargadas</h2>
                    }
                    
                </fieldset>
            </div>
            <div class="fieldsetContainerRight fieldsetContainer autooverflow" >
                <fieldset id="servicios" class="ui-widget-content">
                    <legend>Servicios Ofrecidos</legend>
                    @if (Model.Servicios.Count>0)
                    {

                        <div class="rowT ui-widget-header">
                            <span class="hide"></span>
                            <span class="sNom">Nombre</span>
                            <span class="sTie">Tiempo<br /> Res(Hrs.)</span>
                            <span class="sTmargen">Márgen <br />Tiempo(Hrs.)</span>
                            <span class="sVig">Vigente?</span>                            
                            <span class="icon">Borrar?</span>

                        </div>

                        foreach (var s in Model.Servicios)
                        {
                            <div class="rowS">
                                <span class="id hide">@s.Id</span>
                                <span class="sNom">@s.Nombre</span>
                                <span class="sTie">@s.TiempoHoras</span>
                                <span class="sTie">@s.TiempoMargen</span>
                                <span class="sVig">@{if(s.Vigente){<span class='icon enabled'></span>}else{<span class='icon disabledS'></span>}}</span>                                
                                <span class="icon trash cursor"></span>
                            </div>
                        
                        }
                    }
                    else
                    {
                        <h2>No hay Servicios</h2>
                    }
                </fieldset>
            </div>
        </div>
        <div class="container bottom">
            <div class="fieldsetContainerLeft fieldsetContainer autooverflow">
                <fieldset class="ui-widget-content">
                    <legend>Nueva Tipificación</legend>
                    <div>
                        <ul class="nuevaTipificacion">
                            <li>
                                <label class="label">Nombre: </label>
                                <input type="text" id="tNombreNvaTipif" name="tNombreNvaTipif" placeholder="Campo Obligatorio" class="inpS" /><span class="mandatory">*</span>
                            </li>
                            <li>
                                <label class="label">Descripcion: </label>
                                <input type="text" id="tDescNvaTipif" name="tDescNvaTipif" class="inpS" />
                            </li>
                            <li>
                                <label class="label">Servicio Asociado: </label>
                                <select class="dServicio selS">
                                    <option value="0">--Seleccione--</option>
                                    @if (Model.Servicios != null)
                                    {
                                        foreach (var t in Model.Servicios)
                                        {
                                            <option value="@t.Id">@t.Nombre</option>
                                        }
                                    }
                                </select>
                            </li>     
                            <li>
                                <label class="label">¿Es Hija de Otra? </label>
                                <input type="checkbox" id="verTipifP" name="cSupTipo" />
                            </li>
                            <li class="button">
                                <button id="bNvaTipif" style="font-size:.75em">Nuevo</button>
                            </li>
                        </ul>

                    </div>

                </fieldset>
            </div>
            <div class="fieldsetContainerRight fieldsetContainer autooverflow">
                <fieldset class="ui-widget-content">
                    <legend>Nuevo Servicio</legend>
                    <div>
                        <ul class="nuevoServicio">
                            <li>
                                <label class="labelS">Nombre: </label>
                                <input type="text" id="tNombreServicio" name="" class="inpS" placeholder="Campo Obligatorio" /><span class="mandatory">*</span>
                            </li>
                            <li>
                                <label class="hide" id="idServicio"></label>
                                <label class="labelS">Tiempo Res.(Días): </label>
                                <input type="text" id="tDiaServicio" name="" class="inputS2" placeholder="Campo Obligatorio" />
                                <label class="">(Horas): </label>
                                <input type="text" id="tHoraServicio" name="" class="inputS2" placeholder="Campo Obligatorio" />
                            </li>
                            <li>                                
                                <label class="labelS">Márgen.(Días): </label>
                                <input type="text" id="tDiaMargen" name="" class="inputS2" placeholder="Campo Obligatorio" />
                                <label class="">(Horas): </label>
                                <input type="text" id="tHoraMargen" name="" class="inputS2" placeholder="Campo Obligatorio" />
                            </li>                                                      
                            <li class="button bNvo">
                                <button id="bNvoServicio" style="font-size:.75em">Nuevo</button>
                            </li>
                            <li class="button hide bEdit">
                                <label class="labelS">Habilitado?</label>
                                <input type="checkbox" id="habilitacion"/>
                                <button id="bEditServicio" style="font-size:.75em">Guardar</button>
                            </li>
                        </ul>

                    </div>
                </fieldset>
            </div>
        <div class="mje error hidden"></div>
        <div class="mje info hidden"></div>
    </div>
    
    <div class="templates">
        <div class="template1 hide">
            <label class="label">Tipificaciones: </label>
            <select class="dTipificacionesPadre sPadres">
                @if (Model.Tipificaciones != null) {
                    foreach (var name in Model.Tipificaciones)
                    {
                        <option value=@name.idTipificacion>
                            @name.Nombre
                        </option>
                    }
                }
                
            </select>
            <label>¿SubTipo? </label>
            <input type="checkbox" name="cSubTipo" class="cSubTipo" />
        </div>
        <div class="template hide">
            <label class="label">Tipificación: </label>
            <select class="sPadres"></select>
            <label>¿SubTipo? </label>
            <input type="checkbox" name="cSubTipo" class="cSubTipo" />
        </div>
    </div>
</div>
</div>