﻿<div id="usuariosDiv">    
    @model List<soporte.Models.usuarioBean>

    <div id="userPane">
        <table>
            <tr class='ui-state-default'>
                <th class="hide">Nro.</th>
                <th>Nombre Completo</th>
                <th>Login</th>
                <th>Es Interno</th>
                <th>Estado</th>
                <th>Perfil</th>
                <th>Acciones</th>
            </tr>
            @foreach (soporte.Models.usuarioBean u in Model)
            {
                var estadoUsuario = "userNok";                
                if (u.Estado == "Habilitado") { estadoUsuario = "userOk"; } else { estadoUsuario = "userNok"; }
                <tr>
                    <td class="hide"> @u.IdUsuario</td>
                    <td> @u.NombreCompleto </td>
                    <td> @u.Nombre </td>
                    <td>@(u.EsInterno?"Interno":"Externo")</td>
                    <td>@u.Estado</td>
                    <td>
                        @foreach (soporte.Models.Perfil st in @u.getPerfiles())
                        {
                            @st.nombre<br />
                        }
                    </td>
                    <td>
                        <div class='icon user @estadoUsuario' title='Habilitar o Deshabilitar el Usuario'></div>
                        @*<div class='icon password' title='Establecer el password'></div>*@
                        <div class='icon perfil' data-perfiles='@Json.Encode(@u.getPerfilesConFormat())' title='Establecer el perfil'></div>

                    </td>
                </tr>
            }
        </table>
    </div>
    @*<div class="butonPane">
        <button id='nvoUsuario'>Nvo.Usuario</button>
    </div>*@   
</div>
@*dialogs*@
<div id="ProfileChanger">
    <fieldset id="perfilesActuales">
        <legend>Perfiles Actuales</legend>
        <div>
            <table id="tPerfiles">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Quitar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </fieldset>
    <fieldset>
        <legend>Agregar Perfiles</legend>
        <div>
            <ul class="">
                <li>
                    <label class="label labelCorto">Nombre: </label>
                    <select id="sPerfiles" class="selectChico">
                        @foreach (Sofit.DataAccess.Perfiles s in ViewBag.perfiles)
                        {
                            <option value="@s.id_perfil">@s.descripcion</option>
                        }

                    </select>
                </li>
                <li class="button">
                    <button id="bAgregarPerfil" style="font-size:.75em">Agregar</button>
                </li>
            </ul>
        </div>
    </fieldset>

</div>
<div id="nvoUsuarioDialog">
    <ul>
        <li>
            <label class="labelDrop" for="lNombre">Login:</label>
            <input id="tNvoLogin" type="text" value="" name="tNvoLogin" class="input2" />
        </li>
        <li>
            <label class="labelDrop" id="Label32">Nombre Completo:</label>
            <input id="tNombreCompleto" value="" type="text" class="input2" />
        </li>
        <li>
            <label class="labelDrop" for="lPerfil">Perfil:</label>
            <select id="dPerfil1" class="select2">
                @foreach (Sofit.DataAccess.Perfiles s in ViewBag.perfiles)
                {
                    <option value="@s.id_perfil">@s.descripcion</option>
                }
            </select>
        </li>
        <li>
            <label class="labelDrop" id="Label30">Password:</label>
            <input id="tPassword1" type="password" value="" class="input2" />
        </li>
        <li>
            <label class="labelDrop">Repita el Password:</label>
            <input id="tPassword2" type="password" value="" class="input2" />
        </li>
    </ul>
    <div class="divError hidden">
        <div class="message"></div>
    </div>
</div>
<div id="PasswordChanger">
    <ul>
        <li>
            <label class="labelDrop" for="login_password">Password nuevo:</label>
            <input id="passwordNuevo" type="password" value="" name="password" />
        </li>
        <li>
            <label class="labelDrop" for="login2_password">Repita el password:</label>
            <input id="passwordNuevo2" type="password" value="" name="password" />
        </li>
    </ul>
</div>
@*end dialogs*@