﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section heads{
    @Scripts.Render("~/bundles/LBase")
    @Styles.Render("~/Css/fa")
    @Styles.Render("~/Css/LBase")

    <style>
	</style>
}
	
<body>
    <div id="tabset" class="content3">
        <ul>
            @*<li><a href="#calendar">Calendario</a></li>
            <li><a href="#cambios">Gestion de Cambios</a></li>
            <li><a href="#reglas">Servicio 8</a></li>*@
            <li><a href="#lineasBase" id="datosPers">Líneas Base</a></li>
            <li><a href="#inventario">Listado Elem.Conf.</a></li>
            <li><a id="BuscarTab" href="#buscarequipo">Buscar equipo</a></li>

        </ul>
       
        <div id="inventario">
            <div id="cmdb-body">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <nav class="cmdb-elements">
                </nav>
            </div>
        </div>
        <div id="buscarequipo">
            <div id="input-buscador">
                <input type="text" placeholder="Buscar..." id="tBuscar"/>
                <button id="BuscarEquipoSubmit" class="ui-button ui-widget">Buscar</button>
                <label for="RadioOblea">
                    <div class="ui-button ui-widget divRadio">
                        Oblea&nbsp;
                       <input type="radio" name="ObleaSerie" id="RadioOblea">
                    </div>
                </label>
                <label for="RadioSerie">
                    <div class="ui-button ui-widget divRadio">
                        N° de Serie&nbsp;
                        <input type="radio" name="ObleaSerie" id="RadioSerie">
                    </div>
                </label>
            </div>
            <div id="resultado-busqueda">
                <div class="detalle">
                    <div class="lefty col-4">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Identficacion</legend>
                            <input type="hidden" id="idEquipo" name="idEquipo" data-id="" value="">
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Oblea: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Oblea" name="Oblea" data-id="" value="" placeholder="Campo Obligatorio" readonly>
                                    </div>                              
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Nro/Serie: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="NroSerie" name="NroSerie" data-id="" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Tipo: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="idTipo" name="idTipo" data-id="" placeholder="Campo Obligatorio" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Marca: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Marca" name="Marca" data-id="" placeholder="Campo Obligatorio" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Modelo: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Modelo" name="Modelo" data-id="" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="lefty col-4">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Ubicacion</legend>
                            <div class="table">
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Jurisdiccion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Jurisdiccion" name="Jurisdiccion" data-id="" placeholder="Campo Obligatorio" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell textright col-4">
                                        <span>Ubicacion: </span>
                                    </div>
                                    <div class="cell textleft col-2-75">
                                        <input type="text" id="Ubicacion" name="Ubicacion" data-id="" placeholder="Campo Obligatorio" readonly>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="righty col-2">
                        <fieldset class="ui-widget-content">
                            <legend class="ui-widget-content">Observaciones</legend>
									 <div class="table">
									 	<div class="row">
									 		<div class="cell textright col-4">
									 			<span>Estado: </span>
									 		</div>
									 		<div class="cell textleft col-2-75">
									 			<input type="text" id="Estado" name="Estado" data-id="" placeholder="Campo Obligatorio" readonly>
									 		</div>
									 	</div>
									 	<div class="row">
									 		<div class="cell textright col-4">
									 			<span>Observaciones: </span>
									 		</div>
									 		<div class="cell textleft col-2-75">
									 			<textarea id="Observaciones" name="Observaciones" data-id="" readonly></textarea>
									 		</div>
									 	</div>
									 	<!--<div class="row" id="RelacionesRow">
									 		<div id="RelacionesSwitcher" class="cell textright col-4">
									 			<span>Relaciones: </span>
									 		</div>
									 		<div id="RelacionesWraper" class="cell textleft col-2-75">
									 			<div id="NuevaRelForm" class="opacity0">
									 				<div class="table opacity0">
									 					<div class="row">
									 						<div class="cell">
									 							<p>Seleccione el tipo de elemento de configuraci&oacute;n</p>
									 							<input id="TipoElementoConf" type="text" placeholder="Tipo de elemento">
									 						</div>
									 					</div>
									 					<div class="row">
									 						<div class="cell">
									 							<p>Seleccione el elemento de configuraci&oacute;n a relacionar</p>
									 							<input id="ElementoRelacion" type="text" placeholder="Elemento a relacionar">
									 						</div>
									 					</div>
									 				</div>
									 			</div>
									 			<ul class="tags">
									 				<li>
									 					<a id="VerRelacion" href="#" class="tag taghover ui-widget-content">Ver</a>
									 				</li>
									 				<li>
									 					<a id="AgregarRelacion" href="#" class="tag taghover ui-widget-content">Agregar</a>
									 				</li>
									 			</ul>
									 		</div>
									 	</div>-->
									 </div>
                        </fieldset>
                    </div>
                </div>
					 <div class="mrow">
					 	<div class="col s5 adicionales">
					 		<!-- -->
					 	</div>
					 	<div class="col s4 relacionesEC">
					 		<!-- -->
					 	</div>
					 	<div class="col s3 GestionCambioEC">
					 		<!-- -->
					 	</div>
					 </div>
            </div>
        </div>
        <div class="contenidos" id="lineasBase">
            <section class="lineasbase">
                <ul class="topnav">
                    
                </ul>
            </section>
            <section class="buscador">
                <div class="buscadores">
                    <input type="text" id="TipoElementoConf" placeholder="Tipo de elemento">
                    <input type="text" id="ElementoRelacion" placeholder="Elemento a relacionar">
                </div>
                <div id="trash" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                    <!--<li class="elemContent" id="drag1" draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false">
                        <div>
                            <time>WS44403</time>
                        </div>
                    </li>-->
                </div>
                <div class="botones">
                    <button class="aceptar">Aceptar</button>
                    <button class="cancelar">Cancelar</button>
                </div>
            </section>
            <section class="lineabase">
                <p class="infos">
                    <input type="text" name="" id="LBNombre" placeholder="Ingrese un nombre">
                    <span id="fechalineabase">Fecha: </span>
                    <span id="creador">Creada por: </span>
                </p>
            </section>
            <section class="timeline">
                <ol ondrop="drop(event, this)" ondragover="allowDrop(event)">
                    <!-- more list items here -->
                    <!--<li></li> -->
                </ol>

                <div class="arrows">
                    <button class="arrow arrow__prev disabled" disabled>
                        <svg style="fill: #F45B69;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm7.58 0l5.988-5.995 1.414 1.416-4.574 4.579 4.574 4.59-1.414 1.416-5.988-6.006z" /></svg>
                    </button>
                    <button class="arrow arrow__next">
                        <svg style="fill: #F45B69;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z" /></svg>
                    </button>
                </div>
            </section>
        </div>
        <div id="fichaEc">
            <div class="topright closeFicha">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="top">
                <div><label id="labelFecha"></label><input id="FechaBl" class="datosEl" type="text" placeholder="Fecha Creación" readonly="readonly"></div>

                <div>
                    <label id="labelObservaciones"></label>
                    <textarea id="ObservacionesEl" class="datosEl" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
</body>
